{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on PortalSettings entity associated with your Azure API Management deployment. Using this entity you can manage settings for a Developer Portal.",
    "version": "2018-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "PortalSigninSettings": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PortalSigninSettingProperties",
          "description": "Sign-in settings contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Sign-In settings for the Developer Portal."
    },
    "PortalSigninSettingProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Redirect Anonymous users to the Sign-In page."
        }
      },
      "description": "Sign-in settings contract properties."
    },
    "PortalSignupSettings": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PortalSignupSettingsProperties",
          "description": "Sign-up settings contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Sign-Up settings for a developer portal."
    },
    "PortalSignupSettingsProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Allow users to sign up on a developer portal."
        },
        "termsOfService": {
          "type": "object",
          "$ref": "#/definitions/TermsOfServiceProperties",
          "description": "Terms of service contract properties."
        }
      },
      "description": "Sign-up settings contract properties."
    },
    "TermsOfServiceProperties": {
      "properties": {
        "text": {
          "type": "string",
          "description": "A terms of service text."
        },
        "enabled": {
          "type": "boolean",
          "description": "Display terms of service during a sign-up process."
        },
        "consentRequired": {
          "type": "boolean",
          "description": "Ask user for consent to the terms of service."
        }
      },
      "description": "Terms of service contract properties."
    },
    "PortalDelegationSettings": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PortalDelegationSettingsProperties",
          "description": "Delegation settings contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Delegation settings for a developer portal."
    },
    "PortalDelegationSettingsProperties": {
      "properties": {
        "url": {
          "type": "string",
          "description": "A delegation Url."
        },
        "validationKey": {
          "type": "string",
          "description": "A base64-encoded validation key to validate, that a request is coming from Azure API Management."
        },
        "subscriptions": {
          "$ref": "#/definitions/SubscriptionsDelegationSettingsProperties",
          "description": "Subscriptions delegation settings."
        },
        "userRegistration": {
          "$ref": "#/definitions/RegistrationDelegationSettingsProperties",
          "description": "User registration delegation settings."
        }
      },
      "description": "Delegation settings contract properties."
    },
    "SubscriptionsDelegationSettingsProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable or disable delegation for subscriptions."
        }
      },
      "description": "Subscriptions delegation settings properties."
    },
    "RegistrationDelegationSettingsProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable or disable delegation for user registration."
        }
      },
      "description": "User registration delegation settings properties."
    },
    "ApiManagementHeadSignInSettings": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "headers": {
            "etag": "AAAAAAAAAAa="
          }
        }
      }
    },
    "ApiManagementPortalSettingsGetSignIn": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/portalsettings/signin",
            "type": "Microsoft.ApiManagement/service/portalsettings",
            "name": "signin",
            "properties": {
              "enabled": true
            }
          }
        }
      }
    },
    "ApiManagementPortalSettingsUpdateSignIn": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "uid": "5931a75ae4bbd512288c680b",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "enabled": true
          }
        }
      },
      "responses": {
        "204": {}
      }
    },
    "ApiManagementPortalSettingsPutSignIn": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "uid": "5931a75ae4bbd512288c680b",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "enabled": true
          }
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/portalsettings/signin",
            "type": "Microsoft.ApiManagement/service/portalsettings",
            "name": "signin",
            "properties": {
              "enabled": true
            }
          }
        }
      }
    },
    "ApiManagementHeadSignUpSettings": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "headers": {
            "etag": "AAAAAAAAAAa="
          }
        }
      }
    },
    "ApiManagementPortalSettingsGetSignUp": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/portalsettings/signup",
            "type": "Microsoft.ApiManagement/service/portalsettings",
            "name": "signup",
            "properties": {
              "enabled": true,
              "termsOfService": {
                "text": "Terms of service text.",
                "enabled": true,
                "consentRequired": true
              }
            }
          }
        }
      }
    },
    "ApiManagementPortalSettingsUpdateSignUp": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "uid": "5931a75ae4bbd512288c680b",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "enabled": true,
            "termsOfService": {
              "enabled": true,
              "text": "Terms of service text.",
              "consentRequired": true
            }
          }
        }
      },
      "responses": {
        "204": {}
      }
    },
    "ApiManagementPortalSettingsPutSignUp": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "uid": "5931a75ae4bbd512288c680b",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "enabled": true,
            "termsOfService": {
              "enabled": true,
              "text": "Terms of service text.",
              "consentRequired": true
            }
          }
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/portalsettings/signup",
            "type": "Microsoft.ApiManagement/service/portalsettings",
            "name": "signup",
            "properties": {
              "enabled": true,
              "termsOfService": {
                "text": "Terms of service text.",
                "enabled": true,
                "consentRequired": true
              }
            }
          }
        }
      }
    },
    "ApiManagementHeadDelegationSettings": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "headers": {
            "etag": "AAAAAAAAAAa="
          }
        }
      }
    },
    "ApiManagementPortalSettingsGetDelegation": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/portalsettings/delegation",
            "type": "Microsoft.ApiManagement/service/portalsettings",
            "name": "delegation",
            "properties": {
              "url": "http://contoso.com/delegation",
              "validationKey": "nVF7aKIvr9mV/RM5lOD0sYoi8ThXTRHQP7o66hvUmjCDkPKR3qxPu/otJcNciz2aQdqPuzJH3ECG4TU2yZjQ7Q==",
              "subscriptions": {
                "enabled": true
              },
              "userRegistration": {
                "enabled": true
              }
            }
          }
        }
      }
    },
    "ApiManagementPortalSettingsUpdateDelegation": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "uid": "5931a75ae4bbd512288c680b",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "url": "http://contoso.com/delegation",
            "validationKey": "nVF7aKIvr9mV/RM5lOD0sYoi8ThXTRHQP7o66hvUmjCDkPKR3qxPu/otJcNciz2aQdqPuzJH3ECG4TU2yZjQ7Q==",
            "subscriptions": {
              "enabled": true
            },
            "userRegistration": {
              "enabled": true
            }
          }
        }
      },
      "responses": {
        "204": {}
      }
    },
    "ApiManagementPortalSettingsPutDelegation": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "uid": "5931a75ae4bbd512288c680b",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "url": "http://contoso.com/delegation",
            "validationKey": "nVF7aKIvr9mV/RM5lOD0sYoi8ThXTRHQP7o66hvUmjCDkPKR3qxPu/otJcNciz2aQdqPuzJH3ECG4TU2yZjQ7Q==",
            "subscriptions": {
              "enabled": true
            },
            "userRegistration": {
              "enabled": true
            }
          }
        }
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/portalsettings/delegation",
            "type": "Microsoft.ApiManagement/service/portalsettings",
            "name": "delegation",
            "properties": {
              "url": "http://contoso.com/delegation",
              "validationKey": "nVF7aKIvr9mV/RM5lOD0sYoi8ThXTRHQP7o66hvUmjCDkPKR3qxPu/otJcNciz2aQdqPuzJH3ECG4TU2yZjQ7Q==",
              "subscriptions": {
                "enabled": true
              },
              "userRegistration": {
                "enabled": true
              }
            }
          }
        }
      }
    }
  },
  "x-internal-service-name": "API Management",
  "x-internal-toc-name": "Delegation Settings",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "DelegationSettings/CreateOrUpdate"
    },
    {
      "displayName": "Get",
      "relativePath": "DelegationSettings/Get"
    },
    {
      "displayName": "Get Entity Tag",
      "relativePath": "DelegationSettings/GetEntityTag"
    },
    {
      "displayName": "Update",
      "relativePath": "DelegationSettings/Update"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}