{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on Group entity in your Azure API Management deployment. Groups are used to manage the visibility of products to developers. Each API Management service instance comes with the following immutable system groups whose membership is automatically managed by API Management.  - **Administrators** - Azure subscription administrators are members of this group. - **Developers** - Authenticated developer portal users fall into this group. - **Guests** - Unauthenticated developer portal users are placed into this group. In addition to these system groups, administrators can create custom groups or [leverage external groups in associated Azure Active Directory tenants](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-aad#how-to-add-an-external-azure-active-directory-group). Custom and external groups can be used alongside system groups in giving developers visibility and access to API products. For example, you could create one custom group for developers affiliated with a specific partner organization and allow them access to the APIs from a product containing relevant APIs only. A user can be a member of more than one group.",
    "version": "2018-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "GroupCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged Group list representation."
    },
    "GroupContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GroupContractProperties",
          "description": "Group entity contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Contract details."
    },
    "GroupContractProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Group name.",
          "maxLength": 300,
          "minLength": 1
        },
        "description": {
          "type": "string",
          "description": "Group description. Can contain HTML formatting tags.",
          "maxLength": 1000
        },
        "builtIn": {
          "readOnly": true,
          "type": "boolean",
          "description": "true if the group is one of the three system groups (Administrators, Developers, or Guests); otherwise false."
        },
        "type": {
          "type": "string",
          "description": "Group type.",
          "enum": [
            "custom",
            "system",
            "external"
          ],
          "x-ms-enum": {
            "name": "GroupType",
            "modelAsString": false
          }
        },
        "externalId": {
          "type": "string",
          "description": "For external groups, this property contains the id of the group from the external identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the value is null."
        }
      },
      "required": [
        "displayName"
      ],
      "description": "Group contract Properties."
    },
    "GroupCreateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GroupCreateParametersProperties",
          "description": "Properties supplied to Create Group operation."
        }
      },
      "description": "Parameters supplied to the Create Group operation."
    },
    "GroupCreateParametersProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Group name.",
          "maxLength": 300,
          "minLength": 1
        },
        "description": {
          "type": "string",
          "description": "Group description."
        },
        "type": {
          "type": "string",
          "description": "Group type.",
          "enum": [
            "custom",
            "system",
            "external"
          ],
          "x-ms-enum": {
            "name": "GroupType",
            "modelAsString": false
          }
        },
        "externalId": {
          "type": "string",
          "description": "Identifier of the external groups, this property contains the id of the group from the external identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the value is null."
        }
      },
      "required": [
        "displayName"
      ],
      "description": "Parameters supplied to the Create Group operation."
    },
    "GroupUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GroupUpdateParametersProperties",
          "description": "Group entity update contract properties."
        }
      },
      "description": "Parameters supplied to the Update Group operation."
    },
    "GroupUpdateParametersProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Group name.",
          "maxLength": 300,
          "minLength": 1
        },
        "description": {
          "type": "string",
          "description": "Group description."
        },
        "type": {
          "type": "string",
          "description": "Group type.",
          "enum": [
            "custom",
            "system",
            "external"
          ],
          "x-ms-enum": {
            "name": "GroupType",
            "modelAsString": false
          }
        },
        "externalId": {
          "type": "string",
          "description": "Identifier of the external groups, this property contains the id of the group from the external identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the value is null."
        }
      },
      "description": "Parameters supplied to the Update Group operation."
    },
    "ApiManagementListGroups": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/5600b59375ff190048020001",
                "type": "Microsoft.ApiManagement/service/groups",
                "name": "5600b59375ff190048020001",
                "properties": {
                  "displayName": "Administrators",
                  "description": "Administrators is a built-in group. Its membership is managed by the system. Microsoft Azure subscription administrators fall into this group.",
                  "builtIn": true,
                  "type": "system"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/59306a29e4bbd510dc24e5f9",
                "type": "Microsoft.ApiManagement/service/groups",
                "name": "59306a29e4bbd510dc24e5f9",
                "properties": {
                  "displayName": "AwesomeGroup (samiraad.onmicrosoft.com)",
                  "description": "awesome group of people",
                  "builtIn": false,
                  "type": "external",
                  "externalId": "aad://samiraad.onmicrosoft.com/groups/3773adf4-032e-4d25-9988-eaff9ca72eca"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/5600b59375ff190048020002",
                "type": "Microsoft.ApiManagement/service/groups",
                "name": "5600b59375ff190048020002",
                "properties": {
                  "displayName": "Developers",
                  "description": "Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.",
                  "builtIn": true,
                  "type": "system"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/5600b59375ff190048020003",
                "type": "Microsoft.ApiManagement/service/groups",
                "name": "5600b59375ff190048020003",
                "properties": {
                  "displayName": "Guests",
                  "description": "Guests is a built-in group. Its membership is managed by the system. Unauthenticated users visiting the developer portal fall into this group.",
                  "builtIn": true,
                  "type": "system"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadGroup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "headers": {
            "etag": "AAAAAAAAAAa="
          }
        }
      }
    },
    "ApiManagementGetGroup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/59306a29e4bbd510dc24e5f9",
            "type": "Microsoft.ApiManagement/service/groups",
            "name": "59306a29e4bbd510dc24e5f9",
            "properties": {
              "displayName": "AwesomeGroup (samiraad.onmicrosoft.com)",
              "description": "awesome group of people",
              "builtIn": false,
              "type": "external",
              "externalId": "aad://samiraad.onmicrosoft.com/groups/3773adf4-032e-4d25-9988-eaff9ca72eca"
            }
          }
        }
      }
    },
    "ApiManagementCreateGroup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "tempgroup",
        "parameters": {
          "properties": {
            "displayName": "temp group"
          }
        }
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/tempgroup",
            "type": "Microsoft.ApiManagement/service/groups",
            "name": "tempgroup",
            "properties": {
              "displayName": "temp group",
              "type": "custom"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/tempgroup",
            "type": "Microsoft.ApiManagement/service/groups",
            "name": "tempgroup",
            "properties": {
              "displayName": "temp group",
              "type": "custom"
            }
          }
        }
      }
    },
    "ApiManagementCreateGroupExternal": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "aadGroup",
        "parameters": {
          "properties": {
            "displayName": "NewGroup (samiraad.onmicrosoft.com)",
            "description": "new group to test",
            "type": "external",
            "externalId": "aad://samiraad.onmicrosoft.com/groups/83cf2753-5831-4675-bc0e-2f8dc067c58d"
          }
        }
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/aadGroup",
            "type": "Microsoft.ApiManagement/service/groups",
            "name": "aadGroup",
            "properties": {
              "displayName": "NewGroup (samiraad.onmicrosoft.com)",
              "description": "new group to test",
              "type": "external",
              "externalId": "aad://samiraad.onmicrosoft.com/groups/83cf2753-5831-4675-bc0e-2f8dc067c58d"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/aadGroup",
            "type": "Microsoft.ApiManagement/service/groups",
            "name": "aadGroup",
            "properties": {
              "displayName": "NewGroup (samiraad.onmicrosoft.com)",
              "description": "new group to test",
              "type": "external",
              "externalId": "aad://samiraad.onmicrosoft.com/groups/83cf2753-5831-4675-bc0e-2f8dc067c58d"
            }
          }
        }
      }
    },
    "ApiManagementUpdateGroup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "tempgroup",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "displayName": "temp group"
          }
        }
      },
      "responses": {
        "204": {}
      }
    },
    "ApiManagementDeleteGroup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "aadGroup",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementListGroupUsers": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "57d2ef278aa04f0888cba3f3"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/kjoshiarmTemplateUser1",
                "type": "Microsoft.ApiManagement/service/groups/users",
                "name": "armTemplateUser1",
                "properties": {
                  "firstName": "user1",
                  "lastName": "lastname1",
                  "email": "user1@live.com",
                  "state": "active",
                  "registrationDate": "2017-05-31T18:54:41.447Z",
                  "note": "note for user 1",
                  "identities": [
                    {
                      "provider": "Basic",
                      "id": "user1@live.com"
                    }
                  ]
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadGroupUser": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "59306a29e4bbd510dc24e5f9",
        "uid": "5931a75ae4bbd512a88c680b"
      },
      "responses": {
        "204": {},
        "404": {}
      }
    },
    "ApiManagementCreateGroupUser": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "tempgroup",
        "uid": "59307d350af58404d8a26300"
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/59307d350af58404d8a26300",
            "type": "Microsoft.ApiManagement/service/groups/users",
            "name": "59307d350af58404d8a26300",
            "properties": {
              "firstName": "test",
              "lastName": "user",
              "email": "testuser1@live.com",
              "state": "active",
              "registrationDate": "2017-06-01T20:46:45.437Z",
              "groups": [],
              "identities": []
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/59307d350af58404d8a26300",
            "type": "Microsoft.ApiManagement/service/groups/users",
            "name": "59307d350af58404d8a26300",
            "properties": {
              "firstName": "test",
              "lastName": "user",
              "email": "testuser1@live.com",
              "state": "active",
              "registrationDate": "2017-06-01T20:46:45.437Z",
              "groups": [],
              "identities": []
            }
          }
        }
      }
    },
    "ApiManagementDeleteGroupUser": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "groupId": "templategroup",
        "uid": "59307d350af58404d8a26300",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    }
  },
  "parameters": {
    "GroupIdParameter": {
      "name": "groupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Group identifier. Must be unique in the current API Management service instance.",
      "minLength": 1,
      "maxLength": 80,
      "pattern": "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "API Management",
  "x-internal-toc-name": "Group User",
  "x-internal-split-members": [
    {
      "displayName": "Check Entity Exists",
      "relativePath": "GroupUser/CheckEntityExists"
    },
    {
      "displayName": "Create",
      "relativePath": "GroupUser/Create"
    },
    {
      "displayName": "Delete",
      "relativePath": "GroupUser/Delete"
    },
    {
      "displayName": "List",
      "relativePath": "GroupUser/List"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}