{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables": {
      "get": {
        "tags": [
          "Variable"
        ],
        "operationId": "Variable_ListByAutomationAccount",
        "description": "Retrieve a list of variables.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "x-ms-examples": {
          "List variables, First 100": {
            "$ref": "#/definitions/listVariables_First100"
          },
          "List variables, Next 100": {
            "$ref": "#/definitions/listVariables_Next100"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/VariableListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-internal-toc-name": "List By Automation Account"
      }
    }
  },
  "definitions": {
    "createOrUpdateVariable": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "sampleAccount9",
        "variableName": "sampleVariable",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "sampleVariable",
          "properties": {
            "value": "\"ComputerName.domain.com\"",
            "description": "my description",
            "isEncrypted": false
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable",
            "name": "sampleVariable",
            "properties": {
              "creationTime": "2017-03-29T06:59:00.937+08:00",
              "lastModifiedTime": "2017-03-29T06:59:00.937+08:00",
              "isEncrypted": false,
              "value": "\"ComputerName.domain.com\"",
              "description": "my description"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable",
            "name": "sampleVariable",
            "properties": {
              "creationTime": "2017-03-29T06:59:00.937+08:00",
              "lastModifiedTime": "2017-03-29T06:59:00.937+08:00",
              "isEncrypted": false,
              "value": "\"ComputerName2.domain.com\"",
              "description": "my description"
            }
          }
        }
      }
    },
    "updateVariable_patch": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "sampleAccount9",
        "variableName": "sampleVariable",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "sampleVariable",
          "properties": {
            "value": "\"ComputerName3.domain.com\""
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable",
            "name": "sampleVariable",
            "properties": {
              "creationTime": "2017-03-29T07:00:53.363+08:00",
              "lastModifiedTime": "2017-03-29T07:00:57.987+08:00",
              "isEncrypted": false,
              "value": "\"ComputerName3.domain.com\"",
              "description": "my description"
            }
          }
        }
      }
    },
    "deleteVariable": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "sampleAccount9",
        "variableName": "sampleVariable",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getVariable": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "sampleAccount9",
        "variableName": "sampleVariable",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable",
          "name": "sampleVariable",
          "properties": {
            "creationTime": "2017-03-29T06:59:00.937+08:00",
            "lastModifiedTime": "2017-03-29T06:59:00.937+08:00",
            "isEncrypted": false,
            "value": "\"ComputerName.domain.com\"",
            "description": "my description"
          }
        }
      }
    },
    "listVariables_First100": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "sampleAccount9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "value": [
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable",
              "name": "sampleVariable",
              "properties": {
                "creationTime": "2017-03-29T07:00:53.363+08:00",
                "lastModifiedTime": "2017-03-29T07:00:57.987+08:00",
                "isEncrypted": false,
                "value": "\"ComputerName3.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable0",
              "name": "sampleVariable0",
              "properties": {
                "creationTime": "2017-03-29T07:00:58.847+08:00",
                "lastModifiedTime": "2017-03-29T07:00:58.847+08:00",
                "isEncrypted": false,
                "value": "\"server0.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable1",
              "name": "sampleVariable1",
              "properties": {
                "creationTime": "2017-03-29T07:00:59.69+08:00",
                "lastModifiedTime": "2017-03-29T07:00:59.69+08:00",
                "isEncrypted": false,
                "value": "\"server1.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable10",
              "name": "sampleVariable10",
              "properties": {
                "creationTime": "2017-03-29T07:01:08.393+08:00",
                "lastModifiedTime": "2017-03-29T07:01:08.393+08:00",
                "isEncrypted": false,
                "value": "\"server10.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable100",
              "name": "sampleVariable100",
              "properties": {
                "creationTime": "2017-03-29T07:02:27.38+08:00",
                "lastModifiedTime": "2017-03-29T07:02:27.38+08:00",
                "isEncrypted": false,
                "value": "\"server100.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable101",
              "name": "sampleVariable101",
              "properties": {
                "creationTime": "2017-03-29T07:02:28.223+08:00",
                "lastModifiedTime": "2017-03-29T07:02:28.223+08:00",
                "isEncrypted": false,
                "value": "\"server101.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable102",
              "name": "sampleVariable102",
              "properties": {
                "creationTime": "2017-03-29T07:02:28.99+08:00",
                "lastModifiedTime": "2017-03-29T07:02:28.99+08:00",
                "isEncrypted": false,
                "value": "\"server102.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable103",
              "name": "sampleVariable103",
              "properties": {
                "creationTime": "2017-03-29T07:02:29.77+08:00",
                "lastModifiedTime": "2017-03-29T07:02:29.77+08:00",
                "isEncrypted": false,
                "value": "\"server103.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable104",
              "name": "sampleVariable104",
              "properties": {
                "creationTime": "2017-03-29T07:02:30.647+08:00",
                "lastModifiedTime": "2017-03-29T07:02:30.647+08:00",
                "isEncrypted": false,
                "value": "\"server104.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable105",
              "name": "sampleVariable105",
              "properties": {
                "creationTime": "2017-03-29T07:02:31.49+08:00",
                "lastModifiedTime": "2017-03-29T07:02:31.49+08:00",
                "isEncrypted": false,
                "value": "\"server105.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable106",
              "name": "sampleVariable106",
              "properties": {
                "creationTime": "2017-03-29T07:02:32.303+08:00",
                "lastModifiedTime": "2017-03-29T07:02:32.303+08:00",
                "isEncrypted": false,
                "value": "\"server106.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable107",
              "name": "sampleVariable107",
              "properties": {
                "creationTime": "2017-03-29T07:02:34.583+08:00",
                "lastModifiedTime": "2017-03-29T07:02:34.583+08:00",
                "isEncrypted": false,
                "value": "\"server107.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable108",
              "name": "sampleVariable108",
              "properties": {
                "creationTime": "2017-03-29T07:02:35.367+08:00",
                "lastModifiedTime": "2017-03-29T07:02:35.367+08:00",
                "isEncrypted": false,
                "value": "\"server108.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable109",
              "name": "sampleVariable109",
              "properties": {
                "creationTime": "2017-03-29T07:02:36.147+08:00",
                "lastModifiedTime": "2017-03-29T07:02:36.147+08:00",
                "isEncrypted": false,
                "value": "\"server109.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable11",
              "name": "sampleVariable11",
              "properties": {
                "creationTime": "2017-03-29T07:01:09.27+08:00",
                "lastModifiedTime": "2017-03-29T07:01:09.27+08:00",
                "isEncrypted": false,
                "value": "\"server11.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable12",
              "name": "sampleVariable12",
              "properties": {
                "creationTime": "2017-03-29T07:01:10.16+08:00",
                "lastModifiedTime": "2017-03-29T07:01:10.16+08:00",
                "isEncrypted": false,
                "value": "\"server12.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable13",
              "name": "sampleVariable13",
              "properties": {
                "creationTime": "2017-03-29T07:01:11.003+08:00",
                "lastModifiedTime": "2017-03-29T07:01:11.003+08:00",
                "isEncrypted": false,
                "value": "\"server13.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable14",
              "name": "sampleVariable14",
              "properties": {
                "creationTime": "2017-03-29T07:01:11.863+08:00",
                "lastModifiedTime": "2017-03-29T07:01:11.863+08:00",
                "isEncrypted": false,
                "value": "\"server14.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable15",
              "name": "sampleVariable15",
              "properties": {
                "creationTime": "2017-03-29T07:01:12.74+08:00",
                "lastModifiedTime": "2017-03-29T07:01:12.74+08:00",
                "isEncrypted": false,
                "value": "\"server15.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable16",
              "name": "sampleVariable16",
              "properties": {
                "creationTime": "2017-03-29T07:01:13.597+08:00",
                "lastModifiedTime": "2017-03-29T07:01:13.597+08:00",
                "isEncrypted": false,
                "value": "\"server16.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable17",
              "name": "sampleVariable17",
              "properties": {
                "creationTime": "2017-03-29T07:01:16.287+08:00",
                "lastModifiedTime": "2017-03-29T07:01:16.287+08:00",
                "isEncrypted": false,
                "value": "\"server17.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable18",
              "name": "sampleVariable18",
              "properties": {
                "creationTime": "2017-03-29T07:01:17.16+08:00",
                "lastModifiedTime": "2017-03-29T07:01:17.16+08:00",
                "isEncrypted": false,
                "value": "\"server18.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable19",
              "name": "sampleVariable19",
              "properties": {
                "creationTime": "2017-03-29T07:01:18.02+08:00",
                "lastModifiedTime": "2017-03-29T07:01:18.02+08:00",
                "isEncrypted": false,
                "value": "\"server19.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable2",
              "name": "sampleVariable2",
              "properties": {
                "creationTime": "2017-03-29T07:01:00.567+08:00",
                "lastModifiedTime": "2017-03-29T07:01:00.567+08:00",
                "isEncrypted": false,
                "value": "\"server2.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable20",
              "name": "sampleVariable20",
              "properties": {
                "creationTime": "2017-03-29T07:01:18.847+08:00",
                "lastModifiedTime": "2017-03-29T07:01:18.847+08:00",
                "isEncrypted": false,
                "value": "\"server20.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable21",
              "name": "sampleVariable21",
              "properties": {
                "creationTime": "2017-03-29T07:01:19.723+08:00",
                "lastModifiedTime": "2017-03-29T07:01:19.723+08:00",
                "isEncrypted": false,
                "value": "\"server21.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable22",
              "name": "sampleVariable22",
              "properties": {
                "creationTime": "2017-03-29T07:01:21.597+08:00",
                "lastModifiedTime": "2017-03-29T07:01:21.597+08:00",
                "isEncrypted": false,
                "value": "\"server22.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable23",
              "name": "sampleVariable23",
              "properties": {
                "creationTime": "2017-03-29T07:01:22.393+08:00",
                "lastModifiedTime": "2017-03-29T07:01:22.393+08:00",
                "isEncrypted": false,
                "value": "\"server23.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable24",
              "name": "sampleVariable24",
              "properties": {
                "creationTime": "2017-03-29T07:01:23.207+08:00",
                "lastModifiedTime": "2017-03-29T07:01:23.207+08:00",
                "isEncrypted": false,
                "value": "\"server24.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable25",
              "name": "sampleVariable25",
              "properties": {
                "creationTime": "2017-03-29T07:01:23.973+08:00",
                "lastModifiedTime": "2017-03-29T07:01:23.973+08:00",
                "isEncrypted": false,
                "value": "\"server25.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable26",
              "name": "sampleVariable26",
              "properties": {
                "creationTime": "2017-03-29T07:01:24.8+08:00",
                "lastModifiedTime": "2017-03-29T07:01:24.8+08:00",
                "isEncrypted": false,
                "value": "\"server26.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable27",
              "name": "sampleVariable27",
              "properties": {
                "creationTime": "2017-03-29T07:01:25.597+08:00",
                "lastModifiedTime": "2017-03-29T07:01:25.597+08:00",
                "isEncrypted": false,
                "value": "\"server27.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable28",
              "name": "sampleVariable28",
              "properties": {
                "creationTime": "2017-03-29T07:01:26.55+08:00",
                "lastModifiedTime": "2017-03-29T07:01:26.55+08:00",
                "isEncrypted": false,
                "value": "\"server28.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable29",
              "name": "sampleVariable29",
              "properties": {
                "creationTime": "2017-03-29T07:01:27.457+08:00",
                "lastModifiedTime": "2017-03-29T07:01:27.457+08:00",
                "isEncrypted": false,
                "value": "\"server29.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable3",
              "name": "sampleVariable3",
              "properties": {
                "creationTime": "2017-03-29T07:01:01.427+08:00",
                "lastModifiedTime": "2017-03-29T07:01:01.427+08:00",
                "isEncrypted": false,
                "value": "\"server3.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable30",
              "name": "sampleVariable30",
              "properties": {
                "creationTime": "2017-03-29T07:01:28.253+08:00",
                "lastModifiedTime": "2017-03-29T07:01:28.253+08:00",
                "isEncrypted": false,
                "value": "\"server30.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable31",
              "name": "sampleVariable31",
              "properties": {
                "creationTime": "2017-03-29T07:01:29.05+08:00",
                "lastModifiedTime": "2017-03-29T07:01:29.05+08:00",
                "isEncrypted": false,
                "value": "\"server31.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable32",
              "name": "sampleVariable32",
              "properties": {
                "creationTime": "2017-03-29T07:01:29.817+08:00",
                "lastModifiedTime": "2017-03-29T07:01:29.817+08:00",
                "isEncrypted": false,
                "value": "\"server32.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable33",
              "name": "sampleVariable33",
              "properties": {
                "creationTime": "2017-03-29T07:01:30.643+08:00",
                "lastModifiedTime": "2017-03-29T07:01:30.643+08:00",
                "isEncrypted": false,
                "value": "\"server33.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable34",
              "name": "sampleVariable34",
              "properties": {
                "creationTime": "2017-03-29T07:01:31.473+08:00",
                "lastModifiedTime": "2017-03-29T07:01:31.473+08:00",
                "isEncrypted": false,
                "value": "\"server34.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable35",
              "name": "sampleVariable35",
              "properties": {
                "creationTime": "2017-03-29T07:01:32.253+08:00",
                "lastModifiedTime": "2017-03-29T07:01:32.253+08:00",
                "isEncrypted": false,
                "value": "\"server35.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable36",
              "name": "sampleVariable36",
              "properties": {
                "creationTime": "2017-03-29T07:01:33.27+08:00",
                "lastModifiedTime": "2017-03-29T07:01:33.27+08:00",
                "isEncrypted": false,
                "value": "\"server36.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable37",
              "name": "sampleVariable37",
              "properties": {
                "creationTime": "2017-03-29T07:01:34.037+08:00",
                "lastModifiedTime": "2017-03-29T07:01:34.037+08:00",
                "isEncrypted": false,
                "value": "\"server37.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable38",
              "name": "sampleVariable38",
              "properties": {
                "creationTime": "2017-03-29T07:01:34.817+08:00",
                "lastModifiedTime": "2017-03-29T07:01:34.817+08:00",
                "isEncrypted": false,
                "value": "\"server38.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable39",
              "name": "sampleVariable39",
              "properties": {
                "creationTime": "2017-03-29T07:01:35.613+08:00",
                "lastModifiedTime": "2017-03-29T07:01:35.613+08:00",
                "isEncrypted": false,
                "value": "\"server39.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable4",
              "name": "sampleVariable4",
              "properties": {
                "creationTime": "2017-03-29T07:01:02.38+08:00",
                "lastModifiedTime": "2017-03-29T07:01:02.38+08:00",
                "isEncrypted": false,
                "value": "\"server4.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable40",
              "name": "sampleVariable40",
              "properties": {
                "creationTime": "2017-03-29T07:01:36.397+08:00",
                "lastModifiedTime": "2017-03-29T07:01:36.397+08:00",
                "isEncrypted": false,
                "value": "\"server40.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable41",
              "name": "sampleVariable41",
              "properties": {
                "creationTime": "2017-03-29T07:01:37.19+08:00",
                "lastModifiedTime": "2017-03-29T07:01:37.19+08:00",
                "isEncrypted": false,
                "value": "\"server41.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable42",
              "name": "sampleVariable42",
              "properties": {
                "creationTime": "2017-03-29T07:01:38.037+08:00",
                "lastModifiedTime": "2017-03-29T07:01:38.037+08:00",
                "isEncrypted": false,
                "value": "\"server42.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable43",
              "name": "sampleVariable43",
              "properties": {
                "creationTime": "2017-03-29T07:01:38.88+08:00",
                "lastModifiedTime": "2017-03-29T07:01:38.88+08:00",
                "isEncrypted": false,
                "value": "\"server43.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable44",
              "name": "sampleVariable44",
              "properties": {
                "creationTime": "2017-03-29T07:01:39.707+08:00",
                "lastModifiedTime": "2017-03-29T07:01:39.707+08:00",
                "isEncrypted": false,
                "value": "\"server44.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable45",
              "name": "sampleVariable45",
              "properties": {
                "creationTime": "2017-03-29T07:01:41.457+08:00",
                "lastModifiedTime": "2017-03-29T07:01:41.457+08:00",
                "isEncrypted": false,
                "value": "\"server45.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable46",
              "name": "sampleVariable46",
              "properties": {
                "creationTime": "2017-03-29T07:01:42.253+08:00",
                "lastModifiedTime": "2017-03-29T07:01:42.253+08:00",
                "isEncrypted": false,
                "value": "\"server46.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable47",
              "name": "sampleVariable47",
              "properties": {
                "creationTime": "2017-03-29T07:01:43.083+08:00",
                "lastModifiedTime": "2017-03-29T07:01:43.083+08:00",
                "isEncrypted": false,
                "value": "\"server47.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable48",
              "name": "sampleVariable48",
              "properties": {
                "creationTime": "2017-03-29T07:01:43.957+08:00",
                "lastModifiedTime": "2017-03-29T07:01:43.957+08:00",
                "isEncrypted": false,
                "value": "\"server48.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable49",
              "name": "sampleVariable49",
              "properties": {
                "creationTime": "2017-03-29T07:01:44.74+08:00",
                "lastModifiedTime": "2017-03-29T07:01:44.74+08:00",
                "isEncrypted": false,
                "value": "\"server49.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable5",
              "name": "sampleVariable5",
              "properties": {
                "creationTime": "2017-03-29T07:01:03.253+08:00",
                "lastModifiedTime": "2017-03-29T07:01:03.253+08:00",
                "isEncrypted": false,
                "value": "\"server5.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable50",
              "name": "sampleVariable50",
              "properties": {
                "creationTime": "2017-03-29T07:01:46.35+08:00",
                "lastModifiedTime": "2017-03-29T07:01:46.35+08:00",
                "isEncrypted": false,
                "value": "\"server50.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable51",
              "name": "sampleVariable51",
              "properties": {
                "creationTime": "2017-03-29T07:01:47.1+08:00",
                "lastModifiedTime": "2017-03-29T07:01:47.1+08:00",
                "isEncrypted": false,
                "value": "\"server51.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable52",
              "name": "sampleVariable52",
              "properties": {
                "creationTime": "2017-03-29T07:01:47.88+08:00",
                "lastModifiedTime": "2017-03-29T07:01:47.88+08:00",
                "isEncrypted": false,
                "value": "\"server52.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable53",
              "name": "sampleVariable53",
              "properties": {
                "creationTime": "2017-03-29T07:01:48.677+08:00",
                "lastModifiedTime": "2017-03-29T07:01:48.677+08:00",
                "isEncrypted": false,
                "value": "\"server53.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable54",
              "name": "sampleVariable54",
              "properties": {
                "creationTime": "2017-03-29T07:01:49.473+08:00",
                "lastModifiedTime": "2017-03-29T07:01:49.473+08:00",
                "isEncrypted": false,
                "value": "\"server54.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable55",
              "name": "sampleVariable55",
              "properties": {
                "creationTime": "2017-03-29T07:01:51.16+08:00",
                "lastModifiedTime": "2017-03-29T07:01:51.16+08:00",
                "isEncrypted": false,
                "value": "\"server55.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable56",
              "name": "sampleVariable56",
              "properties": {
                "creationTime": "2017-03-29T07:01:51.927+08:00",
                "lastModifiedTime": "2017-03-29T07:01:51.927+08:00",
                "isEncrypted": false,
                "value": "\"server56.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable57",
              "name": "sampleVariable57",
              "properties": {
                "creationTime": "2017-03-29T07:01:52.757+08:00",
                "lastModifiedTime": "2017-03-29T07:01:52.757+08:00",
                "isEncrypted": false,
                "value": "\"server57.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable58",
              "name": "sampleVariable58",
              "properties": {
                "creationTime": "2017-03-29T07:01:53.55+08:00",
                "lastModifiedTime": "2017-03-29T07:01:53.55+08:00",
                "isEncrypted": false,
                "value": "\"server58.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable59",
              "name": "sampleVariable59",
              "properties": {
                "creationTime": "2017-03-29T07:01:54.317+08:00",
                "lastModifiedTime": "2017-03-29T07:01:54.317+08:00",
                "isEncrypted": false,
                "value": "\"server59.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable6",
              "name": "sampleVariable6",
              "properties": {
                "creationTime": "2017-03-29T07:01:04.143+08:00",
                "lastModifiedTime": "2017-03-29T07:01:04.143+08:00",
                "isEncrypted": false,
                "value": "\"server6.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable60",
              "name": "sampleVariable60",
              "properties": {
                "creationTime": "2017-03-29T07:01:55.177+08:00",
                "lastModifiedTime": "2017-03-29T07:01:55.177+08:00",
                "isEncrypted": false,
                "value": "\"server60.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable61",
              "name": "sampleVariable61",
              "properties": {
                "creationTime": "2017-03-29T07:01:56.583+08:00",
                "lastModifiedTime": "2017-03-29T07:01:56.583+08:00",
                "isEncrypted": false,
                "value": "\"server61.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable62",
              "name": "sampleVariable62",
              "properties": {
                "creationTime": "2017-03-29T07:01:57.27+08:00",
                "lastModifiedTime": "2017-03-29T07:01:57.27+08:00",
                "isEncrypted": false,
                "value": "\"server62.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable63",
              "name": "sampleVariable63",
              "properties": {
                "creationTime": "2017-03-29T07:01:57.943+08:00",
                "lastModifiedTime": "2017-03-29T07:01:57.943+08:00",
                "isEncrypted": false,
                "value": "\"server63.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable64",
              "name": "sampleVariable64",
              "properties": {
                "creationTime": "2017-03-29T07:01:58.66+08:00",
                "lastModifiedTime": "2017-03-29T07:01:58.66+08:00",
                "isEncrypted": false,
                "value": "\"server64.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable65",
              "name": "sampleVariable65",
              "properties": {
                "creationTime": "2017-03-29T07:01:59.35+08:00",
                "lastModifiedTime": "2017-03-29T07:01:59.35+08:00",
                "isEncrypted": false,
                "value": "\"server65.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable66",
              "name": "sampleVariable66",
              "properties": {
                "creationTime": "2017-03-29T07:02:00.02+08:00",
                "lastModifiedTime": "2017-03-29T07:02:00.02+08:00",
                "isEncrypted": false,
                "value": "\"server66.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable67",
              "name": "sampleVariable67",
              "properties": {
                "creationTime": "2017-03-29T07:02:01.507+08:00",
                "lastModifiedTime": "2017-03-29T07:02:01.507+08:00",
                "isEncrypted": false,
                "value": "\"server67.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable68",
              "name": "sampleVariable68",
              "properties": {
                "creationTime": "2017-03-29T07:02:02.177+08:00",
                "lastModifiedTime": "2017-03-29T07:02:02.177+08:00",
                "isEncrypted": false,
                "value": "\"server68.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable69",
              "name": "sampleVariable69",
              "properties": {
                "creationTime": "2017-03-29T07:02:02.863+08:00",
                "lastModifiedTime": "2017-03-29T07:02:02.863+08:00",
                "isEncrypted": false,
                "value": "\"server69.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable7",
              "name": "sampleVariable7",
              "properties": {
                "creationTime": "2017-03-29T07:01:05.393+08:00",
                "lastModifiedTime": "2017-03-29T07:01:05.393+08:00",
                "isEncrypted": false,
                "value": "\"server7.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable70",
              "name": "sampleVariable70",
              "properties": {
                "creationTime": "2017-03-29T07:02:03.6+08:00",
                "lastModifiedTime": "2017-03-29T07:02:03.6+08:00",
                "isEncrypted": false,
                "value": "\"server70.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable71",
              "name": "sampleVariable71",
              "properties": {
                "creationTime": "2017-03-29T07:02:04.333+08:00",
                "lastModifiedTime": "2017-03-29T07:02:04.333+08:00",
                "isEncrypted": false,
                "value": "\"server71.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable72",
              "name": "sampleVariable72",
              "properties": {
                "creationTime": "2017-03-29T07:02:05.1+08:00",
                "lastModifiedTime": "2017-03-29T07:02:05.1+08:00",
                "isEncrypted": false,
                "value": "\"server72.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable73",
              "name": "sampleVariable73",
              "properties": {
                "creationTime": "2017-03-29T07:02:05.833+08:00",
                "lastModifiedTime": "2017-03-29T07:02:05.833+08:00",
                "isEncrypted": false,
                "value": "\"server73.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable74",
              "name": "sampleVariable74",
              "properties": {
                "creationTime": "2017-03-29T07:02:06.647+08:00",
                "lastModifiedTime": "2017-03-29T07:02:06.647+08:00",
                "isEncrypted": false,
                "value": "\"server74.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable75",
              "name": "sampleVariable75",
              "properties": {
                "creationTime": "2017-03-29T07:02:07.363+08:00",
                "lastModifiedTime": "2017-03-29T07:02:07.363+08:00",
                "isEncrypted": false,
                "value": "\"server75.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable76",
              "name": "sampleVariable76",
              "properties": {
                "creationTime": "2017-03-29T07:02:08.1+08:00",
                "lastModifiedTime": "2017-03-29T07:02:08.1+08:00",
                "isEncrypted": false,
                "value": "\"server76.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable77",
              "name": "sampleVariable77",
              "properties": {
                "creationTime": "2017-03-29T07:02:08.82+08:00",
                "lastModifiedTime": "2017-03-29T07:02:08.82+08:00",
                "isEncrypted": false,
                "value": "\"server77.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable78",
              "name": "sampleVariable78",
              "properties": {
                "creationTime": "2017-03-29T07:02:09.553+08:00",
                "lastModifiedTime": "2017-03-29T07:02:09.553+08:00",
                "isEncrypted": false,
                "value": "\"server78.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable79",
              "name": "sampleVariable79",
              "properties": {
                "creationTime": "2017-03-29T07:02:10.63+08:00",
                "lastModifiedTime": "2017-03-29T07:02:10.63+08:00",
                "isEncrypted": false,
                "value": "\"server79.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable8",
              "name": "sampleVariable8",
              "properties": {
                "creationTime": "2017-03-29T07:01:06.52+08:00",
                "lastModifiedTime": "2017-03-29T07:01:06.52+08:00",
                "isEncrypted": false,
                "value": "\"server8.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable80",
              "name": "sampleVariable80",
              "properties": {
                "creationTime": "2017-03-29T07:02:11.32+08:00",
                "lastModifiedTime": "2017-03-29T07:02:11.32+08:00",
                "isEncrypted": false,
                "value": "\"server80.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable81",
              "name": "sampleVariable81",
              "properties": {
                "creationTime": "2017-03-29T07:02:12.02+08:00",
                "lastModifiedTime": "2017-03-29T07:02:12.02+08:00",
                "isEncrypted": false,
                "value": "\"server81.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable82",
              "name": "sampleVariable82",
              "properties": {
                "creationTime": "2017-03-29T07:02:12.723+08:00",
                "lastModifiedTime": "2017-03-29T07:02:12.723+08:00",
                "isEncrypted": false,
                "value": "\"server82.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable83",
              "name": "sampleVariable83",
              "properties": {
                "creationTime": "2017-03-29T07:02:13.443+08:00",
                "lastModifiedTime": "2017-03-29T07:02:13.443+08:00",
                "isEncrypted": false,
                "value": "\"server83.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable84",
              "name": "sampleVariable84",
              "properties": {
                "creationTime": "2017-03-29T07:02:14.16+08:00",
                "lastModifiedTime": "2017-03-29T07:02:14.16+08:00",
                "isEncrypted": false,
                "value": "\"server84.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable85",
              "name": "sampleVariable85",
              "properties": {
                "creationTime": "2017-03-29T07:02:15.177+08:00",
                "lastModifiedTime": "2017-03-29T07:02:15.177+08:00",
                "isEncrypted": false,
                "value": "\"server85.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable86",
              "name": "sampleVariable86",
              "properties": {
                "creationTime": "2017-03-29T07:02:16.053+08:00",
                "lastModifiedTime": "2017-03-29T07:02:16.053+08:00",
                "isEncrypted": false,
                "value": "\"server86.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable87",
              "name": "sampleVariable87",
              "properties": {
                "creationTime": "2017-03-29T07:02:16.82+08:00",
                "lastModifiedTime": "2017-03-29T07:02:16.82+08:00",
                "isEncrypted": false,
                "value": "\"server87.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable88",
              "name": "sampleVariable88",
              "properties": {
                "creationTime": "2017-03-29T07:02:17.583+08:00",
                "lastModifiedTime": "2017-03-29T07:02:17.583+08:00",
                "isEncrypted": false,
                "value": "\"server88.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable89",
              "name": "sampleVariable89",
              "properties": {
                "creationTime": "2017-03-29T07:02:18.333+08:00",
                "lastModifiedTime": "2017-03-29T07:02:18.333+08:00",
                "isEncrypted": false,
                "value": "\"server89.domain.com\"",
                "description": null
              }
            }
          ],
          "nextLink": "https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables?api-version=2015-10-31&$skip=100"
        }
      }
    },
    "listVariables_Next100": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "sampleAccount9",
        "api-version": "2015-10-31",
        "skip": "100"
      },
      "responses": {
        "200": {
          "value": [
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable9",
              "name": "sampleVariable9",
              "properties": {
                "creationTime": "2017-03-29T07:01:07.38+08:00",
                "lastModifiedTime": "2017-03-29T07:01:07.38+08:00",
                "isEncrypted": false,
                "value": "\"server9.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable90",
              "name": "sampleVariable90",
              "properties": {
                "creationTime": "2017-03-29T07:02:19.147+08:00",
                "lastModifiedTime": "2017-03-29T07:02:19.147+08:00",
                "isEncrypted": false,
                "value": "\"server90.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable91",
              "name": "sampleVariable91",
              "properties": {
                "creationTime": "2017-03-29T07:02:20.257+08:00",
                "lastModifiedTime": "2017-03-29T07:02:20.257+08:00",
                "isEncrypted": false,
                "value": "\"server91.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable92",
              "name": "sampleVariable92",
              "properties": {
                "creationTime": "2017-03-29T07:02:21.037+08:00",
                "lastModifiedTime": "2017-03-29T07:02:21.037+08:00",
                "isEncrypted": false,
                "value": "\"server92.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable93",
              "name": "sampleVariable93",
              "properties": {
                "creationTime": "2017-03-29T07:02:21.803+08:00",
                "lastModifiedTime": "2017-03-29T07:02:21.803+08:00",
                "isEncrypted": false,
                "value": "\"server93.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable94",
              "name": "sampleVariable94",
              "properties": {
                "creationTime": "2017-03-29T07:02:22.583+08:00",
                "lastModifiedTime": "2017-03-29T07:02:22.583+08:00",
                "isEncrypted": false,
                "value": "\"server94.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable95",
              "name": "sampleVariable95",
              "properties": {
                "creationTime": "2017-03-29T07:02:23.333+08:00",
                "lastModifiedTime": "2017-03-29T07:02:23.333+08:00",
                "isEncrypted": false,
                "value": "\"server95.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable96",
              "name": "sampleVariable96",
              "properties": {
                "creationTime": "2017-03-29T07:02:24.163+08:00",
                "lastModifiedTime": "2017-03-29T07:02:24.163+08:00",
                "isEncrypted": false,
                "value": "\"server96.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable97",
              "name": "sampleVariable97",
              "properties": {
                "creationTime": "2017-03-29T07:02:24.973+08:00",
                "lastModifiedTime": "2017-03-29T07:02:24.973+08:00",
                "isEncrypted": false,
                "value": "\"server97.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable98",
              "name": "sampleVariable98",
              "properties": {
                "creationTime": "2017-03-29T07:02:25.757+08:00",
                "lastModifiedTime": "2017-03-29T07:02:25.757+08:00",
                "isEncrypted": false,
                "value": "\"server98.domain.com\"",
                "description": null
              }
            },
            {
              "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable99",
              "name": "sampleVariable99",
              "properties": {
                "creationTime": "2017-03-29T07:02:26.553+08:00",
                "lastModifiedTime": "2017-03-29T07:02:26.553+08:00",
                "isEncrypted": false,
                "value": "\"server99.domain.com\"",
                "description": null
              }
            }
          ]
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Variable",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Automation Account"
}