{
  "swagger": "2.0",
  "info": {
    "version": "2017-03-01",
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/bgpServiceCommunities": {
      "get": {
        "tags": [
          "BgpServiceCommunities"
        ],
        "operationId": "BgpServiceCommunities_List",
        "x-ms-examples": {
          "ServiceCommunityList": {
            "parameters": {
              "api-version": "2017-03-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities/skype",
                      "name": "skype",
                      "type": "Microsoft.Network/bgpServiceCommunities",
                      "properties": {
                        "serviceName": "skype",
                        "bgpCommunities": [
                          {
                            "serviceSupportedRegion": "Global",
                            "communityName": "Skype For Business Online",
                            "communityValue": "12076:5030",
                            "communityPrefixes": [
                              "13.67.56.225/32",
                              "13.67.186.105/32"
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "id": "/subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities/exchange",
                      "name": "exchange",
                      "type": "Microsoft.Network/bgpServiceCommunities",
                      "properties": {
                        "serviceName": "exchange",
                        "bgpCommunities": [
                          {
                            "serviceSupportedRegion": "Global",
                            "communityName": "Exchange Online",
                            "communityValue": "12076:5040",
                            "communityPrefixes": [
                              "13.67.56.225/32",
                              "13.67.186.105/32"
                            ]
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Gets all the available bgp service communities.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of BgpServiceCommunity resources.",
            "schema": {
              "$ref": "#/definitions/BgpServiceCommunityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-internal-ms-examples-mapping": {
          "ServiceCommunityList": "ServiceCommunityList"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "ServiceCommunityList": {
            "request": "GET https://management.azure.com/subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities?api-version=2017-03-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 23c000bc-9b38-4f20-9030-f1d4fa389f8e\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X GET 'https://management.azure.com/subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities?api-version=2017-03-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 23c000bc-9b38-4f20-9030-f1d4fa389f8e' \\\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: dd7f16b2-6602-4236-bfe2-8ed350c418e0\nx-ms-correlation-request-id: dd7f16b2-6602-4236-bfe2-8ed350c418e0\nx-ms-routing-request-id: WESTUS2:20170904T093255202Z:dd7f16b2-6602-4236-bfe2-8ed350c418e0\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 760\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:32:55 GMT\nConnection: close\n\n{\"value\":[{\"id\":\"/subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities/skype\",\"name\":\"skype\",\"type\":\"Microsoft.Network/bgpServiceCommunities\",\"properties\":{\"serviceName\":\"skype\",\"bgpCommunities\":[{\"serviceSupportedRegion\":\"Global\",\"communityName\":\"Skype For Business Online\",\"communityValue\":\"12076:5030\",\"communityPrefixes\":[\"13.67.56.225/32\",\"13.67.186.105/32\"]}]}},{\"id\":\"/subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities/exchange\",\"name\":\"exchange\",\"type\":\"Microsoft.Network/bgpServiceCommunities\",\"properties\":{\"serviceName\":\"exchange\",\"bgpCommunities\":[{\"serviceSupportedRegion\":\"Global\",\"communityName\":\"Exchange Online\",\"communityValue\":\"12076:5040\",\"communityPrefixes\":[\"13.67.56.225/32\",\"13.67.186.105/32\"]}]}}]}\n"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BGPCommunity": {
      "properties": {
        "serviceSupportedRegion": {
          "type": "string",
          "description": "The region which the service support. e.g. For O365, region is Global."
        },
        "communityName": {
          "type": "string",
          "description": "The name of the bgp community. e.g. Skype."
        },
        "communityValue": {
          "type": "string",
          "description": "The value of the bgp community. For more information: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing."
        },
        "communityPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The prefixes that the bgp community contains."
        }
      },
      "description": "Contains bgp community information offered in Service Community resources."
    },
    "BgpServiceCommunityPropertiesFormat": {
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "The name of the bgp community. e.g. Skype."
        },
        "bgpCommunities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BGPCommunity"
          },
          "description": "Get a list of bgp communities."
        }
      },
      "description": "Properties of Service Community."
    },
    "BgpServiceCommunity": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BgpServiceCommunityPropertiesFormat"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Service Community Properties."
    },
    "BgpServiceCommunityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BgpServiceCommunity"
          },
          "description": "A list of service community resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for the ListServiceCommunity API service call."
    },
    "Resource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    }
  },
  "x-internal-service-name": "Network",
  "x-internal-toc-name": "Bgp Service Communities"
}