{
  "swagger": "2.0",
  "info": {
    "version": "2016-09-01",
    "title": "AppServiceEnvironments API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {},
  "definitions": {
    "AddressResponse": {
      "description": "Describes main public IP address and any extra virtual IPs.",
      "type": "object",
      "properties": {
        "serviceIpAddress": {
          "description": "Main public virtual IP.",
          "type": "string"
        },
        "internalIpAddress": {
          "description": "Virtual Network internal IP address of the App Service Environment if it is in internal load-balancing mode.",
          "type": "string"
        },
        "outboundIpAddresses": {
          "description": "IP addresses appearing on outbound connections.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vipMappings": {
          "description": "Additional virtual IPs.",
          "type": "array",
          "items": {
            "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/VirtualIPMapping"
          }
        }
      }
    },
    "AppServiceEnvironmentCollection": {
      "description": "Collection of App Service Environments.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AppServiceEnvironmentResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AppServiceEnvironmentPatchResource": {
      "description": "ARM resource for a app service enviroment.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/AppServiceEnvironment",
          "description": "Core resource properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "AppServiceEnvironmentResource": {
      "description": "App Service Environment ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/AppServiceEnvironment",
          "description": "Core resource properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "HostingEnvironmentDiagnostics": {
      "description": "Diagnostics for an App Service Environment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name/identifier of the diagnostics.",
          "type": "string"
        },
        "diagnosicsOutput": {
          "description": "Diagnostics output.",
          "type": "string"
        }
      }
    },
    "MetricAvailabilily": {
      "description": "Metric availability and retention.",
      "type": "object",
      "properties": {
        "timeGrain": {
          "description": "Time grain.",
          "type": "string"
        },
        "retention": {
          "description": "Retention period for the current time grain.",
          "type": "string"
        }
      }
    },
    "MetricDefinition": {
      "description": "Metadata for a metric.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "MetricDefinition resource specific properties",
          "properties": {
            "name": {
              "description": "Name of the metric.",
              "type": "string",
              "readOnly": true
            },
            "unit": {
              "description": "Unit of the metric.",
              "type": "string",
              "readOnly": true
            },
            "primaryAggregationType": {
              "description": "Primary aggregation type.",
              "type": "string",
              "readOnly": true
            },
            "metricAvailabilities": {
              "description": "List of time grains supported for the metric together with retention period.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/MetricAvailabilily"
              },
              "readOnly": true
            },
            "displayName": {
              "description": "Friendly name shown in the UI.",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "SkuInfo": {
      "description": "SKU discovery information.",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Resource type that this SKU applies to.",
          "type": "string"
        },
        "sku": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/SkuDescription",
          "description": "Name and tier of the SKU."
        },
        "capacity": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/SkuCapacity",
          "description": "Min, max, and default scale values of the SKU."
        }
      }
    },
    "SkuInfoCollection": {
      "description": "Collection of SKU information.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuInfo"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StampCapacityCollection": {
      "description": "Collection of stamp capacities.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/StampCapacity"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Usage": {
      "description": "Usage of the quota resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Usage resource specific properties",
          "properties": {
            "displayName": {
              "description": "Friendly name shown in the UI.",
              "type": "string",
              "readOnly": true
            },
            "name": {
              "description": "Name of the quota.",
              "type": "string",
              "readOnly": true
            },
            "resourceName": {
              "description": "Name of the quota resource.",
              "type": "string",
              "readOnly": true
            },
            "unit": {
              "description": "Units of measurement for the quota resource.",
              "type": "string",
              "readOnly": true
            },
            "currentValue": {
              "format": "int64",
              "description": "The current value of the resource counter.",
              "type": "integer",
              "readOnly": true
            },
            "limit": {
              "format": "int64",
              "description": "The resource limit.",
              "type": "integer",
              "readOnly": true
            },
            "nextResetTime": {
              "format": "date-time",
              "description": "Next reset time for the resource counter.",
              "type": "string",
              "readOnly": true
            },
            "computeMode": {
              "description": "Compute mode used for this usage.",
              "enum": [
                "Shared",
                "Dedicated",
                "Dynamic"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "ComputeModeOptions",
                "modelAsString": false
              }
            },
            "siteMode": {
              "description": "Site mode used for this usage.",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "UsageCollection": {
      "description": "Collection of usages.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Usage"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkerPoolCollection": {
      "description": "Collection of worker pools.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkerPoolResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkerPoolResource": {
      "description": "Worker pool of an App Service Environment ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/WorkerPool",
          "description": "Core resource properties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/SkuDescription"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-name": "App Service",
  "x-internal-toc-name": "App Service Environments",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "AppServiceEnvironments/CreateOrUpdate"
    },
    {
      "displayName": "Create Or Update Multi Role Pool",
      "relativePath": "AppServiceEnvironments/CreateOrUpdateMultiRolePool"
    },
    {
      "displayName": "Create Or Update Worker Pool",
      "relativePath": "AppServiceEnvironments/CreateOrUpdateWorkerPool"
    },
    {
      "displayName": "Delete",
      "relativePath": "AppServiceEnvironments/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "AppServiceEnvironments/Get"
    },
    {
      "displayName": "Get Diagnostics Item",
      "relativePath": "AppServiceEnvironments/GetDiagnosticsItem"
    },
    {
      "displayName": "Get Multi Role Pool",
      "relativePath": "AppServiceEnvironments/GetMultiRolePool"
    },
    {
      "displayName": "Get Worker Pool",
      "relativePath": "AppServiceEnvironments/GetWorkerPool"
    },
    {
      "displayName": "List",
      "relativePath": "AppServiceEnvironments/List"
    },
    {
      "displayName": "List App Service Plans",
      "relativePath": "AppServiceEnvironments/ListAppServicePlans"
    },
    {
      "displayName": "List By Resource Group",
      "relativePath": "AppServiceEnvironments/ListByResourceGroup"
    },
    {
      "displayName": "List Capacities",
      "relativePath": "AppServiceEnvironments/ListCapacities"
    },
    {
      "displayName": "List Diagnostics",
      "relativePath": "AppServiceEnvironments/ListDiagnostics"
    },
    {
      "displayName": "List Metric Definitions",
      "relativePath": "AppServiceEnvironments/ListMetricDefinitions"
    },
    {
      "displayName": "List Metrics",
      "relativePath": "AppServiceEnvironments/ListMetrics"
    },
    {
      "displayName": "List Multi Role Metric Definitions",
      "relativePath": "AppServiceEnvironments/ListMultiRoleMetricDefinitions"
    },
    {
      "displayName": "List Multi Role Metrics",
      "relativePath": "AppServiceEnvironments/ListMultiRoleMetrics"
    },
    {
      "displayName": "List Multi Role Pool Instance Metric Definitions",
      "relativePath": "AppServiceEnvironments/ListMultiRolePoolInstanceMetricDefinitions"
    },
    {
      "displayName": "List Multi Role Pool Instance Metrics",
      "relativePath": "AppServiceEnvironments/ListMultiRolePoolInstanceMetrics"
    },
    {
      "displayName": "List Multi Role Pool Skus",
      "relativePath": "AppServiceEnvironments/ListMultiRolePoolSkus"
    },
    {
      "displayName": "List Multi Role Pools",
      "relativePath": "AppServiceEnvironments/ListMultiRolePools"
    },
    {
      "displayName": "List Multi Role Usages",
      "relativePath": "AppServiceEnvironments/ListMultiRoleUsages"
    },
    {
      "displayName": "List Operations",
      "relativePath": "AppServiceEnvironments/ListOperations"
    },
    {
      "displayName": "List Usages",
      "relativePath": "AppServiceEnvironments/ListUsages"
    },
    {
      "displayName": "List Vips",
      "relativePath": "AppServiceEnvironments/ListVips"
    },
    {
      "displayName": "List Web Apps",
      "relativePath": "AppServiceEnvironments/ListWebApps"
    },
    {
      "displayName": "List Web Worker Metric Definitions",
      "relativePath": "AppServiceEnvironments/ListWebWorkerMetricDefinitions"
    },
    {
      "displayName": "List Web Worker Metrics",
      "relativePath": "AppServiceEnvironments/ListWebWorkerMetrics"
    },
    {
      "displayName": "List Web Worker Usages",
      "relativePath": "AppServiceEnvironments/ListWebWorkerUsages"
    },
    {
      "displayName": "List Worker Pool Instance Metric Definitions",
      "relativePath": "AppServiceEnvironments/ListWorkerPoolInstanceMetricDefinitions"
    },
    {
      "displayName": "List Worker Pool Instance Metrics",
      "relativePath": "AppServiceEnvironments/ListWorkerPoolInstanceMetrics"
    },
    {
      "displayName": "List Worker Pool Skus",
      "relativePath": "AppServiceEnvironments/ListWorkerPoolSkus"
    },
    {
      "displayName": "List Worker Pools",
      "relativePath": "AppServiceEnvironments/ListWorkerPools"
    },
    {
      "displayName": "Reboot",
      "relativePath": "AppServiceEnvironments/Reboot"
    },
    {
      "displayName": "Resume",
      "relativePath": "AppServiceEnvironments/Resume"
    },
    {
      "displayName": "Suspend",
      "relativePath": "AppServiceEnvironments/Suspend"
    },
    {
      "displayName": "Update",
      "relativePath": "AppServiceEnvironments/Update"
    },
    {
      "displayName": "Update Multi Role Pool",
      "relativePath": "AppServiceEnvironments/UpdateMultiRolePool"
    },
    {
      "displayName": "Update Worker Pool",
      "relativePath": "AppServiceEnvironments/UpdateWorkerPool"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}