{
  "swagger": "2.0",
  "info": {
    "version": "2014-04-01",
    "title": "Azure SQL Database",
    "description": "Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, and operations."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolDatabaseActivity": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPools_ListDatabaseActivity",
        "description": "Returns activity on databases inside of an elastic pool.",
        "x-ms-examples": {
          "List elastic pool database activity": {
            "parameters": {
              "subscriptionId": "9d4e2ad0-e20b-4464-9219-353bded52513",
              "resourceGroupName": "sqlcrudtest-4673",
              "serverName": "sqlcrudtest-603",
              "elasticPoolName": "7537",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/9d4e2ad0-e20b-4464-9219-353bded52513/resourceGroups/sqlcrudtest-4673/providers/Microsoft.Sql/servers/sqlcrudtest-603/elasticPools/7537/elasticPoolDatabaseActivity/3a3272b3-f1fe-423c-9feb-7b843157eda5",
                      "name": "3a3272b3-f1fe-423c-9feb-7b843157eda5",
                      "type": "Microsoft.Sql/servers/elasticPools/elasticPoolDatabaseActivity",
                      "location": "Japan East",
                      "properties": {
                        "operationId": "3a3272b3-f1fe-423c-9feb-7b843157eda5",
                        "serverName": "sqlcrudtest-603",
                        "databaseName": "2396",
                        "state": "COMPLETED",
                        "operation": "UPDATE",
                        "errorCode": null,
                        "errorMessage": null,
                        "errorSeverity": null,
                        "startTime": "2016-10-23T03:07:12.577",
                        "endTime": "2016-10-23T03:08:02.95",
                        "percentComplete": 100,
                        "currentServiceObjective": "ElasticPool",
                        "requestedServiceObjective": null,
                        "currentElasticPoolName": "7537",
                        "requestedElasticPoolName": null
                      }
                    },
                    {
                      "id": "/subscriptions/9d4e2ad0-e20b-4464-9219-353bded52513/resourceGroups/sqlcrudtest-4673/providers/Microsoft.Sql/servers/sqlcrudtest-603/elasticPools/7537/elasticPoolDatabaseActivity/95108a78-384e-48d3-b4de-7bf23b93a26d",
                      "name": "95108a78-384e-48d3-b4de-7bf23b93a26d",
                      "type": "Microsoft.Sql/servers/elasticPools/elasticPoolDatabaseActivity",
                      "location": "Japan East",
                      "properties": {
                        "operationId": "95108a78-384e-48d3-b4de-7bf23b93a26d",
                        "serverName": "sqlcrudtest-603",
                        "databaseName": "2396",
                        "state": "COMPLETED",
                        "operation": "CREATE",
                        "errorCode": null,
                        "errorMessage": null,
                        "errorSeverity": null,
                        "startTime": "2016-10-23T03:06:11.19",
                        "endTime": "2016-10-23T03:06:49.197",
                        "percentComplete": 100,
                        "currentServiceObjective": "ElasticPool",
                        "requestedServiceObjective": null,
                        "currentElasticPoolName": "7537",
                        "requestedElasticPoolName": null
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the elastic pool."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPoolDatabaseActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List Database Activity"
      }
    }
  },
  "definitions": null,
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseExpandParameter": {
      "name": "$expand",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
      "x-ms-parameter-location": "method"
    },
    "TransparentDataEncryptionNameParameter": {
      "name": "transparentDataEncryptionName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "current"
      ],
      "description": "The name of the transparent data encryption configuration.",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "TransparentDataEncryptionName"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-operation-group-name": "Servers - Sql",
  "x-internal-toc-name": "Elastic Pools",
  "x-internal-split-type": "Operation",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "Databases/CreateOrUpdate"
    },
    {
      "displayName": "Create Or Update Transparent Data Encryption Configuration",
      "relativePath": "Databases/CreateOrUpdateTransparentDataEncryptionConfiguration"
    },
    {
      "displayName": "Delete",
      "relativePath": "Databases/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "Databases/Get"
    },
    {
      "displayName": "Get Service Tier Advisor",
      "relativePath": "Databases/GetServiceTierAdvisor"
    },
    {
      "displayName": "Get Transparent Data Encryption Configuration",
      "relativePath": "Databases/GetTransparentDataEncryptionConfiguration"
    },
    {
      "displayName": "List By Server",
      "relativePath": "Databases/ListByServer"
    },
    {
      "displayName": "List Service Tier Advisors",
      "relativePath": "Databases/ListServiceTierAdvisors"
    },
    {
      "displayName": "List Transparent Data Encryption Activity",
      "relativePath": "Databases/ListTransparentDataEncryptionActivity"
    },
    {
      "displayName": "Pause",
      "relativePath": "Databases/Pause"
    },
    {
      "displayName": "Resume",
      "relativePath": "Databases/Resume"
    },
    {
      "displayName": "Update",
      "relativePath": "Databases/Update"
    }
  ]
}