{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for getting the network connectivity status of your Azure API Management deployment. When the API Management service is deployed inside a Virtual Network, it needs to have access to other Azure resources it depends on. This also gives details about the DNS Servers visible to Azure API Management deployment.",
    "version": "2018-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/networkstatus": {
      "get": {
        "tags": [
          "NetworkStatus"
        ],
        "operationId": "NetworkStatus_ListByService",
        "description": "Gets the Connectivity Status to the external resources on which the Api Management service depends from inside the Cloud Service. This also returns the DNS Servers as visible to the CloudService.",
        "x-ms-examples": {
          "ApiManagementServiceGetNetworkStatus": {
            "$ref": "#/definitions/ApiManagementServiceGetNetworkStatus"
          }
        },
        "parameters": [
          {
            "$ref": "./apimanagement.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the list Network status details for all regions in which service is deployed.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NetworkStatusContractByLocation"
              },
              "description": "List of Network Status values."
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./apimanagement.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "List By Service"
      }
    }
  },
  "definitions": {
    "ConnectivityStatusContract": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The hostname of the resource which the service depends on. This can be the database, storage or any other azure resource on which the service depends upon.",
          "minLength": 1
        },
        "status": {
          "type": "string",
          "enum": [
            "initializing",
            "success",
            "failure"
          ],
          "x-ms-enum": {
            "name": "ConnectivityStatusType",
            "modelAsString": true
          },
          "description": "Resource Connectivity Status Type identifier."
        },
        "error": {
          "type": "string",
          "description": "Error details of the connectivity to the resource."
        },
        "lastUpdated": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the resource connectivity status was last updated. This status should be updated every 15 minutes. If this status has not been updated, then it means that the service has lost network connectivity to the resource, from inside the Virtual Network.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n"
        },
        "lastStatusChange": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the resource connectivity status last Changed from success to failure or vice-versa. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.\n"
        }
      },
      "required": [
        "name",
        "status",
        "lastUpdated",
        "lastStatusChange"
      ],
      "description": "Details about connectivity to a resource."
    },
    "NetworkStatusContractByLocation": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of service",
          "minLength": 1
        },
        "networkStatus": {
          "$ref": "#/definitions/NetworkStatusContract",
          "description": "Network status in Location"
        }
      },
      "description": "Network Status in the Location"
    },
    "NetworkStatusContract": {
      "properties": {
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets the list of DNS servers IPV4 addresses."
        },
        "connectivityStatus": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectivityStatusContract"
          },
          "description": "Gets the list of Connectivity Status to the Resources on which the service depends upon."
        }
      },
      "required": [
        "dnsServers",
        "connectivityStatus"
      ],
      "description": "Network Status details."
    },
    "ApiManagementServiceGetNetworkStatus": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "locationName": "East Asia"
      },
      "responses": {
        "200": {
          "body": [
            {
              "location": "Central US",
              "networkStatus": {
                "dnsServers": [
                  "10.20.37.126",
                  "10.20.244.38"
                ],
                "connectivityStatus": [
                  {
                    "name": "ap********.blob.core.windows.net",
                    "status": "success",
                    "error": "",
                    "lastUpdated": "2017-06-28T23:37:35.1518379Z",
                    "lastStatusChange": "2017-06-28T23:17:34.9009011Z"
                  },
                  {
                    "name": "ap********.file.core.windows.net",
                    "status": "success",
                    "error": "",
                    "lastUpdated": "2017-06-28T23:37:35.9161347Z",
                    "lastStatusChange": "2017-06-28T23:17:35.2579713Z"
                  },
                  {
                    "name": "e*****.database.windows.net",
                    "status": "success",
                    "error": "",
                    "lastUpdated": "2017-06-28T23:37:35.2130114Z",
                    "lastStatusChange": "2017-06-28T23:17:35.0079651Z"
                  },
                  {
                    "name": "Scm",
                    "status": "success",
                    "error": "",
                    "lastUpdated": "2017-06-28T23:37:37.4401208Z",
                    "lastStatusChange": "2017-06-28T23:27:36.8198739Z"
                  }
                ]
              }
            },
            {
              "location": "West US",
              "networkStatus": {
                "dnsServers": [
                  "10.64.3.87",
                  "10.64.5.29",
                  "10.20.32.105"
                ],
                "connectivityStatus": [
                  {
                    "name": "ap********.file.core.windows.net",
                    "status": "success",
                    "error": "",
                    "lastUpdated": "2017-06-28T23:37:07.1803004Z",
                    "lastStatusChange": "2017-06-28T23:17:06.4831818Z"
                  },
                  {
                    "name": "bb******.blob.core.windows.net",
                    "status": "success",
                    "error": "",
                    "lastUpdated": "2017-06-28T23:37:05.9303015Z",
                    "lastStatusChange": "2017-06-28T23:17:05.7332755Z"
                  },
                  {
                    "name": "e******.database.windows.net",
                    "status": "success",
                    "error": "",
                    "lastUpdated": "2017-06-28T23:37:07.1178113Z",
                    "lastStatusChange": "2017-06-28T23:17:06.1237965Z"
                  }
                ]
              }
            }
          ]
        }
      }
    },
    "ApiManagementServiceGetNetworkStatusByLocation": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "locationName": "East Asia"
      },
      "responses": {
        "200": {
          "body": {
            "dnsServers": [
              "10.20.32.69",
              "10.20.237.143"
            ],
            "connectivityStatus": [
              {
                "name": "apimgmtstxaleb7*******.blob.core.windows.net",
                "status": "success",
                "error": "",
                "lastUpdated": "2017-06-01T23:13:07.9054516Z",
                "lastStatusChange": "2017-04-13T19:39:53.5543347Z"
              },
              {
                "name": "apimgmtstxaleb7*******.file.core.windows.net",
                "status": "success",
                "error": "",
                "lastUpdated": "2017-06-01T23:13:08.1242042Z",
                "lastStatusChange": "2017-04-13T19:39:53.7262408Z"
              },
              {
                "name": "Scm",
                "status": "success",
                "error": "",
                "lastUpdated": "2017-06-01T23:08:22.9140197Z",
                "lastStatusChange": "2017-05-27T17:52:41.3592337Z"
              },
              {
                "name": "****seqi.database.windows.net",
                "status": "success",
                "error": "",
                "lastUpdated": "2017-06-01T23:13:08.0617078Z",
                "lastStatusChange": "2017-04-13T19:39:53.5543347Z"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "LocationNameParameter": {
      "name": "locationName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Location in which the API Management service is deployed. This is one of the Azure Regions like West US, East US, South Central US.",
      "minLength": 1,
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "API Management",
  "x-internal-toc-name": "Network Status",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Service"
}