{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Web Search API",
    "description": "The Web Search API lets you send a search query to Bing and get back search results that include links to webpages, images, and more."
  },
  "parameters": {
    "x-bingapis-sdk": {
      "name": "X-BingApis-SDK",
      "description": "Activate swagger compliance",
      "x-ms-parameter-location": "method",
      "required": true,
      "type": "string",
      "in": "header",
      "x-ms-enum": {
        "name": "XBingApisSDK",
        "modelAsString": true
      },
      "enum": [
        "true"
      ]
    }
  },
  "host": "api.cognitive.microsoft.com",
  "schemes": [
    "https"
  ],
  "basePath": "/bing/v7.0",
  "securityDefinitions": {
    "apiKeyHeader": {
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {},
  "definitions": {
    "SearchResponse": {
      "description": "Defines the top-level object that the response includes when the request succeeds.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "queryContext": {
          "description": "An object that contains the query string that Bing used for the request. This object contains the query string as entered by the user. It may also contain an altered query string that Bing used for the query if the query string contained a spelling mistake.",
          "$ref": "#/definitions/QueryContext",
          "readOnly": true
        },
        "webPages": {
          "description": "A list of webpages that are relevant to the search query.",
          "$ref": "#/definitions/WebWebAnswer",
          "readOnly": true
        },
        "images": {
          "description": "A list of images that are relevant to the search query.",
          "$ref": "#/definitions/Images",
          "readOnly": true
        },
        "news": {
          "description": "A list of news articles that are relevant to the search query.",
          "$ref": "#/definitions/News",
          "readOnly": true
        },
        "relatedSearches": {
          "description": "A list of related queries made by others.",
          "$ref": "#/definitions/RelatedSearchesRelatedSearchAnswer",
          "readOnly": true
        },
        "spellSuggestions": {
          "description": "The query string that likely represents the user's intent.",
          "$ref": "#/definitions/SpellSuggestions",
          "readOnly": true
        },
        "timeZone": {
          "description": "The date and time of one or more geographic locations.",
          "$ref": "#/definitions/TimeZone",
          "readOnly": true
        },
        "videos": {
          "description": "A list of videos that are relevant to the search query.",
          "$ref": "#/definitions/Videos",
          "readOnly": true
        },
        "computation": {
          "description": "The answer to a math expression or units conversion expression.",
          "$ref": "#/definitions/Computation",
          "readOnly": true
        },
        "rankingResponse": {
          "description": "The order that Bing suggests that you display the search results in.",
          "$ref": "#/definitions/RankingRankingResponse",
          "readOnly": true
        }
      }
    },
    "Response": {
      "description": "Defines a response. All schemas that could be returned at the root of a response should inherit from this",
      "allOf": [
        {
          "$ref": "#/definitions/Identifiable"
        }
      ],
      "type": "object",
      "properties": {
        "webSearchUrl": {
          "description": "The URL To Bing's search result for this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "QueryContext": {
      "description": "Defines the query context that Bing used for the request.",
      "type": "object",
      "required": [
        "originalQuery"
      ],
      "properties": {
        "originalQuery": {
          "description": "The query string as specified in the request.",
          "type": "string"
        },
        "alteredQuery": {
          "description": "The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is \"saling downwind\", the altered query string will be \"sailing downwind\". This field is included only if the original query string contains a spelling mistake.",
          "readOnly": true,
          "type": "string"
        },
        "alterationOverrideQuery": {
          "description": "The query string to use to force Bing to use the original string. For example, if the query string is \"saling downwind\", the override query string will be \"+saling downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\". This field is included only if the original query string contains a spelling mistake.",
          "readOnly": true,
          "type": "string"
        },
        "adultIntent": {
          "description": "A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.",
          "readOnly": true,
          "type": "boolean"
        },
        "askUserForLocation": {
          "description": "A Boolean value that indicates whether Bing requires the user's location to provide accurate results. If you specified the user's location by using the X-MSEdge-ClientIP and X-Search-Location headers, you can ignore this field. For location aware queries, such as \"today's weather\" or \"restaurants near me\" that need the user's location to provide accurate results, this field is set to true. For location aware queries that include the location (for example, \"Seattle weather\"), this field is set to false. This field is also set to false for queries that are not location aware, such as \"best sellers\".",
          "readOnly": true,
          "type": "boolean"
        },
        "isTransactional": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "WebWebAnswer": {
      "description": "Defines a list of relevant webpage links.",
      "x-ms-discriminator-value": "Web/WebAnswer",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "A list of webpages that are relevant to the query.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPage"
          }
        },
        "someResultsRemoved": {
          "description": "A Boolean value that indicates whether the response excluded some results from the answer. If Bing excluded some results, the value is true.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "Images": {
      "description": "Defines an image answer",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "nextOffset": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "description": "A list of image objects that are relevant to the query. If there are no results, the List is empty.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageObject"
          }
        },
        "queryExpansions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        },
        "similarTerms": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        },
        "relatedSearches": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "News": {
      "description": "Defines a news answer.",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "An array of NewsArticle objects that contain information about news articles that are relevant to the query. If there are no results to return for the request, the array is empty.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NewsArticle"
          }
        },
        "location": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Places": {
      "description": "Defines a local entity answer.",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "A list of local entities, such as restaurants or hotels.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thing"
          }
        }
      }
    },
    "RelatedSearchesRelatedSearchAnswer": {
      "description": "Defines a list of related queries made by others.",
      "x-ms-discriminator-value": "RelatedSearches/RelatedSearchAnswer",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "A list of related queries that were made by others.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "SpellSuggestions": {
      "description": "Defines a suggested query string that likely represents the user's intent. The search results include this response if Bing determines that the user may have intended to search for something different. For example, if the user searches for alon brown, Bing may determine that the user likely intended to search for Alton Brown instead (based on past searches by others of Alon Brown).",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "A list of suggested query strings that may represent the user's intention. The list contains only one Query object.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "TimeZone": {
      "description": "Defines the data and time of one or more geographic locations.",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "primaryCityTime"
      ],
      "properties": {
        "primaryCityTime": {
          "description": "The data and time, in UTC, of the geographic location specified in the query. If the query specified a specific geographic location (for example, a city), this object contains the name of the geographic location and the current date and time of the location, in UTC. If the query specified a general geographic location, such as a state or country, this object contains the date and time of the primary city or state found in the specified state or country. If the location contains additional time zones, the otherCityTimes field contains the data and time of cities or states located in the other time zones.",
          "$ref": "#/definitions/TimeZoneTimeZoneInformation"
        },
        "otherCityTimes": {
          "description": "A list of dates and times of nearby time zones.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeZoneTimeZoneInformation"
          }
        }
      }
    },
    "Videos": {
      "description": "Defines a video answer.",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "A list of video objects that are relevant to the query.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VideoObject"
          }
        },
        "nextOffset": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "queryExpansions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        },
        "relatedSearches": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "Computation": {
      "description": "Defines an expression and its answer",
      "allOf": [
        {
          "$ref": "#/definitions/Answer"
        }
      ],
      "type": "object",
      "required": [
        "expression",
        "value"
      ],
      "properties": {
        "expression": {
          "description": "The math or conversion expression. If the query contains a request to convert units of measure (for example, meters to feet), this field contains the from units and value contains the to units. If the query contains a mathematical expression such as 2+2, this field contains the expression and value contains the answer. Note that mathematical expressions may be normalized. For example, if the query was sqrt(4^2+8^2), the normalized expression may be sqrt((4^2)+(8^2)). If the user's query is a math question and the textDecorations query parameter is set to true, the expression string may include formatting markers. For example, if the user's query is log(2), the normalized expression includes the subscript markers. For more information, see Hit Highlighting.",
          "type": "string"
        },
        "value": {
          "description": "The expression's answer.",
          "type": "string"
        }
      }
    },
    "SearchResultsAnswer": {
      "allOf": [
        {
          "$ref": "#/definitions/Answer"
        }
      ],
      "type": "object",
      "properties": {
        "queryContext": {
          "$ref": "#/definitions/QueryContext",
          "readOnly": true
        },
        "totalEstimatedMatches": {
          "description": "The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.",
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        },
        "isFamilyFriendly": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "RankingRankingResponse": {
      "description": "Defines where on the search results page content should be placed and in what order.",
      "x-ms-discriminator-value": "Ranking/RankingResponse",
      "type": "object",
      "properties": {
        "pole": {
          "description": "The search results that should be afforded the most visible treatment (for example, displayed above the mainline and sidebar).",
          "$ref": "#/definitions/RankingRankingGroup",
          "readOnly": true
        },
        "mainline": {
          "description": "The search results to display in the mainline.",
          "$ref": "#/definitions/RankingRankingGroup",
          "readOnly": true
        },
        "sidebar": {
          "description": "The search results to display in the sidebar.",
          "$ref": "#/definitions/RankingRankingGroup",
          "readOnly": true
        }
      }
    },
    "Identifiable": {
      "description": "Defines the identity of a resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ResponseBase"
        }
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "A String identifier.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Answer": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "followUpQueries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "The top-level response that represents a failed request.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "description": "A list of errors that describe the reasons why the request failed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Thing": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "description": "The URL to get more information about the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "image": {
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        },
        "description": {
          "description": "A short description of the item.",
          "readOnly": true,
          "type": "string"
        },
        "bingId": {
          "description": "An ID that uniquely identifies this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ImageObject": {
      "description": "Defines an image",
      "allOf": [
        {
          "$ref": "#/definitions/MediaObject"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "The URL to a thumbnail of the image",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        }
      }
    },
    "WebPage": {
      "description": "Defines a webpage that is relevant to the query.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "displayUrl": {
          "description": "The display URL of the webpage. The URL is meant for display purposes only and is not well formed.",
          "readOnly": true,
          "type": "string"
        },
        "snippet": {
          "description": "A snippet of text from the webpage that describes its contents.",
          "readOnly": true,
          "type": "string"
        },
        "deepLinks": {
          "description": "A list of links to related content that Bing found in the website that contains this webpage. The Webpage object in this context includes only the name, url, urlPingSuffix, and snippet fields.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPage"
          }
        },
        "dateLastCrawled": {
          "description": "The last time that Bing crawled the webpage. The date is in the form, YYYY-MM-DDTHH:MM:SS. For example, 2015-04-13T05:23:39.",
          "readOnly": true,
          "type": "string"
        },
        "searchTags": {
          "description": "A list of search tags that the webpage owner specified on the webpage. The API returns only indexed search tags. The name field of the MetaTag object contains the indexed search tag. Search tags begin with search.* (for example, search.assetId). The content field contains the tag's value.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebMetaTag"
          }
        },
        "primaryImageOfPage": {
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        }
      }
    },
    "Query": {
      "description": "Defines a search query.",
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "description": "The query string. Use this string as the query term in a new search request.",
          "type": "string"
        },
        "displayText": {
          "description": "The display version of the query term. This version of the query term may contain special characters that highlight the search term found in the query string. The string contains the highlighting characters only if the query enabled hit highlighting",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL that takes the user to the Bing search results page for the query.Only related search results include this field.",
          "readOnly": true,
          "type": "string"
        },
        "searchLink": {
          "readOnly": true,
          "type": "string"
        },
        "thumbnail": {
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        }
      }
    },
    "NewsArticle": {
      "description": "Defines a news article.",
      "allOf": [
        {
          "$ref": "#/definitions/Article"
        }
      ],
      "type": "object",
      "properties": {}
    },
    "TimeZoneTimeZoneInformation": {
      "description": "Defines a date and time for a geographical location.",
      "x-ms-discriminator-value": "TimeZone/TimeZoneInformation",
      "type": "object",
      "required": [
        "location",
        "time",
        "utcOffset"
      ],
      "properties": {
        "location": {
          "description": "The name of the geographical location.For example, County; City; City, State; City, State, Country; or Time Zone.",
          "type": "string"
        },
        "time": {
          "description": "The data and time specified in the form, YYYY-MM-DDThh;mm:ss.ssssssZ.",
          "type": "string"
        },
        "utcOffset": {
          "description": "The offset from UTC. For example, UTC-7.",
          "type": "string"
        }
      }
    },
    "VideoObject": {
      "description": "Defines a video object that is relevant to the query.",
      "allOf": [
        {
          "$ref": "#/definitions/MediaObject"
        }
      ],
      "type": "object",
      "properties": {
        "motionThumbnailUrl": {
          "readOnly": true,
          "type": "string"
        },
        "motionThumbnailId": {
          "readOnly": true,
          "type": "string"
        },
        "embedHtml": {
          "readOnly": true,
          "type": "string"
        },
        "allowHttpsEmbed": {
          "readOnly": true,
          "type": "boolean"
        },
        "viewCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "thumbnail": {
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        },
        "videoId": {
          "readOnly": true,
          "type": "string"
        },
        "allowMobileEmbed": {
          "readOnly": true,
          "type": "boolean"
        },
        "isSuperfresh": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "WebWebGrouping": {
      "x-ms-discriminator-value": "Web/WebGrouping",
      "discriminator": "_type",
      "type": "object",
      "required": [
        "webPages",
        "_type"
      ],
      "properties": {
        "webPages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPage"
          }
        },
        "_type": {
          "type": "string"
        }
      }
    },
    "RankingRankingGroup": {
      "description": "Defines a search results group, such as mainline.",
      "x-ms-discriminator-value": "Ranking/RankingGroup",
      "type": "object",
      "required": [
        "items"
      ],
      "properties": {
        "items": {
          "description": "A list of search result items to display in the group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RankingRankingItem"
          }
        }
      }
    },
    "ResponseBase": {
      "discriminator": "_type",
      "type": "object",
      "required": [
        "_type"
      ],
      "properties": {
        "_type": {
          "type": "string"
        }
      }
    },
    "Error": {
      "description": "Defines the error that occurred.",
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "The error code that identifies the category of error.",
          "type": "string",
          "default": "None",
          "enum": [
            "None",
            "ServerError",
            "InvalidRequest",
            "RateLimitExceeded",
            "InvalidAuthorization",
            "InsufficientAuthorization"
          ],
          "x-ms-enum": {
            "name": "ErrorCode",
            "modelAsString": true
          }
        },
        "subCode": {
          "description": "The error code that further helps to identify the error.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UnexpectedError",
            "ResourceError",
            "NotImplemented",
            "ParameterMissing",
            "ParameterInvalidValue",
            "HttpNotAllowed",
            "Blocked",
            "AuthorizationMissing",
            "AuthorizationRedundancy",
            "AuthorizationDisabled",
            "AuthorizationExpired"
          ],
          "x-ms-enum": {
            "name": "ErrorSubCode",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        },
        "moreDetails": {
          "description": "A description that provides additional information about the error.",
          "readOnly": true,
          "type": "string"
        },
        "parameter": {
          "description": "The parameter in the request that caused the error.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The parameter's value in the request that was not valid.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreativeWork": {
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "description": "The URL to a thumbnail of the item.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "The source of the creative work.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thing"
          }
        },
        "text": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Intangible": {
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object"
    },
    "MediaObject": {
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "contentUrl": {
          "description": "Original URL to retrieve the source (file) for the media object (e.g the source URL for the image).",
          "readOnly": true,
          "type": "string"
        },
        "hostPageUrl": {
          "description": "URL of the page that hosts the media object.",
          "readOnly": true,
          "type": "string"
        },
        "width": {
          "description": "The width of the source media object, in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "The height of the source media object, in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "WebMetaTag": {
      "description": "Defines a webpage's metadata.",
      "x-ms-discriminator-value": "Web/MetaTag",
      "type": "object",
      "properties": {
        "name": {
          "description": "The metadata.",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "description": "The name of the metadata.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Article": {
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "wordCount": {
          "description": "The number of words in the text of the Article.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RankingRankingItem": {
      "description": "Defines a search result item to display",
      "x-ms-discriminator-value": "Ranking/RankingItem",
      "type": "object",
      "required": [
        "answerType"
      ],
      "properties": {
        "answerType": {
          "description": "The answer that contains the item to display. Use the type to find the answer in the SearchResponse object. The type is the name of a SearchResponse field.",
          "type": "string",
          "default": "WebPages",
          "enum": [
            "WebPages",
            "Images",
            "SpellSuggestions",
            "News",
            "RelatedSearches",
            "Videos",
            "Computation",
            "TimeZone"
          ],
          "x-ms-enum": {
            "name": "AnswerType",
            "modelAsString": true
          }
        },
        "resultIndex": {
          "description": "A zero-based index of the item in the answer.If the item does not include this field, display all items in the answer. For example, display all news articles in the News answer.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "description": "The ID that identifies either an answer to display or an item of an answer to display. If the ID identifies an answer, display all items of the answer.",
          "$ref": "#/definitions/Identifiable",
          "readOnly": true
        },
        "htmlIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "textualIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "screenshotIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StructuredValue": {
      "allOf": [
        {
          "$ref": "#/definitions/Intangible"
        }
      ],
      "type": "object"
    }
  },
  "x-internal-service-name": "Cognitive Services",
  "x-internal-toc-name": "Web",
  "x-internal-split-members": [
    {
      "displayName": "Search",
      "relativePath": "Web/Search"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}