{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Custom Search API",
    "description": "The Bing Custom Search API lets you send a search query to Bing and get back search results customized to meet your custom search definition."
  },
  "parameters": {
    "x-bingapis-sdk": {
      "name": "X-BingApis-SDK",
      "description": "Activate swagger compliance",
      "x-ms-parameter-location": "method",
      "required": true,
      "type": "string",
      "in": "header",
      "x-ms-enum": {
        "name": "XBingApisSDK",
        "modelAsString": true
      },
      "enum": [
        "true"
      ]
    }
  },
  "host": "api.cognitive.microsoft.com",
  "schemes": [
    "https"
  ],
  "basePath": "/bingcustomsearch/v7.0",
  "securityDefinitions": {
    "apiKeyHeader": {
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {},
  "definitions": {
    "SearchResponse": {
      "description": "Defines the top-level object that the response includes when the request succeeds.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "queryContext": {
          "description": "An object that contains the query string that Bing used for the request. This object contains the query string as entered by the user. It may also contain an altered query string that Bing used for the query if the query string contained a spelling mistake.",
          "$ref": "#/definitions/QueryContext",
          "readOnly": true
        },
        "webPages": {
          "description": "A list of webpages that are relevant to the search query.",
          "$ref": "#/definitions/WebWebAnswer",
          "readOnly": true
        }
      }
    },
    "Response": {
      "description": "Defines a response. All schemas that could be returned at the root of a response should inherit from this",
      "allOf": [
        {
          "$ref": "#/definitions/Identifiable"
        }
      ],
      "type": "object",
      "properties": {
        "webSearchUrl": {
          "description": "The URL To Bing's search result for this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "QueryContext": {
      "description": "Defines the query context that Bing used for the request.",
      "type": "object",
      "required": [
        "originalQuery"
      ],
      "properties": {
        "originalQuery": {
          "description": "The query string as specified in the request.",
          "type": "string"
        },
        "alteredQuery": {
          "description": "The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is \"saling downwind\", the altered query string will be \"sailing downwind\". This field is included only if the original query string contains a spelling mistake.",
          "readOnly": true,
          "type": "string"
        },
        "alterationOverrideQuery": {
          "description": "The query string to use to force Bing to use the original string. For example, if the query string is \"saling downwind\", the override query string will be \"+saling downwind\". Remember to encode the query string which results in \"%2Bsaling+downwind\". This field is included only if the original query string contains a spelling mistake.",
          "readOnly": true,
          "type": "string"
        },
        "adultIntent": {
          "description": "A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "WebWebAnswer": {
      "description": "Defines a list of relevant webpage links.",
      "x-ms-discriminator-value": "Web/WebAnswer",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "A list of webpages that are relevant to the query.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPage"
          }
        },
        "someResultsRemoved": {
          "description": "A Boolean value that indicates whether the response excluded some results from the answer. If Bing excluded some results, the value is true.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "SearchResultsAnswer": {
      "allOf": [
        {
          "$ref": "#/definitions/Answer"
        }
      ],
      "type": "object",
      "properties": {
        "queryContext": {
          "$ref": "#/definitions/QueryContext",
          "readOnly": true
        },
        "totalEstimatedMatches": {
          "description": "The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.",
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        },
        "isFamilyFriendly": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "Identifiable": {
      "description": "Defines the identity of a resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ResponseBase"
        }
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "A String identifier.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WebPage": {
      "description": "Defines a webpage that is relevant to the query.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "displayUrl": {
          "description": "The display URL of the webpage. The URL is meant for display purposes only and is not well formed.",
          "readOnly": true,
          "type": "string"
        },
        "snippet": {
          "description": "A snippet of text from the webpage that describes its contents.",
          "readOnly": true,
          "type": "string"
        },
        "deepLinks": {
          "description": "A list of links to related content that Bing found in the website that contains this webpage. The Webpage object in this context includes only the name, url, urlPingSuffix, and snippet fields.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebPage"
          }
        },
        "dateLastCrawled": {
          "description": "The last time that Bing crawled the webpage. The date is in the form, YYYY-MM-DDTHH:MM:SS. For example, 2015-04-13T05:23:39.",
          "readOnly": true,
          "type": "string"
        },
        "searchTags": {
          "description": "A list of search tags that the webpage owner specified on the webpage. The API returns only indexed search tags. The name field of the MetaTag object contains the indexed search tag. Search tags begin with search.* (for example, search.assetId). The content field contains the tag's value.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebMetaTag"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "The top-level response that represents a failed request.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "description": "A list of errors that describe the reasons why the request failed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Answer": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "followUpQueries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "Query": {
      "description": "Defines a search query.",
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "description": "The query string. Use this string as the query term in a new search request.",
          "type": "string"
        },
        "displayText": {
          "description": "The display version of the query term. This version of the query term may contain special characters that highlight the search term found in the query string. The string contains the highlighting characters only if the query enabled hit highlighting",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL that takes the user to the Bing search results page for the query.Only related search results include this field.",
          "readOnly": true,
          "type": "string"
        },
        "searchLink": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Thing": {
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "description": "The URL to get more information about the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "A short description of the item.",
          "readOnly": true,
          "type": "string"
        },
        "bingId": {
          "description": "An ID that uniquely identifies this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreativeWork": {
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "description": "The URL to a thumbnail of the item.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "The source of the creative work.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thing"
          }
        },
        "text": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WebMetaTag": {
      "description": "Defines a webpage's metadata.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The metadata.",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "description": "The name of the metadata.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ResponseBase": {
      "discriminator": "_type",
      "type": "object",
      "required": [
        "_type"
      ],
      "properties": {
        "_type": {
          "type": "string"
        }
      }
    },
    "Error": {
      "description": "Defines the error that occurred.",
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "The error code that identifies the category of error.",
          "type": "string",
          "default": "None",
          "enum": [
            "None",
            "ServerError",
            "InvalidRequest",
            "RateLimitExceeded",
            "InvalidAuthorization",
            "InsufficientAuthorization"
          ],
          "x-ms-enum": {
            "name": "ErrorCode",
            "modelAsString": true
          }
        },
        "subCode": {
          "description": "The error code that further helps to identify the error.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UnexpectedError",
            "ResourceError",
            "NotImplemented",
            "ParameterMissing",
            "ParameterInvalidValue",
            "HttpNotAllowed",
            "Blocked",
            "AuthorizationMissing",
            "AuthorizationRedundancy",
            "AuthorizationDisabled",
            "AuthorizationExpired"
          ],
          "x-ms-enum": {
            "name": "ErrorSubCode",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        },
        "moreDetails": {
          "description": "A description that provides additional information about the error.",
          "readOnly": true,
          "type": "string"
        },
        "parameter": {
          "description": "The parameter in the request that caused the error.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The parameter's value in the request that was not valid.",
          "readOnly": true,
          "type": "string"
        }
      }
    }
  },
  "x-internal-service-name": "Cognitive Services",
  "x-internal-toc-name": "Custom Instance",
  "x-internal-split-members": [
    {
      "displayName": "Search",
      "relativePath": "CustomInstance/Search"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}