{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Image Search API",
    "description": "The Image Search API lets you send a search query to Bing and get back a list of relevant images. This section provides technical details about the query parameters and headers that you use to request images and the JSON response objects that contain them. For examples that show how to make requests, see [Searching the Web for Images](https://docs.microsoft.com/azure/cognitive-services/bing-image-search/search-the-web)."
  },
  "parameters": {
    "x-bingapis-sdk": {
      "name": "X-BingApis-SDK",
      "description": "Activate swagger compliance",
      "x-ms-parameter-location": "method",
      "required": true,
      "type": "string",
      "in": "header",
      "x-ms-enum": {
        "name": "XBingApisSDK",
        "modelAsString": true
      },
      "enum": [
        "true"
      ]
    }
  },
  "host": "api.cognitive.microsoft.com",
  "schemes": [
    "https"
  ],
  "basePath": "/bing/v7.0",
  "securityDefinitions": {
    "apiKeyHeader": {
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/images/trending": {
      "get": {
        "summary": "The Image Trending Search API lets you search on Bing and get back a list of images that are trending based on search requests made by others. The images are broken out into different categories. For example, Popular People Searches. For a list of markets that support trending images, see [Trending Images](https://docs.microsoft.com/en-us/azure/cognitive-services/bing-image-search/trending-images).",
        "operationId": "Images_Trending",
        "tags": [
          "ImageTrendingSearch"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/x-bingapis-sdk"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept-Language",
            "x-ms-client-name": "AcceptLanguage",
            "in": "header",
            "description": "A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#setlang) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#cc) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#mkt) and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#setlang) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.",
            "required": false,
            "type": "string"
          },
          {
            "name": "User-Agent",
            "x-ms-client-name": "UserAgent",
            "in": "header",
            "description": "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-MSEdge-ClientID",
            "x-ms-client-name": "ClientId",
            "in": "header",
            "description": "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-MSEdge-ClientIP",
            "x-ms-client-name": "ClientIp",
            "in": "header",
            "description": "The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Search-Location",
            "x-ms-client-name": "Location",
            "in": "header",
            "description": "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cc",
            "x-ms-client-name": "CountryCode",
            "in": "query",
            "description": "A 2-character country code of the country where the results come from. This API supports only the United States, Canada, Australia, and China markets. If you specify this query parameter, it must be set to us, ca, au, or cn. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mkt",
            "x-ms-client-name": "Market",
            "in": "query",
            "description": "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes), Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#cc) query parameter are mutually exclusive—do not specify both.",
            "required": false,
            "type": "string"
          },
          {
            "name": "safeSearch",
            "x-ms-client-name": "SafeSearch",
            "in": "query",
            "description": "Filter images for adult content. The following are the possible filter values. Off: May return images with adult content. If the request is through the Image Search API, the response includes thumbnail images that are clear (non-fuzzy). However, if the request is through the Web Search API, the response includes thumbnail images that are pixelated (fuzzy). Moderate: If the request is through the Image Search API, the response doesn't include images with adult content. If the request is through the Web Search API, the response may include images with adult content (the thumbnail images are pixelated (fuzzy)). Strict: Do not return images with adult content. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content.",
            "required": false,
            "type": "string",
            "enum": [
              "Off",
              "Moderate",
              "Strict"
            ],
            "x-ms-enum": {
              "name": "SafeSearch",
              "modelAsString": true
            }
          },
          {
            "name": "setLang",
            "x-ms-client-name": "SetLang",
            "in": "query",
            "description": "The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#acceptlanguage) header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/TrendingImages"
            }
          },
          "default": {
            "description": "An error has occurred. Check the response type and/or status code for more details.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful image trending": {
            "parameters": {
              "X-BingApis-SDK": "true",
              "Ocp-Apim-Subscription-Key": "{API key}"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "_type": "TrendingImages",
                  "categories": [
                    {
                      "title": "Popular people searches",
                      "tiles": [
                        {
                          "query": {
                            "text": "Meghan Markle",
                            "displayText": "Meghan Markle",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Meghan+Markle&FORM=ISTRTH&id=E3FA7BA9B7DE6E9465837B3E6D83B5C7E05B3D77&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.1758e7bb21b2446b808d2aef9bbcc076&pid=Api",
                            "contentUrl": "http://www.imaginefm.net/wp-content/uploads/2017/02/Meghan-Markle.jpg",
                            "thumbnail": {
                              "width": 274,
                              "height": 300
                            },
                            "imageId": "E3FA7BA9B7DE6E9465837B3E6D83B5C7E05B3D77"
                          }
                        },
                        {
                          "query": {
                            "text": "Prince Harry",
                            "displayText": "Prince Harry",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Prince+Harry&FORM=ISTRTH&id=D33294260B694A6D1F0DF77E623D0A6AFF682292&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.7c2daf6669db45c392cc000933658a20&pid=Api",
                            "contentUrl": "http://photos.laineygossip.com/articles/prince-harry-walking-wounded-02nov15-10.jpg",
                            "thumbnail": {
                              "width": 204,
                              "height": 306
                            },
                            "imageId": "D33294260B694A6D1F0DF77E623D0A6AFF682292"
                          }
                        },
                        {
                          "query": {
                            "text": "J.T. Barrett",
                            "displayText": "J.T. Barrett",
                            "webSearchUrl": "https://www.bing.com/images/search?q=J.T.+Barrett&FORM=ISTRTH&id=218CECF2B5DA25B7162CE2093DC254017AE836A9&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.878ccbe879ea4fdc9c125efff770080f&pid=Api",
                            "contentUrl": "http://megasportsnews.com/wp-content/uploads/2016/07/J.T.-Barrett-FTB-courtesy-OSU.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 300
                            },
                            "imageId": "218CECF2B5DA25B7162CE2093DC254017AE836A9"
                          }
                        },
                        {
                          "query": {
                            "text": "Naya Rivera",
                            "displayText": "Naya Rivera",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Naya+Rivera&FORM=ISTRTH&id=151BAC68762267E51202975D2272AFCE0BFDB8CC&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.adeba1fa77cf44658e712e9c647c86fc&pid=Api",
                            "contentUrl": "http://celebmafia.com/wp-content/uploads/2017/05/naya-rivera-race-to-erase-ms-gala-in-beverly-hills-05-05-2017-14.jpg",
                            "thumbnail": {
                              "width": 211,
                              "height": 295
                            },
                            "imageId": "151BAC68762267E51202975D2272AFCE0BFDB8CC"
                          }
                        },
                        {
                          "query": {
                            "text": "Dove Cameron",
                            "displayText": "Dove Cameron",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Dove+Cameron&FORM=ISTRTH&id=DB172713F5322A8918FB45E03EB365A47C064D1C&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.4fe0815faff34509aeeb8ba052c98d76&pid=Api",
                            "contentUrl": "http://d1i6tehnj672py.cloudfront.net/wp-content/uploads/2017/01/DoveCameron-bello-front.jpg",
                            "thumbnail": {
                              "width": 212,
                              "height": 300
                            },
                            "imageId": "DB172713F5322A8918FB45E03EB365A47C064D1C"
                          }
                        },
                        {
                          "query": {
                            "text": "Lennie James",
                            "displayText": "Lennie James",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Lennie+James&FORM=ISTRTH&id=EE9AC59A9C24D0F0324D1FDA6D73EEF9943FA43F&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.fafc992e86414c4ebcf7f030eaa7d27b&pid=Api",
                            "contentUrl": "http://www.aceshowbiz.com/images/wennpic/lennie-james-premiere-the-walking-dead-season-6-01.jpg",
                            "thumbnail": {
                              "width": 207,
                              "height": 300
                            },
                            "imageId": "EE9AC59A9C24D0F0324D1FDA6D73EEF9943FA43F"
                          }
                        },
                        {
                          "query": {
                            "text": "Yara Shahidi",
                            "displayText": "Yara Shahidi",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Yara+Shahidi&FORM=ISTRTH&id=93FF1E94A98B2593D246F9BBDAC74EF3FFD3D64C&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse4.mm.bing.net/th?id=OET.17fe4850aeb04cb5bd7b5ba13a50f532&pid=Api",
                            "contentUrl": "http://pixel.nymag.com/imgs/fashion/daily/2016/08/31/yara-shahidi/yara-shahidi-01.nocrop.w710.h2147483647.2x.jpg",
                            "thumbnail": {
                              "width": 200,
                              "height": 300
                            },
                            "imageId": "93FF1E94A98B2593D246F9BBDAC74EF3FFD3D64C"
                          }
                        },
                        {
                          "query": {
                            "text": "James Franco",
                            "displayText": "James Franco",
                            "webSearchUrl": "https://www.bing.com/images/search?q=James+Franco&FORM=ISTRTH&id=9642F5413E73ABE8476522344FC7C0BF6DF793DA&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse4.mm.bing.net/th?id=OET.180ceba9756c49c8bead0a5857b70b28&pid=Api",
                            "contentUrl": "https://www.thefashionisto.com/wp-content/uploads/2017/08/James-Franco-2017-Out-Cover-Photo-Shoot-005.jpg",
                            "thumbnail": {
                              "width": 221,
                              "height": 281
                            },
                            "imageId": "9642F5413E73ABE8476522344FC7C0BF6DF793DA"
                          }
                        },
                        {
                          "query": {
                            "text": "Fergie",
                            "displayText": "Fergie",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Fergie&FORM=ISTRTH&id=5903A39D54186ACB91E9DA261A240BE95E51BD59&cat=Popular%20people%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.51b4680433ee475da566ad8959c72b53&pid=Api",
                            "contentUrl": "http://celebmafia.com/wp-content/uploads/2017/02/fergie-espn-the-party-in-houston-texas-2-3-2017-1.jpg",
                            "thumbnail": {
                              "width": 198,
                              "height": 300
                            },
                            "imageId": "5903A39D54186ACB91E9DA261A240BE95E51BD59"
                          }
                        }
                      ]
                    },
                    {
                      "title": "Popular animal searches",
                      "tiles": [
                        {
                          "query": {
                            "text": "Elephant",
                            "displayText": "Elephant",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Elephant&FORM=ISTRTH&id=05AECDC593A5334622AF4C29D4BD6868989725EB&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.a5d589aa222d424fb04580a28b0c8632&pid=Api",
                            "contentUrl": "http://1.bp.blogspot.com/-lXmX0b1mke0/TmqUN6FrizI/AAAAAAAAAFk/Ays14s02NK4/s1600/Elephant+Bull+in+Dust+Lgt.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 300
                            },
                            "imageId": "05AECDC593A5334622AF4C29D4BD6868989725EB"
                          }
                        },
                        {
                          "query": {
                            "text": "Giraffe",
                            "displayText": "Giraffe",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Giraffe&FORM=ISTRTH&id=18628ED50809421DE0704C9EB031F70AEC7325E3&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.a757c53e70bf48adbe2ad305e8240d76&pid=Api",
                            "contentUrl": "http://images.fanpop.com/images/image_uploads/giraffe-animals-172255_500_750.jpg",
                            "thumbnail": {
                              "width": 200,
                              "height": 300
                            },
                            "imageId": "18628ED50809421DE0704C9EB031F70AEC7325E3"
                          }
                        },
                        {
                          "query": {
                            "text": "Wombat ",
                            "displayText": "Wombat ",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Wombat+&FORM=ISTRTH&id=EB25B861D933C25D30184347AC2BC5759D4500AD&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.707205f5b9c24aaf93eaa84005118170&pid=Api",
                            "contentUrl": "https://www.lonelyplanet.com/travel-blog/tip-article/wordpress_uploads/2016/05/LI3350016@526_Wombat.jpg",
                            "thumbnail": {
                              "width": 200,
                              "height": 300
                            },
                            "imageId": "EB25B861D933C25D30184347AC2BC5759D4500AD"
                          }
                        },
                        {
                          "query": {
                            "text": "Toucan",
                            "displayText": "Toucan",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Toucan&FORM=ISTRTH&id=BCE84233D4F1176C8E4B38111983F773AF97F7D2&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.1250220462294421a77c7e805027a21b&pid=Api",
                            "contentUrl": "https://pgcpsmess.files.wordpress.com/2014/07/image62.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 200
                            },
                            "imageId": "BCE84233D4F1176C8E4B38111983F773AF97F7D2"
                          }
                        },
                        {
                          "query": {
                            "text": "Horse",
                            "displayText": "Horse",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Horse&FORM=ISTRTH&id=E742D8460EEBC12A9663C618BFEBB0AB4933CC8A&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse4.mm.bing.net/th?id=OET.f0506cbbb90d46fe8cbbcac98eed4862&pid=Api",
                            "contentUrl": "http://cdn.pcwallart.com/images/horse-wallpaper-2.jpg",
                            "thumbnail": {
                              "width": 316,
                              "height": 197
                            },
                            "imageId": "E742D8460EEBC12A9663C618BFEBB0AB4933CC8A"
                          }
                        },
                        {
                          "query": {
                            "text": "Gecko",
                            "displayText": "Gecko",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Gecko&FORM=ISTRTH&id=49FD04349DE97347FB8D86FF94ABB348E0E128B6&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.f13156043d064b30b02eb27a8f1c7cb7&pid=Api",
                            "contentUrl": "https://samsamazinganimals.files.wordpress.com/2011/11/2009161464132877801-1.jpg",
                            "thumbnail": {
                              "width": 200,
                              "height": 300
                            },
                            "imageId": "49FD04349DE97347FB8D86FF94ABB348E0E128B6"
                          }
                        },
                        {
                          "query": {
                            "text": "Sun bear",
                            "displayText": "Sun bear",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Sun+bear&FORM=ISTRTH&id=BA29DE4C49CC58CC77F1B01F1C58A43B8F0AAF57&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.b104a5992cad4368b38b47bd268ce81e&pid=Api",
                            "contentUrl": "http://www.bsbcc.org.my/uploads/1/0/3/3/10335502/131941250.jpg",
                            "thumbnail": {
                              "width": 200,
                              "height": 300
                            },
                            "imageId": "BA29DE4C49CC58CC77F1B01F1C58A43B8F0AAF57"
                          }
                        },
                        {
                          "query": {
                            "text": "Red panda",
                            "displayText": "Red panda",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Red+panda&FORM=ISTRTH&id=D4E0970D82C148E1427D265B92322B32075D3896&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.0639aee6bdaa4e6eb3cdeec15ea97b42&pid=Api",
                            "contentUrl": "http://redpandanetwork.org/blog/wp-content/uploads/2015/12/red-panda_snow.jpg",
                            "thumbnail": {
                              "width": 333,
                              "height": 187
                            },
                            "imageId": "D4E0970D82C148E1427D265B92322B32075D3896"
                          }
                        },
                        {
                          "query": {
                            "text": "Octopus",
                            "displayText": "Octopus",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Octopus&FORM=ISTRTH&id=61810CC2DB587E7168F73E5D2877D0A2ADF5B6BF&cat=Popular%20animal%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.2222ab88887e40248296031937bb3262&pid=Api",
                            "contentUrl": "https://futurism.com/wp-content/uploads/2015/11/coconut-octopus-1.jpg",
                            "thumbnail": {
                              "width": 288,
                              "height": 216
                            },
                            "imageId": "61810CC2DB587E7168F73E5D2877D0A2ADF5B6BF"
                          }
                        }
                      ]
                    },
                    {
                      "title": "Popular nature and landmark searches",
                      "tiles": [
                        {
                          "query": {
                            "text": "London Eye",
                            "displayText": "London Eye",
                            "webSearchUrl": "https://www.bing.com/images/search?q=London+Eye&FORM=ISTRTH&id=F16AD9D6DBC7E8A2F8DAA23849176B83DCEC2053&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse4.mm.bing.net/th?id=OET.c8f2fff1cf1646529844439933ae0901&pid=Api",
                            "contentUrl": "http://3.bp.blogspot.com/_BPxgTMOFcOw/TPsJu9_PZqI/AAAAAAAADcs/pJelsDifnTI/s640/London+Eye+night.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 280
                            },
                            "imageId": "F16AD9D6DBC7E8A2F8DAA23849176B83DCEC2053"
                          }
                        },
                        {
                          "query": {
                            "text": "Antarctica",
                            "displayText": "Antarctica",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Antarctica&FORM=ISTRTH&id=BAACBCF4B9495465857B2446DB402B659F7D908F&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.29be929d13554e7fba57d020720482d4&pid=Api",
                            "contentUrl": "http://www.artbrewerphoto.com/data/photos/9_1Antarctica2.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 183
                            },
                            "imageId": "BAACBCF4B9495465857B2446DB402B659F7D908F"
                          }
                        },
                        {
                          "query": {
                            "text": "Edinburgh Castle",
                            "displayText": "Edinburgh Castle",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Edinburgh+Castle&FORM=ISTRTH&id=F25612D27315341177191BD425486BA528C70410&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.1b301c3eabf24108b2269f3ccf495128&pid=Api",
                            "contentUrl": "http://2.bp.blogspot.com/-cjdNN7llhdA/UGQ5GllK35I/AAAAAAAAAcM/SFvhFTdRPDE/s1600/edinburgh_castle_scotland.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 213
                            },
                            "imageId": "F25612D27315341177191BD425486BA528C70410"
                          }
                        },
                        {
                          "query": {
                            "text": "Space Needle",
                            "displayText": "Space Needle",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Space+Needle&FORM=ISTRTH&id=670DCE37FE50FA98A8675C63F40061F1348DB3FA&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.56c8b75183f945b4947302ed2b2ccd8a&pid=Api",
                            "contentUrl": "http://media-cache-ak0.pinimg.com/736x/0b/12/8b/0b128b05d8f700cbbd61a59aa04d5ca4.jpg",
                            "thumbnail": {
                              "width": 198,
                              "height": 300
                            },
                            "imageId": "670DCE37FE50FA98A8675C63F40061F1348DB3FA"
                          }
                        },
                        {
                          "query": {
                            "text": "Flowers",
                            "displayText": "Flowers",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Flowers&FORM=ISTRTH&id=426A761926160790EA7530B2DE9EE553B8D4D70B&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.93120549451f417d987b101634465813&pid=Api",
                            "contentUrl": "http://4.bp.blogspot.com/-3wRz5OAte94/TjoEi3_cCBI/AAAAAAAAFf0/4AnQN4NHHQk/s1600/summer-flowers-july-2011-purple.jpg",
                            "thumbnail": {
                              "width": 297,
                              "height": 300
                            },
                            "imageId": "426A761926160790EA7530B2DE9EE553B8D4D70B"
                          }
                        },
                        {
                          "query": {
                            "text": "Yellowstone National Park",
                            "displayText": "Yellowstone National Park",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Yellowstone+National+Park&FORM=ISTRTH&id=926767D5EBAAF85FDF2E3599C69618FFE1CA161D&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.382696e1f75d452685523002d3333ee8&pid=Api",
                            "contentUrl": "http://snowbrains.com/wp-content/uploads/2015/10/Yellowstone-National-Park.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 153
                            },
                            "imageId": "926767D5EBAAF85FDF2E3599C69618FFE1CA161D"
                          }
                        },
                        {
                          "query": {
                            "text": "Cloud Gate",
                            "displayText": "Cloud Gate",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Cloud+Gate&FORM=ISTRTH&id=094782349650FC8AD2B8B0731BC5F348D03FA320&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.6df9ca3a5a774618a4e57704798d5e83&pid=Api",
                            "contentUrl": "http://static.thousandwonders.net/Cloud.Gate.original.7770.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 200
                            },
                            "imageId": "094782349650FC8AD2B8B0731BC5F348D03FA320"
                          }
                        },
                        {
                          "query": {
                            "text": "Las Vegas Strip",
                            "displayText": "Las Vegas Strip",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Las+Vegas+Strip&FORM=ISTRTH&id=92377B04ABAA498105DDBB6A73487B0633C8DA60&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.fd0dc8b6383f4a2aa37f026574aabffb&pid=Api",
                            "contentUrl": "http://cubanuestra.nu/files/2015/02/Las-Vegas-Strip-7884-TS-S1.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 200
                            },
                            "imageId": "92377B04ABAA498105DDBB6A73487B0633C8DA60"
                          }
                        },
                        {
                          "query": {
                            "text": "Mount Rainier",
                            "displayText": "Mount Rainier",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Mount+Rainier&FORM=ISTRTH&id=98247EBD792318296EA7CCB606BB323B82DC652C&cat=Popular%20nature%20and%20landmark%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.8479d591f6364cdb9aec150f2c5c8635&pid=Api",
                            "contentUrl": "https://mrsammy7.files.wordpress.com/2012/07/mt-rainier-f.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 200
                            },
                            "imageId": "98247EBD792318296EA7CCB606BB323B82DC652C"
                          }
                        }
                      ]
                    },
                    {
                      "title": "Popular wallpaper searches",
                      "tiles": [
                        {
                          "query": {
                            "text": "Cats and dogs wallpaper",
                            "displayText": "Cats and dogs wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Cats+and+dogs+wallpaper&FORM=ISTRTH&id=A982897A4E31635C3A7ADC53F056FB3804B2E634&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.125838a482444dcaafa5f721f1996af9&pid=Api",
                            "contentUrl": "http://www.hdwallpaperup.com/wp-content/uploads/2015/02/Dog-And-Cat-Love-1280x1280.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 300
                            },
                            "imageId": "A982897A4E31635C3A7ADC53F056FB3804B2E634"
                          }
                        },
                        {
                          "query": {
                            "text": "China wallpaper",
                            "displayText": "China wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=China+wallpaper&FORM=ISTRTH&id=DDAE530FBA7E80FBE0DC6C8BE0968451F1805545&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.b6f378611c8d4379be66d1f85d29ca77&pid=Api",
                            "contentUrl": "http://wallpapercave.com/wp/GqwLoFX.jpg",
                            "thumbnail": {
                              "width": 288,
                              "height": 216
                            },
                            "imageId": "DDAE530FBA7E80FBE0DC6C8BE0968451F1805545"
                          }
                        },
                        {
                          "query": {
                            "text": "Mushroom wallpaper",
                            "displayText": "Mushroom wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Mushroom+wallpaper&FORM=ISTRTH&id=F6B4C906B1FE62B841F2E85649D796EFF7DE5CB5&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.369963d9d2964f18a39732639829e92a&pid=Api",
                            "contentUrl": "http://wallpapercave.com/wp/CRZVBUw.jpgs",
                            "thumbnail": {
                              "width": 288,
                              "height": 216
                            },
                            "imageId": "F6B4C906B1FE62B841F2E85649D796EFF7DE5CB5"
                          }
                        },
                        {
                          "query": {
                            "text": "Shapes wallpaper",
                            "displayText": "Shapes wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Shapes+wallpaper&FORM=ISTRTH&id=04371B292941055B6B09213414DCCB4679867CF5&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.5f14f6292da443649b1003dad51065c5&pid=Api",
                            "contentUrl": "http://ohtoptens.com/wp-content/uploads/2015/05/Geometric-Wallpaper-HD-40.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 168
                            },
                            "imageId": "04371B292941055B6B09213414DCCB4679867CF5"
                          }
                        },
                        {
                          "query": {
                            "text": "Globe wallpaper",
                            "displayText": "Globe wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Globe+wallpaper&FORM=ISTRTH&id=69377D6B4762AF5BA2229ABA95F7A7133D91A43E&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.8a3dcf220bac40d5a80f5df75aee54c6&pid=Api",
                            "contentUrl": "http://1.bp.blogspot.com/-AiHx7VMqw5o/TtHmTDsgjII/AAAAAAAACzQ/qfzpNQ5-adI/s1600/HD+3D+Globe+Wallpaper+4.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 200
                            },
                            "imageId": "69377D6B4762AF5BA2229ABA95F7A7133D91A43E"
                          }
                        },
                        {
                          "query": {
                            "text": "DC comics wallpaper",
                            "displayText": "DC comics wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=DC+comics+wallpaper&FORM=ISTRTH&id=AC0CE3DDAB37FF8741B00CF67906518EB15D0F0F&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse4.mm.bing.net/th?id=OET.112c09eafb524a58a6768e0709a8e56f&pid=Api",
                            "contentUrl": "http://2.bp.blogspot.com/-SfjvVdYt4mQ/Tm4h96L1b0I/AAAAAAAAC9M/eBdm0xlJ_40/s1600/DC_Comics_Super_Heroes_HD_Wallpaper_www.Vvallpaper.Net.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 168
                            },
                            "imageId": "AC0CE3DDAB37FF8741B00CF67906518EB15D0F0F"
                          }
                        },
                        {
                          "query": {
                            "text": "Chocolate wallpaper",
                            "displayText": "Chocolate wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Chocolate+wallpaper&FORM=ISTRTH&id=FF46E5F07A28FE15820ACB16291C673549E4DB72&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.badd43c838e040ba82492672277566e6&pid=Api",
                            "contentUrl": "https://onehdwallpaper.com/wp-content/uploads/2016/01/Chocolate-Art-HD-Photos.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 187
                            },
                            "imageId": "FF46E5F07A28FE15820ACB16291C673549E4DB72"
                          }
                        },
                        {
                          "query": {
                            "text": "Pokemon wallpaper",
                            "displayText": "Pokemon wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Pokemon+wallpaper&FORM=ISTRTH&id=3B8BCE3C7F84C064B729D75BEE3129DEE30D84BC&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.7ad3f4422f774f26bdb5b164af2e7575&pid=Api",
                            "contentUrl": "http://3.bp.blogspot.com/-N1d2GnRdaig/T6zuPJddDbI/AAAAAAAACMg/KYBhWkohyvo/s1600/amazing-pikachu-pokemon-wallpaper-for-pc.jpg",
                            "thumbnail": {
                              "width": 300,
                              "height": 225
                            },
                            "imageId": "3B8BCE3C7F84C064B729D75BEE3129DEE30D84BC"
                          }
                        },
                        {
                          "query": {
                            "text": "Rock climbing wallpaper",
                            "displayText": "Rock climbing wallpaper",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Rock+climbing+wallpaper&FORM=ISTRTH&id=6BB7D2C8311BEAF5D8B252CED353369E38D3B2CA&cat=Popular%20wallpaper%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.51f487b53b6344be94a282bf0bb0e977&pid=Api",
                            "contentUrl": "http://wallpapercave.com/wp/wp1871766.jpg",
                            "thumbnail": {
                              "width": 313,
                              "height": 199
                            },
                            "imageId": "6BB7D2C8311BEAF5D8B252CED353369E38D3B2CA"
                          }
                        }
                      ]
                    },
                    {
                      "title": "Popular gif searches",
                      "tiles": [
                        {
                          "query": {
                            "text": "High five gif",
                            "displayText": "High five gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=High+five+gif&FORM=ISTRTH&id=74B62EBEEFE693DC36428DAE7FF4AB5F0A350FCE&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.fc8f3531203b456ba3dbc9a478ca32ad&pid=Api",
                            "contentUrl": "https://4.bp.blogspot.com/-XmyzmSWRWHI/WDOmL_o6hRI/AAAAAAAAOkI/KO37vzW0uIQ0fCSn1-0FzmB5UwKUb_xLwCLcB/s1600/pokemon%2Bgif%2B1.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 180
                            },
                            "imageId": "74B62EBEEFE693DC36428DAE7FF4AB5F0A350FCE"
                          }
                        },
                        {
                          "query": {
                            "text": "Laughing gif",
                            "displayText": "Laughing gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Laughing+gif&FORM=ISTRTH&id=98953791AD32E8FC9D0D7C90927319EE2D450C64&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.c31f664635fd49e5a250fb8ee3f0464e&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/uJp3vdtHgDvCE/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 168
                            },
                            "imageId": "98953791AD32E8FC9D0D7C90927319EE2D450C64"
                          }
                        },
                        {
                          "query": {
                            "text": "Love gif",
                            "displayText": "Love gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Love+gif&FORM=ISTRTH&id=BA05C6A4C79DE0DEE2AF6E84E70B19216F0AE835&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse2.mm.bing.net/th?id=OET.f78b9bdb7f7e4feb971a714ee4b3403a&pid=Api",
                            "contentUrl": "https://media.tenor.co/images/d159e1674832e443aeed650efaa9f9ef/raw",
                            "thumbnail": {
                              "width": 290,
                              "height": 300
                            },
                            "imageId": "BA05C6A4C79DE0DEE2AF6E84E70B19216F0AE835"
                          }
                        },
                        {
                          "query": {
                            "text": "Happy gif",
                            "displayText": "Happy gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Happy+gif&FORM=ISTRTH&id=E51680ADFCD07C7AE782E27F17BEBFFFBAA54A03&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.5d9e230b1f104b099f6384c5a400ae60&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/14urMYvFxIKEms/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 157
                            },
                            "imageId": "E51680ADFCD07C7AE782E27F17BEBFFFBAA54A03"
                          }
                        },
                        {
                          "query": {
                            "text": "OMG gif",
                            "displayText": "OMG gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=OMG+gif&FORM=ISTRTH&id=815592A0C934C3477C72A21BF280E45655E1E7A5&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.4709f38dc3444192a73e6d36c9873de5&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/WuGSL4LFUMQU/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 234
                            },
                            "imageId": "815592A0C934C3477C72A21BF280E45655E1E7A5"
                          }
                        },
                        {
                          "query": {
                            "text": "Awesome gif",
                            "displayText": "Awesome gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Awesome+gif&FORM=ISTRTH&id=A15DC4A670127B670FCCB11F30A8D219FE5C678E&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.b41168e0093349ada8c4c99097f9adcd&pid=Api",
                            "contentUrl": "https://media.tenor.co/images/daef762f5653c5ca5070ff656ad8335e/raw",
                            "thumbnail": {
                              "width": 223,
                              "height": 280
                            },
                            "imageId": "A15DC4A670127B670FCCB11F30A8D219FE5C678E"
                          }
                        },
                        {
                          "query": {
                            "text": "Angry gif",
                            "displayText": "Angry gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Angry+gif&FORM=ISTRTH&id=A68A78CA8037BBE141D987A360EADC3338352C55&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse4.mm.bing.net/th?id=OET.12c17a74a9b8471ba63420f8cb6a6a40&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/ORKQqVjegOvzq/giphy.gif",
                            "thumbnail": {
                              "width": 245,
                              "height": 245
                            },
                            "imageId": "A68A78CA8037BBE141D987A360EADC3338352C55"
                          }
                        },
                        {
                          "query": {
                            "text": "Excited gif",
                            "displayText": "Excited gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Excited+gif&FORM=ISTRTH&id=F4ABFD5E920767E49FD5FE248EA4FD0F994667C6&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.0483c1fad4ae473eaf5c49e449b04bad&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/3o7abBP0nMjrdIvaCY/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 168
                            },
                            "imageId": "F4ABFD5E920767E49FD5FE248EA4FD0F994667C6"
                          }
                        },
                        {
                          "query": {
                            "text": "Clapping gif",
                            "displayText": "Clapping gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Clapping+gif&FORM=ISTRTH&id=59198B8B79D09125EA6850DCBF22940415F04C17&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.030dae2cf226466d973ee672376b7140&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/p7U1fHij5UxOM/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 216
                            },
                            "imageId": "59198B8B79D09125EA6850DCBF22940415F04C17"
                          }
                        },
                        {
                          "query": {
                            "text": "Thank you gif",
                            "displayText": "Thank you gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Thank+you+gif&FORM=ISTRTH&id=41BEF870ED17CDC2EF315422208A75BD78C0BCA8&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.6710702b4c174b53ab7a447f6ccba0f1&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/osjgQPWRx3cac/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 300
                            },
                            "imageId": "41BEF870ED17CDC2EF315422208A75BD78C0BCA8"
                          }
                        },
                        {
                          "query": {
                            "text": "Scared gif",
                            "displayText": "Scared gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Scared+gif&FORM=ISTRTH&id=8CB5704E5EFA9CE77D182478DD9C40FFB07B090A&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.db898db64c714ef48e4972437783861a&pid=Api",
                            "contentUrl": "https://media.tenor.co/images/6108127f248970f781d78e1d7ef5a011/raw",
                            "thumbnail": {
                              "width": 300,
                              "height": 201
                            },
                            "imageId": "8CB5704E5EFA9CE77D182478DD9C40FFB07B090A"
                          }
                        },
                        {
                          "query": {
                            "text": "Tired gif",
                            "displayText": "Tired gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Tired+gif&FORM=ISTRTH&id=E9BB22B02E7D56280DEAF39EF9BB7483ED153637&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.26fe3e224e41442ba236d0242e57247e&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/uSGwdLt9jPouA/200.gif",
                            "thumbnail": {
                              "width": 259,
                              "height": 200
                            },
                            "imageId": "E9BB22B02E7D56280DEAF39EF9BB7483ED153637"
                          }
                        },
                        {
                          "query": {
                            "text": "Yes gif",
                            "displayText": "Yes gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Yes+gif&FORM=ISTRTH&id=8B95035F2B8E0256DD8C27DCC0425065EC7A8403&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.0ac2b9cf9e1b4f2fb6ffae7d4b28c416&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/3o6ZteX8cqJRH4TwQ0/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 168
                            },
                            "imageId": "8B95035F2B8E0256DD8C27DCC0425065EC7A8403"
                          }
                        },
                        {
                          "query": {
                            "text": "No gif",
                            "displayText": "No gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=No+gif&FORM=ISTRTH&id=6855E066CC2B86D4CCBA7608EEE8F9A87F650CE3&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.fa8b14300bb84801b3a82bc46611e41a&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/mCcW7hZeIDARi/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 168
                            },
                            "imageId": "6855E066CC2B86D4CCBA7608EEE8F9A87F650CE3"
                          }
                        },
                        {
                          "query": {
                            "text": "Hungry gif",
                            "displayText": "Hungry gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Hungry+gif&FORM=ISTRTH&id=D4FFE83D41BB13019C02B5621E018F9832AE6489&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse4.mm.bing.net/th?id=OET.6fdf43d8b7754279b30f5fde8e66e0ca&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/eSQKNSmg07dHq/giphy.gif",
                            "thumbnail": {
                              "width": 245,
                              "height": 184
                            },
                            "imageId": "D4FFE83D41BB13019C02B5621E018F9832AE6489"
                          }
                        },
                        {
                          "query": {
                            "text": "Nervous gif",
                            "displayText": "Nervous gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Nervous+gif&FORM=ISTRTH&id=4BCFAC044CA05CE601DB2871EF3AB76EC96CBA04&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.3c83060e90434ee193c55493b32a72b5&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/hBn5xBlaUxyLu/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 168
                            },
                            "imageId": "4BCFAC044CA05CE601DB2871EF3AB76EC96CBA04"
                          }
                        },
                        {
                          "query": {
                            "text": "Sad gif",
                            "displayText": "Sad gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Sad+gif&FORM=ISTRTH&id=573F2E328D9C59D6C9D17C38F98AE1EA39CEDE24&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.027abff8a64448aa908118690e007405&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/NTY1kHmcLsCsg/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 135
                            },
                            "imageId": "573F2E328D9C59D6C9D17C38F98AE1EA39CEDE24"
                          }
                        },
                        {
                          "query": {
                            "text": "Fail gif",
                            "displayText": "Fail gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Fail+gif&FORM=ISTRTH&id=19C5FE149B99083E061B046445A9FAED8A6EB51B&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse1.mm.bing.net/th?id=OET.c7e24601de5e435c9aea31fe470830f3&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/KTZ8KtDGHhlLy/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 168
                            },
                            "imageId": "19C5FE149B99083E061B046445A9FAED8A6EB51B"
                          }
                        },
                        {
                          "query": {
                            "text": "Dancing gif",
                            "displayText": "Dancing gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Dancing+gif&FORM=ISTRTH&id=4DFCB8EA73426C7A5128BCC7DAB17D82313E3063&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse4.mm.bing.net/th?id=OET.f0a3228e4bde4a908b16c78e8bfbbaf6&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/TidtDukYTD0lO/200.gif",
                            "thumbnail": {
                              "width": 218,
                              "height": 200
                            },
                            "imageId": "4DFCB8EA73426C7A5128BCC7DAB17D82313E3063"
                          }
                        },
                        {
                          "query": {
                            "text": "Unimpressed gif",
                            "displayText": "Unimpressed gif",
                            "webSearchUrl": "https://www.bing.com/images/search?q=Unimpressed+gif&FORM=ISTRTH&id=0EA4BA56904D3853DED094116CA00DFF537DD1E7&cat=Popular%20gif%20searches&lpversion="
                          },
                          "image": {
                            "thumbnailUrl": "https://tse3.mm.bing.net/th?id=OET.a0c7c53e49f2455abedc70dbfd7255a6&pid=Api",
                            "contentUrl": "https://media.giphy.com/media/ZgqJGwh2tLj5C/giphy.gif",
                            "thumbnail": {
                              "width": 300,
                              "height": 172
                            },
                            "imageId": "0EA4BA56904D3853DED094116CA00DFF537DD1E7"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-internal-toc-name": "Trending"
      }
    }
  },
  "definitions": {
    "Images": {
      "description": "Defines an image answer",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "nextOffset": {
          "description": "Used as part of deduping. Tells client the next offset that client should use in the next pagination request",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "description": "A list of image objects that are relevant to the query. If there are no results, the List is empty.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageObject"
          }
        },
        "queryExpansions": {
          "description": "A list of expanded queries that narrows the original query. For example, if the query was Microsoft Surface, the expanded queries might be: Microsoft Surface Pro 3, Microsoft Surface RT, Microsoft Surface Phone, and Microsoft Surface Hub.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        },
        "pivotSuggestions": {
          "description": "A list of segments in the original query. For example, if the query was Red Flowers, Bing might segment the query into Red and Flowers. The Flowers pivot may contain query suggestions such as Red Peonies and Red Daisies, and the Red pivot may contain query suggestions such as Green Flowers and Yellow Flowers.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/PivotSuggestions"
          }
        },
        "similarTerms": {
          "description": "A list of terms that are similar in meaning to the user's query term.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "SearchResultsAnswer": {
      "description": "Defines a search result answer.",
      "allOf": [
        {
          "$ref": "#/definitions/Answer"
        }
      ],
      "type": "object",
      "properties": {
        "totalEstimatedMatches": {
          "description": "The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.",
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ImageObject": {
      "description": "Defines an image",
      "allOf": [
        {
          "$ref": "#/definitions/MediaObject"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "The URL to a thumbnail of the image",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        },
        "imageInsightsToken": {
          "description": "The token that you use in a subsequent call to the Image Search API to get additional information about the image. For information about using this token, see the insightsToken query parameter.",
          "readOnly": true,
          "type": "string"
        },
        "insightsMetadata": {
          "description": "A count of the number of websites where you can shop or perform other actions related to the image. For example, if the image is of an apple pie, this object includes a count of the number of websites where you can buy an apple pie. To indicate the number of offers in your UX, include badging such as a shopping cart icon that contains the count. When the user clicks on the icon, use imageInisghtsToken to get the list of websites.",
          "$ref": "#/definitions/ImagesImageMetadata",
          "readOnly": true
        },
        "imageId": {
          "description": "Unique Id for the image",
          "readOnly": true,
          "type": "string"
        },
        "accentColor": {
          "description": "A three-byte hexadecimal number that represents the color that dominates the image. Use the color as the temporary background in your client until the image is loaded.",
          "readOnly": true,
          "type": "string"
        },
        "visualWords": {
          "description": "Visual representation of the image. Used for getting more sizes",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Query": {
      "description": "Defines a search query.",
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "description": "The query string. Use this string as the query term in a new search request.",
          "type": "string"
        },
        "displayText": {
          "description": "The display version of the query term. This version of the query term may contain special characters that highlight the search term found in the query string. The string contains the highlighting characters only if the query enabled hit highlighting",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL that takes the user to the Bing search results page for the query.Only related search results include this field.",
          "readOnly": true,
          "type": "string"
        },
        "searchLink": {
          "description": "The URL that you use to get the results of the related search. Before using the URL, you must append query parameters as appropriate and include the Ocp-Apim-Subscription-Key header. Use this URL if you're displaying the results in your own user interface. Otherwise, use the webSearchUrl URL.",
          "readOnly": true,
          "type": "string"
        },
        "thumbnail": {
          "description": "The URL to a thumbnail of a related image.",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        }
      }
    },
    "PivotSuggestions": {
      "description": "Defines the pivot segment.",
      "type": "object",
      "required": [
        "pivot",
        "suggestions"
      ],
      "properties": {
        "pivot": {
          "description": "The segment from the original query to pivot on.",
          "type": "string"
        },
        "suggestions": {
          "description": "A list of suggested queries for the pivot.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "Answer": {
      "description": "Defines an answer.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {}
    },
    "MediaObject": {
      "description": "Defines a media object.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "contentUrl": {
          "description": "Original URL to retrieve the source (file) for the media object (e.g the source URL for the image).",
          "readOnly": true,
          "type": "string"
        },
        "hostPageUrl": {
          "description": "URL of the page that hosts the media object.",
          "readOnly": true,
          "type": "string"
        },
        "contentSize": {
          "description": "Size of the media object content (use format \"value unit\" e.g \"1024 B\").",
          "readOnly": true,
          "type": "string"
        },
        "encodingFormat": {
          "description": "Encoding format (e.g mp3, mp4, jpeg, etc).",
          "readOnly": true,
          "type": "string"
        },
        "hostPageDisplayUrl": {
          "description": "Display URL of the page that hosts the media object.",
          "readOnly": true,
          "type": "string"
        },
        "width": {
          "description": "The width of the source media object, in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "The height of the source media object, in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ImagesImageMetadata": {
      "description": "Defines a count of the number of websites where you can shop or perform other actions related to the image.",
      "x-ms-discriminator-value": "Images/ImageMetadata",
      "type": "object",
      "properties": {
        "shoppingSourcesCount": {
          "description": "The number of websites that offer goods of the products seen in the image.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "recipeSourcesCount": {
          "description": "The number of websites that offer recipes of the food seen in the image.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "aggregateOffer": {
          "description": "A summary of the online offers of products found in the image. For example, if the image is of a dress, the offer might identify the lowest price and the number of offers found. Only visually similar products insights include this field. The offer includes the following fields: Name, AggregateRating, OfferCount, and LowPrice.",
          "$ref": "#/definitions/AggregateOffer",
          "readOnly": true
        }
      }
    },
    "Response": {
      "description": "Defines a response. All schemas that could be returned at the root of a response should inherit from this",
      "allOf": [
        {
          "$ref": "#/definitions/Identifiable"
        }
      ],
      "type": "object",
      "properties": {
        "readLink": {
          "description": "The URL that returns this resource.",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL To Bing's search result for this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreativeWork": {
      "description": "The most generic kind of creative work, including books, movies, photographs, software programs, etc.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "description": "The URL to a thumbnail of the item.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "The source of the creative work.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thing"
          }
        },
        "datePublished": {
          "description": "The date on which the CreativeWork was published.",
          "readOnly": true,
          "type": "string"
        },
        "text": {
          "description": "Text content of this creative work",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AggregateOffer": {
      "description": "Defines a list of offers from merchants that are related to the image.",
      "allOf": [
        {
          "$ref": "#/definitions/Offer"
        }
      ],
      "type": "object",
      "properties": {
        "offers": {
          "description": "A list of offers from merchants that have offerings related to the image.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Offer"
          }
        }
      }
    },
    "Identifiable": {
      "description": "Defines the identity of a resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ResponseBase"
        }
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "A String identifier.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "The top-level response that represents a failed request.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "description": "A list of errors that describe the reasons why the request failed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Thing": {
      "description": "Defines a thing.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "description": "The URL to get more information about the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "image": {
          "description": "An image of the item.",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        },
        "description": {
          "description": "A short description of the item.",
          "readOnly": true,
          "type": "string"
        },
        "alternateName": {
          "description": "An alias for the item",
          "readOnly": true,
          "type": "string"
        },
        "bingId": {
          "description": "An ID that uniquely identifies this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ImageInsights": {
      "description": "The top-level object that the response includes when an image insights request succeeds. For information about requesting image insights, see the [insightsToken](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#insightstoken) query parameter. The modules query parameter affects the fields that Bing includes in the response. If you set [modules](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#modulesrequested) to only Caption, then this object includes only the imageCaption field.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "imageInsightsToken": {
          "description": "A token that you use in a subsequent call to the Image Search API to get more information about the image. For information about using this token, see the insightsToken query parameter. This token has the same usage as the token in the Image object.",
          "readOnly": true,
          "type": "string"
        },
        "bestRepresentativeQuery": {
          "description": "The query term that best represents the image. Clicking the link in the Query object, takes the user to a webpage with more pictures of the image.",
          "$ref": "#/definitions/Query",
          "readOnly": true
        },
        "imageCaption": {
          "description": "The caption to use for the image.",
          "$ref": "#/definitions/ImageInsightsImageCaption",
          "readOnly": true
        },
        "relatedCollections": {
          "description": "A list of links to webpages that contain related images.",
          "$ref": "#/definitions/RelatedCollectionsModule",
          "readOnly": true
        },
        "pagesIncluding": {
          "description": "A list of webpages that contain the image. To access the webpage, use the URL in the image's hostPageUrl field.",
          "$ref": "#/definitions/ImagesModule",
          "readOnly": true
        },
        "shoppingSources": {
          "description": "A list of merchants that offer items related to the image. For example, if the image is of an apple pie, the list contains merchants that are selling apple pies.",
          "$ref": "#/definitions/AggregateOffer",
          "readOnly": true
        },
        "relatedSearches": {
          "description": "A list of related queries made by others.",
          "$ref": "#/definitions/RelatedSearchesModule",
          "readOnly": true
        },
        "recipes": {
          "description": "A list of recipes related to the image. For example, if the image is of an apple pie, the list contains recipes for making an apple pie.",
          "$ref": "#/definitions/RecipesModule",
          "readOnly": true
        },
        "visuallySimilarImages": {
          "description": "A list of images that are visually similar to the original image. For example, if the specified image is of a sunset over a body of water, the list of similar images are of a sunset over a body of water. If the specified image is of a person, similar images might be of the same person or they might be of persons dressed similarly or in a similar setting. The criteria for similarity continues to evolve.",
          "$ref": "#/definitions/ImagesModule",
          "readOnly": true
        },
        "visuallySimilarProducts": {
          "description": "A list of images that contain products that are visually similar to products found in the original image. For example, if the specified image contains a dress, the list of similar images contain a dress. The image provides summary information about offers that Bing found online for the product.",
          "$ref": "#/definitions/ImagesModule",
          "readOnly": true
        },
        "recognizedEntityGroups": {
          "description": "A list of groups that contain images of entities that match the entity found in the specified image. For example, the response might include images from the general celebrity group if the entity was recognized in that group.",
          "$ref": "#/definitions/RecognizedEntitiesModule",
          "readOnly": true
        },
        "imageTags": {
          "description": "A list of characteristics of the content found in the image. For example, if the image is of a person, the tags might indicate the person's gender and the type of clothes they're wearing.",
          "$ref": "#/definitions/ImageTagsModule",
          "readOnly": true
        }
      }
    },
    "RecognizedEntityRegion": {
      "description": "Defines a region of the image where an entity was found and a list of entities that might match it.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "region": {
          "description": "A region of the image that contains an entity. The values of the rectangle are relative to the width and height of the original image and are in the range 0.0 through 1.0. For example, if the image is 300x200 and the region's top, left corner is at point (10, 20) and the bottom, right corner is at point (290, 150), then the normalized rectangle is: Left = 0.0333333333333333, Top = 0.1, Right = 0.9666666666666667, Bottom = 0.75. For people, the region represents the person's face.",
          "$ref": "#/definitions/NormalizedRectangle",
          "readOnly": true
        },
        "matchingEntities": {
          "description": "A list of entities that Bing believes match the entity found in the region. The entities are in descending order of confidence (see the matchConfidence field of RecognizedEntity).",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecognizedEntity"
          }
        }
      }
    },
    "RecognizedEntity": {
      "description": "Defines a recognized entity.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "entity": {
          "description": "The entity that was recognized. The following are the possible entity objects: Person",
          "$ref": "#/definitions/Thing",
          "readOnly": true
        },
        "matchConfidence": {
          "description": "The confidence that Bing has that the entity in the image matches this entity. The confidence ranges from 0.0 through 1.0 with 1.0 being very confident.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      }
    },
    "TrendingImages": {
      "description": "The top-level object that the response includes when a trending images request succeeds.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "required": [
        "categories"
      ],
      "properties": {
        "categories": {
          "description": "A list that identifies categories of images and a list of trending images in that category.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrendingImagesCategory"
          }
        }
      }
    },
    "Organization": {
      "description": "Defines an organization.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {}
    },
    "PropertiesItem": {
      "description": "Defines an item.",
      "x-ms-discriminator-value": "Properties/Item",
      "discriminator": "_type",
      "type": "object",
      "required": [
        "_type"
      ],
      "properties": {
        "text": {
          "description": "Text representation of an item.",
          "readOnly": true,
          "type": "string"
        },
        "_type": {
          "type": "string"
        }
      }
    },
    "Recipe": {
      "description": "Defines a cooking recipe.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "cookTime": {
          "description": "The amount of time the food takes to cook. For example, PT25M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        },
        "prepTime": {
          "description": "The amount of time required to prepare the ingredients. For example, PT15M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        },
        "totalTime": {
          "description": "The total amount of time it takes to prepare and cook the recipe. For example, PT45M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WebPage": {
      "description": "Defines a webpage that is relevant to the query.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {}
    },
    "AggregateRating": {
      "description": "Defines the metrics that indicate how well an item was rated by others.",
      "allOf": [
        {
          "$ref": "#/definitions/Rating"
        }
      ],
      "type": "object",
      "properties": {
        "reviewCount": {
          "description": "The number of times the recipe has been rated or reviewed.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Offer": {
      "description": "Defines a merchant's offer.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "seller": {
          "description": "Seller for this offer",
          "$ref": "#/definitions/Organization",
          "readOnly": true
        },
        "price": {
          "description": "The item's price.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "priceCurrency": {
          "description": "The monetary currency. For example, USD.",
          "readOnly": true,
          "type": "string",
          "default": "USD",
          "enum": [
            "USD",
            "CAD",
            "GBP",
            "EUR",
            "COP",
            "JPY",
            "CNY",
            "AUD",
            "INR",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYR",
            "BZD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "FJD",
            "FKP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "UYU",
            "UZS",
            "VEF",
            "VND",
[...]
