{
  "swagger": "2.0",
  "info": {
    "version": "2014-04-01",
    "title": "Azure SQL Database",
    "description": "Provides create, read, update and delete functionality for Azure SQL Database resources including servers, databases, elastic pools, recommendations, and operations."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
      "put": {
        "tags": [
          "Databases"
        ],
        "operationId": "Databases_CreateOrUpdate",
        "description": "Creates a new database or updates an existing database.",
        "x-ms-examples": {
          "Create a database min": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-5961",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database max": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
                  "edition": "Standard",
                  "status": "Online",
                  "createMode": "Default",
                  "serviceLevelObjective": "S0",
                  "collation": "SQL_Latin1_General_CP1_CI_AS",
                  "maxSizeBytes": "268435456000",
                  "creationDate": "2017-02-10T01:37:18.847Z",
                  "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                  "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                  "requestedServiceObjectiveName": "S0",
                  "defaultSecondaryLocation": "Japan West",
                  "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
                  "containmentState": 2,
                  "readScale": "Disabled",
                  "sampleName": "AdventureWorksLT"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
                    "edition": "Standard",
                    "status": "Online",
                    "createMode": "Default",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "268435456000",
                    "creationDate": "2017-02-10T01:37:18.847Z",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "sourceDatabaseId": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "databaseId": "816c5f7e-0e36-4eec-9c51-eee7a276c14c",
                    "edition": "Standard",
                    "status": "Online",
                    "createMode": "Default",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "268435456000",
                    "creationDate": "2017-02-10T01:37:18.847Z",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "sourceDatabaseId": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:48:08.237Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a copy": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "Copy",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as an online secondary": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "OnlineSecondary",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a non-readable secondary": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "NonReadableSecondary",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a point in time restore": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444 ",
              "resourceGroupName": "sqlcrudtest-8412",
              "serverName": "sqlcrudtest-3584",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "PointInTimeRestore",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "restorePointInTime": "2017-02-16T21:24:37.467Z"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a dropped database restore to deletion time": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444 ",
              "resourceGroupName": "sqlcrudtest-8412",
              "serverName": "sqlcrudtest-3584",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "Restore",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/sourcedb",
                  "sourceDatabaseDeletionDate": "2017-05-27T02:49:47.69Z"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-05-30T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-05-30T22:50:46.547Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-05-30T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-05-30T22:50:46.547Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a dropped database restore to a specific point in time": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444 ",
              "resourceGroupName": "sqlcrudtest-8412",
              "serverName": "sqlcrudtest-3584",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "Restore",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/restorableDroppedDatabases/sourcedb,131403269876900000",
                  "restorePointInTime": "2017-05-20T21:24:37.467Z"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-05-30T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-05-30T22:50:46.547Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-05-30T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-05-30T22:50:46.547Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database as a geo restore": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444 ",
              "resourceGroupName": "sqlcrudtest-8412",
              "serverName": "sqlcrudtest-3584",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "Recovery",
                  "sourceDatabaseId": "/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/recoverableDatabases/sourcedb"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-05-30T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-05-30T22:50:46.547Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-05-30T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-05-30T22:50:46.547Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Create a database from a long term retention backup": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444 ",
              "resourceGroupName": "sqlcrudtest-8412",
              "serverName": "sqlcrudtest-3584",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "createMode": "RestoreLongTermRetentionBackup",
                  "recoveryServicesRecoveryPointResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/AzureSqlContainer;Sql;sqlcrudtest-8412;testsvr/protectedItems/AzureSqlDb;dsName;testdb;9dafcc99-7c84-4727-88ee-1a4fdb89afd7/RecoveryPoints/16043455089734"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-05-30T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-05-30T22:50:46.547Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-05-30T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-05-30T22:50:46.547Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Update a database's elastic pool'": {
            "parameters": {
              "subscriptionId": "9d4e2ad0-e20b-4464-9219-353bded52513",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "properties": {
                  "elasticPoolName": "7537"
                },
                "location": "Japan East"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          },
          "Update a database max": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-5961",
              "databaseName": "testdb",
              "api-version": "2014-04-01",
              "parameters": {
                "location": "Japan East",
                "properties": {
                  "edition": "Standard",
                  "status": "Online",
                  "createMode": "Default",
                  "serviceLevelObjective": "S0",
                  "collation": "SQL_Latin1_General_CP1_CI_AS",
                  "maxSizeBytes": "268435456000",
                  "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                  "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                  "requestedServiceObjectiveName": "S0",
                  "defaultSecondaryLocation": "Japan West",
                  "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                  "containmentState": 2,
                  "readScale": "Disabled"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb",
                  "name": "testdb",
                  "type": "Microsoft.Sql/servers/databases",
                  "location": "Japan East",
                  "kind": "v12.0,user",
                  "properties": {
                    "edition": "Standard",
                    "status": "Online",
                    "serviceLevelObjective": "S0",
                    "collation": "SQL_Latin1_General_CP1_CI_AS",
                    "creationDate": "2017-02-24T22:39:46.547Z",
                    "maxSizeBytes": "268435456000",
                    "currentServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveId": "f1173c43-91bd-4aaa-973c-54e79e15235b",
                    "requestedServiceObjectiveName": "S0",
                    "sampleName": null,
                    "defaultSecondaryLocation": "Japan West",
                    "earliestRestoreDate": "2017-02-10T01:52:52.923Z",
                    "elasticPoolName": null,
                    "containmentState": 2,
                    "readScale": "Disabled",
                    "failoverGroupId": null
                  }
                }
              },
              "202": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database to be operated on (updated or created)."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Database"
            },
            "description": "The required parameters for creating or updating a database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true,
        "x-internal-ms-examples-mapping": {
          "Create a database min": "DatabaseCreateOrUpdateMin",
          "Create a database max": "DatabaseCreateMax",
          "Create a database as a copy": "DatabaseCreateCopy",
          "Create a database as an online secondary": "DatabaseCreateOnlineSecondary",
          "Create a database as a non-readable secondary": "DatabaseCreateNonReadableSecondary",
          "Create a database as a point in time restore": "DatabaseCreatePointInTimeRestore",
          "Create a database as a dropped database restore to deletion time": "DatabaseCreateDroppedDatabaseRestore",
          "Create a database as a dropped database restore to a specific point in time": "DatabaseCreateDroppedDatabaseRestoreToPointInTime",
          "Create a database as a geo restore": "DatabaseCreateGeoRestore",
          "Create a database from a long term retention backup": "DatabaseCreateLongTermRetentionRestore",
          "Update a database's elastic pool'": "DatabaseUpdateElasticPool",
          "Update a database max": "DatabaseUpdateMaxPut"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Create a database min": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 25\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 608b2dba-fd65-4b7b-814d-18aceb8f428b\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\"}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 25' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 608b2dba-fd65-4b7b-814d-18aceb8f428b' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\"\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 56f4cb86-151b-44f0-9424-f0de30e1dd1a\nx-ms-correlation-request-id: 56f4cb86-151b-44f0-9424-f0de30e1dd1a\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:56f4cb86-151b-44f0-9424-f0de30e1dd1a\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-02-24T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:52:52.923Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database max": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 636\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 7f1f4b7b-4c53-40ad-a8c1-2b22677380ca\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"databaseId\":\"816c5f7e-0e36-4eec-9c51-eee7a276c14c\",\"edition\":\"Standard\",\"status\":\"Online\",\"createMode\":\"Default\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"maxSizeBytes\":\"268435456000\",\"creationDate\":\"2017-02-10T01:37:18.847Z\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:48:08.237Z\",\"containmentState\":2,\"readScale\":\"Disabled\",\"sampleName\":\"AdventureWorksLT\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 636' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 7f1f4b7b-4c53-40ad-a8c1-2b22677380ca' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"databaseId\": \"816c5f7e-0e36-4eec-9c51-eee7a276c14c\",\n    \"edition\": \"Standard\",\n    \"status\": \"Online\",\n    \"createMode\": \"Default\",\n    \"serviceLevelObjective\": \"S0\",\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\n    \"maxSizeBytes\": \"268435456000\",\n    \"creationDate\": \"2017-02-10T01:37:18.847Z\",\n    \"currentServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\n    \"requestedServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\n    \"requestedServiceObjectiveName\": \"S0\",\n    \"defaultSecondaryLocation\": \"Japan West\",\n    \"earliestRestoreDate\": \"2017-02-10T01:48:08.237Z\",\n    \"containmentState\": 2,\n    \"readScale\": \"Disabled\",\n    \"sampleName\": \"AdventureWorksLT\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: c2c90707-4042-4cec-80b2-cc87c060933c\nx-ms-correlation-request-id: c2c90707-4042-4cec-80b2-cc87c060933c\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:c2c90707-4042-4cec-80b2-cc87c060933c\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 926\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-8931/providers/Microsoft.Sql/servers/sqlcrudtest-1932/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"databaseId\":\"816c5f7e-0e36-4eec-9c51-eee7a276c14c\",\"edition\":\"Standard\",\"status\":\"Online\",\"createMode\":\"Default\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"maxSizeBytes\":\"268435456000\",\"creationDate\":\"2017-02-10T01:37:18.847Z\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"sourceDatabaseId\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:48:08.237Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database as a copy": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 231\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: a226ba64-6a90-4d83-a4d8-0fed2b53dc3d\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"createMode\":\"Copy\",\"sourceDatabaseId\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 231' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: a226ba64-6a90-4d83-a4d8-0fed2b53dc3d' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"createMode\": \"Copy\",\n    \"sourceDatabaseId\": \"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: d4c29e4e-7e05-429c-85e5-c887dbced815\nx-ms-correlation-request-id: d4c29e4e-7e05-429c-85e5-c887dbced815\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:d4c29e4e-7e05-429c-85e5-c887dbced815\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-02-24T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:52:52.923Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database as an online secondary": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 242\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 591b58f3-b9d0-462a-81ef-0c834efaf79b\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"createMode\":\"OnlineSecondary\",\"sourceDatabaseId\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 242' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 591b58f3-b9d0-462a-81ef-0c834efaf79b' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"createMode\": \"OnlineSecondary\",\n    \"sourceDatabaseId\": \"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: e30d32ed-2228-4474-a99c-bd88c1a28a4a\nx-ms-correlation-request-id: e30d32ed-2228-4474-a99c-bd88c1a28a4a\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:e30d32ed-2228-4474-a99c-bd88c1a28a4a\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-02-24T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:52:52.923Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database as a non-readable secondary": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 247\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 2e29e790-2bc0-41c6-b9e5-d7956e3a276c\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"createMode\":\"NonReadableSecondary\",\"sourceDatabaseId\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 247' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 2e29e790-2bc0-41c6-b9e5-d7956e3a276c' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"createMode\": \"NonReadableSecondary\",\n    \"sourceDatabaseId\": \"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 8f24dbbe-0222-4b64-8fc2-3106cc96bc21\nx-ms-correlation-request-id: 8f24dbbe-0222-4b64-8fc2-3106cc96bc21\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:8f24dbbe-0222-4b64-8fc2-3106cc96bc21\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-02-24T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:52:52.923Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database as a point in time restore": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 294\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 3022e391-1eb1-480c-976d-dfb033df880a\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"createMode\":\"PointInTimeRestore\",\"sourceDatabaseId\":\"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\",\"restorePointInTime\":\"2017-02-16T21:24:37.467Z\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 294' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 3022e391-1eb1-480c-976d-dfb033df880a' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"createMode\": \"PointInTimeRestore\",\n    \"sourceDatabaseId\": \"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\",\n    \"restorePointInTime\": \"2017-02-16T21:24:37.467Z\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: d056b5d7-1bd8-4787-9102-334c42c4bb39\nx-ms-correlation-request-id: d056b5d7-1bd8-4787-9102-334c42c4bb39\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:d056b5d7-1bd8-4787-9102-334c42c4bb39\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-02-24T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:52:52.923Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database as a dropped database restore to deletion time": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 292\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 32b6ed51-ad80-4047-8020-738a466b5f1c\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"createMode\":\"Restore\",\"sourceDatabaseId\":\"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/sourcedb\",\"sourceDatabaseDeletionDate\":\"2017-05-27T02:49:47.69Z\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 292' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 32b6ed51-ad80-4047-8020-738a466b5f1c' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"createMode\": \"Restore\",\n    \"sourceDatabaseId\": \"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/sourcedb\",\n    \"sourceDatabaseDeletionDate\": \"2017-05-27T02:49:47.69Z\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: a0429c02-e9fb-43ed-94ab-0273bdccb8d2\nx-ms-correlation-request-id: a0429c02-e9fb-43ed-94ab-0273bdccb8d2\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:a0429c02-e9fb-43ed-94ab-0273bdccb8d2\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-05-30T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-05-30T22:50:46.547Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database as a dropped database restore to a specific point in time": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 321\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: cab6478c-64b9-41c9-8211-8a836a20c727\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"createMode\":\"Restore\",\"sourceDatabaseId\":\"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/restorableDroppedDatabases/sourcedb,131403269876900000\",\"restorePointInTime\":\"2017-05-20T21:24:37.467Z\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 321' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: cab6478c-64b9-41c9-8211-8a836a20c727' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"createMode\": \"Restore\",\n    \"sourceDatabaseId\": \"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/restorableDroppedDatabases/sourcedb,131403269876900000\",\n    \"restorePointInTime\": \"2017-05-20T21:24:37.467Z\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 4a89f7ad-41c0-4d3c-b763-6ceb29a4a521\nx-ms-correlation-request-id: 4a89f7ad-41c0-4d3c-b763-6ceb29a4a521\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:4a89f7ad-41c0-4d3c-b763-6ceb29a4a521\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-05-30T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-05-30T22:50:46.547Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database as a geo restore": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 249\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: c9053aec-3730-4a41-adb1-9a8687a3134f\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"createMode\":\"Recovery\",\"sourceDatabaseId\":\"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/recoverableDatabases/sourcedb\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 249' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: c9053aec-3730-4a41-adb1-9a8687a3134f' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"createMode\": \"Recovery\",\n    \"sourceDatabaseId\": \"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3782/recoverableDatabases/sourcedb\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 39759e48-5872-49b2-8363-bc28b1b8be38\nx-ms-correlation-request-id: 39759e48-5872-49b2-8363-bc28b1b8be38\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:39759e48-5872-49b2-8363-bc28b1b8be38\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-05-30T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-05-30T22:50:46.547Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Create a database from a long term retention backup": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 464\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: b1186ef7-3296-4250-9ecf-10221c50d655\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"createMode\":\"RestoreLongTermRetentionBackup\",\"recoveryServicesRecoveryPointResourceId\":\"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/AzureSqlContainer;Sql;sqlcrudtest-8412;testsvr/protectedItems/AzureSqlDb;dsName;testdb;9dafcc99-7c84-4727-88ee-1a4fdb89afd7/RecoveryPoints/16043455089734\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444%20/resourceGroups/sqlcrudtest-8412/providers/Microsoft.Sql/servers/sqlcrudtest-3584/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 464' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: b1186ef7-3296-4250-9ecf-10221c50d655' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"createMode\": \"RestoreLongTermRetentionBackup\",\n    \"recoveryServicesRecoveryPointResourceId\": \"/subscriptions/00000000-1111-2222-3333-444444444444 /resourceGroups/sqlcrudtest-8412/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/AzureSqlContainer;Sql;sqlcrudtest-8412;testsvr/protectedItems/AzureSqlDb;dsName;testdb;9dafcc99-7c84-4727-88ee-1a4fdb89afd7/RecoveryPoints/16043455089734\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: ad5c9c8c-431c-4b6e-a1f3-98b205a80d8d\nx-ms-correlation-request-id: ad5c9c8c-431c-4b6e-a1f3-98b205a80d8d\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:ad5c9c8c-431c-4b6e-a1f3-98b205a80d8d\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-3782/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-05-30T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-05-30T22:50:46.547Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Update a database's elastic pool'": {
            "request": "PUT https://management.azure.com/subscriptions/9d4e2ad0-e20b-4464-9219-353bded52513/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 65\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 79906ed0-2a53-4269-a7e9-cd73b541272e\nhost: management.azure.com\nConnection: close\n\n{\"properties\":{\"elasticPoolName\":\"7537\"},\"location\":\"Japan East\"}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/9d4e2ad0-e20b-4464-9219-353bded52513/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 65' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 79906ed0-2a53-4269-a7e9-cd73b541272e' \\\n-d @- << EOF\n{\n  \"properties\": {\n    \"elasticPoolName\": \"7537\"\n  },\n  \"location\": \"Japan East\"\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 32be375f-8491-4792-ba9e-7e46e3d9ec1b\nx-ms-correlation-request-id: 32be375f-8491-4792-ba9e-7e46e3d9ec1b\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:32be375f-8491-4792-ba9e-7e46e3d9ec1b\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 785\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:52:52.923Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          },
          "Update a database max": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 510\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: fe8c743e-327c-46c7-9e45-dcfa020206d3\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"Japan East\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"createMode\":\"Default\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:52:52.923Z\",\"containmentState\":2,\"readScale\":\"Disabled\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 510' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: fe8c743e-327c-46c7-9e45-dcfa020206d3' \\\n-d @- << EOF\n{\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"edition\": \"Standard\",\n    \"status\": \"Online\",\n    \"createMode\": \"Default\",\n    \"serviceLevelObjective\": \"S0\",\n    \"collation\": \"SQL_Latin1_General_CP1_CI_AS\",\n    \"maxSizeBytes\": \"268435456000\",\n    \"currentServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\n    \"requestedServiceObjectiveId\": \"f1173c43-91bd-4aaa-973c-54e79e15235b\",\n    \"requestedServiceObjectiveName\": \"S0\",\n    \"defaultSecondaryLocation\": \"Japan West\",\n    \"earliestRestoreDate\": \"2017-02-10T01:52:52.923Z\",\n    \"containmentState\": 2,\n    \"readScale\": \"Disabled\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 93ca7826-ab2d-466e-8f52-9f7bd09206ad\nx-ms-correlation-request-id: 93ca7826-ab2d-466e-8f52-9f7bd09206ad\nx-ms-routing-request-id: WESTUS2:20170904T093508624Z:93ca7826-ab2d-466e-8f52-9f7bd09206ad\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 827\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:08 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-5961/databases/testdb\",\"name\":\"testdb\",\"type\":\"Microsoft.Sql/servers/databases\",\"location\":\"Japan East\",\"kind\":\"v12.0,user\",\"properties\":{\"edition\":\"Standard\",\"status\":\"Online\",\"serviceLevelObjective\":\"S0\",\"collation\":\"SQL_Latin1_General_CP1_CI_AS\",\"creationDate\":\"2017-02-24T22:39:46.547Z\",\"maxSizeBytes\":\"268435456000\",\"currentServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveId\":\"f1173c43-91bd-4aaa-973c-54e79e15235b\",\"requestedServiceObjectiveName\":\"S0\",\"sampleName\":null,\"defaultSecondaryLocation\":\"Japan West\",\"earliestRestoreDate\":\"2017-02-10T01:52:52.923Z\",\"elasticPoolName\":null,\"containmentState\":2,\"readScale\":\"Disabled\",\"failoverGroupId\":null}}\n"
            }
          }
        },
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "ARM resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "ARM tracked top level resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Resource location."
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "CheckNameAvailabilityRequest": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name whose availability is to be checked."
        },
        "type": {
          "type": "string",
          "description": "The type of resource that is used as the scope of the availability check.",
          "enum": [
            "Microsoft.Sql/servers"
          ],
          "x-ms-enum": {
            "name": "CheckNameAvailabilityResourceType",
            "modelAsString": false
          }
        }
      },
      "required": [
        "name",
        "type"
      ],
      "description": "A request to check whether the specified name for a resource is available."
    },
    "CheckNameAvailabilityResponse": {
      "properties": {
        "available": {
          "type": "boolean",
          "description": "True if the name is available, otherwise false.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "A message explaining why the name is unavailable. Will be null if the name is available.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name whose availability was checked.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "The reason code explaining why the name is unavailable. Will be null if the name is available.",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "CheckNameAvailabilityReason",
            "modelAsString": false
          },
          "readOnly": true
        }
      },
      "description": "A response indicating whether the specified name for a resource is available."
    },
    "RecommendedElasticPoolMetric": {
      "properties": {
        "dateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time of metric (ISO8601 format)."
        },
        "dtu": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the DTUs (Database Transaction Units). See https://azure.microsoft.com/documentation/articles/sql-database-what-is-a-dtu/"
        },
        "sizeGB": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets size in gigabytes."
        }
      },
      "description": "Represents recommended elastic pool metric."
    },
    "RecommendedElasticPoolProperties": {
      "properties": {
        "databaseEdition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the recommended elastic pool. The ElasticPoolEdition enumeration contains all the valid editions.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEdition",
            "modelAsString": true
          }
        },
        "dtu": {
          "type": "number",
          "format": "double",
          "description": "The DTU for the recommended elastic pool."
        },
        "databaseDtuMin": {
          "type": "number",
          "format": "double",
          "description": "The minimum DTU for the database."
        },
        "databaseDtuMax": {
          "type": "number",
          "format": "double",
          "description": "The maximum DTU for the database."
        },
        "storageMB": {
          "type": "number",
          "format": "double",
          "description": "Gets storage size in megabytes."
        },
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "observationPeriodEnd": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "maxObservedDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets maximum observed DTU."
        },
        "maxObservedStorageMB": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets maximum observed storage in megabytes."
        },
        "databases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "description": "The list of databases in this pool. Expanded property"
        },
        "metrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPoolMetric"
          },
          "description": "The list of databases housed in the server. Expanded property"
        }
      },
      "description": "Represents the properties of a recommented elastic pool."
    },
    "RecommendedElasticPool": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecommendedElasticPoolProperties",
          "description": "The properites representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a recommented elastic pool."
    },
    "RecommendedElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPool"
          },
          "description": "The list of recommended elastic pools hosted in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list recommended elastic pool request."
    },
    "RecommendedElasticPoolListMetricsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecommendedElasticPoolMetric"
          },
          "description": "The list of recommended elastic pools metrics."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list recommended elastic pool metrics request."
    },
    "ElasticPoolProperties": {
      "properties": {
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the elastic pool (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Creating",
            "Ready",
            "Disabled"
          ],
          "description": "The state of the elastic pool.",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ElasticPoolState"
          }
        },
        "edition": {
          "type": "string",
          "description": "The edition of the elastic pool.",
          "enum": [
            "Basic",
            "Standard",
            "Premium"
          ],
          "x-ms-enum": {
            "name": "ElasticPoolEdition",
            "modelAsString": true
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "dtu": {
          "type": "integer",
          "format": "int32",
          "description": "The total shared DTU for the database elastic pool."
        },
        "databaseDtuMax": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum DTU any one database can consume."
        },
        "databaseDtuMin": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum DTU all databases are guaranteed."
        },
        "storageMB": {
          "type": "integer",
          "format": "int32",
          "description": "Gets storage limit for the database elastic pool in MB."
        }
      },
      "description": "Represents the properties of an elastic pool."
    },
    "ElasticPool": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ElasticPoolProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind of elastic pool.  This is metadata used for the Azure portal experience."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Represents a database elastic pool."
    },
    "ElasticPoolUpdate": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/ElasticPoolProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an elastic pool update."
    },
    "ElasticPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPool"
          },
          "description": "The list of elastic pools hosted in the server."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list elastic pool request."
    },
    "ElasticPoolActivityProperties": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished (ISO8601 format)."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The unique operation ID.",
          "x-nullable": false
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedDatabaseDtuMax": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested max DTU per database if available."
        },
        "requestedDatabaseDtuMin": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested min DTU per database if available."
        },
        "requestedDtu": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested DTU for the pool if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The requested name for the elastic pool if available."
        },
        "requestedStorageLimitInGB": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "The requested storage limit for the pool in GB if available."
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the elastic pool."
        },
[...]
