{
  "swagger": "2.0",
  "info": {
    "version": "2015-05-01-preview",
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}": {
      "put": {
        "tags": [
          "Servers"
        ],
        "description": "Creates or updates a server.",
        "operationId": "Servers_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The requested server resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the server.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 NameAlreadyExists - The provided name already exists.\n\n * 400 RegionDoesNotSupportVersion - A user attempted to create a server of a specified version in a location where that server version isn't supported.\n\n * 400 ServerNotFound - The requested server was not found.\n\n * 400 InvalidUsername - Supplied user name contains invalid characters.\n\n * 400 InvalidParameterValue - An invalid value was given to a parameter.\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 400 TokenTooLong - The provided token is too long.\n\n * 400 InvalidLoginName - The provided login name is invalid.\n\n * 400 PasswordTooShort - The provided password is too short\n\n * 400 PasswordTooLong - The provided password is too long.\n\n * 400 PasswordNotComplex - The provided password is not complex enough.\n\n * 400 SubscriptionNotFound - The requested subscription was not found.\n\n * 400 InvalidLocation - An invalid location was specified.\n\n * 400 InvalidServerName - Invalid server name specified.\n\n * 400 RegionDoesNotAllowProvisioning - The selected location is not accepting new Windows Azure SQL Database servers. This may change at a later time.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 409 OperationCancelled - The operation has been cancelled by user.\n\n * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.\n\n * 409 ServerAlreadyExists - Duplicate server name.\n\n * 409 SubscriptionDisabled - Subscription is disabled.\n\n * 409 ServerDisabled - Server is disabled.\n\n * 409 ServerQuotaExceeded - Server cannot be added to a subscription because it will exceed quota.\n\n * 429 ConflictingSubscriptionOperation - An operation is currently in progress for the subscription.\n\n * 429 ConflictingServerOperation - An operation is currently in progress for the server.\n\n * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation."
          },
          "202": {
            "description": "Accepted"
          },
          "201": {
            "description": "Successfully created the server.",
            "schema": {
              "$ref": "#/definitions/Server"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create server with all properties": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-7398",
              "serverName": "sqlcrudtest-4645",
              "api-version": "2015-05-01-preview",
              "parameters": {
                "tags": {
                  "tagKey1": "TagValue1"
                },
                "location": "Japan East",
                "properties": {
                  "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                  "administratorLogin": "dummylogin",
                  "administratorLoginPassword": "Un53cuRE!",
                  "version": "12.0",
                  "state": "Ready"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "japaneast",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              },
              "201": {
                "body": {
                  "tags": {
                    "tagKey1": "TagValue1"
                  },
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "japaneast",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              },
              "202": {}
            }
          },
          "Create server with minimal properties": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-7398",
              "serverName": "sqlcrudtest-4645",
              "api-version": "2015-05-01-preview",
              "parameters": {
                "properties": {
                  "administratorLogin": "dummylogin",
                  "administratorLoginPassword": "Un53cuRE!"
                },
                "location": "Japan East"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "japaneast",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645",
                  "name": "sqlcrudtest-4645",
                  "type": "Microsoft.Sql/servers",
                  "location": "japaneast",
                  "kind": "v12.0",
                  "properties": {
                    "fullyQualifiedDomainName": "sqlcrudtest-4645.database.windows.net",
                    "administratorLogin": "dummylogin",
                    "version": "12.0",
                    "state": "Ready"
                  }
                }
              },
              "202": {}
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "Create server with all properties": "ServerCreateMax",
          "Create server with minimal properties": "ServerCreateMin"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Create server with all properties": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645?api-version=2015-05-01-preview HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 246\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: d71c7c10-cf25-498e-b523-e150902c403a\nhost: management.azure.com\nConnection: close\n\n{\"tags\":{\"tagKey1\":\"TagValue1\"},\"location\":\"Japan East\",\"properties\":{\"fullyQualifiedDomainName\":\"sqlcrudtest-4645.database.windows.net\",\"administratorLogin\":\"dummylogin\",\"administratorLoginPassword\":\"Un53cuRE!\",\"version\":\"12.0\",\"state\":\"Ready\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645?api-version=2015-05-01-preview' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 246' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: d71c7c10-cf25-498e-b523-e150902c403a' \\\n-d @- << EOF\n{\n  \"tags\": {\n    \"tagKey1\": \"TagValue1\"\n  },\n  \"location\": \"Japan East\",\n  \"properties\": {\n    \"fullyQualifiedDomainName\": \"sqlcrudtest-4645.database.windows.net\",\n    \"administratorLogin\": \"dummylogin\",\n    \"administratorLoginPassword\": \"Un53cuRE!\",\n    \"version\": \"12.0\",\n    \"state\": \"Ready\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 89d484f5-f287-45b8-95be-c75e8c7f7a6b\nx-ms-correlation-request-id: 89d484f5-f287-45b8-95be-c75e8c7f7a6b\nx-ms-routing-request-id: WESTUS2:20170904T093534281Z:89d484f5-f287-45b8-95be-c75e8c7f7a6b\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 416\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:34 GMT\nConnection: close\n\n{\"tags\":{\"tagKey1\":\"TagValue1\"},\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645\",\"name\":\"sqlcrudtest-4645\",\"type\":\"Microsoft.Sql/servers\",\"location\":\"japaneast\",\"kind\":\"v12.0\",\"properties\":{\"fullyQualifiedDomainName\":\"sqlcrudtest-4645.database.windows.net\",\"administratorLogin\":\"dummylogin\",\"version\":\"12.0\",\"state\":\"Ready\"}}\n"
            }
          },
          "Create server with minimal properties": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645?api-version=2015-05-01-preview HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 115\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 3f2ed44f-2411-4524-9a13-4940f7f7e021\nhost: management.azure.com\nConnection: close\n\n{\"properties\":{\"administratorLogin\":\"dummylogin\",\"administratorLoginPassword\":\"Un53cuRE!\"},\"location\":\"Japan East\"}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645?api-version=2015-05-01-preview' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 115' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 3f2ed44f-2411-4524-9a13-4940f7f7e021' \\\n-d @- << EOF\n{\n  \"properties\": {\n    \"administratorLogin\": \"dummylogin\",\n    \"administratorLoginPassword\": \"Un53cuRE!\"\n  },\n  \"location\": \"Japan East\"\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 112a661b-0f8b-4986-bb83-eb9bcea4bf3c\nx-ms-correlation-request-id: 112a661b-0f8b-4986-bb83-eb9bcea4bf3c\nx-ms-routing-request-id: WESTUS2:20170904T093534281Z:112a661b-0f8b-4986-bb83-eb9bcea4bf3c\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 385\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:34 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645\",\"name\":\"sqlcrudtest-4645\",\"type\":\"Microsoft.Sql/servers\",\"location\":\"japaneast\",\"kind\":\"v12.0\",\"properties\":{\"fullyQualifiedDomainName\":\"sqlcrudtest-4645.database.windows.net\",\"administratorLogin\":\"dummylogin\",\"version\":\"12.0\",\"state\":\"Ready\"}}\n"
            }
          }
        },
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "ServerListResult": {
      "description": "A list of servers.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Server"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceIdentity": {
      "description": "Azure Active Directory identity configuration for a resource.",
      "type": "object",
      "properties": {
        "principalId": {
          "format": "uuid",
          "description": "The Azure Active Directory principal id.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.",
          "enum": [
            "SystemAssigned"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IdentityType",
            "modelAsString": true
          }
        },
        "tenantId": {
          "format": "uuid",
          "description": "The Azure Active Directory tenant id.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ServerProperties": {
      "description": "The properties of a server.",
      "type": "object",
      "properties": {
        "administratorLogin": {
          "description": "Administrator username for the server. Once created it cannot be changed.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "administratorLoginPassword": {
          "description": "The administrator login password (required for server creation).",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "update"
          ]
        },
        "version": {
          "description": "The version of the server.",
          "type": "string"
        },
        "state": {
          "description": "The state of the server.",
          "type": "string",
          "readOnly": true
        },
        "fullyQualifiedDomainName": {
          "description": "The fully qualified domain name of the server.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "ARM resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "ARM tracked top level resource.",
      "required": [
        "location"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "description": "Resource location.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Server": {
      "description": "An Azure SQL Database server.",
      "required": [
        "location"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/ResourceIdentity",
          "description": "The Azure Active Directory identity of the server.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "kind": {
          "description": "Kind of sql server. This is metadata used for the Azure portal experience.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ServerUpdate": {
      "description": "An update request for an Azure SQL Database server.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription ID that identifies an Azure subscription.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for the request.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "description": "The name of the server.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "DatabaseNameParameter": {
      "name": "databaseName",
      "in": "path",
      "description": "The name of the database.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-name": "SQL Database",
  "x-internal-operation-group-name": "Servers API",
  "x-internal-toc-name": "Servers API",
  "x-internal-split-type": "Operation"
}