{
  "swagger": "2.0",
  "info": {
    "version": "2017-03-01",
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on API entity and their Operations associated with your Azure API Management deployment."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}": {
      "put": {
        "tags": [
          "Operations"
        ],
        "operationId": "ApiOperation_CreateOrUpdate",
        "description": "Creates a new operation in the API or updates an existing one.",
        "x-ms-examples": {
          "ApiManagementCreateApiOperation": {
            "parameters": {
              "serviceName": "apimService1",
              "resourceGroupName": "rg1",
              "api-version": "2017-03-01",
              "subscriptionId": "subid",
              "apiId": "PetStoreTemplate2",
              "operationId": "newoperations",
              "parameters": {
                "name": "newoperation",
                "properties": {
                  "displayName": "createUser2",
                  "method": "POST",
                  "urlTemplate": "/user1",
                  "templateParameters": [],
                  "description": "This can only be done by the logged in user.",
                  "request": {
                    "description": "Created user object",
                    "queryParameters": [],
                    "headers": [],
                    "representations": [
                      {
                        "contentType": "application/json",
                        "schemaId": "592f6c1d0af5840ca8897f0c",
                        "typeName": "User"
                      }
                    ]
                  },
                  "responses": [
                    {
                      "statusCode": 200,
                      "description": "successful operation",
                      "representations": [
                        {
                          "contentType": "application/xml"
                        },
                        {
                          "contentType": "application/json"
                        }
                      ],
                      "headers": []
                    }
                  ]
                }
              }
            },
            "responses": {
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/PetStoreTemplate2/operations/newoperations",
                  "type": "Microsoft.ApiManagement/service/apis/operations",
                  "name": "newoperations",
                  "properties": {
                    "displayName": "createUser2",
                    "method": "POST",
                    "urlTemplate": "/user1",
                    "templateParameters": [],
                    "description": "This can only be done by the logged in user.",
                    "request": {
                      "description": "Created user object",
                      "queryParameters": [],
                      "headers": [],
                      "representations": [
                        {
                          "contentType": "application/json",
                          "schemaId": "592f6c1d0af5840ca8897f0c",
                          "typeName": "User"
                        }
                      ]
                    },
                    "responses": [
                      {
                        "statusCode": 200,
                        "description": "successful operation",
                        "representations": [
                          {
                            "contentType": "application/xml"
                          },
                          {
                            "contentType": "application/json"
                          }
                        ],
                        "headers": []
                      }
                    ]
                  }
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/PetStoreTemplate2/operations/newoperations",
                  "type": "Microsoft.ApiManagement/service/apis/operations",
                  "name": "newoperations",
                  "properties": {
                    "displayName": "createUser2",
                    "method": "POST",
                    "urlTemplate": "/user1",
                    "templateParameters": [],
                    "description": "This can only be done by the logged in user.",
                    "request": {
                      "description": "Created user object",
                      "queryParameters": [],
                      "headers": [],
                      "representations": [
                        {
                          "contentType": "application/json",
                          "schemaId": "592f6c1d0af5840ca8897f0c",
                          "typeName": "User"
                        }
                      ]
                    },
                    "responses": [
                      {
                        "statusCode": 200,
                        "description": "successful operation",
                        "representations": [
                          {
                            "contentType": "application/xml"
                          },
                          {
                            "contentType": "application/json"
                          }
                        ],
                        "headers": []
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiIdParameter"
          },
          {
            "$ref": "#/parameters/OperationIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperationContract"
            },
            "description": "Create parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Operation was successfully created.",
            "schema": {
              "$ref": "#/definitions/OperationContract"
            }
          },
          "200": {
            "description": "Operation was successfully updated.",
            "schema": {
              "$ref": "#/definitions/OperationContract"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": null,
  "parameters": {
    "ApiIdParameter": {
      "name": "apiId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "API identifier. Must be unique in the current API Management service instance.",
      "minLength": 1,
      "maxLength": 256,
      "pattern": "^[^*#&+:<>?]+$",
      "x-ms-parameter-location": "method"
    },
    "OperationIdParameter": {
      "name": "operationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Operation identifier within an API. Must be unique in the current API Management service instance.",
      "minLength": 1,
      "maxLength": 256,
      "pattern": "^[^*#&+:<>?]+$",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    },
    "PolicyIdParameter": {
      "name": "policyId",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "policy"
      ],
      "description": "The identifier of the Policy.",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "PolicyIdName"
      },
      "x-ms-parameter-location": "method"
    },
    "ServiceNameParameter": {
      "name": "serviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the API Management service.",
      "minLength": 1,
      "maxLength": 50,
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "SkipQueryParameter": {
      "name": "$skip",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to skip.",
      "minimum": 0,
      "x-ms-parameter-location": "method"
    },
    "TopQueryParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Number of records to return.",
      "minimum": 1,
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-toc-name": "Api Operation",
  "x-internal-split-type": "Operation",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "Api/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "Api/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "Api/Get"
    },
    {
      "displayName": "List By Service",
      "relativePath": "Api/ListByService"
    },
    {
      "displayName": "Update",
      "relativePath": "Api/Update"
    }
  ]
}