{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Get",
        "description": "Retrieve the job identified by job id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Job"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "getJob": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
            "properties": {
              "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
              "runbook": {
                "name": "TestRunbook"
              },
              "provisioningState": "Processing",
              "creationTime": "2017-03-30T13:53:30.243+08:00",
              "endTime": null,
              "exception": null,
              "lastModifiedTime": "2017-03-30T13:53:30.243+08:00",
              "lastStatusModifiedTime": "2017-03-30T13:53:30.243+08:00",
              "startedBy": "myEmaild@microsoft.com",
              "startTime": null,
              "status": "New",
              "statusDetails": "None",
              "parameters": {
                "tag01": "value01",
                "tag02": "value02"
              },
              "runOn": null
            }
          }
        }
      }
    },
    "suspendJob": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "stopJob": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "createJob": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "runbook": {
              "name": "TestRunbook"
            },
            "parameters": {
              "tag01": "value01",
              "tag02": "value02"
            }
          },
          "name": "TestRunbook",
          "location": "East US 2",
          "tags": {
            "jobTags01": "jobTagsValue01",
            "jobTags02": "value02"
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
            "properties": {
              "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
              "runbook": {
                "name": "TestRunbook"
              },
              "provisioningState": "Processing",
              "creationTime": "2017-03-30T13:53:30.243+08:00",
              "endTime": null,
              "exception": null,
              "lastModifiedTime": "2017-03-30T13:53:30.243+08:00",
              "lastStatusModifiedTime": "2017-03-30T13:53:30.243+08:00",
              "startedBy": "myEmaild@microsoft.com",
              "startTime": null,
              "status": "New",
              "statusDetails": "None",
              "parameters": {
                "tag01": "value01",
                "tag02": "value02"
              },
              "runOn": null
            }
          }
        }
      }
    },
    "listJobsByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
                "properties": {
                  "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Processing",
                  "status": "New",
                  "creationTime": "2017-03-30T13:53:30.243+08:00",
                  "startTime": null,
                  "lastModifiedTime": "2017-03-30T13:53:30.243+08:00",
                  "endTime": null,
                  "jobScheduleId": "24bd77b2-f3c1-42a8-815b-e80ac5c2de9c"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/7584055f-5118-460a-a2dd-5176c9c8efe9",
                "properties": {
                  "jobId": "7584055f-5118-460a-a2dd-5176c9c8efe9",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Succeeded",
                  "status": "Completed",
                  "creationTime": "2017-03-30T13:46:49.37+08:00",
                  "startTime": "2017-03-30T13:47:35.2+08:00",
                  "lastModifiedTime": "2017-03-30T13:48:38.857+08:00",
                  "endTime": "2017-03-30T13:48:38.857+08:00",
                  "jobScheduleId": "379d0e16-245c-43b2-8f99-54dc7f960ff9"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/1054546d-0a8f-4cfe-b08d-b617598f00ed",
                "properties": {
                  "jobId": "1054546d-0a8f-4cfe-b08d-b617598f00ed",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Failed",
                  "status": "Failed",
                  "creationTime": "2017-03-30T13:48:33.45+08:00",
                  "startTime": "2017-03-30T13:48:33.56+08:00",
                  "lastModifiedTime": "2017-03-30T13:48:33.56+08:00",
                  "endTime": "2017-03-30T13:48:33.56+08:00",
                  "jobScheduleId": "46c278cf-f817-416a-8f30-ccd02ec97873"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/f8f72961-cc60-4222-ad36-02d66cc79fbc",
                "properties": {
                  "jobId": "f8f72961-cc60-4222-ad36-02d66cc79fbc",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Failed",
                  "status": "Stopped",
                  "creationTime": "2017-03-30T11:40:42.283+08:00",
                  "startTime": "2017-03-30T11:42:20.927+08:00",
                  "lastModifiedTime": "2017-03-30T13:46:36.447+08:00",
                  "endTime": "2017-03-30T13:46:36.447+08:00",
                  "jobScheduleId": "7b76b6d9-6823-4eb6-b594-f1033480f942"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/962e21d8-625a-40a4-a7d9-ef1d1c594a53",
                "properties": {
                  "jobId": "962e21d8-625a-40a4-a7d9-ef1d1c594a53",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Failed",
                  "status": "Failed",
                  "creationTime": "2017-03-30T13:43:54.737+08:00",
                  "startTime": "2017-03-30T13:43:54.817+08:00",
                  "lastModifiedTime": "2017-03-30T13:43:54.817+08:00",
                  "endTime": "2017-03-30T13:43:54.817+08:00",
                  "jobScheduleId": "b1959bf9-a552-4a26-b6d5-3dada8204e2e"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/db2708ac-8f07-4af7-af99-f381877e61f3",
                "properties": {
                  "jobId": "db2708ac-8f07-4af7-af99-f381877e61f3",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Failed",
                  "status": "Failed",
                  "creationTime": "2017-03-30T13:43:09.69+08:00",
                  "startTime": "2017-03-30T13:43:09.813+08:00",
                  "lastModifiedTime": "2017-03-30T13:43:09.813+08:00",
                  "endTime": "2017-03-30T13:43:09.813+08:00",
                  "jobScheduleId": "d306b6c7-b41c-43ef-b07f-b121e8849793"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/ad36c63e-cb95-4aae-9f0f-26c8b436440a",
                "properties": {
                  "jobId": "ad36c63e-cb95-4aae-9f0f-26c8b436440a",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Failed",
                  "status": "Failed",
                  "creationTime": "2017-03-30T13:36:31.127+08:00",
                  "startTime": "2017-03-30T13:36:31.22+08:00",
                  "lastModifiedTime": "2017-03-30T13:36:31.22+08:00",
                  "endTime": "2017-03-30T13:36:31.22+08:00",
                  "jobScheduleId": "3e6d8a83-c330-4946-9f37-26dce027258d"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/3b5d4c8a-14cf-47c3-b7e0-0bf14780e676",
                "properties": {
                  "jobId": "3b5d4c8a-14cf-47c3-b7e0-0bf14780e676",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Failed",
                  "status": "Failed",
                  "creationTime": "2017-03-30T13:35:45.513+08:00",
                  "startTime": "2017-03-30T13:35:45.593+08:00",
                  "lastModifiedTime": "2017-03-30T13:35:45.593+08:00",
                  "endTime": "2017-03-30T13:35:45.593+08:00",
                  "jobScheduleId": "af8ee432-29c2-4a1e-9828-ae66c21523fc"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/9f199f26-f918-4693-b604-5e3134503cf5",
                "properties": {
                  "jobId": "9f199f26-f918-4693-b604-5e3134503cf5",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Failed",
                  "status": "Failed",
                  "creationTime": "2017-03-30T11:27:33.253+08:00",
                  "startTime": "2017-03-30T11:29:18.227+08:00",
                  "lastModifiedTime": "2017-03-30T11:58:41.713+08:00",
                  "endTime": "2017-03-30T11:58:41.713+08:00",
                  "jobScheduleId": "78bfb5a9-9b05-4e29-81f7-88e2e2171cd3"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/89a6bfd1-d10e-4ccd-bfc6-b212a6a2a2d1",
                "properties": {
                  "jobId": "89a6bfd1-d10e-4ccd-bfc6-b212a6a2a2d1",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Failed",
                  "status": "Stopped",
                  "creationTime": "2017-03-30T10:05:11.343+08:00",
                  "startTime": "2017-03-30T10:06:20.91+08:00",
                  "lastModifiedTime": "2017-03-30T11:58:32.073+08:00",
                  "endTime": "2017-03-30T11:58:32.073+08:00",
                  "jobScheduleId": "d29ef781-956a-40d2-bfe9-fed8d7cca7e6"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/ac08b537-6024-4d36-a61b-94e1c990ebd2",
                "properties": {
                  "jobId": "ac08b537-6024-4d36-a61b-94e1c990ebd2",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Succeeded",
                  "status": "Completed",
                  "creationTime": "2017-03-30T10:02:47.23+08:00",
                  "startTime": "2017-03-30T10:03:09.153+08:00",
                  "lastModifiedTime": "2017-03-30T10:03:13.933+08:00",
                  "endTime": "2017-03-30T10:03:13.933+08:00",
                  "jobScheduleId": "4664fbae-62b3-4fec-9aa8-c267e2c893bb"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/299920cb-c908-49d1-bd0a-41873ad558bb",
                "properties": {
                  "jobId": "299920cb-c908-49d1-bd0a-41873ad558bb",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Succeeded",
                  "status": "Completed",
                  "creationTime": "2017-03-30T10:00:22.133+08:00",
                  "startTime": "2017-03-30T10:01:43.51+08:00",
                  "lastModifiedTime": "2017-03-30T10:02:05.12+08:00",
                  "endTime": "2017-03-30T10:02:05.12+08:00",
                  "jobScheduleId": "f1b61fad-b85a-4c1f-a3df-2bdf0f22bae1"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/b0cd9455-7f40-4878-b1e9-68d256ee4d69",
                "properties": {
                  "jobId": "b0cd9455-7f40-4878-b1e9-68d256ee4d69",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Succeeded",
                  "status": "Completed",
                  "creationTime": "2017-03-30T09:59:11.77+08:00",
                  "startTime": "2017-03-30T09:59:51.35+08:00",
                  "lastModifiedTime": "2017-03-30T10:00:05.21+08:00",
                  "endTime": "2017-03-30T10:00:05.21+08:00",
                  "jobScheduleId": "69bb5960-f2f6-4579-bf8d-014f6e775d68"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/9f8ee99e-ec36-49bd-beb8-9086a6270579",
                "properties": {
                  "jobId": "9f8ee99e-ec36-49bd-beb8-9086a6270579",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": null,
                  "provisioningState": "Succeeded",
                  "status": "Completed",
                  "creationTime": "2017-03-30T09:55:55.2+08:00",
                  "startTime": "2017-03-30T09:57:07.14+08:00",
                  "lastModifiedTime": "2017-03-30T09:57:22.563+08:00",
                  "endTime": "2017-03-30T09:57:22.563+08:00",
                  "jobScheduleId": "7752b3a6-e443-48cd-ada0-6e70f4e43e4d"
                }
              }
            ]
          }
        }
      }
    },
    "resumeJob": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Job",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Get"
}