{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}": {
      "delete": {
        "tags": [
          "DscConfiguration"
        ],
        "operationId": "DscConfiguration_Delete",
        "description": "Delete the dsc configuration identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "x-ms-examples": {
          "Delete DSC Configuration": {
            "$ref": "#/definitions/deleteDscConfiguration"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The configuration name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "DscConfiguration"
        ],
        "operationId": "DscConfiguration_Get",
        "description": "Retrieve the configuration identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "x-ms-examples": {
          "Get a DSC Configuration": {
            "$ref": "#/definitions/getDscConfiguration"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The configuration name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/DscConfiguration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DscConfiguration"
        ],
        "operationId": "DscConfiguration_CreateOrUpdate",
        "description": "Create the configuration identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "x-ms-examples": {
          "Create or Update Configuration": {
            "$ref": "#/definitions/createOrUpdateDscConfiguration"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The create or update parameters for configuration."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/DscConfigurationCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for configuration."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/DscConfiguration"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/DscConfiguration"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations/{configurationName}/content": {
      "get": {
        "tags": [
          "DscConfiguration"
        ],
        "operationId": "DscConfiguration_GetContent",
        "description": "Retrieve the configuration script identified by configuration name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "x-ms-examples": {
          "Get DSC Configuration content": {
            "$ref": "#/definitions/getDscConfigurationContent"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The configuration name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/configurations": {
      "get": {
        "tags": [
          "DscConfiguration"
        ],
        "operationId": "DscConfiguration_ListByAutomationAccount",
        "description": "Retrieve a list of configurations.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/configurationoperations"
        },
        "x-ms-examples": {
          "Get DSC Configuration": {
            "$ref": "#/definitions/getAllDscConfigurations"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/DscConfigurationListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "deleteDscConfiguration": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "configurationName": "TemplateBasic",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "getDscConfiguration": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "configurationName": "TemplateBasic",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/TemplateBasic",
            "name": "TemplateBasic",
            "type": "Microsoft.Automation/AutomationAccounts/Configurations",
            "location": "East US 2",
            "tags": {},
            "etag": "\"636263396635600000\"",
            "properties": {
              "provisioningState": null,
              "jobCount": 0,
              "parameters": {},
              "description": "sample configuration",
              "source": null,
              "state": "Published",
              "creationTime": "2017-03-28T23:14:23.56+00:00",
              "lastModifiedTime": "2017-03-28T23:14:23.56+00:00",
              "logVerbose": false
            }
          }
        }
      }
    },
    "createOrUpdateDscConfiguration": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount18",
        "configurationName": "SetupServer",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "source": {
              "hash": {
                "algorithm": "sha256",
                "value": "A9E5DB56BA21513F61E0B3868816FDC6D4DF5131F5617D7FF0D769674BD5072F"
              },
              "type": "embeddedContent",
              "value": "Configuration SetupServer {\r\n    Node localhost {\r\n                               WindowsFeature IIS {\r\n                               Name = \"Web-Server\";\r\n            Ensure = \"Present\"\r\n        }\r\n    }\r\n}"
            },
            "description": "sample configuration"
          },
          "name": "SetupServer",
          "location": "East US 2"
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer",
            "name": "SetupServer",
            "type": "Microsoft.Automation/AutomationAccounts/Configurations",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "provisioningState": "Succeeded",
              "jobCount": 0,
              "parameters": {},
              "description": "sample configuration",
              "source": null,
              "state": null,
              "creationTime": "0001-01-01T00:00:00+00:00",
              "lastModifiedTime": "0001-01-01T00:00:00+00:00",
              "logVerbose": false
            }
          }
        },
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer",
            "name": "SetupServer",
            "type": "Microsoft.Automation/AutomationAccounts/Configurations",
            "location": "East US 2",
            "tags": {},
            "etag": "\"636263396635600000\"",
            "properties": {
              "provisioningState": "Succeeded",
              "jobCount": 0,
              "parameters": {},
              "description": "sample configuration",
              "source": null,
              "state": "Published",
              "creationTime": "2017-03-28T23:14:23.56+00:00",
              "lastModifiedTime": "2017-03-28T23:14:23.56+00:00",
              "logVerbose": false
            }
          }
        }
      }
    },
    "getDscConfigurationContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "configurationName": "TemplateBasic",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": "\tconfiguration TemplateWithConfigData{\r\n    <#\r\n        .DESCRIPTION\r\n        DSC Coniguration that uses ConfigData file\r\n\r\n        .EXAMPLE\r\n        TemplateWithConfigData -outpath c:\\dsc\\\r\n\r\n        .NOTES\r\n        This configuration requires the corresponding configdata file\r\n    #>\r\n\r\n    Import-DscResource -ModuleName 'PSDesiredStateConfiguration', @{ModuleName='xPSDesiredStateConfiguration';ModuleVersion='5.0.0.0'\r\n                    }\r\n    \r\n    Node $AllNodes.NodeName{\r\n        # WindowsOptionalFeature is compatible with the Nano Server installation option\r\n        File testfile{\r\n            Ensure          = 'Present'\r\n            DestinationPath = $Data.Path\r\n            Contents        = $Data.Contents\r\n                        }\r\n        xArchive testarchive{\r\n            Ensure          = 'Present'\r\n            Destination     = $Data.Destination\r\n            Path            = (Get-ChildItem $Data.Path).ParentFolder\r\n                        }\r\n                    }\r\n                }\r\n\r\nconfiguration TemplateBasic{\r\n    <#\r\n        .DESCRIPTION\r\n        Basic configuration template\r\n\r\n        .EXAMPLE\r\n        TemplateBasic -outpath c:\\dsc\\\r\n\r\n        .NOTES\r\n        This is the most basic configuration and does not take parameters or configdata\r\n    #>\r\n\r\n    Import-DscResource -module 'PSDesiredStateConfiguration'\r\n    \r\n    Node localhost{\r\n        # WindowsOptionalFeature is compatible with the Nano Server installation option\r\n        File testfile{\r\n            Ensure          = 'Present'\r\n            DestinationPath = 'c:\\filetoo.txt'\r\n            Contents        = 'this is some text too'\r\n                        }\r\n                    }\r\n                }"
        }
      }
    },
    "getAllDscConfigurations": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/configurations/SetupServer",
                "location": "East US 2",
                "name": "SetupServer",
                "type": "Microsoft.Automation/AutomationAccounts/Configurations",
                "properties": {
                  "state": "Published",
                  "creationTime": "2017-03-28T18:53:24.997+00:00",
                  "lastModifiedTime": "2017-03-28T18:53:24.997+00:00"
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {}
}