{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports": {
      "get": {
        "tags": [
          "NodeReports"
        ],
        "operationId": "NodeReports_ListByNode",
        "description": "Retrieve the Dsc node report list by node id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "x-ms-examples": {
          "List DSC reports by node id.": {
            "$ref": "#/definitions/listDscNodeReportsByNode"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the list operation."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/DscNodeReportListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}": {
      "get": {
        "tags": [
          "NodeReports"
        ],
        "operationId": "NodeReports_Get",
        "description": "Retrieve the Dsc node report data by node id and report id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "x-ms-examples": {
          "Get Dsc node report data by node id and report id. ": {
            "$ref": "#/definitions/getDscNodeReport"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node id."
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The report id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/DscNodeReport"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}/reports/{reportId}/content": {
      "get": {
        "tags": [
          "NodeReports"
        ],
        "operationId": "NodeReports_GetContent",
        "description": "Retrieve the Dsc node reports by node id and report id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodereportoperations"
        },
        "x-ms-examples": {
          "List DSC reports by node id.": {
            "$ref": "#/definitions/listDscNodeReportsByNode-1"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Dsc node id."
          },
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The report id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "getDscNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
            "lastSeen": "2017-03-28T23:16:30.3192468+00:00",
            "registrationTime": "2017-03-28T20:19:24.7915026+00:00",
            "name": "DSCCOMP",
            "ip": "ip",
            "nodeId": "nodeId",
            "status": "Pending",
            "nodeConfiguration": {
              "name": "SetupServer.localhost"
            }
          }
        }
      }
    },
    "updateDscNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "api-version": "2015-10-31",
        "parameters": {
          "nodeId": "nodeId",
          "nodeConfiguration": {
            "name": "SetupServer.localhost"
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
            "lastSeen": "2017-03-28T23:16:30.3192468+00:00",
            "registrationTime": "2017-03-28T20:19:24.7915026+00:00",
            "name": "DSCCOMP",
            "ip": "172.16.2.5;127.0.0.1;fe80::4c51:9518:aa3c:256a%5;::2000:0:0:0;::1;::2000:0:0:0;2001:0:9d38:78cf:106b:130a:53ef:fdfa;fe80::106b:1",
            "nodeId": "nodeId",
            "status": null,
            "nodeConfiguration": {
              "name": "SetupServer.localhost"
            }
          }
        }
      }
    },
    "listAllDscNodesByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
                "name": "DSCCOMP",
                "ip": "172.16.2.5;127.0.0.1;fe80::4c51:9518:aa3c:256a%5;::2000:0:0:0;::1;::2000:0:0:0;2001:0:9d38:78cf:106b:130a:53ef:fdfa;fe80::106b:1",
                "lastSeen": "2017-03-28T23:16:30.3192468+00:00",
                "registrationTime": "2017-03-28T20:19:24.7915026+00:00",
                "nodeId": "nodeId",
                "status": "Pending",
                "nodeConfiguration": {
                  "name": "SetupServer.localhost"
                }
              }
            ]
          }
        }
      }
    },
    "listDscNodeReportsByNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:16:27.587+00:00",
                "endTime": "2017-03-28T23:16:27.587+00:00",
                "lastModifiedTime": "2017-03-28T23:16:29.4440401+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5eac-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:16:26.015+00:00",
                "endTime": "2017-03-28T23:16:27.015+00:00",
                "lastModifiedTime": "2017-03-28T23:16:28.3813034+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9",
                "reportId": "77c280c2-140a-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:01:25.986+00:00",
                "endTime": "2017-03-28T23:01:26.986+00:00",
                "lastModifiedTime": "2017-03-28T23:01:28.216963+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5382-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:46:27.668+00:00",
                "endTime": "2017-03-28T22:46:28.668+00:00",
                "lastModifiedTime": "2017-03-28T22:46:29.0439184+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5381-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:46:25.957+00:00",
                "endTime": "2017-03-28T22:46:26.957+00:00",
                "lastModifiedTime": "2017-03-28T22:46:27.9498533+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9",
                "reportId": "46d97d6a-1406-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:31:25.941+00:00",
                "endTime": "2017-03-28T22:31:26.941+00:00",
                "lastModifiedTime": "2017-03-28T22:31:27.6825492+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9",
                "reportId": "48c8e301-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:17:10.163+00:00",
                "endTime": "2017-03-28T22:17:10.163+00:00",
                "lastModifiedTime": "2017-03-28T22:17:11.0040472+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "reportId": "2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:16:25.897+00:00",
                "endTime": "2017-03-28T22:17:09.897+00:00",
                "lastModifiedTime": "2017-03-28T22:16:27.3128731+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9",
                "reportId": "15ee63e4-1402-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:01:25.899+00:00",
                "endTime": "2017-03-28T22:01:27.899+00:00",
                "lastModifiedTime": "2017-03-28T22:01:26.6282252+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9",
                "reportId": "0508f316-1400-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:46:38.511+00:00",
                "endTime": "2017-03-28T21:46:39.511+00:00",
                "lastModifiedTime": "2017-03-28T21:46:40.577983+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9",
                "reportId": "fd799a51-13ff-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:46:25.843+00:00",
                "endTime": "2017-03-28T21:46:37.843+00:00",
                "lastModifiedTime": "2017-03-28T21:46:28.4660077+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "reportId": "e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:31:25.818+00:00",
                "endTime": "2017-03-28T21:31:27.818+00:00",
                "lastModifiedTime": "2017-03-28T21:31:28.1503168+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:16:35.538+00:00",
                "endTime": "2017-03-28T21:16:59.538+00:00",
                "lastModifiedTime": "2017-03-28T21:16:37.1768158+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:16:26.956+00:00",
                "endTime": "2017-03-28T21:16:34.956+00:00",
                "lastModifiedTime": "2017-03-28T21:16:29.2370664+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9",
                "reportId": "b6915efa-13f9-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:01:29.916+00:00",
                "endTime": "2017-03-28T21:02:02.916+00:00",
                "lastModifiedTime": "2017-03-28T21:01:31.875597+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9",
                "reportId": "a3560dca-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:46:38.626+00:00",
                "endTime": "2017-03-28T20:46:44.626+00:00",
                "lastModifiedTime": "2017-03-28T20:46:39.749649+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "reportId": "9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:46:25.676+00:00",
                "endTime": "2017-03-28T20:46:37.676+00:00",
                "lastModifiedTime": "2017-03-28T20:46:27.2602881+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9",
                "reportId": "833bd89b-13f5-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:31:25.805+00:00",
                "endTime": "2017-03-28T20:40:24.805+00:00",
                "lastModifiedTime": "2017-03-28T20:31:27.1356547+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              }
            ]
          }
        }
      }
    },
    "getDscNodeReport": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
            "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
            "type": "Consistency",
            "startTime": "2017-03-28T23:16:27.587+00:00",
            "endTime": "2017-03-28T23:16:27.587+00:00",
            "lastModifiedTime": "2017-03-28T23:16:29.4440401+00:00",
            "status": "Compliant",
            "refreshMode": "Pull",
            "rebootRequested": "False",
            "reportFormatVersion": "2.0",
            "configurationVersion": "2.0.0",
            "errors": [],
            "resources": [
              {
                "resourceId": "[WindowsFeature]IIS",
                "sourceInfo": "::4::32::WindowsFeature",
                "dependsOn": [],
                "moduleName": "PsDesiredStateConfiguration",
                "moduleVersion": "1.1",
                "resourceName": "WindowsFeature",
                "error": null,
                "status": "Compliant",
                "durationInSeconds": 0.25,
                "startDate": "2017-03-28T23:16:28.181+00:00"
              }
            ],
            "metaConfiguration": {
              "configurationModeFrequencyMins": 15,
              "rebootNodeIfNeeded": false,
              "configurationMode": "ApplyAndMonitor",
              "actionAfterReboot": "ContinueConfiguration",
              "certificateId": "certId",
              "refreshFrequencyMins": 30,
              "allowModuleOverwrite": false
            },
            "hostName": "DSCCOMP",
            "iPV4Addresses": [
              "172.16.2.5",
              "127.0.0.1"
            ],
            "iPV6Addresses": [
              "fe80::4c51:9518:aa3c:256a%5",
              "::2000:0:0:0",
              "::1",
              "::2000:0:0:0",
              "2001:0:9d38:78cf:106b:130a:53ef:fdfa",
              "fe80::106b:130a:53ef:fdfa%7"
            ],
            "numberOfResources": 1,
            "rawErrors": null
          }
        }
      }
    },
    "listDscNodeReportsByNode-1": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:16:27.587+00:00",
                "endTime": "2017-03-28T23:16:27.587+00:00",
                "lastModifiedTime": "2017-03-28T23:16:29.4440401+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5eac-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:16:26.015+00:00",
                "endTime": "2017-03-28T23:16:27.015+00:00",
                "lastModifiedTime": "2017-03-28T23:16:28.3813034+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9",
                "reportId": "77c280c2-140a-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T23:01:25.986+00:00",
                "endTime": "2017-03-28T23:01:26.986+00:00",
                "lastModifiedTime": "2017-03-28T23:01:28.216963+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5382-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:46:27.668+00:00",
                "endTime": "2017-03-28T22:46:28.668+00:00",
                "lastModifiedTime": "2017-03-28T22:46:29.0439184+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5381-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:46:25.957+00:00",
                "endTime": "2017-03-28T22:46:26.957+00:00",
                "lastModifiedTime": "2017-03-28T22:46:27.9498533+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9",
                "reportId": "46d97d6a-1406-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:31:25.941+00:00",
                "endTime": "2017-03-28T22:31:26.941+00:00",
                "lastModifiedTime": "2017-03-28T22:31:27.6825492+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9",
                "reportId": "48c8e301-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:17:10.163+00:00",
                "endTime": "2017-03-28T22:17:10.163+00:00",
                "lastModifiedTime": "2017-03-28T22:17:11.0040472+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "reportId": "2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:16:25.897+00:00",
                "endTime": "2017-03-28T22:17:09.897+00:00",
                "lastModifiedTime": "2017-03-28T22:16:27.3128731+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9",
                "reportId": "15ee63e4-1402-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T22:01:25.899+00:00",
                "endTime": "2017-03-28T22:01:27.899+00:00",
                "lastModifiedTime": "2017-03-28T22:01:26.6282252+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9",
                "reportId": "0508f316-1400-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:46:38.511+00:00",
                "endTime": "2017-03-28T21:46:39.511+00:00",
                "lastModifiedTime": "2017-03-28T21:46:40.577983+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9",
                "reportId": "fd799a51-13ff-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:46:25.843+00:00",
                "endTime": "2017-03-28T21:46:37.843+00:00",
                "lastModifiedTime": "2017-03-28T21:46:28.4660077+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "reportId": "e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:31:25.818+00:00",
                "endTime": "2017-03-28T21:31:27.818+00:00",
                "lastModifiedTime": "2017-03-28T21:31:28.1503168+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:16:35.538+00:00",
                "endTime": "2017-03-28T21:16:59.538+00:00",
                "lastModifiedTime": "2017-03-28T21:16:37.1768158+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:16:26.956+00:00",
                "endTime": "2017-03-28T21:16:34.956+00:00",
                "lastModifiedTime": "2017-03-28T21:16:29.2370664+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9",
                "reportId": "b6915efa-13f9-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T21:01:29.916+00:00",
                "endTime": "2017-03-28T21:02:02.916+00:00",
                "lastModifiedTime": "2017-03-28T21:01:31.875597+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9",
                "reportId": "a3560dca-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:46:38.626+00:00",
                "endTime": "2017-03-28T20:46:44.626+00:00",
                "lastModifiedTime": "2017-03-28T20:46:39.749649+00:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "reportId": "9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:46:25.676+00:00",
                "endTime": "2017-03-28T20:46:37.676+00:00",
                "lastModifiedTime": "2017-03-28T20:46:27.2602881+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9",
                "reportId": "833bd89b-13f5-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-28T20:31:25.805+00:00",
                "endTime": "2017-03-28T20:40:24.805+00:00",
                "lastModifiedTime": "2017-03-28T20:31:27.1356547+00:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {}
}