{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/content": {
      "get": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_GetContent",
        "description": "Retrieve the content of runbook draft identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Get runbook draft content": {
            "$ref": "#/definitions/getRunbookDraftContent"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_CreateOrUpdate",
        "description": "Updates the runbook draft with runbookStream as its content.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Create or update runbook draft": {
            "$ref": "#/definitions/createOrUpdateRunbookDraft"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "name": "runbookContent",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "format": "file"
            },
            "description": "The runbook draft content."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and  the operation will complete asynchronously."
          },
          "200": {
            "description": "OK."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft": {
      "get": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_Get",
        "description": "Retrieve the runbook draft identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Get runbook draft": {
            "$ref": "#/definitions/getRunbookDraft"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/RunbookDraft"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/publish": {
      "post": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_Publish",
        "description": "Publish runbook draft.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Publish runbook draft": {
            "$ref": "#/definitions/publishRunbookDraft"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the publish runbook operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted and  the operation will complete asynchronously."
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Runbook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/undoEdit": {
      "post": {
        "tags": [
          "RunbookDraft"
        ],
        "operationId": "RunbookDraft_UndoEdit",
        "description": "Retrieve the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookdraftoperations"
        },
        "x-ms-examples": {
          "Undo draft edit to last known published state": {
            "$ref": "#/definitions/undoDraftEditToLastKnownPublishedState"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/RunbookDraftUndoEditResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "getRunbookDraftContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n        For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n        LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\n    #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n    #Get the credential with the above name from the Automation Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n    #Connect to your Azure Account\r\n    $Account = Add-AzureAccount -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n    #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n    \r\n    #Get all the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n        Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n        Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
        }
      }
    },
    "createOrUpdateRunbookDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "api-version": "2015-10-31",
        "runbookContent": "<#\r\n        .DESCRIPTION\r\n            An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n            For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n        .NOTES\r\n            AUTHOR: Azure Automation Team\r\n            LASTEDIT: Mar27,\r\n            2015\r\n    #>\r\n    workflow Get-AzureVMTutorial{\r\n        #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n        $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n        #Get the credential with the above name from the Automation Asset store\r\n        $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n        if(!$Cred){\r\n            Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n        #Connect to your Azure Account\r\n        $Account = Add-AzureAccount -Credential $Cred\r\n        if(!$Account){\r\n            Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n        #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n        #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n        \r\n        #Get all the VMs you have in your Azure subscription\r\n        $VMs = Get-AzureVM\r\n\r\n        #Print out up to10 of those VMs\r\n        if(!$VMs){\r\n            Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n            Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
      },
      "responses": {
        "202": {},
        "200": {
          "headers": {},
          "body": "<#\r\n        .DESCRIPTION\r\n            An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n            For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n        .NOTES\r\n            AUTHOR: Azure Automation Team\r\n            LASTEDIT: Mar27,\r\n                2015\r\n    #>\r\n    workflow Get-AzureVMTutorial{\r\n        #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n        $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n        #Get the credential with the above name from the Automation Asset store\r\n        $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n        if(!$Cred){\r\n            Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                    }\r\n\r\n        #Connect to your Azure Account\r\n        $Account = Add-AzureAccount -Credential $Cred\r\n        if(!$Account){\r\n            Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                    }\r\n\r\n        #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n        #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n        \r\n        #Get all the VMs you have in your Azure subscription\r\n        $VMs = Get-AzureVM\r\n\r\n        #Print out up to10 of those VMs\r\n        if(!$VMs){\r\n            Write-Output\"No VMs were found in your subscription.\"\r\n                    } else{\r\n            Write-Output $VMs[0..9\r\n                        ]\r\n                    }\r\n                }"
        }
      }
    },
    "getRunbookDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263335437500000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "serviceManagementTags": null,
              "outputTypes": [],
              "creationTime": "2017-03-28T21:32:23.75+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T21:32:23.75+00:00"
            }
          }
        }
      }
    },
    "publishRunbookDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "202": {},
        "200": {}
      }
    },
    "undoDraftEditToLastKnownPublishedState": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "400": {}
      }
    },
    "getRunbookContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n        For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n        LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\n    #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n    #Get the credential with the above name from the Automation Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n    #Connect to your Azure Account\r\n    $Account = Add-AzureAccount -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n    #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n    \r\n    #Get all the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n        Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n        Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
        }
      }
    },
    "getRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263335437500000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "serviceManagementTags": null,
              "outputTypes": [],
              "creationTime": "2017-03-28T21:32:23.75+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T21:32:23.75+00:00"
            }
          }
        }
      }
    },
    "createOrUpdateRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "logVerbose": false,
            "logProgress": true,
            "runbookType": "PowerShellWorkflow",
            "publishContentLink": {
              "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-automation-runbook-getvms/Runbooks/Get-AzureVMTutorial.ps1",
              "contentHash": {
                "algorithm": "SHA256",
                "value": "115775B8FF2BE672D8A946BD0B489918C724DDE15A440373CA54461D53010A80"
              }
            },
            "description": "Description of the Runbook",
            "logActivityTrace": 1
          },
          "name": "Get-AzureVMTutorial",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263318837230000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "serviceManagementTags": null,
              "outputTypes": [],
              "creationTime": "2017-03-28T21:04:43.66+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T21:04:43.723+00:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263318866000000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": true,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "serviceManagementTags": null,
              "outputTypes": [],
              "creationTime": "2017-03-28T21:04:43.66+00:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-28T21:04:46.6+00:00"
            }
          }
        },
        "400": {
          "code": "BadRequest",
          "message": "{\"Message\":\"Cannot specify the content link for a published runbook and draft at the same time.\"}"
        }
      }
    },
    "updateRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "description": "Updated Description of the Runbook",
            "logVerbose": false,
            "logProgress": true,
            "logActivityTrace": 1
          },
          "name": "Get-AzureVMTutorial",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          }
        }
      },
      "responses": {
        "200": {
          "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
          "name": "Get-AzureVMTutorial",
          "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          },
          "etag": "\"636265044994500000\"",
          "properties": {
            "description": "Updated Description of the Runbook",
            "logVerbose": false,
            "logProgress": true,
            "logActivityTrace": 1,
            "runbookType": "PowerShellWorkflow",
            "parameters": {},
            "state": "Published",
            "jobCount": 0,
            "provisioningState": "Succeeded",
            "serviceManagementTags": null,
            "outputTypes": [],
            "creationTime": "2017-03-30T21:01:33.777+00:00",
            "lastModifiedBy": "myEmaild@microsoft.com",
            "lastModifiedTime": "2017-03-30T21:01:39.45+00:00"
          }
        }
      }
    },
    "deleteRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "listRunbooksByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/ASR-AddPublicIp",
                "location": "East US 2",
                "name": "ASR-AddPublicIp",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShell",
                  "state": "Published",
                  "logVerbose": true,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-28T21:32:25.78+00:00",
                  "lastModifiedTime": "2017-03-28T21:32:25.81+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/AutoExport",
                "location": "East US 2",
                "name": "AutoExport",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShell",
                  "state": "Published",
                  "logVerbose": true,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-28T21:32:27.327+00:00",
                  "lastModifiedTime": "2017-03-28T21:32:27.327+00:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
                "location": "East US 2",
                "name": "Get-AzureVMTutorial",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShellWorkflow",
                  "state": "Published",
                  "logVerbose": false,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-28T21:32:23.75+00:00",
                  "lastModifiedTime": "2017-03-28T21:32:23.75+00:00"
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {}
}