{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/statistics": {
      "get": {
        "tags": [
          "Statistics"
        ],
        "operationId": "Statistics_ListByAutomationAccount",
        "description": "Retrieve the statistics for the account.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/statisticsoperations"
        },
        "x-ms-examples": {
          "Get statistics of an automation account": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount11",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/New",
                      "counterProperty": "New",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Activating",
                      "counterProperty": "Activating",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Running",
                      "counterProperty": "Running",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Completed",
                      "counterProperty": "Completed",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Failed",
                      "counterProperty": "Failed",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopped",
                      "counterProperty": "Stopped",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Blocked",
                      "counterProperty": "Blocked",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspended",
                      "counterProperty": "Suspended",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Disconnected",
                      "counterProperty": "Disconnected",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspending",
                      "counterProperty": "Suspending",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopping",
                      "counterProperty": "Stopping",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Resuming",
                      "counterProperty": "Resuming",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Removing",
                      "counterProperty": "Removing",
                      "counterValue": 0,
                      "startTime": "2017-03-19T02:11:49.9879197+00:00",
                      "endTime": "2017-03-26T02:11:49.9879197+00:00"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StatisticsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": null,
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-toc-name": "Statistics",
  "x-internal-split-type": "OperationGroup",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "AutomationAccount/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "AutomationAccount/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "AutomationAccount/Get"
    },
    {
      "displayName": "List",
      "relativePath": "AutomationAccount/List"
    },
    {
      "displayName": "List By Resource Group",
      "relativePath": "AutomationAccount/ListByResourceGroup"
    },
    {
      "displayName": "Update",
      "relativePath": "AutomationAccount/Update"
    }
  ]
}