{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagementClient",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/generateUri": {
      "post": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_GenerateUri",
        "description": "Generates a Uri for use in creating a webhook.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks/{webhookName}": {
      "delete": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_Delete",
        "description": "Delete the webhook by name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Delete webhook": {
            "$ref": "#/definitions/deleteWebhook"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_Get",
        "description": "Retrieve the webhook identified by webhook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Get webhook": {
            "$ref": "#/definitions/getWebhook"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Webhook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_CreateOrUpdate",
        "description": "Create the webhook identified by webhook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Create or update webhook": {
            "$ref": "#/definitions/createOrUpdateWebhook"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/WebhookCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for webhook."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Webhook"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/Webhook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_Update",
        "description": "Update the webhook identified by webhook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "Update webhook": {
            "$ref": "#/definitions/updateWebhook"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "webhookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The webhook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/WebhookUpdateParameters"
            },
            "description": "The update parameters for webhook."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Webhook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/webhooks": {
      "get": {
        "tags": [
          "Webhook"
        ],
        "operationId": "Webhook_ListByAutomationAccount",
        "description": "Retrieve a list of webhooks.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/webhookoperations"
        },
        "x-ms-examples": {
          "List webhooks by Automation Account": {
            "$ref": "#/definitions/listWebhooksByAutomationAccount"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/WebhookListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "deleteWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-29T22:18:14.6651862+00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00"
            }
          }
        }
      }
    },
    "createOrUpdateWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "TestWebhook",
          "properties": {
            "isEnabled": true,
            "uri": "https://s1events.azure-automation.net/webhooks?token=7u3KfQvM1vUPWaDMFRv2%2fAA4Jqx8QwS8aBuyO6Xsdcw%3d",
            "expiryTime": "2018-03-29T22:18:13.7002872Z",
            "runbook": {
              "name": "TestRunbook"
            }
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-29T22:18:14.6651862+00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-29T22:18:14.6651862+00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00"
            }
          }
        }
      }
    },
    "updateWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "TestWebhook",
          "properties": {
            "isEnabled": false,
            "description": "updated webhook"
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": false,
              "expiryTime": "2018-03-30T23:03:14.5752078+00:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-30T21:52:01.272378+00:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-30T23:03:14.9069441+00:00"
            }
          }
        }
      }
    },
    "listWebhooksByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                "name": "TestWebhook",
                "properties": {
                  "isEnabled": true,
                  "expiryTime": "2018-03-29T22:18:13.7002872+00:00",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "lastInvokedTime": null,
                  "runOn": null,
                  "parameters": null,
                  "uri": null,
                  "creationTime": "2017-03-29T22:18:14.6651862+00:00",
                  "lastModifiedBy": "",
                  "lastModifiedTime": "2017-03-29T22:18:14.6651862+00:00"
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {}
}