{
  "swagger": "2.0",
  "info": {
    "title": "Update Management API",
    "description": "APIs for managing software update configurations.",
    "contact": {
      "name": "Mohamed Enein"
    },
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "basePath": "/",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurations/{softwareUpdateConfigurationName}": {
      "delete": {
        "tags": [
          "Software Update Configuration"
        ],
        "description": "delete a specific software update configuration.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "x-ms-examples": {
          "Delete software update configuration": {
            "$ref": "#/definitions/deleteSoftwareUpdateConfiguration"
          }
        },
        "operationId": "SoftwareUpdateConfigurations_Delete",
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "softwareUpdateConfigurationName",
            "description": "The name of the software update configuration to be created.",
            "type": "string",
            "required": true,
            "in": "path"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/clientRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "The software update configuration has been deleted."
          },
          "204": {
            "description": "The software update configuration does not exist."
          },
          "404": {
            "description": "Resource group, account, or software update configuration doesn't exist."
          }
        },
        "x-internal-toc-name": "Delete"
      }
    }
  },
  "definitions": {
    "createSoftwareUpdateConfiguration": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "myaccount",
        "softwareUpdateConfigurationName": "testpatch",
        "api-version": "2017-05-15-preview",
        "parameters": {
          "properties": {
            "updateConfiguration": {
              "operatingSystem": "Windows",
              "duration": "PT2H0M",
              "windows": {
                "excludedKbNumbers": [
                  "168934",
                  "168973"
                ],
                "includedUpdateClassifications": "Critical"
              },
              "azureVirtualMachines": [
                "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01",
                "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02",
                "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03"
              ],
              "nonAzureComputerNames": [
                "box1.contoso.com",
                "box2.contoso.com"
              ]
            },
            "scheduleInfo": {
              "frequency": "Hour",
              "startTime": "2017-10-19T20:22:57+08:00",
              "timeZone": "America/Los_Angeles",
              "interval": 1,
              "expiryTime": "2018-11-09T19:22:57+08:00",
              "advancedSchedule": {
                "weekDays": [
                  "Monday",
                  "Thursday"
                ]
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "name": "testpatch",
            "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurations/testpatch",
            "properties": {
              "updateConfiguration": {
                "operatingSystem": "Windows",
                "windows": {
                  "includedUpdateClassifications": "Critical",
                  "excludedKbNumbers": [
                    "168934",
                    "168973"
                  ]
                },
                "linux": {},
                "duration": "PT2H",
                "azureVirtualMachines": [
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01",
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02",
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03"
                ],
                "nonAzureComputerNames": [
                  "box1.contoso.com",
                  "box2.contoso.com"
                ]
              },
              "scheduleInfo": {
                "description": "",
                "startTime": "2017-10-20T03:22:00+08:00",
                "startTimeOffsetMinutes": -420.0,
                "expiryTime": "2018-11-10T03:22:00+08:00",
                "expiryTimeOffsetMinutes": -480.0,
                "isEnabled": true,
                "nextRun": "2017-10-20T03:22:00+08:00",
                "nextRunOffsetMinutes": -420.0,
                "interval": 1,
                "frequency": "Week",
                "creationTime": "2017-10-20T02:54:50.5233333+08:00",
                "lastModifiedTime": "2017-10-20T02:54:50.5233333+08:00",
                "timeZone": "America/Los_Angeles",
                "advancedSchedule": {}
              },
              "provisioningState": "Provisioning",
              "error": {},
              "creationTime": "2017-10-20T02:54:50.5233333+08:00",
              "createdBy": "adam@contoso.com",
              "lastModifiedBy": "adam@contoso.com",
              "lastModifiedTime": "2017-10-20T02:54:50.68+08:00"
            }
          }
        },
        "201": {
          "headers": {},
          "body": {
            "name": "testpatch",
            "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurations/testpatch",
            "properties": {
              "updateConfiguration": {
                "operatingSystem": "Windows",
                "windows": {
                  "includedUpdateClassifications": "Critical",
                  "excludedKbNumbers": [
                    "168934",
                    "168973"
                  ]
                },
                "linux": {},
                "duration": "PT2H",
                "azureVirtualMachines": [
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01",
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02",
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03"
                ],
                "nonAzureComputerNames": [
                  "box1.contoso.com",
                  "box2.contoso.com"
                ]
              },
              "scheduleInfo": {
                "description": "",
                "startTime": "2017-10-20T03:22:00+08:00",
                "startTimeOffsetMinutes": -420.0,
                "expiryTime": "2018-11-10T03:22:00+08:00",
                "expiryTimeOffsetMinutes": -480.0,
                "isEnabled": true,
                "nextRun": "2017-10-20T03:22:00+08:00",
                "nextRunOffsetMinutes": -420.0,
                "interval": 1,
                "frequency": "Week",
                "creationTime": "2017-10-20T02:54:50.5233333+08:00",
                "lastModifiedTime": "2017-10-20T02:54:50.5233333+08:00",
                "timeZone": "America/Los_Angeles",
                "advancedSchedule": null
              },
              "provisioningState": "Provisioning",
              "error": {},
              "creationTime": "2017-10-20T02:54:50.5233333+08:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-10-20T02:54:50.68+08:00"
            }
          }
        },
        "400": {
          "code": "BadRequest",
          "message": "{\"Message\":\"The request is invalid.\",\"ModelState\":{\"softwareUpdateConfiguration.properties.scheduleInfo\":[\"The scheduleInfo field is required.\"]}}"
        },
        "404": {
          "code": "NotFound",
          "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
        },
        "409": {
          "code": "Conflict",
          "message": "\"Software update configuration with the same name already exist.\""
        }
      }
    },
    "getSoftwareUpdateConfigurationByName": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "myaccount",
        "softwareUpdateConfigurationName": "mypatch",
        "api-version": "2017-05-15-preview",
        "body": {}
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "name": "testpatch",
            "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurations/testpatch",
            "properties": {
              "updateConfiguration": {
                "operatingSystem": "Windows",
                "windows": {
                  "includedUpdateClassifications": "Critical",
                  "excludedKbNumbers": [
                    "168934",
                    "168973"
                  ]
                },
                "linux": {},
                "duration": "PT2H",
                "azureVirtualMachines": [
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01",
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02",
                  "/subscriptions/5ae68d89-69a4-454f-b5ce-e443cc4e0067/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03"
                ],
                "nonAzureComputerNames": [
                  "box1.contoso.com",
                  "box2.contoso.com"
                ]
              },
              "scheduleInfo": {
                "description": "",
                "startTime": "2017-10-20T03:22:00+08:00",
                "startTimeOffsetMinutes": -420.0,
                "expiryTime": "2018-11-10T03:22:00+08:00",
                "expiryTimeOffsetMinutes": -480.0,
                "isEnabled": true,
                "nextRun": "2017-10-20T03:22:00+08:00",
                "nextRunOffsetMinutes": -420.0,
                "interval": 1,
                "frequency": "Week",
                "creationTime": "2017-10-20T02:54:50.5233333+08:00",
                "lastModifiedTime": "2017-10-20T02:54:50.5233333+08:00",
                "timeZone": "America/Los_Angeles",
                "advancedSchedule": null
              },
              "provisioningState": "Provisioning",
              "createdBy": "eve@contoso.com",
              "error": {},
              "creationTime": "2017-10-20T02:54:50.5233333+08:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-10-20T02:54:50.68+08:00"
            }
          }
        },
        "404": {
          "code": "NotFound",
          "message": "Software update configuration not found"
        }
      }
    },
    "deleteSoftwareUpdateConfiguration": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "myaccount",
        "softwareUpdateConfigurationName": "mypatch",
        "api-version": "2017-05-15-preview",
        "body": {}
      },
      "responses": {
        "200": {},
        "204": {},
        "404": {
          "code": "NotFound",
          "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
        }
      }
    },
    "listSoftwareUpdateConfigurations": {
      "parameters": {
        "subscriptionId": "1a7d4044-286c-4acb-969a-96639265bf2e",
        "resourceGroupName": "mygroup",
        "automationAccountName": "myaccount",
        "api-version": "2017-05-15-preview",
        "body": {}
      },
      "responses": {
        "200": {
          "value": [
            {
              "name": "testpatch-01",
              "id": "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/Mo-Resources-WCUS/providers/Microsoft.Automation/automationAccounts/Mo-AAA-WCUS/softwareUpdateConfigurations/testpatch-01",
              "properties": {
                "updateConfiguration": {
                  "operatingSystem": "Windows",
                  "windows": {
                    "includedUpdateClassifications": "Critical, Security, UpdateRollup, FeaturePack, ServicePack, Definition, Tools, Updates",
                    "excludedKbNumbers": null
                  },
                  "linux": null,
                  "duration": "PT2H",
                  "azureVirtualMachines": [
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01",
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02",
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03"
                  ],
                  "nonAzureComputerNames": null
                },
                "frequency": "Week",
                "startTime": "2017-10-20T03:22:00+08:00",
                "creationTime": "2017-10-20T02:54:50.5233333+08:00",
                "lastModifiedTime": "2017-10-20T02:54:50.68+08:00",
                "provisioningState": "Succeeded",
                "nextRun": "2017-10-24T03:22:00+08:00"
              }
            },
            {
              "name": "testpatch-02",
              "id": "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/Mo-Resources-WCUS/providers/Microsoft.Automation/automationAccounts/Mo-AAA-WCUS/softwareUpdateConfigurations/testpatch-02",
              "properties": {
                "updateConfiguration": {
                  "operatingSystem": "Windows",
                  "windows": {
                    "includedUpdateClassifications": "Critical, FeaturePack",
                    "excludedKbNumbers": null
                  },
                  "linux": null,
                  "duration": "PT2H30M",
                  "azureVirtualMachines": [
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-04",
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-05",
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-06"
                  ],
                  "nonAzureComputerNames": null
                },
                "frequency": "Hour",
                "startTime": "2018-05-06T03:26:00+08:00",
                "creationTime": "2017-08-12T05:52:02.7733333+08:00",
                "lastModifiedTime": "2017-08-12T05:52:22.88+08:00",
                "provisioningState": "Succeeded",
                "nextRun": "2018-05-06T03:26:00+08:00"
              }
            }
          ]
        },
        "404": {
          "code": "NotFound",
          "message": "{\"Message\":\"Could not find the account. SubscriptionId: 1a7d4044-286c-4acb-969a-96639265bf2e AccountName: myaccount\"}"
        }
      }
    },
    "listSoftwareUpdateConfigurationsByVm": {
      "parameters": {
        "subscriptionId": "1a7d4044-286c-4acb-969a-96639265bf2e",
        "resourceGroupName": "mygroup",
        "automationAccountName": "myaccount",
        "$filter": "properties/updateConfiguration/azureVirtualMachines/any(m: m eq '/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01')",
        "api-version": "2017-05-15-preview",
        "body": {}
      },
      "responses": {
        "200": {
          "value": [
            {
              "name": "testpatch-01",
              "id": "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/Mo-Resources-WCUS/providers/Microsoft.Automation/automationAccounts/Mo-AAA-WCUS/softwareUpdateConfigurations/testpatch-01",
              "properties": {
                "updateConfiguration": {
                  "operatingSystem": "Windows",
                  "windows": {
                    "includedUpdateClassifications": "Critical, Security, UpdateRollup, FeaturePack, ServicePack, Definition, Tools, Updates",
                    "excludedKbNumbers": null
                  },
                  "linux": null,
                  "duration": "PT2H",
                  "azureVirtualMachines": [
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01",
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-02",
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-03"
                  ],
                  "nonAzureComputerNames": null
                },
                "frequency": "Week",
                "startTime": "2017-10-20T03:22:00+08:00",
                "creationTime": "2017-10-20T02:54:50.5233333+08:00",
                "lastModifiedTime": "2017-10-20T02:54:50.68+08:00",
                "provisioningState": "Succeeded",
                "nextRun": "2017-10-24T03:22:00+08:00"
              }
            },
            {
              "name": "testpatch-02",
              "id": "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/Mo-Resources-WCUS/providers/Microsoft.Automation/automationAccounts/Mo-AAA-WCUS/softwareUpdateConfigurations/testpatch-02",
              "properties": {
                "updateConfiguration": {
                  "operatingSystem": "Windows",
                  "windows": {
                    "includedUpdateClassifications": "Critical, FeaturePack",
                    "excludedKbNumbers": null
                  },
                  "linux": null,
                  "duration": "PT2H30M",
                  "azureVirtualMachines": [
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-01",
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-05",
                    "/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/myresources/providers/Microsoft.Compute/virtualMachines/vm-06"
                  ],
                  "nonAzureComputerNames": null
                },
                "frequency": "Hour",
                "startTime": "2018-05-06T03:26:00+08:00",
                "creationTime": "2017-08-12T05:52:02.7733333+08:00",
                "lastModifiedTime": "2017-08-12T05:52:22.88+08:00",
                "provisioningState": "Succeeded",
                "nextRun": "2018-05-06T03:26:00+08:00"
              }
            }
          ]
        },
        "404": {
          "code": "NotFound",
          "message": "Machine is not registered for Update Management.  Assure that the machine is registered for Update Management.  Machine Name(s) or Id(s): /subscriptions/637d11c3-e6a4-46cb-b32c-ee5b6dd9c68a/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/vm01."
        }
      }
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Software Update Configurations",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Delete"
}