{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}": {
      "get": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_Get",
        "description": "Retrieve a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "Get a hybrid worker group": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "testaccount",
              "hybridRunbookWorkerGroupName": "TestHybridGroup",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestHybridGroup",
                  "name": "TestHybridGroup",
                  "hybridRunbookWorkers": [
                    {
                      "name": "TestHybridWorker",
                      "ip": "100.1.1.1",
                      "registrationTime": "2017-03-24T19:43:45.0146578+00:00"
                    }
                  ],
                  "credential": {
                    "name": "myRunAsCredentialName"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The hybrid runbook worker group name"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "Get a hybrid worker group": "hybridRunbookWorkerGroupGet"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Get a hybrid worker group": {
            "request": "GET https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestHybridGroup?api-version=2015-10-31 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 242e66ae-c8e4-4392-a5b5-0c30772783bf\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X GET 'https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestHybridGroup?api-version=2015-10-31' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 242e66ae-c8e4-4392-a5b5-0c30772783bf' \\\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 68557a61-3898-4470-827a-21cdc4643ba6\nx-ms-correlation-request-id: 68557a61-3898-4470-827a-21cdc4643ba6\nx-ms-routing-request-id: WESTUS2:20170904T093014948Z:68557a61-3898-4470-827a-21cdc4643ba6\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 347\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:30:14 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/testaccount/hybridRunbookWorkerGroups/TestHybridGroup\",\"name\":\"TestHybridGroup\",\"hybridRunbookWorkers\":[{\"name\":\"TestHybridWorker\",\"ip\":\"100.1.1.1\",\"registrationTime\":\"2017-03-24T12:43:45.0146578-07:00\"}],\"credential\":{\"name\":\"myRunAsCredentialName\"}}\n"
            }
          }
        },
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "RunAsCredentialAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the credential."
        }
      },
      "description": "Definition of runas credential to use for hybrid worker."
    },
    "HybridRunbookWorker": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the worker machine name."
        },
        "ip": {
          "type": "string",
          "description": "Gets or sets the assigned machine IP address."
        },
        "registrationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the registration time of the worker machine."
        }
      },
      "description": "Definition of hybrid runbook worker."
    },
    "HybridRunbookWorkerGroup": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the group."
        },
        "hybridRunbookWorkers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HybridRunbookWorker"
          },
          "description": "Gets or sets the list of hybrid runbook workers."
        },
        "credential": {
          "$ref": "#/definitions/RunAsCredentialAssociationProperty",
          "description": "Sets the credential of a worker group."
        }
      },
      "description": "Definition of hybrid runbook worker group."
    },
    "HybridRunbookWorkerGroupsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HybridRunbookWorkerGroup"
          },
          "description": "Gets or sets a list of hybrid runbook worker groups."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list hybrid runbook worker groups."
    },
    "HybridRunbookWorkerGroupUpdateParameters": {
      "properties": {
        "credential": {
          "$ref": "#/definitions/RunAsCredentialAssociationProperty",
          "description": "Sets the credential of a worker group."
        }
      },
      "description": "Parameters supplied to the update operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Hybrid Runbook Worker Group",
  "x-internal-split-type": "Operation"
}