{
  "swagger": "2.0",
  "info": {
    "version": "2015-05-01-preview",
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/keys": {
      "get": {
        "tags": [
          "ServerKeys"
        ],
        "description": "Gets a list of server keys.",
        "operationId": "ServerKeys_ListByServer",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of server keys.",
            "schema": {
              "$ref": "#/definitions/ServerKeyListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidKeyName - An invalid value was given for the server key name.\n\n * 400 InvalidKeyType - The create server key type is not supported.\n\n * 400 InvalidKeyUpsertRequest - The create server key request does not exist or has no properties object.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List the server keys by server": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-7398",
              "serverName": "sqlcrudtest-4645",
              "api-version": "2015-05-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901",
                      "name": "someVault_someKey_01234567890123456789012345678901",
                      "type": "Microsoft.Sql/servers/keys",
                      "location": "Japan East",
                      "kind": "azurekeyvault",
                      "properties": {
                        "serverKeyType": "AzureKeyVault",
                        "uri": "https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901",
                        "thumbprint": "00112233445566778899AABBCCDDEEFFAABBCCDD",
                        "creationDate": "2017-05-01T00:00:00Z"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/myVault_myKey_11111111111111111111111111111111",
                      "name": "myVault_myKey_11111111111111111111111111111111",
                      "type": "Microsoft.Sql/servers/keys",
                      "location": "Japan East",
                      "kind": "azurekeyvault",
                      "properties": {
                        "serverKeyType": "AzureKeyVault",
                        "uri": "https://myVault.vault.azure.net/keys/myKey/11111111111111111111111111111111",
                        "thumbprint": "AAAAAAAAAAAAAAABBBBBBBBBBBBBBBBBBBBBBBBB",
                        "creationDate": "2017-05-01T00:00:00Z"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/ServiceManaged",
                      "name": "ServiceManaged",
                      "type": "Microsoft.Sql/servers/keys",
                      "location": "Japan East",
                      "kind": "servicemanaged",
                      "properties": {
                        "serverKeyType": "ServiceManaged"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "List the server keys by server": "ServerKeyList"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "List the server keys by server": {
            "request": "GET https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys?api-version=2015-05-01-preview HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 5bd19c29-6f28-468b-a1da-0d0ebd461168\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X GET 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys?api-version=2015-05-01-preview' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 5bd19c29-6f28-468b-a1da-0d0ebd461168' \\\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 6a80fef4-e8e4-4669-b886-b96be3bab613\nx-ms-correlation-request-id: 6a80fef4-e8e4-4669-b886-b96be3bab613\nx-ms-routing-request-id: WESTUS2:20170904T093530780Z:6a80fef4-e8e4-4669-b886-b96be3bab613\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 1461\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:30 GMT\nConnection: close\n\n{\"value\":[{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/someVault_someKey_01234567890123456789012345678901\",\"name\":\"someVault_someKey_01234567890123456789012345678901\",\"type\":\"Microsoft.Sql/servers/keys\",\"location\":\"Japan East\",\"kind\":\"azurekeyvault\",\"properties\":{\"serverKeyType\":\"AzureKeyVault\",\"uri\":\"https://someVault.vault.azure.net/keys/someKey/01234567890123456789012345678901\",\"thumbprint\":\"00112233445566778899AABBCCDDEEFFAABBCCDD\",\"creationDate\":\"2017-05-01T00:00:00.0Z\"}},{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/myVault_myKey_11111111111111111111111111111111\",\"name\":\"myVault_myKey_11111111111111111111111111111111\",\"type\":\"Microsoft.Sql/servers/keys\",\"location\":\"Japan East\",\"kind\":\"azurekeyvault\",\"properties\":{\"serverKeyType\":\"AzureKeyVault\",\"uri\":\"https://myVault.vault.azure.net/keys/myKey/11111111111111111111111111111111\",\"thumbprint\":\"AAAAAAAAAAAAAAABBBBBBBBBBBBBBBBBBBBBBBBB\",\"creationDate\":\"2017-05-01T00:00:00.0Z\"}},{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/keys/ServiceManaged\",\"name\":\"ServiceManaged\",\"type\":\"Microsoft.Sql/servers/keys\",\"location\":\"Japan East\",\"kind\":\"servicemanaged\",\"properties\":{\"serverKeyType\":\"ServiceManaged\"}}]}\n"
            }
          }
        },
        "x-internal-toc-name": "List By Server"
      }
    }
  },
  "definitions": {
    "ServerKeyListResult": {
      "description": "A list of server keys.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerKey"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ServerKeyProperties": {
      "description": "Properties for a server key execution.",
      "required": [
        "serverKeyType"
      ],
      "type": "object",
      "properties": {
        "subregion": {
          "description": "Subregion of the server key.",
          "type": "string",
          "readOnly": true
        },
        "serverKeyType": {
          "description": "The server key type like 'ServiceManaged', 'AzureKeyVault'.",
          "enum": [
            "ServiceManaged",
            "AzureKeyVault"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ServerKeyType",
            "modelAsString": true
          }
        },
        "uri": {
          "description": "The URI of the server key.",
          "type": "string"
        },
        "thumbprint": {
          "description": "Thumbprint of the server key.",
          "type": "string"
        },
        "creationDate": {
          "format": "date-time",
          "description": "The server key creation date.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "ARM resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "ServerKey": {
      "description": "A server key.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "kind": {
          "description": "Kind of encryption protector. This is metadata used for the Azure portal experience.",
          "type": "string"
        },
        "location": {
          "description": "Resource location.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ServerKeyProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription ID that identifies an Azure subscription.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for the request.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "description": "The name of the server.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "DatabaseNameParameter": {
      "name": "databaseName",
      "in": "path",
      "description": "The name of the database.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-name": "SQL Database",
  "x-internal-toc-name": "Server Keys",
  "x-internal-split-type": "Operation"
}