{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}": {
      "put": {
        "tags": [
          "Runbook"
        ],
        "operationId": "Runbook_CreateOrUpdate",
        "description": "Create the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "x-ms-examples": {
          "Create or update runbook": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "ContoseAutomationAccount",
              "runbookName": "Get-AzureVMTutorial",
              "api-version": "2015-10-31",
              "parameters": {
                "properties": {
                  "logVerbose": false,
                  "logProgress": true,
                  "runbookType": "PowerShellWorkflow",
                  "publishContentLink": {
                    "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-automation-runbook-getvms/Runbooks/Get-AzureVMTutorial.ps1",
                    "contentHash": {
                      "algorithm": "SHA256",
                      "value": "115775B8FF2BE672D8A946BD0B489918C724DDE15A440373CA54461D53010A80"
                    }
                  },
                  "description": "Description of the Runbook",
                  "logActivityTrace": 1
                },
                "name": "Get-AzureVMTutorial",
                "location": "East US 2",
                "tags": {
                  "tag01": "value01",
                  "tag02": "value02"
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
                  "name": "Get-AzureVMTutorial",
                  "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                  "location": "East US 2",
                  "tags": {
                    "tag01": "value01",
                    "tag02": "value02"
                  },
                  "etag": "\"636263318837230000\"",
                  "properties": {
                    "description": "Description of the Runbook",
                    "logVerbose": false,
                    "logProgress": true,
                    "logActivityTrace": 1,
                    "runbookType": "PowerShellWorkflow",
                    "parameters": {},
                    "state": "Published",
                    "jobCount": 0,
                    "provisioningState": "Succeeded",
                    "serviceManagementTags": null,
                    "outputTypes": [],
                    "creationTime": "2017-03-28T21:04:43.66+00:00",
                    "lastModifiedBy": "myEmaild@microsoft.com",
                    "lastModifiedTime": "2017-03-28T21:04:43.723+00:00"
                  }
                }
              },
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
                  "name": "Get-AzureVMTutorial",
                  "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                  "location": "East US 2",
                  "tags": {
                    "tag01": "value01",
                    "tag02": "value02"
                  },
                  "etag": "\"636263318866000000\"",
                  "properties": {
                    "description": "Description of the Runbook",
                    "logVerbose": true,
                    "logProgress": true,
                    "logActivityTrace": 1,
                    "runbookType": "PowerShellWorkflow",
                    "parameters": {},
                    "state": "Published",
                    "jobCount": 0,
                    "provisioningState": "Succeeded",
                    "serviceManagementTags": null,
                    "outputTypes": [],
                    "creationTime": "2017-03-28T21:04:43.66+00:00",
                    "lastModifiedBy": "myEmaild@microsoft.com",
                    "lastModifiedTime": "2017-03-28T21:04:46.6+00:00"
                  }
                }
              },
              "400": {
                "code": "BadRequest",
                "message": "{\"Message\":\"Cannot specify the content link for a published runbook and draft at the same time.\"}"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RunbookCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for runbook. Provide either content link for a published runbook or draft, not both."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request. Cannot specify the content link for a published runbook and draft at the same time."
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": null,
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-toc-name": "Runbook",
  "x-internal-split-type": "Operation",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "RunbookDraft/CreateOrUpdate"
    },
    {
      "displayName": "Get",
      "relativePath": "RunbookDraft/Get"
    },
    {
      "displayName": "Get Content",
      "relativePath": "RunbookDraft/GetContent"
    },
    {
      "displayName": "Publish",
      "relativePath": "RunbookDraft/Publish"
    },
    {
      "displayName": "Undo Edit",
      "relativePath": "RunbookDraft/UndoEdit"
    }
  ]
}