{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}": {
      "delete": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Delete",
        "description": "Delete the job schedule identified by job schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Delete a job schedule": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "ContoseAutomationAccount",
              "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "Delete a job schedule": "deleteJobSchedule"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Delete a job schedule": {
            "request": "DELETE https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc?api-version=2015-10-31 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 8bc82d4c-6f67-4ad9-88fc-fd8a674b9bb2\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X DELETE 'https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc?api-version=2015-10-31' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 8bc82d4c-6f67-4ad9-88fc-fd8a674b9bb2' \\\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 03b06eb2-aff0-4f63-bc13-85c65a4885b3\nx-ms-correlation-request-id: 03b06eb2-aff0-4f63-bc13-85c65a4885b3\nx-ms-routing-request-id: WESTUS2:20170904T092951542Z:03b06eb2-aff0-4f63-bc13-85c65a4885b3\nStrict-Transport-Security: max-age=31536000; includeSubDomains\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:29:51 GMT\nConnection: close\n"
            }
          }
        },
        "x-internal-toc-name": "Delete"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "ScheduleAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        }
      },
      "description": "The schedule property associated with the entity."
    },
    "JobScheduleProperties": {
      "properties": {
        "jobScheduleId": {
          "type": "string",
          "description": "Gets or sets the id of job schedule."
        },
        "schedule": {
          "$ref": "#/definitions/ScheduleAssociationProperty",
          "description": "Gets or sets the schedule."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the hybrid worker group that the scheduled job should run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job schedule."
        }
      },
      "description": "Definition of job schedule parameters."
    },
    "JobSchedule": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobScheduleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the job schedule."
        }
      },
      "description": "Definition of the job schedule."
    },
    "JobScheduleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobSchedule"
          },
          "description": "Gets or sets a list of job schedules."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job schedule operation."
    },
    "JobScheduleCreateProperties": {
      "properties": {
        "schedule": {
          "$ref": "#/definitions/ScheduleAssociationProperty",
          "description": "Gets or sets the schedule."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the hybrid worker group that the scheduled job should run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of job properties."
        }
      },
      "required": [
        "schedule",
        "runbook"
      ],
      "description": "The parameters supplied to the create job schedule operation."
    },
    "JobScheduleCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobScheduleCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of job schedule properties."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create job schedule operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Job Schedule",
  "x-internal-split-type": "Operation"
}