{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}": {
      "get": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Get",
        "description": "Retrieve the job schedule identified by job schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Get a job schedule": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "ContoseAutomationAccount",
              "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
                  "properties": {
                    "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
                    "runbook": {
                      "name": "TestRunbook"
                    },
                    "schedule": {
                      "name": "ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2"
                    },
                    "runOn": null,
                    "parameters": {
                      "jobscheduletag01": "jobschedulevalue01",
                      "jobscheduletag02": "jobschedulevalue02"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "Get a job schedule": "getJobSchedule"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Get a job schedule": {
            "request": "GET https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc?api-version=2015-10-31 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 2f995738-e643-45c1-9d02-4456e95cf7c7\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X GET 'https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc?api-version=2015-10-31' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 2f995738-e643-45c1-9d02-4456e95cf7c7' \\\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 04f2056a-0f38-4141-b860-a7fe5d015029\nx-ms-correlation-request-id: 04f2056a-0f38-4141-b860-a7fe5d015029\nx-ms-routing-request-id: WESTUS2:20170904T092951542Z:04f2056a-0f38-4141-b860-a7fe5d015029\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 462\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:29:51 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc\",\"properties\":{\"jobScheduleId\":\"0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc\",\"runbook\":{\"name\":\"TestRunbook\"},\"schedule\":{\"name\":\"ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2\"},\"runOn\":null,\"parameters\":{\"jobscheduletag01\":\"jobschedulevalue01\",\"jobscheduletag02\":\"jobschedulevalue02\"}}}\n"
            }
          }
        },
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "ScheduleAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        }
      },
      "description": "The schedule property associated with the entity."
    },
    "JobScheduleProperties": {
      "properties": {
        "jobScheduleId": {
          "type": "string",
          "description": "Gets or sets the id of job schedule."
        },
        "schedule": {
          "$ref": "#/definitions/ScheduleAssociationProperty",
          "description": "Gets or sets the schedule."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the hybrid worker group that the scheduled job should run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job schedule."
        }
      },
      "description": "Definition of job schedule parameters."
    },
    "JobSchedule": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobScheduleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the job schedule."
        }
      },
      "description": "Definition of the job schedule."
    },
    "JobScheduleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobSchedule"
          },
          "description": "Gets or sets a list of job schedules."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job schedule operation."
    },
    "JobScheduleCreateProperties": {
      "properties": {
        "schedule": {
          "$ref": "#/definitions/ScheduleAssociationProperty",
          "description": "Gets or sets the schedule."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the hybrid worker group that the scheduled job should run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of job properties."
        }
      },
      "required": [
        "schedule",
        "runbook"
      ],
      "description": "The parameters supplied to the create job schedule operation."
    },
    "JobScheduleCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobScheduleCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of job schedule properties."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create job schedule operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Job Schedule",
  "x-internal-split-type": "Operation"
}