{
  "swagger": "2.0",
  "info": {
    "version": "2017-03-01",
    "title": "ContainerRegistryManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}": {
      "put": {
        "tags": [
          "Registries"
        ],
        "description": "Creates a container registry with the specified parameters.",
        "operationId": "Registries_Create",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/RegistryNameParameter"
          },
          {
            "name": "registryCreateParameters",
            "in": "body",
            "description": "The parameters for creating a container registry.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          }
        },
        "x-ms-examples": {
          "RegistryCreate": {
            "parameters": {
              "api-version": "2017-03-01",
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroupName": "myResourceGroup",
              "registryName": "myRegistry",
              "registryCreateParameters": {
                "location": "westus",
                "tags": {
                  "key": "value"
                },
                "sku": {
                  "name": "Basic"
                },
                "properties": {
                  "adminUserEnabled": true,
                  "storageAccount": {
                    "name": "mystorageaccount",
                    "accessKey": "0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                  }
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
                  "name": "myRegistry",
                  "type": "Microsoft.ContainerRegistry/registries",
                  "location": "westus",
                  "tags": {
                    "key": "value"
                  },
                  "sku": {
                    "name": "Basic",
                    "tier": "Basic"
                  },
                  "properties": {
                    "loginServer": "myregistry.azurecr.io",
                    "creationDate": "2017-03-01T23:14:37.0707808Z",
                    "provisioningState": "Succeeded",
                    "adminUserEnabled": true,
                    "storageAccount": {
                      "name": "mystorageaccount"
                    }
                  }
                }
              },
              "202": {}
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-internal-ms-examples-mapping": {
          "RegistryCreate": "RegistryCreate"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "RegistryCreate": {
            "request": "PUT https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry?api-version=2017-03-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 254\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 169615c4-c052-43fe-a11e-4783ac5a843d\nhost: management.azure.com\nConnection: close\n\n{\"location\":\"westus\",\"tags\":{\"key\":\"value\"},\"sku\":{\"name\":\"Basic\"},\"properties\":{\"adminUserEnabled\":true,\"storageAccount\":{\"name\":\"mystorageaccount\",\"accessKey\":\"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000\"}}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry?api-version=2017-03-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 254' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 169615c4-c052-43fe-a11e-4783ac5a843d' \\\n-d @- << EOF\n{\n  \"location\": \"westus\",\n  \"tags\": {\n    \"key\": \"value\"\n  },\n  \"sku\": {\n    \"name\": \"Basic\"\n  },\n  \"properties\": {\n    \"adminUserEnabled\": true,\n    \"storageAccount\": {\n      \"name\": \"mystorageaccount\",\n      \"accessKey\": \"0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000\"\n    }\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: c3321409-1e2a-4478-82e2-d2fcade21fed\nx-ms-correlation-request-id: c3321409-1e2a-4478-82e2-d2fcade21fed\nx-ms-routing-request-id: WESTUS2:20170904T093033572Z:c3321409-1e2a-4478-82e2-d2fcade21fed\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 500\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:30:33 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry\",\"name\":\"myRegistry\",\"type\":\"Microsoft.ContainerRegistry/registries\",\"location\":\"westus\",\"tags\":{\"key\":\"value\"},\"sku\":{\"name\":\"Basic\",\"tier\":\"Basic\"},\"properties\":{\"loginServer\":\"myregistry.azurecr.io\",\"creationDate\":\"2017-03-01T23:14:37.0707808Z\",\"provisioningState\":\"Succeeded\",\"adminUserEnabled\":true,\"storageAccount\":{\"name\":\"mystorageaccount\"}}}\n"
            }
          }
        },
        "x-internal-toc-name": "Create"
      }
    }
  },
  "definitions": {
    "RegistryNameCheckRequest": {
      "description": "A request to check whether a container registry name is available.",
      "required": [
        "name",
        "type"
      ],
      "properties": {
        "name": {
          "description": "The name of the container registry.",
          "maxLength": 50,
          "minLength": 5,
          "pattern": "^[a-zA-Z0-9]*$",
          "type": "string"
        },
        "type": {
          "description": "The resource type of the container registry. This field must be set to \"Microsoft.ContainerRegistry/registries\".",
          "enum": [
            "Microsoft.ContainerRegistry/registries"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ContainerRegistryResourceType",
            "modelAsString": false
          }
        }
      }
    },
    "RegistryNameStatus": {
      "description": "The result of a request to check the availability of a container registry name.",
      "properties": {
        "nameAvailable": {
          "description": "The value that indicates whether the name is available.",
          "type": "boolean"
        },
        "reason": {
          "description": "If any, the reason that the name is not available.",
          "type": "string"
        },
        "message": {
          "description": "If any, the error message that provides more detail for the reason that the name is not available.",
          "type": "string"
        }
      }
    },
    "OperationListResult": {
      "description": "The result of a request to list container registry operations.",
      "properties": {
        "value": {
          "description": "The list of container registry operations. Since this list may be incomplete, the nextLink field should be used to request the next list of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationDefinition"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next list of container registry operations.",
          "type": "string"
        }
      }
    },
    "OperationDefinition": {
      "description": "The definition of a container registry operation.",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplayDefinition",
          "description": "The display information for the container registry operation."
        }
      }
    },
    "OperationDisplayDefinition": {
      "description": "The display information for a container registry operation.",
      "properties": {
        "provider": {
          "description": "The resource provider name: Microsoft.ContainerRegistry.",
          "type": "string"
        },
        "resource": {
          "description": "The resource on which the operation is performed.",
          "type": "string"
        },
        "operation": {
          "description": "The operation that users can perform.",
          "type": "string"
        },
        "description": {
          "description": "The description for the operation.",
          "type": "string"
        }
      }
    },
    "Registry": {
      "description": "An object that represents a container registry.",
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the container registry."
        },
        "properties": {
          "$ref": "#/definitions/RegistryProperties",
          "description": "The properties of the container registry.",
          "x-ms-client-flatten": true
        }
      }
    },
    "Sku": {
      "description": "The SKU of a container registry.",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "description": "The SKU name of the the container registry. Required for registry creation. Allowed value: Basic.",
          "type": "string"
        },
        "tier": {
          "description": "The SKU tier based on the SKU name.",
          "enum": [
            "Basic"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        }
      }
    },
    "RegistryProperties": {
      "description": "The properties of a container registry.",
      "properties": {
        "loginServer": {
          "description": "The URL that can be used to log into the container registry.",
          "type": "string",
          "readOnly": true
        },
        "creationDate": {
          "format": "date-time",
          "description": "The creation date of the container registry in ISO8601 format.",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "description": "The status of the container registry at the time the operation was called.",
          "enum": [
            "Creating",
            "Succeeded"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": false
          }
        },
        "adminUserEnabled": {
          "description": "The value that indicates whether the admin user is enabled. This value is false by default.",
          "default": false,
          "type": "boolean"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountProperties",
          "description": "The properties of the storage account for the container registry."
        }
      }
    },
    "StorageAccountProperties": {
      "description": "The properties of a storage account for a container registry.",
      "properties": {
        "name": {
          "description": "The name of the storage account.",
          "type": "string"
        }
      }
    },
    "RegistryCreateParameters": {
      "description": "The parameters for creating a container registry.",
      "required": [
        "location",
        "sku"
      ],
      "properties": {
        "tags": {
          "description": "The tags for the container registry.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "description": "The location of the container registry. This cannot be changed after the resource is created.",
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the container registry."
        },
        "properties": {
          "$ref": "#/definitions/RegistryPropertiesCreateParameters",
          "description": "The properties that the container registry will be created with.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RegistryPropertiesCreateParameters": {
      "description": "The parameters for creating the properties of a container registry.",
      "required": [
        "storageAccount"
      ],
      "properties": {
        "adminUserEnabled": {
          "description": "The value that indicates whether the admin user is enabled. This value is false by default.",
          "type": "boolean"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountParameters",
          "description": "The parameters of a storage account for the container registry. If specified, the storage account must be in the same physical location as the container registry."
        }
      }
    },
    "StorageAccountParameters": {
      "description": "The parameters of a storage account for a container registry.",
      "required": [
        "name",
        "accessKey"
      ],
      "properties": {
        "name": {
          "description": "The name of the storage account.",
          "type": "string"
        },
        "accessKey": {
          "description": "The access key to the storage account.",
          "type": "string"
        }
      }
    },
    "RegistryUpdateParameters": {
      "description": "The parameters for updating a container registry.",
      "properties": {
        "tags": {
          "description": "The tags for the container registry.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/RegistryPropertiesUpdateParameters",
          "description": "The properties that the container registry will be updated with.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RegistryPropertiesUpdateParameters": {
      "description": "The parameters for updating the properties of a container registry.",
      "properties": {
        "adminUserEnabled": {
          "description": "The value that indicates whether the admin user is enabled. This value is false by default.",
          "type": "boolean"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountParameters",
          "description": "The parameters of a storage account for the container registry. If specified, the storage account must be in the same physical location as the container registry."
        }
      }
    },
    "RegistryListResult": {
      "description": "The result of a request to list container registries.",
      "properties": {
        "value": {
          "description": "The list of container registries. Since this list may be incomplete, the nextLink field should be used to request the next list of container registries.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Registry"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next list of container registries.",
          "type": "string"
        }
      }
    },
    "RegistryListCredentialsResult": {
      "description": "The response from the ListCredentials operation.",
      "properties": {
        "username": {
          "description": "The username for a container registry.",
          "type": "string"
        },
        "passwords": {
          "description": "The list of passwords for a container registry.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegistryPassword"
          }
        }
      }
    },
    "RegistryPassword": {
      "description": "The login password for the container registry.",
      "properties": {
        "name": {
          "description": "The password name.",
          "enum": [
            "password",
            "password2"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "PasswordName",
            "modelAsString": false
          }
        },
        "value": {
          "description": "The password value.",
          "type": "string"
        }
      }
    },
    "RegenerateCredentialParameters": {
      "description": "The parameters used to regenerate the login credential.",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "description": "Specifies name of the password which should be regenerated -- password or password2.",
          "enum": [
            "password",
            "password2"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "PasswordName",
            "modelAsString": false
          }
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The location of the resource. This cannot be changed after the resource is created.",
          "type": "string"
        },
        "tags": {
          "description": "The tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Microsoft Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The client API version.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group to which the container registry belongs.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "RegistryNameParameter": {
      "name": "registryName",
      "in": "path",
      "description": "The name of the container registry.",
      "required": true,
      "type": "string",
      "maxLength": 50,
      "minLength": 5,
      "pattern": "^[a-zA-Z0-9]*$",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Container Registry",
  "x-internal-toc-name": "Registries",
  "x-internal-split-type": "Operation"
}