{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on Product entity associated with your Azure API Management deployment. The Product entity represents a product in API Management. Products include one or more APIs and their associated terms of use. Once a product is published, developers can subscribe to the product and begin to use the product’s APIs.",
    "version": "2018-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis": {
      "get": {
        "tags": [
          "ProductApis"
        ],
        "operationId": "ProductApi_ListByProduct",
        "description": "Lists a collection of the APIs associated with a product.",
        "x-ms-examples": {
          "ApiManagementListProductApis": {
            "$ref": "#/definitions/ApiManagementListProductApis"
          }
        },
        "parameters": [
          {
            "$ref": "./apimanagement.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ProductIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "| Field       | Supported operators    | Supported functions                         |\n|-------------|------------------------|---------------------------------------------|\n| id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n| path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |\n"
          },
          {
            "$ref": "./apimanagement.json#/parameters/TopQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/SkipQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The response body contains a collection of Api entities in the product.",
            "schema": {
              "$ref": "./apimapis.json#/definitions/ApiCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./apimanagement.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "./apimapis.json#/definitions/ApiContract",
        "x-internal-toc-name": "List By Product"
      }
    }
  },
  "definitions": {
    "ProductCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged Products list representation."
    },
    "ProductContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProductContractProperties",
          "description": "Product entity contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Product details."
    },
    "ProductContractProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Product name.",
          "minLength": 1,
          "maxLength": 300
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProductEntityBaseParameters"
        }
      ],
      "required": [
        "displayName"
      ],
      "description": "Product profile."
    },
    "ProductEntityBaseParameters": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Product description. May include HTML formatting tags.",
          "minLength": 1,
          "maxLength": 1000
        },
        "terms": {
          "type": "string",
          "description": "Product terms of use. Developers trying to subscribe to the product will be presented and required to accept these terms before they can complete the subscription process."
        },
        "subscriptionRequired": {
          "description": "Whether a product subscription is required for accessing APIs included in this product. If true, the product is referred to as \"protected\" and a valid subscription key is required for a request to an API included in the product to succeed. If false, the product is referred to as \"open\" and requests to an API included in the product can be made without a subscription key. If property is omitted when creating a new product it's value is assumed to be true.",
          "type": "boolean"
        },
        "approvalRequired": {
          "description": "whether subscription approval is required. If false, new subscriptions will be approved automatically enabling developers to call the product’s APIs immediately after subscribing. If true, administrators must manually approve the subscription before the developer can any of the product’s APIs. Can be present only if subscriptionRequired property is present and has a value of false.",
          "type": "boolean"
        },
        "subscriptionsLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Whether the number of subscriptions a user can have to this product at the same time. Set to null or omit to allow unlimited per user subscriptions. Can be present only if subscriptionRequired property is present and has a value of false."
        },
        "state": {
          "type": "string",
          "description": "whether product is published or not. Published products are discoverable by users of developer portal. Non published products are visible only to administrators. Default state of Product is notPublished.",
          "enum": [
            "notPublished",
            "published"
          ],
          "x-ms-enum": {
            "name": "ProductState",
            "modelAsString": false
          }
        }
      },
      "description": "Product Entity Base Parameters"
    },
    "ProductUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProductUpdateProperties",
          "description": "Product entity Update contract properties."
        }
      },
      "description": "Product Update parameters."
    },
    "ProductUpdateProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Product name.",
          "maxLength": 300,
          "minLength": 1
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProductEntityBaseParameters"
        }
      ],
      "description": "Parameters supplied to the Update Product operation."
    },
    "ApiManagementListProducts": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/kjoshiarmtemplateCert1",
                "type": "Microsoft.ApiManagement/service/products",
                "name": "kjoshiarmtemplateCert1",
                "properties": {
                  "displayName": "Dev",
                  "description": "Development Product",
                  "subscriptionRequired": false,
                  "state": "published"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/starter",
                "type": "Microsoft.ApiManagement/service/products",
                "name": "starter",
                "properties": {
                  "displayName": "Starter",
                  "description": "Subscribers will be able to run 5 calls/minute up to a maximum of 100 calls/week.",
                  "terms": "",
                  "subscriptionRequired": true,
                  "approvalRequired": false,
                  "subscriptionsLimit": 1,
                  "state": "published"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/unlimited",
                "type": "Microsoft.ApiManagement/service/products",
                "name": "unlimited",
                "properties": {
                  "displayName": "Unlimited",
                  "description": "Subscribers have completely unlimited access to the API. Administrator approval is required.",
                  "subscriptionRequired": true,
                  "approvalRequired": true,
                  "subscriptionsLimit": 1,
                  "state": "published"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadProduct": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "unlimited"
      },
      "responses": {
        "200": {
          "headers": {
            "etag": "AAAAAAAAAAa="
          }
        }
      }
    },
    "ApiManagementGetProduct": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "unlimited"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/unlimited",
            "type": "Microsoft.ApiManagement/service/products",
            "name": "unlimited",
            "properties": {
              "displayName": "Unlimited",
              "description": "Subscribers have completely unlimited access to the API. Administrator approval is required.",
              "subscriptionRequired": true,
              "approvalRequired": true,
              "subscriptionsLimit": 1,
              "state": "published"
            }
          }
        }
      }
    },
    "ApiManagementCreateProductBasic": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "testproduct",
        "parameters": {
          "properties": {
            "displayName": "Test Template ProductName 4"
          }
        }
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/testproduct",
            "type": "Microsoft.ApiManagement/service/products",
            "name": "testproduct",
            "properties": {
              "displayName": "Test Template ProductName 4",
              "subscriptionRequired": true,
              "approvalRequired": false,
              "state": "notPublished"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/testproduct",
            "type": "Microsoft.ApiManagement/service/products",
            "name": "testproduct",
            "properties": {
              "displayName": "Test Template ProductName 4",
              "subscriptionRequired": true,
              "approvalRequired": false,
              "state": "notPublished"
            }
          }
        }
      }
    },
    "ApiManagementUpdateProductBasic": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "testproduct",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "displayName": "Test Template ProductName 4"
          }
        }
      },
      "responses": {
        "204": {}
      }
    },
    "ApiManagementDeleteProduct": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "testproduct",
        "deleteSubscriptions": true,
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementListProductApis": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "5768181ea40f7eb6c49f6ac7"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5768181ea40f7eb6c49f6ac7/apis/57681820a40f7eb6c49f6aca",
                "type": "Microsoft.ApiManagement/service/products/apis",
                "name": "57681820a40f7eb6c49f6aca",
                "properties": {
                  "displayName": "api_57681820a40f7eb6c49f6acb",
                  "apiRevision": "1",
                  "description": "description_57681820a40f7eb6c49f6acc",
                  "serviceUrl": "http://contoso/57681820a40f7eb6c49f6acd",
                  "path": "suffix_57681820a40f7eb6c49f6ace",
                  "protocols": [
                    "https"
                  ],
                  "isCurrent": true
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadProductApi": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "5931a75ae4bbd512a88c680b",
        "apiId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "204": {},
        "404": {}
      }
    },
    "ApiManagementCreateProductApi": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "testproduct",
        "apiId": "echo-api"
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5931a75ae4bbd512a88c680b",
            "type": "Microsoft.ApiManagement/service/apis",
            "name": "5931a75ae4bbd512a88c680b",
            "properties": {
              "displayName": "EchoApi",
              "apiRevision": "1",
              "serviceUrl": "https://contoso.com/apis/echo",
              "path": "",
              "protocols": [
                "http",
                "https"
              ],
              "subscriptionKeyParameterNames": {
                "header": "Ocp-Apim-Subscription-Key",
                "query": "subscription-key"
              },
              "isCurrent": true
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5931a75ae4bbd512a88c680b",
            "type": "Microsoft.ApiManagement/service/apis",
            "name": "5931a75ae4bbd512a88c680b",
            "properties": {
              "displayName": "EchoApi",
              "apiRevision": "1",
              "serviceUrl": "https://contoso.com/apis/echo",
              "path": "",
              "protocols": [
                "http",
                "https"
              ],
              "subscriptionKeyParameterNames": {
                "header": "Ocp-Apim-Subscription-Key",
                "query": "subscription-key"
              },
              "isCurrent": true
            }
          }
        }
      }
    },
    "ApiManagementDeleteProductApi": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "testproduct",
        "apiId": "echo-api",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementListProductGroups": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "5600b57e7e8880006a060002"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020001",
                "type": "Microsoft.ApiManagement/service/products/groups",
                "name": "5600b57e7e8880006a020001",
                "properties": {
                  "displayName": "Administrators",
                  "description": "Administrators is a built-in group. Its membership is managed by the system. Microsoft Azure subscription administrators fall into this group.",
                  "builtIn": true,
                  "type": "system"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020002",
                "type": "Microsoft.ApiManagement/service/products/groups",
                "name": "5600b57e7e8880006a020002",
                "properties": {
                  "displayName": "Developers",
                  "description": "Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.",
                  "builtIn": true,
                  "type": "system"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020003",
                "type": "Microsoft.ApiManagement/service/products/groups",
                "name": "5600b57e7e8880006a020003",
                "properties": {
                  "displayName": "Guests",
                  "description": "Guests is a built-in group. Its membership is managed by the system. Unauthenticated users visiting the developer portal fall into this group.",
                  "builtIn": true,
                  "type": "system"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadProductGroup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "5931a75ae4bbd512a88c680b",
        "groupId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "204": {},
        "404": {}
      }
    },
    "ApiManagementCreateProductGroup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "testproduct",
        "groupId": "templateGroup"
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/templateGroup",
            "type": "Microsoft.ApiManagement/service/products/groups",
            "name": "templateGroup",
            "properties": {
              "displayName": "Template Group",
              "description": "group created via Template",
              "builtIn": false,
              "type": "custom"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/templateGroup",
            "type": "Microsoft.ApiManagement/service/products/groups",
            "name": "templateGroup",
            "properties": {
              "displayName": "Template Group",
              "description": "group created via Template",
              "builtIn": false,
              "type": "custom"
            }
          }
        }
      }
    },
    "ApiManagementDeleteProductGroup": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "testproduct",
        "groupId": "templateGroup",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementListProductSubscriptions": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "5600b57e7e8880006a060002"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/subscriptions/5600b57e7e8880006a070002",
                "type": "Microsoft.ApiManagement/service/products/subscriptions",
                "name": "5600b57e7e8880006a070002",
                "properties": {
                  "userId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1",
                  "productId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002",
                  "state": "active",
                  "createdDate": "2015-09-22T01:57:18.723Z",
                  "primaryKey": "ba95768e868648848e215f0290eec023",
                  "secondaryKey": "140f866def81419b9bb9732d05d24535"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementListProductPolicy": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "armTemplateProduct4"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/armTemplateProduct4/policies/policy",
                "type": "Microsoft.ApiManagement/service/products/policies",
                "name": "policy",
                "properties": {
                  "policyContent": "<policies>\r\n  <inbound>\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n  <on-error>\r\n    <base />\r\n  </on-error>\r\n</policies>"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadProductPolicy": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "unlimited",
        "policyId": "policy"
      },
      "responses": {
        "200": {
          "headers": {
            "etag": "AAAAAAAAAAa="
          }
        }
      }
    },
    "ApiManagementGetProductPolicy": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "kjoshiarmTemplateProduct4",
        "policyId": "policy"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/kjoshiarmTemplateProduct4/policies/policy",
            "type": "Microsoft.ApiManagement/service/products/policies",
            "name": "policy",
            "properties": {
              "policyContent": "<policies>\r\n  <inbound>\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n  <on-error>\r\n    <base />\r\n  </on-error>\r\n</policies>"
            }
          }
        }
      }
    },
    "ApiManagementCreateProductPolicy": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "5702e97e5157a50f48dce801",
        "policyId": "policy",
        "parameters": {
          "properties": {
            "contentFormat": "xml",
            "policyContent": "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"{{call-count}}\" renewal-period=\"15\"></rate-limit>\r\n    <log-to-eventhub logger-id=\"16\">\r\n                      @( string.Join(\",\", DateTime.UtcNow, context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress, context.Operation.Name) ) \r\n                  </log-to-eventhub>\r\n    <quota-by-key calls=\"40\" counter-key=\"cc\" renewal-period=\"3600\" increment-count=\"@(context.Request.Method == &quot;POST&quot; ? 1:2)\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
          }
        }
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5702e97e5157a50f48dce801/policies/policy",
            "type": "Microsoft.ApiManagement/service/products/policies",
            "name": "policy",
            "properties": {
              "policyContent": "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"{{58c884fed8d14f127cec38f0}}\" renewal-period=\"15\" version=\"2\"></rate-limit>\r\n    <log-to-eventhub logger-id=\"16\">\r\n                      @( string.Join(\",\", DateTime.UtcNow, context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress, context.Operation.Name) ) \r\n                  </log-to-eventhub>\r\n    <quota-by-key calls=\"40\" counter-key=\"cc\" renewal-period=\"3600\" increment-count=\"@(context.Request.Method == &quot;POST&quot; ? 1:2)\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5702e97e5157a50f48dce801/policies/policy",
            "type": "Microsoft.ApiManagement/service/products/policies",
            "name": "policy",
            "properties": {
              "policyContent": "<policies>\r\n  <inbound>\r\n    <rate-limit calls=\"{{58c884fed8d14f127cec38f0}}\" renewal-period=\"15\" version=\"2\"></rate-limit>\r\n    <log-to-eventhub logger-id=\"16\">\r\n                      @( string.Join(\",\", DateTime.UtcNow, context.Deployment.ServiceName, context.RequestId, context.Request.IpAddress, context.Operation.Name) ) \r\n                  </log-to-eventhub>\r\n    <quota-by-key calls=\"40\" counter-key=\"cc\" renewal-period=\"3600\" increment-count=\"@(context.Request.Method == &quot;POST&quot; ? 1:2)\" />\r\n    <base />\r\n  </inbound>\r\n  <backend>\r\n    <base />\r\n  </backend>\r\n  <outbound>\r\n    <base />\r\n  </outbound>\r\n</policies>"
            }
          }
        }
      }
    },
    "ApiManagementDeleteProductPolicy": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "testproduct",
        "policyId": "policy",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    }
  },
  "parameters": {
    "ProductIdParameter": {
      "name": "productId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Product identifier. Must be unique in the current API Management service instance.",
      "minLength": 1,
      "maxLength": 80,
      "pattern": "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "API Management",
  "x-internal-toc-name": "Product Api",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Product"
}