{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/certificates": {
      "get": {
        "tags": [
          "Certificate"
        ],
        "operationId": "Certificate_ListByAutomationAccount",
        "description": "Retrieve a list of certificates.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/certificateoperations"
        },
        "x-ms-examples": {
          "List certificates": {
            "$ref": "#/definitions/listCertificatesByAutomationAccount"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/CertificateListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-internal-toc-name": "List By Automation Account"
      }
    }
  },
  "definitions": {
    "deleteCertificate": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "certificateName": "testCert",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getCertificate": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "certificateName": "testCert",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert",
            "name": "testCert",
            "properties": {
              "description": "Sample Cert",
              "isExportable": false,
              "thumbprint": "thumbprint of cert",
              "expiryTime": "2018-03-30T01:25:45+08:00",
              "creationTime": "2017-03-30T01:26:43.337+08:00",
              "lastModifiedTime": "2017-03-30T01:28:55.01+08:00"
            }
          }
        }
      }
    },
    "createOrUpdateCertificate": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount18",
        "certificateName": "testCert",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "testCert",
          "properties": {
            "base64Value": "base 64 value of cert",
            "description": "Sample Cert",
            "thumbprint": "thumbprint of cert",
            "isExportable": false
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert",
            "name": "testCert",
            "properties": {
              "description": "Sample Cert",
              "isExportable": false,
              "thumbprint": "thumbprint of cert",
              "expiryTime": "2018-03-30T01:25:45+08:00",
              "creationTime": "2017-03-30T01:26:43.337+08:00",
              "lastModifiedTime": "2017-03-30T01:26:43.337+08:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert",
            "name": "testCert",
            "properties": {
              "description": "sample certificate. Description updated",
              "isExportable": false,
              "thumbprint": "thumbprint of cert",
              "expiryTime": "2018-03-30T01:25:45+08:00",
              "creationTime": "2017-03-30T01:26:43.337+08:00",
              "lastModifiedTime": "2017-03-30T01:28:55.01+08:00"
            }
          }
        }
      }
    },
    "updateCertificate": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "certificateName": "testCert",
        "parameters": {
          "name": "testCert",
          "properties": {
            "description": "sample certificate. Description updated"
          }
        },
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert",
            "name": "testCert",
            "properties": {
              "description": "sample certificate. Description updated",
              "isExportable": false,
              "thumbprint": "thumbprint of cert",
              "expiryTime": "2018-03-30T01:25:45+08:00",
              "creationTime": "2017-03-30T01:26:43.337+08:00",
              "lastModifiedTime": "2017-03-30T01:28:55.01+08:00"
            }
          }
        }
      }
    },
    "listCertificatesByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/certificates/testCert",
                "name": "testCert",
                "properties": {
                  "description": "Sample Cert",
                  "isExportable": false,
                  "thumbprint": "thumbprint of cert",
                  "expiryTime": "2018-03-30T01:25:45+08:00",
                  "creationTime": "2017-03-30T01:26:43.337+08:00",
                  "lastModifiedTime": "2017-03-30T01:28:55.01+08:00"
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Certificate",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Automation Account"
}