{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules/{moduleName}/activities/{activityName}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "operationId": "Activity_Get",
        "description": "Retrieve the activity in the module identified by module name and activity name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/activityoperations"
        },
        "x-ms-examples": {
          "Get Activity in a module": {
            "$ref": "#/definitions/getActivityInAModule"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "moduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of module."
          },
          {
            "name": "activityName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of activity."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Activity"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "getActivityInAModule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "moduleName": "OmsCompositeResources",
        "activityName": "Add-AzureRmAccount",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Add-AzureRmAccount",
            "name": "Add-AzureRmAccount",
            "properties": {
              "definition": "",
              "description": "The Add-AzureRmAcccount cmdlet adds an authenticated Azure account to use for Azure Resource Manager cmdlet requests.\n\nYou can use this authenticated account only with Azure Resource Manager cmdlets. To add an authenticated account for use with Service Management cmdlets, use the Add-AzureAccount or the Import-AzurePublishSettingsFile cmdlet.",
              "parameterSets": [
                {
                  "name": "SubscriptionId",
                  "parameters": [
                    {
                      "name": "AccessToken",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "AccountId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "ApplicationId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "CertificateThumbprint",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "Credential",
                      "type": "System.Management.Automation.PSCredential",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "Environment",
                      "type": "Microsoft.Azure.Common.Authentication.Models.AzureEnvironment",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "EnvironmentName",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "SubscriptionId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": true,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "TenantId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    }
                  ]
                },
                {
                  "name": "ServicePrincipal",
                  "parameters": [
                    {
                      "name": "Credential",
                      "type": "System.Management.Automation.PSCredential",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "Environment",
                      "type": "Microsoft.Azure.Common.Authentication.Models.AzureEnvironment",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "EnvironmentName",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "ServicePrincipal",
                      "type": "System.Management.Automation.SwitchParameter",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "SubscriptionId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": true,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "SubscriptionName",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": true,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "TenantId",
                      "type": "System.String",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    }
                  ]
                },
                {
                  "name": "SubscriptionName",
                  "parameters": [
                    {
                      "name": "AccessToken",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "AccountId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "ApplicationId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "CertificateThumbprint",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "Credential",
                      "type": "System.Management.Automation.PSCredential",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "Environment",
                      "type": "Microsoft.Azure.Common.Authentication.Models.AzureEnvironment",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "EnvironmentName",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "SubscriptionName",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": true,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "TenantId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    }
                  ]
                },
                {
                  "name": "User",
                  "parameters": [
                    {
                      "name": "Credential",
                      "type": "System.Management.Automation.PSCredential",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "Environment",
                      "type": "Microsoft.Azure.Common.Authentication.Models.AzureEnvironment",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "EnvironmentName",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "TenantId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    }
                  ]
                },
                {
                  "name": "AccessToken",
                  "parameters": [
                    {
                      "name": "AccessToken",
                      "type": "System.String",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "AccountId",
                      "type": "System.String",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "Environment",
                      "type": "Microsoft.Azure.Common.Authentication.Models.AzureEnvironment",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "EnvironmentName",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "TenantId",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    }
                  ]
                },
                {
                  "name": "ServicePrincipalCertificate",
                  "parameters": [
                    {
                      "name": "ApplicationId",
                      "type": "System.String",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "CertificateThumbprint",
                      "type": "System.String",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "Environment",
                      "type": "Microsoft.Azure.Common.Authentication.Models.AzureEnvironment",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "EnvironmentName",
                      "type": "System.String",
                      "isMandatory": false,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "ServicePrincipal",
                      "type": "System.Management.Automation.SwitchParameter",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    },
                    {
                      "name": "TenantId",
                      "type": "System.String",
                      "isMandatory": true,
                      "isDynamic": false,
                      "position": -2147483648,
                      "valueFromPipeline": false,
                      "valueFromPipelineByPropertyName": false,
                      "valueFromRemainingArguments": false
                    }
                  ]
                }
              ],
              "outputTypes": [
                {
                  "name": "Microsoft.Azure.Commands.Profile.Models.PSAzureProfile",
                  "type": "Microsoft.Azure.Commands.Profile.Models.PSAzureProfile"
                }
              ],
              "creationTime": "2017-03-18T01:05:21.697+08:00",
              "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
            }
          }
        }
      }
    },
    "listActivitiesByModule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "moduleName": "OmsCompositeResources",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Add-AzureRmAccount",
                "name": "Add-AzureRmAccount",
                "properties": {
                  "definition": "",
                  "description": "The Add-AzureRmAcccount cmdlet adds an authenticated Azure account to use for Azure Resource Manager cmdlet requests.\n\nYou can use this authenticated account only with Azure Resource Manager cmdlets. To add an authenticated account for use with Service Management cmdlets, use the Add-AzureAccount or the Import-AzurePublishSettingsFile cmdlet.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Add-AzureRmEnvironment",
                "name": "Add-AzureRmEnvironment",
                "properties": {
                  "definition": "",
                  "description": "The Add-AzureRmEnvironment cmdlet adds endpoints and metadata to enable Azure Resource Manager cmdlets to connect with a new instance of Azure Resource Manager. The built-in environments AzureCloud and AzureChinaCloud target existing public instances of Azure Resource Manager.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Disable-AzureRmDataCollection",
                "name": "Disable-AzureRmDataCollection",
                "properties": {
                  "definition": "",
                  "description": "",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.713+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.713+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Enable-AzureRmDataCollection",
                "name": "Enable-AzureRmDataCollection",
                "properties": {
                  "definition": "",
                  "description": "",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.713+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.713+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Get-AzureRmContext",
                "name": "Get-AzureRmContext",
                "properties": {
                  "definition": "",
                  "description": "The Get-AzureRmContext cmdlet gets the current metadata used to authenticate Azure Resource Manager requests.\n\nThis cmdlet gets the Active Directory account, Active Directory tenant, Azure subscription, and the targeted Azure environment. Azure Resource Manager cmdlets use these settings by default when making Azure Resource Manager requests.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.713+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.713+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Get-AzureRmEnvironment",
                "name": "Get-AzureRmEnvironment",
                "properties": {
                  "definition": "",
                  "description": "The Get-AzureRmEnvironment cmdlet gets endpoints and metadata for an instance of Azure services.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Get-AzureRmSubscription",
                "name": "Get-AzureRmSubscription",
                "properties": {
                  "definition": "",
                  "description": "The Get-AzureRmSubscription cmdlet gets the subscription ID, subscription name, and home tenant for subscriptions that the current account can access.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Get-AzureRmTenant",
                "name": "Get-AzureRmTenant",
                "properties": {
                  "definition": "",
                  "description": "The Get-AzureRmTenant cmdlet gets tenants authorized for the current user.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Remove-AzureRmEnvironment",
                "name": "Remove-AzureRmEnvironment",
                "properties": {
                  "definition": "",
                  "description": "The Remove-AzureRmEnvironment cmdlet removes endpoints and metadata information for connecting to a given Azure instance.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Save-AzureRmProfile",
                "name": "Save-AzureRmProfile",
                "properties": {
                  "definition": "",
                  "description": "The Save-AzureRmProfile cmdlet saves the current authentication information for use in other PowerShell sessions.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Select-AzureRmProfile",
                "name": "Select-AzureRmProfile",
                "properties": {
                  "definition": "",
                  "description": "The Select-AzureRmProfile cmdlet loads authentication information from a file to set the Azure environment and context. Cmdlets that you run in the current session use this information to authenticate requests to Azure Resource Manager.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Set-AzureRmContext",
                "name": "Set-AzureRmContext",
                "properties": {
                  "definition": "",
                  "description": "The Set-AzureRmContext cmdlet sets authentication information for cmdlets that you run in the current session. The context includes tenant, subscription, and environment information.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile/activities/Set-AzureRmEnvironment",
                "name": "Set-AzureRmEnvironment",
                "properties": {
                  "definition": "",
                  "description": "The Set-AzureRMEnvironment cmdlet sets endpoints and metadata for connecting to an instance of Azure.",
                  "parameterSets": null,
                  "outputTypes": null,
                  "creationTime": "2017-03-18T01:05:21.697+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:21.697+08:00"
                }
              }
            ]
          }
        }
      }
    },
    "deleteModule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "moduleName": "OmsCompositeResources",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getModule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "moduleName": "OmsCompositeResources",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources",
            "name": "OmsCompositeResources",
            "type": "Microsoft.Automation/AutomationAccounts/Modules",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "isGlobal": false,
              "version": null,
              "sizeInBytes": 0,
              "activityCount": 0,
              "creationTime": "2017-03-29T23:41:47.003+08:00",
              "lastModifiedTime": "2017-03-29T23:42:10.567+08:00",
              "error": {
                "code": null,
                "message": ""
              },
              "provisioningState": "Creating"
            }
          }
        }
      }
    },
    "createOrUpdateModule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "moduleName": "OmsCompositeResources",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "contentLink": {
              "uri": "https://teststorage.blob.core.windows.net/dsccomposite/OmsCompositeResources.zip",
              "contentHash": {
                "algorithm": "sha265",
                "value": "07E108A962B81DD9C9BAA89BB47C0F6EE52B29E83758B07795E408D258B2B87A"
              },
              "version": "1.0.0.0"
            }
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources",
            "name": "OmsCompositeResources",
            "type": "Microsoft.Automation/AutomationAccounts/Modules",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "isGlobal": false,
              "version": null,
              "sizeInBytes": 0,
              "activityCount": 0,
              "creationTime": "2017-03-29T23:41:47.003+08:00",
              "lastModifiedTime": "2017-03-29T23:42:10.567+08:00",
              "error": {
                "code": null,
                "message": null
              },
              "provisioningState": "Creating"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources",
            "name": "OmsCompositeResources",
            "type": "Microsoft.Automation/AutomationAccounts/Modules",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "isGlobal": false,
              "version": null,
              "sizeInBytes": 0,
              "activityCount": 0,
              "creationTime": "2017-03-29T23:41:47.003+08:00",
              "lastModifiedTime": "2017-03-29T23:42:10.567+08:00",
              "error": {
                "code": null,
                "message": null
              },
              "provisioningState": "Creating"
            }
          }
        }
      }
    },
    "updateModule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "MyAutomationAccount",
        "moduleName": "MyModule",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "contentLink": {
              "uri": "https://teststorage.blob.core.windows.net/mycontainer/MyModule.zip",
              "contentHash": {
                "algorithm": "sha265",
                "value": "07E108A962B81DD9C9BAA89BB47C0F6EE52B29E83758B07795E408D258B2B87A"
              },
              "version": "1.0.0.0"
            }
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/MyAutomationAccount/modules/MyModule",
            "name": "MyModule",
            "type": "Microsoft.Automation/AutomationAccounts/Modules",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "isGlobal": false,
              "version": null,
              "sizeInBytes": 0,
              "activityCount": 0,
              "creationTime": "2017-03-29T23:41:47.003+08:00",
              "lastModifiedTime": "2017-03-29T23:42:10.567+08:00",
              "error": {
                "code": null,
                "message": null
              },
              "provisioningState": "Creating"
            }
          }
        }
      }
    },
    "listModulesByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Azure",
                "name": "Azure",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2014-03-19T07:02:40.323+08:00",
                  "lastModifiedTime": "2017-03-18T00:57:48.343+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Azure.Storage",
                "name": "Azure.Storage",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2016-01-30T09:21:44.68+08:00",
                  "lastModifiedTime": "2017-03-18T01:04:27.833+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Automation",
                "name": "AzureRM.Automation",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2016-01-30T09:19:39.427+08:00",
                  "lastModifiedTime": "2017-03-18T01:02:24.42+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Compute",
                "name": "AzureRM.Compute",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-11-25T04:24:06.1+08:00",
                  "lastModifiedTime": "2017-03-18T01:01:53.81+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile",
                "name": "AzureRM.Profile",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-11-25T04:23:34.723+08:00",
                  "lastModifiedTime": "2017-03-18T01:01:22.993+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Resources",
                "name": "AzureRM.Resources",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2016-01-30T09:20:10.367+08:00",
                  "lastModifiedTime": "2017-03-18T01:02:55.25+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Sql",
                "name": "AzureRM.Sql",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2016-01-30T09:20:42.177+08:00",
                  "lastModifiedTime": "2017-03-18T01:03:26.08+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Storage",
                "name": "AzureRM.Storage",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2016-01-30T09:21:13.237+08:00",
                  "lastModifiedTime": "2017-03-18T01:03:56.99+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Core",
                "name": "Microsoft.PowerShell.Core",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-03-17T08:12:20.897+08:00",
                  "lastModifiedTime": "2017-03-18T00:58:19.017+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Diagnostics",
                "name": "Microsoft.PowerShell.Diagnostics",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-03-17T08:12:22.817+08:00",
                  "lastModifiedTime": "2017-03-18T00:58:49.737+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Management",
                "name": "Microsoft.PowerShell.Management",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-03-17T08:12:24.967+08:00",
                  "lastModifiedTime": "2017-03-18T00:59:20.38+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Security",
                "name": "Microsoft.PowerShell.Security",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-03-17T08:12:26.753+08:00",
                  "lastModifiedTime": "2017-03-18T00:59:51.007+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Utility",
                "name": "Microsoft.PowerShell.Utility",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-03-17T08:12:28.643+08:00",
                  "lastModifiedTime": "2017-03-18T01:00:21.647+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.WSMan.Management",
                "name": "Microsoft.WSMan.Management",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-03-17T08:17:15.003+08:00",
                  "lastModifiedTime": "2017-03-18T01:00:52.197+08:00",
                  "provisioningState": "Created"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources",
                "name": "OmsCompositeResources",
                "properties": {
                  "isGlobal": false,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2017-03-29T23:41:47.003+08:00",
                  "lastModifiedTime": "2017-03-29T23:42:10.567+08:00",
                  "provisioningState": "Creating"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Orchestrator.AssetManagement.Cmdlets",
                "name": "Orchestrator.AssetManagement.Cmdlets",
                "properties": {
                  "isGlobal": true,
                  "version": null,
                  "sizeInBytes": 0,
                  "activityCount": 0,
                  "creationTime": "2015-09-12T08:45:12.897+08:00",
                  "lastModifiedTime": "2017-03-18T01:05:01.57+08:00",
                  "provisioningState": "Created"
                }
              }
            ]
          }
        }
      }
    },
    "listFieldsByModuleAndType": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "MyAutomationAccount",
        "moduleName": "MyModule",
        "typeName": "MyCustomType",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "name": "Name",
                "type": "System.String"
              },
              {
                "name": "Id",
                "type": "System.Integer"
              },
              {
                "name": "Details",
                "type": "MyModule.AnotherCustomType"
              }
            ]
          }
        }
      }
    },
    "listFieldsByType": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "MyAutomationAccount",
        "typeName": "MyCustomType",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "name": "Name",
                "type": "System.String"
              },
              {
                "name": "Id",
                "type": "System.Integer"
              },
              {
                "name": "Details",
                "type": "MyModule.AnotherCustomType"
              }
            ]
          }
        }
      }
    },
    "listFieldsByModuleAndType-1": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "MyAutomationAccount",
        "moduleName": "MyModule",
        "typeName": "MyCustomType",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "name": "Name",
                "type": "System.String"
              },
              {
                "name": "Id",
                "type": "System.Integer"
              },
              {
                "name": "Details",
                "type": "MyModule.AnotherCustomType"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Activity",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Get"
}