{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}": {
      "patch": {
        "tags": [
          "Runbook"
        ],
        "operationId": "Runbook_Update",
        "description": "Update the runbook identified by runbook name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/runbookoperations"
        },
        "x-ms-examples": {
          "Update runbook": {
            "$ref": "#/definitions/updateRunbook"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "runbookName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The runbook name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/RunbookUpdateParameters"
            },
            "description": "The update parameters for runbook."
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Runbook"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Update"
      }
    }
  },
  "definitions": {
    "getRunbookDraftContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {
            "Content-Type": "text/powershell"
          },
          "body": "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n        For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n        LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\n    #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n    #Get the credential with the above name from the Automation Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n    #Connect to your Azure Account\r\n    $Account = Add-AzureAccount -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n    #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n    \r\n    #Get all the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n        Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n        Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
        }
      }
    },
    "replaceRunbookDraftContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "runbookContent": "<#\r\n        .DESCRIPTION\r\n            An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n            For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n        .NOTES\r\n            AUTHOR: Azure Automation Team\r\n            LASTEDIT: Mar27,\r\n            2015\r\n    #>\r\n    workflow Get-AzureVMTutorial{\r\n        #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n        $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n        #Get the credential with the above name from the Automation Asset store\r\n        $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n        if(!$Cred){\r\n            Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n        #Connect to your Azure Account\r\n        $Account = Add-AzureAccount -Credential $Cred\r\n        if(!$Account){\r\n            Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n        #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n        #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n        \r\n        #Get all the VMs you have in your Azure subscription\r\n        $VMs = Get-AzureVM\r\n\r\n        #Print out up to10 of those VMs\r\n        if(!$VMs){\r\n            Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n            Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
      },
      "responses": {
        "202": {
          "headers": {
            "Location": "https://management.azure.com/subscriptions/subid/resourcegroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial/draft/content/operationResults/9bd70be2-cf73-49b4-9467-5261d48c2b3d?api-version=2015-10-31"
          }
        }
      }
    },
    "getRunbookDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "body": {
            "creationTime": "2018-02-09T11:25:59.11+08:00",
            "lastModifiedTime": "2018-02-09T12:48:56.43+08:00",
            "inEdit": true,
            "parameters": {},
            "outputTypes": []
          }
        }
      }
    },
    "publishRunbookDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "202": {
          "headers": {
            "Location": "https://management.azure.com/subscriptions/subid/resourcegroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial/draft/publish/operationResults/9bd70be2-cf73-49b4-9467-5261d48c2b3d?api-version=2015-10-31"
          }
        }
      }
    },
    "undoDraftEditToLastKnownPublishedState": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getRunbookContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {
            "Content-Type": "text/powershell"
          },
          "body": "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n        For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n        LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\n    #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n    #Get the credential with the above name from the Automation Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n    #Connect to your Azure Account\r\n    $Account = Add-AzureAccount -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n    #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n    \r\n    #Get all the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n        Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n        Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
        }
      }
    },
    "getRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263335437500000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "outputTypes": [],
              "creationTime": "2017-03-29T05:32:23.75+08:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-29T05:32:23.75+08:00"
            }
          }
        }
      }
    },
    "createOrUpdateRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "logVerbose": false,
            "logProgress": true,
            "runbookType": "PowerShellWorkflow",
            "publishContentLink": {
              "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-automation-runbook-getvms/Runbooks/Get-AzureVMTutorial.ps1",
              "contentHash": {
                "algorithm": "SHA256",
                "value": "115775B8FF2BE672D8A946BD0B489918C724DDE15A440373CA54461D53010A80"
              }
            },
            "description": "Description of the Runbook",
            "logActivityTrace": 1
          },
          "name": "Get-AzureVMTutorial",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263318837230000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "outputTypes": [],
              "creationTime": "2017-03-29T05:04:43.66+08:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-29T05:04:43.723+08:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263318866000000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": true,
              "logProgress": true,
              "logActivityTrace": 1,
              "runbookType": "PowerShellWorkflow",
              "parameters": {},
              "state": "Published",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "outputTypes": [],
              "creationTime": "2017-03-29T05:04:43.66+08:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-29T05:04:46.6+08:00"
            }
          }
        },
        "400": {
          "code": "BadRequest",
          "message": "{\"Message\":\"Cannot specify the content link for a published runbook and draft at the same time.\"}"
        }
      }
    },
    "createRunbookAsDraft": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "logVerbose": false,
            "logProgress": false,
            "runbookType": "PowerShellWorkflow",
            "description": "Description of the Runbook",
            "draft": {}
          },
          "name": "Get-AzureVMTutorial",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263318837230000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": false,
              "logActivityTrace": 0,
              "runbookType": "Script",
              "parameters": {},
              "state": "New",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "creationTime": "2018-02-09T11:25:59.097+08:00",
              "lastModifiedTime": "2018-02-09T11:25:59.097+08:00",
              "outputTypes": []
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
            "name": "Get-AzureVMTutorial",
            "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
            "location": "East US 2",
            "tags": {
              "tag01": "value01",
              "tag02": "value02"
            },
            "etag": "\"636263318866000000\"",
            "properties": {
              "description": "Description of the Runbook",
              "logVerbose": false,
              "logProgress": false,
              "logActivityTrace": 0,
              "runbookType": "Script",
              "parameters": {},
              "state": "New",
              "jobCount": 0,
              "provisioningState": "Succeeded",
              "creationTime": "2018-02-09T11:25:59.097+08:00",
              "lastModifiedTime": "2018-02-09T11:25:59.097+08:00"
            }
          }
        },
        "400": {
          "code": "BadRequest",
          "message": "{\"Message\":\"Cannot specify the content link for a published runbook and draft at the same time.\"}"
        }
      }
    },
    "updateRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "description": "Updated Description of the Runbook",
            "logVerbose": false,
            "logProgress": true,
            "logActivityTrace": 1
          }
        }
      },
      "responses": {
        "200": {
          "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
          "name": "Get-AzureVMTutorial",
          "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
          "location": "East US 2",
          "tags": {
            "tag01": "value01",
            "tag02": "value02"
          },
          "etag": "\"636265044994500000\"",
          "properties": {
            "description": "Updated Description of the Runbook",
            "logVerbose": false,
            "logProgress": true,
            "logActivityTrace": 1,
            "runbookType": "PowerShellWorkflow",
            "parameters": {},
            "state": "Published",
            "jobCount": 0,
            "provisioningState": "Succeeded",
            "outputTypes": [],
            "creationTime": "2017-03-31T05:01:33.777+08:00",
            "lastModifiedBy": "myEmaild@microsoft.com",
            "lastModifiedTime": "2017-03-31T05:01:39.45+08:00"
          }
        }
      }
    },
    "deleteRunbook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "listRunbooksByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/ASR-AddPublicIp",
                "location": "East US 2",
                "name": "ASR-AddPublicIp",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShell",
                  "state": "Published",
                  "logVerbose": true,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-29T05:32:25.78+08:00",
                  "lastModifiedTime": "2017-03-29T05:32:25.81+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/AutoExport",
                "location": "East US 2",
                "name": "AutoExport",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShell",
                  "state": "Published",
                  "logVerbose": true,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-29T05:32:27.327+08:00",
                  "lastModifiedTime": "2017-03-29T05:32:27.327+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial",
                "location": "East US 2",
                "name": "Get-AzureVMTutorial",
                "type": "Microsoft.Automation/AutomationAccounts/Runbooks",
                "properties": {
                  "runbookType": "PowerShellWorkflow",
                  "state": "Published",
                  "logVerbose": false,
                  "logProgress": true,
                  "logActivityTrace": 1,
                  "creationTime": "2017-03-29T05:32:23.75+08:00",
                  "lastModifiedTime": "2017-03-29T05:32:23.75+08:00"
                }
              }
            ]
          }
        }
      }
    },
    "getTestJobStream": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "jobStreamId": "851b2101-686f-40e2-8a4b-5b8df08afbd1_00636535684910693884_00000000000000000001",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/foo/draft/testJob/streams/851b2101-686f-40e2-8a4b-5b8df08afbd1_00636535684910693884_00000000000000000001",
            "properties": {
              "jobStreamId": "851b2101-686f-40e2-8a4b-5b8df08afbd1:00636535684910693884:00000000000000000001",
              "summary": null,
              "time": "2018-02-07T10:48:11.0693884+08:00",
              "streamType": "Output",
              "streamText": "",
              "value": {}
            }
          }
        }
      }
    },
    "listTestJobStreamsByJob": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName/streams/24456a8a-2857-4af6-932c-3455f38bd05e_00636535675981232703_00000000000000000001",
                "properties": {
                  "jobStreamId": "24456a8a-2857-4af6-932c-3455f38bd05e_00636535675981232703_00000000000000000001",
                  "summary": null,
                  "time": "2018-02-07T10:33:18.1232703+08:00",
                  "streamType": "Output"
                }
              },
              {
                "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName/streams/24456a8a-2857-4af6-932c-3455f38bd05e_00636535675984691350_00000000000000000002",
                "properties": {
                  "jobStreamId": "24456a8a-2857-4af6-932c-3455f38bd05e_00636535675984691350_00000000000000000002",
                  "summary": null,
                  "time": "2018-02-07T10:33:18.469135+08:00",
                  "streamType": "Output"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "createTestJob": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31",
        "parameters": {
          "parameters": {
            "key01": "value01",
            "key02": "value02"
          },
          "runOn": ""
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "creationTime": "2018-02-09T13:51:59.82+08:00",
            "status": "New",
            "statusDetails": "None",
            "startTime": null,
            "endTime": null,
            "lastModifiedTime": "2018-02-09T13:51:59.82+08:00",
            "lastStatusModifiedTime": "2018-02-09T13:51:59.82+08:00",
            "exception": null,
            "parameters": {},
            "runOn": null,
            "logActivityTrace": null
          }
        }
      }
    },
    "getTestJob": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "creationTime": "2018-02-09T13:52:00.9344172+08:00",
            "status": "Completed",
            "statusDetails": "None",
            "startTime": "2018-02-09T13:55:10.8344743+08:00",
            "endTime": "2018-02-09T13:55:16.7827254+08:00",
            "lastModifiedTime": "2018-02-09T13:55:16.7827254+08:00",
            "lastStatusModifiedTime": "2018-02-09T13:55:16.7827254+08:00",
            "exception": null,
            "parameters": {},
            "runOn": null,
            "logActivityTrace": null
          }
        }
      }
    },
    "resumeTestJob": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "stopTestJob": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "suspendTestJob": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "ContoseAutomationAccount",
        "runbookName": "Get-AzureVMTutorial",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Runbook",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Update"
}