{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}": {
      "put": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Create",
        "description": "Create a job of the runbook.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "x-ms-examples": {
          "Create job": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "ContoseAutomationAccount",
              "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
              "api-version": "2015-10-31",
              "parameters": {
                "properties": {
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "parameters": {
                    "tag01": "value01",
                    "tag02": "value02"
                  }
                },
                "name": "TestRunbook",
                "location": "East US 2",
                "tags": {
                  "jobTags01": "jobTagsValue01",
                  "jobTags02": "value02"
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
                  "properties": {
                    "jobId": "45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23",
                    "runbook": {
                      "name": "TestRunbook"
                    },
                    "provisioningState": "Processing",
                    "creationTime": "2017-03-30T05:53:30.243+00:00",
                    "endTime": null,
                    "exception": null,
                    "lastModifiedTime": "2017-03-30T05:53:30.243+00:00",
                    "lastStatusModifiedTime": "2017-03-30T05:53:30.243+00:00",
                    "startedBy": "myEmaild@microsoft.com",
                    "startTime": null,
                    "status": "New",
                    "statusDetails": "None",
                    "parameters": {
                      "tag01": "value01",
                      "tag02": "value02"
                    },
                    "runOn": null
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job id."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobCreateParameters"
            },
            "description": "The parameters supplied to the create job operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "Create job": "createJob"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Create job": {
            "request": "PUT https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23?api-version=2015-10-31 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 204\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 24f53a14-afa9-4b43-b933-68ca1df5e1d4\nhost: management.azure.com\nConnection: close\n\n{\"properties\":{\"runbook\":{\"name\":\"TestRunbook\"},\"parameters\":{\"tag01\":\"value01\",\"tag02\":\"value02\"}},\"name\":\"TestRunbook\",\"location\":\"East US 2\",\"tags\":{\"jobTags01\":\"jobTagsValue01\",\"jobTags02\":\"value02\"}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23?api-version=2015-10-31' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 204' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 24f53a14-afa9-4b43-b933-68ca1df5e1d4' \\\n-d @- << EOF\n{\n  \"properties\": {\n    \"runbook\": {\n      \"name\": \"TestRunbook\"\n    },\n    \"parameters\": {\n      \"tag01\": \"value01\",\n      \"tag02\": \"value02\"\n    }\n  },\n  \"name\": \"TestRunbook\",\n  \"location\": \"East US 2\",\n  \"tags\": {\n    \"jobTags01\": \"jobTagsValue01\",\n    \"jobTags02\": \"value02\"\n  }\n}\nEOF\n",
            "response": {
              "201": "HTTP 1.1 201\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: e4750fd6-7fd7-4db0-a0d8-7caaba1f9e81\nx-ms-correlation-request-id: e4750fd6-7fd7-4db0-a0d8-7caaba1f9e81\nx-ms-routing-request-id: WESTUS2:20170904T092939088Z:e4750fd6-7fd7-4db0-a0d8-7caaba1f9e81\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 635\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:29:39 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23\",\"properties\":{\"jobId\":\"45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23\",\"runbook\":{\"name\":\"TestRunbook\"},\"provisioningState\":\"Processing\",\"creationTime\":\"2017-03-30T05:53:30.243+00:00\",\"endTime\":null,\"exception\":null,\"lastModifiedTime\":\"2017-03-30T05:53:30.243+00:00\",\"lastStatusModifiedTime\":\"2017-03-30T05:53:30.243+00:00\",\"startedBy\":\"myEmaild@microsoft.com\",\"startTime\":null,\"status\":\"New\",\"statusDetails\":\"None\",\"parameters\":{\"tag01\":\"value01\",\"tag02\":\"value02\"},\"runOn\":null}}\n"
            }
          }
        },
        "x-internal-toc-name": "Create"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "JobStreamProperties": {
      "properties": {
        "jobStreamId": {
          "type": "string",
          "description": "Gets or sets the id of the job stream."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the job."
        },
        "streamType": {
          "type": "string",
          "description": "Gets or sets the stream type.",
          "enum": [
            "Progress",
            "Output",
            "Warning",
            "Error",
            "Debug",
            "Verbose",
            "Any"
          ],
          "x-ms-enum": {
            "name": "JobStreamType",
            "modelAsString": true
          }
        },
        "streamText": {
          "type": "string",
          "description": "Gets or sets the stream text."
        },
        "summary": {
          "type": "string",
          "description": "Gets or sets the summary."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "description": "Gets or sets the values of the job stream."
        }
      },
      "x-ms-client-flatten": true,
      "description": "Definition of the job stream."
    },
    "JobStream": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobStreamProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the id of the job stream."
        }
      },
      "description": "Definition of the job stream."
    },
    "JobStreamListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStream"
          },
          "description": "A list of job streams."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job stream operation."
    },
    "RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "JobProperties": {
      "properties": {
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "startedBy": {
          "type": "string",
          "description": "Gets or sets the job started by."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        },
        "jobId": {
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets the id of the job."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the job."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the job.",
          "enum": [
            "New",
            "Activating",
            "Running",
            "Completed",
            "Failed",
            "Stopped",
            "Blocked",
            "Suspended",
            "Disconnected",
            "Suspending",
            "Stopping",
            "Resuming",
            "Removing"
          ],
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": true
          }
        },
        "statusDetails": {
          "type": "string",
          "description": "Gets or sets the status details of the job."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the job."
        },
        "exception": {
          "type": "string",
          "description": "Gets or sets the exception of the job."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time of the job."
        },
        "lastStatusModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last status modified time of the job."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        }
      },
      "description": "Definition of job properties."
    },
    "Job": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the job."
        }
      },
      "description": "Definition of the job."
    },
    "JobListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Job"
          },
          "description": "Gets or sets a list of jobs."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job operation."
    },
    "JobCreateProperties": {
      "properties": {
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        }
      },
      "required": [
        "runbook"
      ],
      "description": "The parameters supplied to the create job operation."
    },
    "JobCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of job properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create job operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Job",
  "x-internal-split-type": "Operation"
}