{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/variables/{variableName}": {
      "patch": {
        "tags": [
          "Variable"
        ],
        "operationId": "Variable_Update",
        "description": "Update a variable.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/variableoperations"
        },
        "x-ms-examples": {
          "Update a variable": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "sampleAccount9",
              "variableName": "sampleVariable",
              "api-version": "2015-10-31",
              "parameters": {
                "name": "sampleVariable",
                "properties": {
                  "value": "\"ComputerName3.domain.com\""
                }
              }
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable",
                  "name": "sampleVariable",
                  "properties": {
                    "creationTime": "2017-03-28T23:00:53.363+00:00",
                    "lastModifiedTime": "2017-03-28T23:00:57.987+00:00",
                    "isEncrypted": false,
                    "value": "\"ComputerName3.domain.com\"",
                    "description": "my description"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "variableName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The variable name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VariableUpdateParameters"
            },
            "description": "The parameters supplied to the update variable operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Variable"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "Update a variable": "updateVariable_patch"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Update a variable": {
            "request": "PATCH https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable?api-version=2015-10-31 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 79\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: de83b5f7-5d69-4d75-a94f-a21fa4d772c5\nhost: management.azure.com\nConnection: close\n\n{\"name\":\"sampleVariable\",\"properties\":{\"value\":\"\\\"ComputerName3.domain.com\\\"\"}}\n",
            "curl": "curl -X PATCH 'https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable?api-version=2015-10-31' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 79' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: de83b5f7-5d69-4d75-a94f-a21fa4d772c5' \\\n-d @- << EOF\n{\n  \"name\": \"sampleVariable\",\n  \"properties\": {\n    \"value\": \"\\\"ComputerName3.domain.com\\\"\"\n  }\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: def98915-e472-4d7e-ae37-5249f35d7b29\nx-ms-correlation-request-id: def98915-e472-4d7e-ae37-5249f35d7b29\nx-ms-routing-request-id: WESTUS2:20170904T092955292Z:def98915-e472-4d7e-ae37-5249f35d7b29\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 364\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:29:55 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/sampleAccount9/variables/sampleVariable\",\"name\":\"sampleVariable\",\"properties\":{\"creationTime\":\"2017-03-28T23:00:53.363+00:00\",\"lastModifiedTime\":\"2017-03-28T23:00:57.987+00:00\",\"isEncrypted\":false,\"value\":\"\\\"ComputerName3.domain.com\\\"\",\"description\":\"my description\"}}\n"
            }
          }
        },
        "x-internal-toc-name": "Update"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "VariableProperties": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the variable."
        },
        "isEncrypted": {
          "type": "boolean",
          "description": "Gets or sets the encrypted flag of the variable."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of the varible properties"
    },
    "Variable": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the variable."
        },
        "properties": {
          "$ref": "#/definitions/VariableProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the variable."
        }
      },
      "description": "Definition of the varible."
    },
    "VariableListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Variable"
          },
          "description": "Gets or sets a list of variables."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list variables operation."
    },
    "VariableUpdateProperties": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the variable."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the variable."
        }
      },
      "description": "The properties of the update variable"
    },
    "VariableUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the variable."
        },
        "properties": {
          "$ref": "#/definitions/VariableUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the variable."
        }
      },
      "required": [
        "name"
      ],
      "description": "The parameters supplied to the update variable operation."
    },
    "VariableCreateOrUpdateProperties": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the variable."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the variable."
        },
        "isEncrypted": {
          "type": "boolean",
          "description": "Gets or sets the encrypted flag of the variable."
        }
      },
      "description": "The properties of the create variable operation."
    },
    "VariableCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the variable."
        },
        "properties": {
          "$ref": "#/definitions/VariableCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the variable."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update variable operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Variable",
  "x-internal-split-type": "Operation"
}