{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on Tag entity in your Azure API Management deployment. Tags can be assigned to APIs, Operations and Products.",
    "version": "2018-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/tags/{tagId}": {
      "patch": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tag_Update",
        "description": "Updates the details of the tag specified by its identifier.",
        "x-ms-examples": {
          "ApiManagementUpdateTag": {
            "$ref": "#/definitions/ApiManagementUpdateTag"
          }
        },
        "parameters": [
          {
            "$ref": "./apimanagement.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/TagIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagCreateUpdateParameters"
            },
            "description": "Update parameters."
          },
          {
            "$ref": "./apimanagement.json#/parameters/IfMatchRequiredParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The tag details were successfully updated."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./apimanagement.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Update"
      }
    }
  },
  "definitions": {
    "TagCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged Tag list representation."
    },
    "TagContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TagContractProperties",
          "description": "Tag entity contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Tag Contract details."
    },
    "TagContractProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Tag name.",
          "maxLength": 160,
          "minLength": 1
        }
      },
      "required": [
        "displayName"
      ],
      "description": "Tag contract Properties."
    },
    "TagCreateUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TagContractProperties",
          "description": "Properties supplied to Create Tag operation."
        }
      },
      "description": "Parameters supplied to Create/Update Tag operations."
    },
    "TagDescriptionCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagDescriptionContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged TagDescription list representation."
    },
    "TagDescriptionContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TagDescriptionContractProperties",
          "description": "TagDescription entity contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Contract details."
    },
    "TagDescriptionContractProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Tag name.",
          "maxLength": 160,
          "minLength": 1
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TagDescriptionBaseProperties"
        }
      ],
      "description": "TagDescription contract Properties."
    },
    "TagDescriptionCreateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TagDescriptionBaseProperties",
          "description": "Properties supplied to Create TagDescription operation."
        }
      },
      "description": "Parameters supplied to the Create TagDescription operation."
    },
    "TagDescriptionBaseProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the Tag."
        },
        "externalDocsUrl": {
          "type": "string",
          "description": "Absolute URL of external resources describing the tag.",
          "maxLength": 2000
        },
        "externalDocsDescription": {
          "type": "string",
          "description": "Description of the external resources describing the tag."
        }
      },
      "description": "Parameters supplied to the Create TagDescription operation."
    },
    "ApiManagementListTags": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020001",
                "type": "Microsoft.ApiManagement/service/tags",
                "name": "5600b59375ff190048020001",
                "properties": {
                  "displayName": "tag1"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b59375ff190048020002",
                "type": "Microsoft.ApiManagement/service/tags",
                "name": "5600b59375ff190048020002",
                "properties": {
                  "displayName": "tag2"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "headers": {
            "Etag": "AAAAAAAACCI="
          }
        }
      }
    },
    "ApiManagementGetTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "59306a29e4bbd510dc24e5f9",
            "properties": {
              "displayName": "tag1"
            }
          }
        }
      }
    },
    "ApiManagementCreateTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "tagId": "tagId1",
        "parameters": {
          "properties": {
            "displayName": "tag1"
          }
        }
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1"
            }
          }
        }
      }
    },
    "ApiManagementUpdateTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "tagId": "temptag",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "displayName": "temp tag"
          }
        }
      },
      "responses": {
        "204": {}
      }
    },
    "ApiManagementDeleteTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "tagId": "tagId1",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementGetTagsForApi": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "57d2ef278aa04f0888cba3f3"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002",
                "type": "Microsoft.ApiManagement/service/tags",
                "name": "5600b539c53f5b0062060002",
                "properties": {
                  "displayName": "tag1"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadApiTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d6bb8f1f7fab13dc67ec9b",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "headers": {
            "Etag": "AAAAAAAACCI="
          }
        }
      }
    },
    "ApiManagementGetApiTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d6bb8f1f7fab13dc67ec9b",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "59306a29e4bbd510dc24e5f9",
            "properties": {
              "displayName": "tag1"
            }
          }
        }
      }
    },
    "ApiManagementCreateApiTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "5931a75ae4bbd512a88c680b",
        "tagId": "tagId1"
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1"
            }
          }
        }
      }
    },
    "ApiManagementDeleteApiTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d5b28d1f7fab116c282650",
        "tagId": "59d5b28e1f7fab116402044e",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementGetTagDescriptionsForApi": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "57d2ef278aa04f0888cba3f3"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002",
                "type": "Microsoft.ApiManagement/service/tags",
                "name": "5600b539c53f5b0062060002",
                "properties": {
                  "displayName": "tag1",
                  "externalDocsDescription": "some additional info",
                  "externalDocsUrl": "http://some_url.com"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadApiTagDescription": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d6bb8f1f7fab13dc67ec9b",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "headers": {
            "Etag": "AAAAAAAACCI="
          }
        }
      }
    },
    "ApiManagementGetApiTagDescription": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d6bb8f1f7fab13dc67ec9b",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "59306a29e4bbd510dc24e5f9",
            "properties": {
              "displayName": "tag1",
              "description": null,
              "externalDocsDescription": "some additional info",
              "externalDocsUrl": "http://some_url.com"
            }
          }
        }
      }
    },
    "ApiManagementCreateApiTagDescription": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "5931a75ae4bbd512a88c680b",
        "tagId": "tagId1",
        "parameters": {
          "properties": {
            "description": "Some description that will be displayed for operation's tag if the tag is assigned to operation of the API",
            "externalDocsUrl": "http://some.url/additionaldoc",
            "externalDocsDescription": "Description of the external docs resource"
          }
        }
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1",
              "description": null,
              "externalDocsDescription": "some additional info",
              "externalDocsUrl": "http://some_url.com"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1",
              "description": null,
              "externalDocsDescription": "some additional info",
              "externalDocsUrl": "http://some_url.com"
            }
          }
        }
      }
    },
    "ApiManagementDeleteApiTagDescription": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d5b28d1f7fab116c282650",
        "tagId": "59d5b28e1f7fab116402044e",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementGetTagsForOperation": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "57d2ef278aa04f0888cba3f3",
        "operationId": "57d2ef278aa04f0888cba3f6"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002",
                "type": "Microsoft.ApiManagement/service/tags",
                "name": "5600b539c53f5b0062060002",
                "properties": {
                  "displayName": "tag1"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadOperationTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d6bb8f1f7fab13dc67ec9b",
        "operationId": "59d6bb8f1f7fab13dc67ec9a",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "headers": {
            "Etag": "AAAAAAAACCI="
          }
        }
      }
    },
    "ApiManagementGetOperationTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d6bb8f1f7fab13dc67ec9b",
        "operationId": "59d6bb8f1f7fab13dc67ec9a",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "59306a29e4bbd510dc24e5f9",
            "properties": {
              "displayName": "tag1"
            }
          }
        }
      }
    },
    "ApiManagementCreateOperationTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "5931a75ae4bbd512a88c680b",
        "operationId": "5931a75ae4bbd512a88c680a",
        "tagId": "tagId1"
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1"
            }
          }
        }
      }
    },
    "ApiManagementDeleteOperationTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "59d5b28d1f7fab116c282650",
        "operationId": "59d5b28d1f7fab116c282651",
        "tagId": "59d5b28e1f7fab116402044e",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementListOperationsByTags": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "apiId": "a1"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "tag": {
                  "id": "/tags/apitag123",
                  "name": "awesomeTag"
                },
                "operation": {
                  "id": "/apis/echo-api/operations/create-resource",
                  "apiName": "Echo API",
                  "apiRevision": "1",
                  "name": "Create resource",
                  "method": "POST",
                  "urlTemplate": "/resource",
                  "description": "A demonstration of a POST call based on the echo backend above. The request body is expected to contain JSON-formatted data (see example below). A policy is used to automatically transform any request sent in JSON directly to XML. In a real-world scenario this could be used to enable modern clients to speak to a legacy backend."
                }
              }
            ],
            "count": 1
          }
        }
      }
    },
    "ApiManagementGetTagsForProduct": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "57d2ef278aa04f0888cba3f1"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/5600b539c53f5b0062060002",
                "type": "Microsoft.ApiManagement/service/tags",
                "name": "5600b539c53f5b0062060002",
                "properties": {
                  "displayName": "tag1"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadProductTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "59306a29e4bbd510dc24e5f8",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "headers": {
            "Etag": "AAAAAAAACCI="
          }
        }
      }
    },
    "ApiManagementGetProductTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "59d6bb8f1f7fab13dc67ec9b",
        "tagId": "59306a29e4bbd510dc24e5f9"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/59306a29e4bbd510dc24e5f9",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "59306a29e4bbd510dc24e5f9",
            "properties": {
              "displayName": "tag1"
            }
          }
        }
      }
    },
    "ApiManagementCreateProductTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "5931a75ae4bbd512a88c680b",
        "tagId": "tagId1"
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/tags/tagId1",
            "type": "Microsoft.ApiManagement/service/tags",
            "name": "tagId1",
            "properties": {
              "displayName": "tag1"
            }
          }
        }
      }
    },
    "ApiManagementDeleteProductTag": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "productId": "59d5b28d1f7fab116c282650",
        "tagId": "59d5b28e1f7fab116402044e",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    }
  },
  "parameters": {
    "TagIdParameter": {
      "name": "tagId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Tag identifier. Must be unique in the current API Management service instance.",
      "minLength": 1,
      "maxLength": 80,
      "pattern": "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "API Management",
  "x-internal-operation-group-name": "Tag Entity",
  "x-internal-toc-name": "Tag Entity",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Update"
}