{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on Diagnostic entity associated with your Azure API Management deployment. Diagnostics are used to log requests/responses in the APIM proxy.",
    "version": "2018-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/diagnostics/{diagnosticId}": {
      "put": {
        "tags": [
          "Diagnostics"
        ],
        "operationId": "Diagnostic_CreateOrUpdate",
        "description": "Creates a new Diagnostic or updates an existing one.",
        "x-ms-examples": {
          "ApiManagementCreateDiagnostic": {
            "$ref": "#/definitions/ApiManagementCreateDiagnostic"
          }
        },
        "parameters": [
          {
            "$ref": "./apimanagement.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/DiagnosticIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiagnosticContract"
            },
            "description": "Create parameters."
          },
          {
            "$ref": "./apimanagement.json#/parameters/IfMatchOptionalParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Diagnostic was successfully created.",
            "schema": {
              "$ref": "#/definitions/DiagnosticContract"
            }
          },
          "200": {
            "description": "Diagnostic was successfully updated.",
            "schema": {
              "$ref": "#/definitions/DiagnosticContract"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./apimanagement.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "DiagnosticCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiagnosticContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged Diagnostic list representation."
    },
    "DiagnosticContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DiagnosticContractProperties",
          "description": "Diagnostic entity contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Diagnostic details."
    },
    "DiagnosticContractProperties": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether a diagnostic should receive data or not."
        }
      },
      "required": [
        "enabled"
      ],
      "description": "Diagnostic Entity Properties"
    },
    "ApiManagementListDiagnostics": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default",
                "type": "Microsoft.ApiManagement/service/diagnostics",
                "name": "default",
                "properties": {
                  "enabled": false
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadDiagnostic": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default"
      },
      "responses": {
        "200": {
          "headers": {
            "etag": "AAAAAAAAAAa="
          }
        }
      }
    },
    "ApiManagementGetDiagnostic": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default",
            "type": "Microsoft.ApiManagement/service/diagnostics",
            "name": "default",
            "properties": {
              "enabled": false
            }
          }
        }
      }
    },
    "ApiManagementCreateDiagnostic": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default",
        "parameters": {
          "properties": {
            "enabled": true
          }
        }
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default",
            "type": "Microsoft.ApiManagement/service/diagnostics",
            "name": "default",
            "properties": {
              "enabled": true
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default",
            "type": "Microsoft.ApiManagement/service/diagnostics",
            "name": "default",
            "properties": {
              "enabled": true
            }
          }
        }
      }
    },
    "ApiManagementUpdateDiagnostic": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default",
        "If-Match": "*",
        "parameters": {
          "properties": {
            "enabled": false
          }
        }
      },
      "responses": {
        "204": {}
      }
    },
    "ApiManagementDeleteDiagnostic": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default",
        "If-Match": "*"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementListDiagnosticLoggers": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights",
                "type": "Microsoft.ApiManagement/service/diagnostics/loggers",
                "name": "applicationinsights",
                "properties": {
                  "loggerType": "applicationInsights",
                  "description": null,
                  "credentials": {
                    "instrumentationKey": "{{5a.......2a}}"
                  },
                  "isBuffered": false
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadDiagnosticLogger": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default",
        "loggerid": "templateLogger"
      },
      "responses": {
        "204": {},
        "404": {}
      }
    },
    "ApiManagementCreateDiagnosticLogger": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default",
        "loggerid": "applicationinsights",
        "parameters": {}
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights",
            "type": "Microsoft.ApiManagement/service/diagnostics/loggers",
            "name": "applicationinsights",
            "properties": {
              "loggerType": "applicationInsights",
              "description": null,
              "credentials": {
                "instrumentationKey": "{{5a.......2a}}"
              },
              "isBuffered": false
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/diagnostics/default/loggers/applicationinsights",
            "type": "Microsoft.ApiManagement/service/diagnostics/loggers",
            "name": "applicationinsights",
            "properties": {
              "loggerType": "applicationInsights",
              "description": null,
              "credentials": {
                "instrumentationKey": "{{5a.......2a}}"
              },
              "isBuffered": false
            }
          }
        }
      }
    },
    "ApiManagementDeleteDiagnosticLogger": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "diagnosticId": "default",
        "loggerid": "applicationinsights",
        "parameters": {}
      },
      "responses": {
        "200": {},
        "204": {}
      }
    }
  },
  "parameters": {
    "DiagnosticIdParameter": {
      "name": "diagnosticId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Diagnostic identifier. Must be unique in the current API Management service instance.",
      "minLength": 1,
      "maxLength": 80,
      "pattern": "(^[\\w]+$)|(^[\\w][\\w\\-]+[\\w]$)",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "API Management",
  "x-internal-toc-name": "Diagnostic",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Create Or Update"
}