{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/modules": {
      "get": {
        "tags": [
          "Module"
        ],
        "operationId": "Module_ListByAutomationAccount",
        "description": "Retrieve a list of modules.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "List modules by automation account": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "api-version": "2015-10-31"
            },
            "responses": {
              "200": {
                "headers": {},
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Azure",
                      "name": "Azure",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2014-03-18T23:02:40.323+00:00",
                        "lastModifiedTime": "2017-03-17T16:57:48.343+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Azure.Storage",
                      "name": "Azure.Storage",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2016-01-30T01:21:44.68+00:00",
                        "lastModifiedTime": "2017-03-17T17:04:27.833+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Automation",
                      "name": "AzureRM.Automation",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2016-01-30T01:19:39.427+00:00",
                        "lastModifiedTime": "2017-03-17T17:02:24.42+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Compute",
                      "name": "AzureRM.Compute",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-11-24T20:24:06.1+00:00",
                        "lastModifiedTime": "2017-03-17T17:01:53.81+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Profile",
                      "name": "AzureRM.Profile",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-11-24T20:23:34.723+00:00",
                        "lastModifiedTime": "2017-03-17T17:01:22.993+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Resources",
                      "name": "AzureRM.Resources",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2016-01-30T01:20:10.367+00:00",
                        "lastModifiedTime": "2017-03-17T17:02:55.25+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Sql",
                      "name": "AzureRM.Sql",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2016-01-30T01:20:42.177+00:00",
                        "lastModifiedTime": "2017-03-17T17:03:26.08+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/AzureRM.Storage",
                      "name": "AzureRM.Storage",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2016-01-30T01:21:13.237+00:00",
                        "lastModifiedTime": "2017-03-17T17:03:56.99+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Core",
                      "name": "Microsoft.PowerShell.Core",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-03-17T00:12:20.897+00:00",
                        "lastModifiedTime": "2017-03-17T16:58:19.017+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Diagnostics",
                      "name": "Microsoft.PowerShell.Diagnostics",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-03-17T00:12:22.817+00:00",
                        "lastModifiedTime": "2017-03-17T16:58:49.737+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Management",
                      "name": "Microsoft.PowerShell.Management",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-03-17T00:12:24.967+00:00",
                        "lastModifiedTime": "2017-03-17T16:59:20.38+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Security",
                      "name": "Microsoft.PowerShell.Security",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-03-17T00:12:26.753+00:00",
                        "lastModifiedTime": "2017-03-17T16:59:51.007+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.PowerShell.Utility",
                      "name": "Microsoft.PowerShell.Utility",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-03-17T00:12:28.643+00:00",
                        "lastModifiedTime": "2017-03-17T17:00:21.647+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Microsoft.WSMan.Management",
                      "name": "Microsoft.WSMan.Management",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-03-17T00:17:15.003+00:00",
                        "lastModifiedTime": "2017-03-17T17:00:52.197+00:00",
                        "provisioningState": "Created"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/OmsCompositeResources",
                      "name": "OmsCompositeResources",
                      "properties": {
                        "isGlobal": false,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2017-03-29T15:41:47.003+00:00",
                        "lastModifiedTime": "2017-03-29T15:42:10.567+00:00",
                        "provisioningState": "Creating"
                      }
                    },
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/modules/Orchestrator.AssetManagement.Cmdlets",
                      "name": "Orchestrator.AssetManagement.Cmdlets",
                      "properties": {
                        "isGlobal": true,
                        "version": null,
                        "sizeInBytes": 0,
                        "activityCount": 0,
                        "creationTime": "2015-09-12T00:45:12.897+00:00",
                        "lastModifiedTime": "2017-03-17T17:05:01.57+00:00",
                        "provisioningState": "Created"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModuleListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Automation Account"
      }
    }
  },
  "definitions": null,
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-toc-name": "Module",
  "x-internal-split-type": "Operation",
  "x-internal-split-members": [
    {
      "displayName": "Get",
      "relativePath": "Activity/Get"
    },
    {
      "displayName": "List By Module",
      "relativePath": "Activity/ListByModule"
    }
  ]
}