{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2018-01-15",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "ContentHash": {
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentSource": {
      "properties": {
        "hash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the content source type.",
          "enum": [
            "embeddedContent",
            "uri"
          ],
          "x-ms-enum": {
            "name": "ContentSourceType",
            "modelAsString": true
          }
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value of the content. This is based on the content source type."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content source."
    },
    "DscNodeConfiguration": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscNodeConfigurationProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the configuration properties."
        }
      },
      "allOf": [
        {
          "$ref": "./definitions.json#/definitions/ProxyResource"
        }
      ],
      "description": "Definition of the dsc node configuration."
    },
    "DscNodeConfigurationProperties": {
      "description": "Properties for the DscNodeConfiguration",
      "properties": {
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets creation time.",
          "x-nullable": false
        },
        "configuration": {
          "$ref": "#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "source": {
          "type": "string",
          "description": "Source of node configuration."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int64",
          "description": "Number of nodes with this nodeconfiguration assigned"
        },
        "incrementNodeConfigurationBuild": {
          "type": "boolean",
          "description": "If a new build version of NodeConfiguration is required."
        }
      }
    },
    "DscNodeConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNodeConfiguration"
          },
          "description": "Gets or sets a list of Dsc node configurations."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job operation."
    },
    "DscNodeExtensionHandlerAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the extension handler."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the extension handler."
        }
      },
      "description": "The dsc extensionHandler property associated with the node"
    },
    "DscNodeConfigurationCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscNodeConfigurationCreateOrUpdateParametersProperties",
          "x-ms-client-flatten": true,
          "description": "Node configuration properties"
        },
        "name": {
          "type": "string",
          "description": "Name of the node configuration."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      }
    },
    "DscNodeConfigurationCreateOrUpdateParametersProperties": {
      "properties": {
        "source": {
          "$ref": "#/definitions/ContentSource",
          "description": "Gets or sets the source."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the type of the parameter."
        },
        "configuration": {
          "$ref": "#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "incrementNodeConfigurationBuild": {
          "type": "boolean",
          "description": "If a new build version of NodeConfiguration is required."
        }
      },
      "required": [
        "source",
        "name",
        "configuration"
      ],
      "description": "The parameters supplied to the create or update node configuration operation."
    },
    "DscConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the Dsc configuration."
        }
      },
      "description": "The Dsc configuration property associated with the entity."
    },
    "deleteDscNodeConfiguration": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount20",
        "credentialName": "myCredential",
        "api-version": "2018-01-15",
        "nodeConfigurationName": "configName.nodeConfigName"
      },
      "responses": {
        "200": {}
      }
    },
    "getDscNodeConfiguration": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeConfigurationName": "SetupServer.localhost",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost",
            "type": "Microsoft.Automation/AutomationAccounts/nodeConfigurations",
            "name": "SetupServer.localhost",
            "properties": {
              "configuration": {
                "name": "SetupServer"
              },
              "creationTime": "2017-03-29T07:17:06.8901968+08:00",
              "lastModifiedTime": "2017-03-29T07:17:06.8901968+08:00",
              "source": null,
              "nodeCount": 0,
              "incrementNodeConfigurationBuild": false
            }
          }
        }
      }
    },
    "createOrUpdateDscNodeConfiguration": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount20",
        "credentialName": "myCredential",
        "api-version": "2018-01-15",
        "nodeConfigurationName": "configName.nodeConfigName",
        "parameters": {
          "name": "configName.nodeConfigName",
          "properties": {
            "source": {
              "hash": {
                "algorithm": "sha256",
                "value": "6DE256A57F01BFA29B88696D5E77A383D6E61484C7686E8DB955FA10ACE9FFE5"
              },
              "type": "embeddedContent",
              "value": "\r\ninstance of MSFT_RoleResource as $MSFT_RoleResource1ref\r\n{\r\nResourceID = \"[WindowsFeature]IIS\";\r\n Ensure = \"Present\";\r\n SourceInfo = \"::3::32::WindowsFeature\";\r\n Name = \"Web-Server\";\r\n ModuleName = \"PsDesiredStateConfiguration\";\r\n\r\nModuleVersion = \"1.0\";\r\r\n ConfigurationName = \"configName\";\r\r\n};\r\ninstance of OMI_ConfigurationDocument\r\n\r\r\n                    {\r\n Version=\"2.0.0\";\r\n \r\r\n                        MinimumCompatibleVersion = \"1.0.0\";\r\n \r\r\n                        CompatibleVersionAdditionalProperties= {\"Omi_BaseResource:ConfigurationName\"};\r\n \r\r\n                        Author=\"weijiel\";\r\n \r\r\n                        GenerationDate=\"03/30/2017 13:40:25\";\r\n \r\r\n                        GenerationHost=\"TEST-BACKEND\";\r\n \r\r\n                        Name=\"configName\";\r\n\r\r\n                    };\r\n",
              "version": "1.0"
            },
            "incrementNodeConfigurationBuild": true,
            "name": "configName.nodeConfigName",
            "configuration": {
              "name": "configName"
            }
          }
        }
      },
      "responses": {
        "200": {},
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/nodeConfigurations/configName.nodeConfigName",
            "name": "configName.nodeConfigName",
            "type": "Microsoft.Automation/AutomationAccounts/nodeConfigurations",
            "properties": {
              "lastModifiedTime": "2018-03-25T09:29:17.1205764+08:00",
              "creationTime": "2018-03-25T09:29:17.1205764+08:00",
              "configuration": {
                "name": "configName"
              },
              "source": null,
              "nodeCount": 0,
              "incrementNodeConfigurationBuild": false
            }
          }
        }
      }
    },
    "listDscNodeConfigurations": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost",
                "type": "Microsoft.Automation/AutomationAccounts/nodeConfigurations",
                "name": "SetupServer.localhost",
                "properties": {
                  "configuration": {
                    "name": "SetupServer"
                  },
                  "creationTime": "2017-03-29T07:17:06.8901968+08:00",
                  "lastModifiedTime": "2017-03-29T07:17:06.8901968+08:00",
                  "source": null,
                  "nodeCount": 0,
                  "incrementNodeConfigurationBuild": false
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost",
                "type": "Microsoft.Automation/AutomationAccounts/nodeConfigurations",
                "name": "SetupServer.localhost",
                "properties": {
                  "configuration": {
                    "name": "SetupServer"
                  },
                  "creationTime": "2017-03-29T07:17:06.8901968+08:00",
                  "lastModifiedTime": "2017-03-29T07:17:06.8901968+08:00",
                  "source": null,
                  "nodeCount": 0,
                  "incrementNodeConfigurationBuild": false
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Dsc Node Configuration",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "DscNodeConfiguration/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "DscNodeConfiguration/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "DscNodeConfiguration/Get"
    },
    {
      "displayName": "List By Automation Account",
      "relativePath": "DscNodeConfiguration/ListByAutomationAccount"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}