{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "createOrUpdateSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "scheduleName": "mySchedule",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "mySchedule",
          "properties": {
            "description": "my description of schedule goes here",
            "startTime": "2017-03-27T17:28:57.2494819Z",
            "expiryTime": "2017-04-01T17:28:57.2494819Z",
            "interval": 1,
            "frequency": "Hour",
            "advancedSchedule": {}
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
            "name": "mySchedule",
            "properties": {
              "description": "my description of schedule goes here",
              "startTime": "2017-03-28T01:28:00+08:00",
              "startTimeOffsetMinutes": 0.0,
              "expiryTime": "2017-04-02T01:28:00+08:00",
              "expiryTimeOffsetMinutes": 0.0,
              "isEnabled": true,
              "nextRun": "2017-03-28T01:28:00+08:00",
              "nextRunOffsetMinutes": 0.0,
              "interval": 1,
              "frequency": "Hour",
              "creationTime": "2017-03-28T00:59:22.697+08:00",
              "lastModifiedTime": "2017-03-28T00:59:22.697+08:00",
              "timeZone": "UTC",
              "advancedSchedule": null
            }
          }
        },
        "409": {}
      }
    },
    "updateSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "scheduleName": "mySchedule",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "mySchedule",
          "properties": {
            "description": "my updated description of schedule goes here",
            "isEnabled": false
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
            "name": "mySchedule",
            "properties": {
              "description": "my updated description of schedule goes here",
              "startTime": "2017-03-28T01:28:00+08:00",
              "startTimeOffsetMinutes": 0.0,
              "expiryTime": "2017-04-02T01:28:00+08:00",
              "expiryTimeOffsetMinutes": 0.0,
              "isEnabled": false,
              "nextRun": "2017-03-28T01:28:00+08:00",
              "nextRunOffsetMinutes": 0.0,
              "interval": 1,
              "frequency": "Hour",
              "creationTime": "2017-03-28T00:59:22.697+08:00",
              "lastModifiedTime": "2017-03-28T00:59:22.697+08:00",
              "timeZone": "UTC",
              "advancedSchedule": null
            }
          }
        }
      }
    },
    "getSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "scheduleName": "mySchedule",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
            "name": "mySchedule",
            "properties": {
              "description": "my description of schedule goes here",
              "startTime": "2017-03-28T01:28:00+08:00",
              "startTimeOffsetMinutes": 0.0,
              "expiryTime": "2017-04-02T01:28:00+08:00",
              "expiryTimeOffsetMinutes": 0.0,
              "isEnabled": true,
              "nextRun": "2017-03-28T01:28:00+08:00",
              "nextRunOffsetMinutes": 0.0,
              "interval": 1,
              "frequency": "Hour",
              "creationTime": "2017-03-28T00:59:22.697+08:00",
              "lastModifiedTime": "2017-03-28T00:59:22.697+08:00",
              "timeZone": "UTC",
              "advancedSchedule": null
            }
          }
        }
      }
    },
    "deleteSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "scheduleName": "mySchedule",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "404": {}
      }
    },
    "listSchedulesByAutomationAccount_First100": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
                "name": "mySchedule",
                "properties": {
                  "description": "my updated description of schedule goes here",
                  "startTime": "2017-03-28T01:28:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": false,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T00:59:22.697+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:14.027+08:00",
                  "nextRun": "2017-03-28T01:28:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule0",
                "name": "mySchedule0",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:17.18+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:17.18+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule1",
                "name": "mySchedule1",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:17.493+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:17.493+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule10",
                "name": "mySchedule10",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:20.54+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:20.54+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule100",
                "name": "mySchedule100",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:50.103+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:50.103+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule101",
                "name": "mySchedule101",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:50.433+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:50.433+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule102",
                "name": "mySchedule102",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:50.713+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:50.713+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule103",
                "name": "mySchedule103",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:51.04+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:51.04+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule104",
                "name": "mySchedule104",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:51.323+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:51.323+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule105",
                "name": "mySchedule105",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:51.62+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:51.62+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule106",
                "name": "mySchedule106",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:51.9+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:51.9+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule107",
                "name": "mySchedule107",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:52.183+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:52.183+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule108",
                "name": "mySchedule108",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:52.48+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:52.48+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule109",
                "name": "mySchedule109",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:52.76+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:52.76+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule11",
                "name": "mySchedule11",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:20.883+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:20.883+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule110",
                "name": "mySchedule110",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:53.073+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:53.073+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule111",
                "name": "mySchedule111",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:53.48+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:53.48+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule112",
                "name": "mySchedule112",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:53.807+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:53.807+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule113",
                "name": "mySchedule113",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:54.073+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:54.073+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule114",
                "name": "mySchedule114",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:54.353+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:54.353+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule115",
                "name": "mySchedule115",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:54.65+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:54.65+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule116",
                "name": "mySchedule116",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:54.933+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:54.933+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule117",
                "name": "mySchedule117",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:55.277+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:55.277+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule118",
                "name": "mySchedule118",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:55.65+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:55.65+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule119",
                "name": "mySchedule119",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:55.95+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:55.95+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule12",
                "name": "mySchedule12",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:21.213+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:21.213+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule120",
                "name": "mySchedule120",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:56.353+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:56.353+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule121",
                "name": "mySchedule121",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:56.65+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:56.65+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule122",
                "name": "mySchedule122",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:56.95+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:56.95+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule123",
                "name": "mySchedule123",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:57.247+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:57.247+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule124",
                "name": "mySchedule124",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:57.573+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:57.573+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule125",
                "name": "mySchedule125",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:57.9+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:57.9+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule126",
                "name": "mySchedule126",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:58.387+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:58.387+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule127",
                "name": "mySchedule127",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:58.7+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:58.7+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule128",
                "name": "mySchedule128",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:59.4+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:59.4+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule129",
                "name": "mySchedule129",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:59.73+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:59.73+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule13",
                "name": "mySchedule13",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:21.603+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:21.603+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule130",
                "name": "mySchedule130",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:00.09+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:00.09+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule131",
                "name": "mySchedule131",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:00.4+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:00.4+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule132",
                "name": "mySchedule132",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:00.683+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:00.683+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule133",
                "name": "mySchedule133",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:01.073+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:01.073+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule134",
                "name": "mySchedule134",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:01.387+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:01.387+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule135",
                "name": "mySchedule135",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:01.667+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:01.667+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule136",
                "name": "mySchedule136",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:01.95+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:01.95+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule137",
                "name": "mySchedule137",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:02.247+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:02.247+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule138",
                "name": "mySchedule138",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:02.557+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:02.557+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule139",
                "name": "mySchedule139",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:02.853+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:02.853+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule14",
                "name": "mySchedule14",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:21.98+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:21.98+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule140",
                "name": "mySchedule140",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:03.247+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:03.247+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule141",
                "name": "mySchedule141",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:03.573+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:03.573+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule142",
                "name": "mySchedule142",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:03.87+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:03.87+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule143",
                "name": "mySchedule143",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:04.2+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:04.2+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule144",
                "name": "mySchedule144",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:04.48+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:04.48+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule145",
                "name": "mySchedule145",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:04.76+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:04.76+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule146",
                "name": "mySchedule146",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:05.027+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:05.027+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule147",
                "name": "mySchedule147",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:05.353+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:05.353+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule148",
                "name": "mySchedule148",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:05.65+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:05.65+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule149",
                "name": "mySchedule149",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:05.95+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:05.95+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule15",
                "name": "mySchedule15",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:22.353+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:22.353+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule150",
                "name": "mySchedule150",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:06.247+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:06.247+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule151",
                "name": "mySchedule151",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:06.527+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:06.527+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule152",
                "name": "mySchedule152",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:06.81+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:06.81+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule153",
                "name": "mySchedule153",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:07.157+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:07.157+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule154",
                "name": "mySchedule154",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:07.453+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:07.453+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule155",
                "name": "mySchedule155",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:07.75+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:07.75+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule156",
                "name": "mySchedule156",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:08.093+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:08.093+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule157",
                "name": "mySchedule157",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:08.513+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:08.513+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule158",
                "name": "mySchedule158",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:08.873+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:08.873+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule159",
                "name": "mySchedule159",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:09.203+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:09.203+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule16",
                "name": "mySchedule16",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:22.697+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:22.697+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule160",
                "name": "mySchedule160",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:09.547+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:09.547+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule161",
                "name": "mySchedule161",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:09.843+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:09.843+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule162",
                "name": "mySchedule162",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:10.14+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:10.14+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule163",
                "name": "mySchedule163",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:10.437+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:10.437+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule164",
                "name": "mySchedule164",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:10.72+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:10.72+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule165",
                "name": "mySchedule165",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:11.013+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:11.013+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule166",
                "name": "mySchedule166",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:11.297+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:11.297+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule167",
                "name": "mySchedule167",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:11.61+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:11.61+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule168",
                "name": "mySchedule168",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:11.89+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:11.89+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule169",
                "name": "mySchedule169",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:12.203+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:12.203+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule17",
                "name": "mySchedule17",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:23.027+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:23.027+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule170",
                "name": "mySchedule170",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:12.453+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:12.453+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule171",
                "name": "mySchedule171",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:12.733+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:12.733+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule172",
                "name": "mySchedule172",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:13.03+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:13.03+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule173",
                "name": "mySchedule173",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:13.31+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:13.31+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule174",
                "name": "mySchedule174",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:13.623+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:13.623+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule175",
                "name": "mySchedule175",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:01:13.937+08:00",
                  "lastModifiedTime": "2017-03-28T01:01:13.937+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule18",
                "name": "mySchedule18",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:23.337+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:23.337+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule19",
                "name": "mySchedule19",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:23.667+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:23.667+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule2",
                "name": "mySchedule2",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:17.823+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:17.823+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule20",
                "name": "mySchedule20",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:24.01+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:24.01+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule21",
                "name": "mySchedule21",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:24.337+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:24.337+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule22",
                "name": "mySchedule22",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:24.667+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:24.667+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule23",
                "name": "mySchedule23",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:24.98+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:24.98+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule24",
                "name": "mySchedule24",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:25.353+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:25.353+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule25",
                "name": "mySchedule25",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:25.68+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:25.68+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule26",
                "name": "mySchedule26",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
                  "interval": 1,
                  "frequency": "Hour",
                  "creationTime": "2017-03-28T01:00:26.01+08:00",
                  "lastModifiedTime": "2017-03-28T01:00:26.01+08:00",
                  "nextRun": "2017-03-28T02:59:00+08:00",
                  "nextRunOffsetMinutes": 0.0,
                  "timeZone": "UTC"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule27",
                "name": "mySchedule27",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-28T02:59:00+08:00",
                  "startTimeOffsetMinutes": 0.0,
                  "expiryTime": "2017-04-02T01:28:00+08:00",
                  "expiryTimeOffsetMinutes": 0.0,
                  "isEnabled": true,
[...]
