{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagementClient",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "webhookGenerateUri": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": "https://s13events.azure-automation.net/webhooks?token=O6n03K%2b1%2bSLPH50m4x9%2fcbcqtAu2tJDTvr8QHnbJ1kw%3d"
        }
      }
    },
    "deleteWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-30T06:18:13.7002872+08:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-30T06:18:14.6651862+08:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-30T06:18:14.6651862+08:00"
            }
          }
        }
      }
    },
    "createOrUpdateWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "TestWebhook",
          "properties": {
            "isEnabled": true,
            "uri": "https://s1events.azure-automation.net/webhooks?token=7u3KfQvM1vUPWaDMFRv2%2fAA4Jqx8QwS8aBuyO6Xsdcw%3d",
            "expiryTime": "2018-03-29T22:18:13.7002872Z",
            "runbook": {
              "name": "TestRunbook"
            }
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "type": "Microsoft.Automation/AutomationAccounts/Webhooks",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-30T06:18:13.7002872+08:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-30T06:18:14.6651862+08:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-30T06:18:14.6651862+08:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "type": "Microsoft.Automation/AutomationAccounts/Webhooks",
            "properties": {
              "isEnabled": true,
              "expiryTime": "2018-03-30T06:18:13.7002872+08:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-30T06:18:14.6651862+08:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-30T06:18:14.6651862+08:00"
            }
          }
        }
      }
    },
    "updateWebhook": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "webhookName": "TestWebhook",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "TestWebhook",
          "properties": {
            "isEnabled": false,
            "description": "updated webhook"
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
            "name": "TestWebhook",
            "properties": {
              "isEnabled": false,
              "expiryTime": "2018-03-31T07:03:14.5752078+08:00",
              "runbook": {
                "name": "TestRunbook"
              },
              "lastInvokedTime": null,
              "runOn": null,
              "parameters": null,
              "uri": "",
              "creationTime": "2017-03-31T05:52:01.272378+08:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-03-31T07:03:14.9069441+08:00"
            }
          }
        }
      }
    },
    "listWebhooksByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/webhooks/TestWebhook",
                "name": "TestWebhook",
                "properties": {
                  "isEnabled": true,
                  "expiryTime": "2018-03-30T06:18:13.7002872+08:00",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "lastInvokedTime": null,
                  "runOn": null,
                  "parameters": null,
                  "uri": null,
                  "creationTime": "2017-03-30T06:18:14.6651862+08:00",
                  "lastModifiedBy": "",
                  "lastModifiedTime": "2017-03-30T06:18:14.6651862+08:00"
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Webhook",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "Webhook/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "Webhook/Delete"
    },
    {
      "displayName": "Generate Uri",
      "relativePath": "Webhook/GenerateUri"
    },
    {
      "displayName": "Get",
      "relativePath": "Webhook/Get"
    },
    {
      "displayName": "List By Automation Account",
      "relativePath": "Webhook/ListByAutomationAccount"
    },
    {
      "displayName": "Update",
      "relativePath": "Webhook/Update"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}