{
  "swagger": "2.0",
  "info": {
    "version": "2017-03-31",
    "title": "AdvisorManagementClient",
    "description": "REST APIs for Azure Advisor"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}": {
      "delete": {
        "tags": [
          "Suppressions"
        ],
        "description": "Enables the activation of a snoozed or dismissed recommendation. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "operationId": "Suppressions_Delete",
        "parameters": [
          {
            "name": "resourceUri",
            "in": "path",
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recommendationId",
            "in": "path",
            "description": "The recommendation ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the suppression.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent. The recommendation has been activated."
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "DeleteSuppression": {
            "parameters": {
              "resourceUri": "resourceUri",
              "recommendationId": "recommendationId",
              "name": "suppressionName1",
              "api-version": "2017-03-31"
            },
            "responses": {
              "204": {}
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "DeleteSuppression": "DeleteSuppression"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "DeleteSuppression": {
            "request": "DELETE https://management.azure.com/resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1?api-version=2017-03-31 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: c243e7f0-4f0e-4ef5-8f82-365ac7c0209b\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X DELETE 'https://management.azure.com/resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1?api-version=2017-03-31' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: c243e7f0-4f0e-4ef5-8f82-365ac7c0209b' \\\n",
            "response": {
              "204": "HTTP 1.1 204\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 68df9c67-ee4f-4318-b0c8-41af437f016c\nx-ms-correlation-request-id: 68df9c67-ee4f-4318-b0c8-41af437f016c\nx-ms-routing-request-id: WESTUS2:20170904T092713663Z:68df9c67-ee4f-4318-b0c8-41af437f016c\nStrict-Transport-Security: max-age=31536000; includeSubDomains\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:27:13 GMT\nConnection: close\n"
            }
          }
        },
        "x-internal-toc-name": "Delete"
      }
    }
  },
  "definitions": {
    "ResourceRecommendationBaseListResult": {
      "description": "The list of Advisor recommendations.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of recommendations.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceRecommendationBase"
          }
        }
      }
    },
    "ResourceRecommendationBase": {
      "description": "Advisor Recommendation.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecommendationProperties",
          "description": "The properties of the recommendation.",
          "x-ms-client-flatten": true
        }
      }
    },
    "RecommendationProperties": {
      "description": "The properties of the recommendation.",
      "type": "object",
      "properties": {
        "category": {
          "description": "The category of the recommendation.",
          "enum": [
            "HighAvailability",
            "Security",
            "Performance",
            "Cost"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "category",
            "modelAsString": true
          }
        },
        "impact": {
          "description": "The business impact of the recommendation.",
          "enum": [
            "High",
            "Medium",
            "Low"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "impact",
            "modelAsString": true
          }
        },
        "impactedField": {
          "description": "The resource type identified by Advisor.",
          "type": "string"
        },
        "impactedValue": {
          "description": "The resource identified by Advisor.",
          "type": "string"
        },
        "lastUpdated": {
          "format": "date-time",
          "description": "The most recent time that Advisor checked the validity of the recommendation.",
          "type": "string"
        },
        "metadata": {
          "description": "The recommendation metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "recommendationTypeId": {
          "description": "The recommendation-type GUID.",
          "type": "string"
        },
        "risk": {
          "description": "The potential risk of not implementing the recommendation.",
          "enum": [
            "Error",
            "Warning",
            "None"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "risk",
            "modelAsString": true
          }
        },
        "shortDescription": {
          "$ref": "#/definitions/ShortDescription",
          "description": "A summary of the recommendation."
        },
        "suppressionIds": {
          "description": "The list of snoozed and dismissed rules for the recommendation.",
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string"
          }
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ShortDescription": {
      "description": "A summary of the recommendation.",
      "type": "object",
      "properties": {
        "problem": {
          "description": "The issue or opportunity identified by the recommendation.",
          "type": "string"
        },
        "solution": {
          "description": "The remediation action suggested by the recommendation.",
          "type": "string"
        }
      }
    },
    "OperationEntityListResult": {
      "description": "The list of Advisor operations.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "The list of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationEntity"
          }
        }
      }
    },
    "OperationEntity": {
      "description": "The operation supported by Advisor.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplayInfo",
          "description": "The operation supported by Advisor."
        }
      }
    },
    "OperationDisplayInfo": {
      "description": "The operation supported by Advisor.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the operation.",
          "type": "string"
        },
        "operation": {
          "description": "The action that users can perform, based on their permission level.",
          "type": "string"
        },
        "provider": {
          "description": "Service provider: Microsoft Advisor.",
          "type": "string"
        },
        "resource": {
          "description": "Resource on which the operation is performed.",
          "type": "string"
        }
      }
    },
    "SuppressionContract": {
      "description": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SuppressionProperties",
          "description": "The properties of the suppression.",
          "x-ms-client-flatten": true
        }
      }
    },
    "SuppressionProperties": {
      "description": "The properties of the suppression.",
      "type": "object",
      "properties": {
        "suppressionId": {
          "description": "The GUID of the suppression.",
          "type": "string"
        },
        "ttl": {
          "description": "The duration for which the suppression is valid.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The version of the API to be used with the client request.",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-name": "Advisor",
  "x-internal-toc-name": "Suppressions",
  "x-internal-split-type": "Operation"
}