{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2018-01-15",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "text/plain"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodes/{nodeId}": {
      "delete": {
        "tags": [
          "DscNode"
        ],
        "operationId": "DscNode_Delete",
        "description": "Delete the dsc node identified by node id.",
        "x-ms-examples": {
          "Delete a DSC Node": {
            "$ref": "#/definitions/deleteDscNode"
          }
        },
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/dscnodeoperations"
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The node id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscNode"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Delete"
      }
    }
  },
  "definitions": {
    "DscNodeReportListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNodeReport"
          },
          "description": "Gets or sets a list of dsc node reports."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    },
    "DscReportResourceNavigation": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the ID of the resource to navigate to."
        }
      },
      "description": "Navigation for DSC Report Resource."
    },
    "DscMetaConfiguration": {
      "properties": {
        "configurationModeFrequencyMins": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the ConfigurationModeFrequencyMins value of the meta configuration."
        },
        "rebootNodeIfNeeded": {
          "type": "boolean",
          "description": "Gets or sets the RebootNodeIfNeeded value of the meta configuration."
        },
        "configurationMode": {
          "type": "string",
          "description": "Gets or sets the ConfigurationMode value of the meta configuration."
        },
        "actionAfterReboot": {
          "type": "string",
          "description": "Gets or sets the ActionAfterReboot value of the meta configuration."
        },
        "certificateId": {
          "type": "string",
          "description": "Gets or sets the CertificateId value of the meta configuration."
        },
        "refreshFrequencyMins": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the RefreshFrequencyMins value of the meta configuration."
        },
        "allowModuleOverwrite": {
          "type": "boolean",
          "description": "Gets or sets the AllowModuleOverwrite value of the meta configuration."
        }
      },
      "description": "Definition of the DSC Meta Configuration."
    },
    "DscNodeReport": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the node report.",
          "x-nullable": true
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the lastModifiedTime of the node report.",
          "x-nullable": false
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the node report.",
          "x-nullable": true
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the node report."
        },
        "reportId": {
          "type": "string",
          "description": "Gets or sets the id of the node report."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node report."
        },
        "refreshMode": {
          "type": "string",
          "description": "Gets or sets the refreshMode of the node report."
        },
        "rebootRequested": {
          "type": "string",
          "description": "Gets or sets the rebootRequested of the node report."
        },
        "reportFormatVersion": {
          "type": "string",
          "description": "Gets or sets the reportFormatVersion of the node report."
        },
        "configurationVersion": {
          "type": "string",
          "description": "Gets or sets the configurationVersion of the node report."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportError"
          },
          "description": "Gets or sets the errors for the node report."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportResource"
          },
          "description": "Gets or sets the resource for the node report."
        },
        "metaConfiguration": {
          "$ref": "#/definitions/DscMetaConfiguration",
          "description": "Gets or sets the metaConfiguration of the node at the time of the report."
        },
        "hostName": {
          "type": "string",
          "description": "Gets or sets the hostname of the node that sent the report."
        },
        "iPV4Addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the IPv4 address of the node that sent the report."
        },
        "iPV6Addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the IPv6 address of the node that sent the report."
        },
        "numberOfResources": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of resource in the node report."
        },
        "rawErrors": {
          "type": "string",
          "description": "Gets or sets the unparsed errors for the node report."
        }
      },
      "description": "Definition of the dsc node report type."
    },
    "DscReportResource": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the ID of the resource."
        },
        "sourceInfo": {
          "type": "string",
          "description": "Gets or sets the source info of the resource."
        },
        "dependsOn": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscReportResourceNavigation"
          },
          "description": "Gets or sets the Resource Navigation values for resources the resource depends on."
        },
        "moduleName": {
          "type": "string",
          "description": "Gets or sets the module name of the resource."
        },
        "moduleVersion": {
          "type": "string",
          "description": "Gets or sets the module version of the resource."
        },
        "resourceName": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "error": {
          "type": "string",
          "description": "Gets or sets the error of the resource."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the resource."
        },
        "durationInSeconds": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the duration in seconds for the resource."
        },
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start date of the resource.",
          "x-nullable": false
        }
      },
      "description": "Definition of the DSC Report Resource."
    },
    "DscReportError": {
      "properties": {
        "errorSource": {
          "type": "string",
          "description": "Gets or sets the source of the error."
        },
        "resourceId": {
          "type": "string",
          "description": "Gets or sets the resource ID which generated the error."
        },
        "errorCode": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "errorMessage": {
          "type": "string",
          "description": "Gets or sets the error message."
        },
        "locale": {
          "type": "string",
          "description": "Gets or sets the locale of the error."
        },
        "errorDetails": {
          "type": "string",
          "description": "Gets or sets the error details."
        }
      },
      "description": "Definition of the dsc node report error type."
    },
    "AgentRegistration": {
      "properties": {
        "dscMetaConfiguration": {
          "type": "string",
          "description": "Gets or sets the dsc meta configuration."
        },
        "endpoint": {
          "type": "string",
          "description": "Gets or sets the dsc server endpoint."
        },
        "keys": {
          "$ref": "#/definitions/AgentRegistrationKeys",
          "description": "Gets or sets the agent registration keys."
        },
        "id": {
          "type": "string",
          "description": "Gets or sets the id."
        }
      },
      "description": "Definition of the agent registration infomration type."
    },
    "AgentRegistrationKeys": {
      "properties": {
        "primary": {
          "type": "string",
          "description": "Gets or sets the primary key."
        },
        "secondary": {
          "type": "string",
          "description": "Gets or sets the secondary key."
        }
      },
      "description": "Definition of the agent registration keys."
    },
    "DscNode": {
      "description": "Definition of a DscNode",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscNodeProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a DscNode."
        }
      },
      "allOf": [
        {
          "$ref": "./definitions.json#/definitions/ProxyResource"
        }
      ]
    },
    "DscNodeProperties": {
      "description": "The properties of a DscNode",
      "properties": {
        "lastSeen": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last seen time of the node.",
          "x-nullable": false
        },
        "registrationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the registration time of the node.",
          "x-nullable": false
        },
        "ip": {
          "type": "string",
          "description": "Gets or sets the ip of the node."
        },
        "accountId": {
          "type": "string",
          "description": "Gets or sets the account id of the node."
        },
        "nodeConfiguration": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
          "description": "Gets or sets the configuration of the node."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the node."
        },
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the node id."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        },
        "extensionHandler": {
          "type": "array",
          "description": "Gets or sets the list of extensionHandler properties for a Node.",
          "items": {
            "$ref": "#/definitions/DscNodeExtensionHandlerAssociationProperty"
          }
        }
      }
    },
    "DscNodeExtensionHandlerAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the extension handler."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the extension handler."
        }
      },
      "description": "The dsc extensionHandler property associated with the node"
    },
    "DscNodeConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the dsc nodeconfiguration."
        }
      },
      "description": "The dsc nodeconfiguration property associated with the entity."
    },
    "AgentRegistrationRegenerateKeyParameter": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "Gets or sets the agent registration key name - primary or secondary.",
          "enum": [
            "primary",
            "secondary"
          ],
          "x-ms-enum": {
            "name": "AgentRegistrationKeyName",
            "modelAsString": true
          }
        }
      },
      "required": [
        "keyName"
      ],
      "description": "The parameters supplied to the regenerate keys operation."
    },
    "DscNodeUpdateParameters": {
      "properties": {
        "nodeId": {
          "type": "string",
          "description": "Gets or sets the id of the dsc node."
        },
        "properties": {
          "properties": {
            "nodeConfiguration": {
              "x-ms-client-flatten": true,
              "$ref": "#/definitions/DscNodeConfigurationAssociationProperty",
              "description": "Gets or sets the configuration of the node."
            }
          }
        }
      },
      "description": "The parameters supplied to the update dsc node operation."
    },
    "DscNodeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscNode"
          },
          "description": "Gets or sets a list of dsc nodes."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list dsc nodes operation."
    },
    "getAgentRegistration": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount18",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount18/agentRegistrationInformation/https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6",
            "keys": {
              "primary": "5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==",
              "secondary": "rVp0000000000000000000000000000000000000000000000000000000000000000000000000000f8cbmrOA=="
            },
            "endpoint": "https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6",
            "dscMetaConfiguration": "\r\n\tinstance of MSFT_WebDownloadManager as $MSFT_WebDownloadManager1ref\r\n\t{\r\n\tResourceID = \"[ConfigurationRepositoryWeb]AzureAutomationDSC\";\r\n\t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::20::9::ConfigurationRepositoryWeb\";\r\n\t RegistrationKey = \"5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==\"; \r\n\t ServerURL = \"https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6\";\r\n\t};\r\n\r\n\tinstance of MSFT_WebResourceManager as $MSFT_WebResourceManager1ref\r\n\t{\r\n\t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::27::9::ResourceRepositoryWeb\";\r\n\t ServerURL = \"https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6\";\r\n\t ResourceID = \"[ResourceRepositoryWeb]AzureAutomationDSC\";\r\n\t RegistrationKey = \"5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==\"; \r\n\t};\r\n\r\n\tinstance of MSFT_WebReportManager as $MSFT_WebReportManager1ref\r\n\t{\r\n\t SourceInfo = \"C:\\\\OaaS-RegistrationMetaConfig2.ps1::34::9::ReportServerWeb\";\r\n\t ServerURL = \"https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6\";\r\n\t ResourceID = \"[ReportServerWeb]AzureAutomationDSC\";\r\n\t RegistrationKey = \"5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==\"; \r\n\t};\r\n\r\n\tinstance of MSFT_DSCMetaConfiguration as $MSFT_DSCMetaConfiguration1ref\r\n\t{\r\n\t RefreshMode = \"Pull\";\r\n\t AllowModuleOverwrite = False;\r\n\t ActionAfterReboot = \"ContinueConfiguration\";\r\n\t RefreshFrequencyMins = 30;\r\n\t RebootNodeIfNeeded = False;\r\n\t ConfigurationModeFrequencyMins = 15;\r\n\t ConfigurationMode = \"ApplyAndMonitor\";\r\n\r\n\t  ResourceModuleManagers = {\r\n\t  $MSFT_WebResourceManager1ref  \r\n\t};\r\n\t  ReportManagers = {\r\n\t  $MSFT_WebReportManager1ref  \r\n\t };\r\n\t  ConfigurationDownloadManagers = {\r\n\t  $MSFT_WebDownloadManager1ref  \r\n\t };\r\n\t};\r\n\r\n\tinstance of OMI_ConfigurationDocument\r\n\t{\r\n\t Version=\"2.0.0\";\r\n\t MinimumCompatibleVersion = \"2.0.0\";\r\n\t CompatibleVersionAdditionalProperties= { \"MSFT_DSCMetaConfiguration:StatusRetentionTimeInDays\" };\r\n\t Author=\"azureautomation\";\r\n\t GenerationDate=\"04/17/2015 11:41:09\";\r\n\t GenerationHost=\"azureautomation-01\";\r\n\t Name=\"RegistrationMetaConfig\";\r\n\t};\r\n\t"
          }
        }
      }
    },
    "regenerateAgentRegistrationKey": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount18",
        "api-version": "2018-01-15",
        "parameters": {
          "keyName": "primary"
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": null,
            "keys": {
              "primary": "5ci0000000000000000000000000000000000000000000000000000000000000000000000000000Y5H/8wFg==",
              "secondary": "rVp0000000000000000000000000000000000000000000000000000000000000000000000000000f8cbmrOA=="
            },
            "endpoint": "https://eus2-agentservice-prod-1.azure-automation.net/accounts/bd8fac9e-0000-0000-0000-0000f474fbf6",
            "dscMetaConfiguration": null
          }
        }
      }
    },
    "deleteDscNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2018-01-15",
        "nodeId": "e1243a76-a9bd-432f-bde3-ad8f317ee786"
      },
      "responses": {
        "200": {}
      }
    },
    "getDscNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
            "name": "DSCCOMP",
            "type": "Microsoft.Automation/AutomationAccounts/Nodes",
            "properties": {
              "lastSeen": "2018-03-23T06:25:39.0963773+08:00",
              "registrationTime": "2018-03-10T08:51:12.5393083+08:00",
              "ip": "ip",
              "nodeId": "nodeId",
              "status": "Pending",
              "nodeConfiguration": {
                "name": "SetupServer.localhost"
              },
              "extensionHandler": [
                {
                  "name": "Microsoft.Powershell.DSC",
                  "version": "2.75.0.0"
                }
              ]
            }
          }
        }
      }
    },
    "updateDscNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "api-version": "2018-01-15",
        "dscNodeUpdateParameters": {
          "nodeId": "nodeId",
          "properties": {
            "nodeConfiguration": {
              "name": "SetupServer.localhost"
            }
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
            "name": "DSCCOMP",
            "type": "Microsoft.Automation/AutomationAccounts/Nodes",
            "properties": {
              "lastSeen": "2018-03-23T06:25:39.0963773+08:00",
              "registrationTime": "2018-03-10T08:51:12.5393083+08:00",
              "ip": "ip",
              "nodeId": "nodeId",
              "status": "Pending",
              "nodeConfiguration": {
                "name": "SetupServer.localhost"
              },
              "extensionHandler": [
                {
                  "name": "Microsoft.Powershell.DSC",
                  "version": "2.75.0.0"
                }
              ]
            }
          }
        }
      }
    },
    "listAllDscNodesByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId",
                "name": "DSCCOMP",
                "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                "properties": {
                  "lastSeen": "2018-03-23T06:25:39.0963773+08:00",
                  "registrationTime": "2018-03-10T08:51:12.5393083+08:00",
                  "ip": "ip",
                  "nodeId": "nodeId",
                  "status": "Pending",
                  "nodeConfiguration": {
                    "name": "SetupServer.localhost"
                  },
                  "extensionHandler": [
                    {
                      "name": "Microsoft.Powershell.DSC",
                      "version": "2.75.0.0"
                    }
                  ]
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId2",
                "name": "DSCCOMP2",
                "type": "Microsoft.Automation/AutomationAccounts/Nodes",
                "properties": {
                  "lastSeen": "2018-03-23T06:25:39.0963773+08:00",
                  "registrationTime": "2018-03-10T08:51:12.5393083+08:00",
                  "ip": "ip",
                  "nodeId": "nodeId2",
                  "status": "Pending",
                  "nodeConfiguration": {
                    "name": "SetupServer.localhost"
                  },
                  "extensionHandler": [
                    {
                      "name": "Microsoft.Powershell.DSC",
                      "version": "2.75.0.0"
                    }
                  ]
                }
              }
            ]
          }
        }
      }
    },
    "listDscNodeReportsByNode": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T07:16:27.587+08:00",
                "endTime": "2017-03-29T07:16:27.587+08:00",
                "lastModifiedTime": "2017-03-29T07:16:29.4440401+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5eac-140c-11e7-a943-000d3a6140c9",
                "reportId": "903a5eac-140c-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T07:16:26.015+08:00",
                "endTime": "2017-03-29T07:16:27.015+08:00",
                "lastModifiedTime": "2017-03-29T07:16:28.3813034+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/77c280c2-140a-11e7-a943-000d3a6140c9",
                "reportId": "77c280c2-140a-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T07:01:25.986+08:00",
                "endTime": "2017-03-29T07:01:26.986+08:00",
                "lastModifiedTime": "2017-03-29T07:01:28.216963+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5382-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5382-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T06:46:27.668+08:00",
                "endTime": "2017-03-29T06:46:28.668+08:00",
                "lastModifiedTime": "2017-03-29T06:46:29.0439184+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/5f4f5381-1408-11e7-a943-000d3a6140c9",
                "reportId": "5f4f5381-1408-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T06:46:25.957+08:00",
                "endTime": "2017-03-29T06:46:26.957+08:00",
                "lastModifiedTime": "2017-03-29T06:46:27.9498533+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/46d97d6a-1406-11e7-a943-000d3a6140c9",
                "reportId": "46d97d6a-1406-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T06:31:25.941+08:00",
                "endTime": "2017-03-29T06:31:26.941+08:00",
                "lastModifiedTime": "2017-03-29T06:31:27.6825492+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/48c8e301-1404-11e7-a943-000d3a6140c9",
                "reportId": "48c8e301-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T06:17:10.163+08:00",
                "endTime": "2017-03-29T06:17:10.163+08:00",
                "lastModifiedTime": "2017-03-29T06:17:11.0040472+08:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "reportId": "2e63fdbc-1404-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T06:16:25.897+08:00",
                "endTime": "2017-03-29T06:17:09.897+08:00",
                "lastModifiedTime": "2017-03-29T06:16:27.3128731+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/15ee63e4-1402-11e7-a943-000d3a6140c9",
                "reportId": "15ee63e4-1402-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T06:01:25.899+08:00",
                "endTime": "2017-03-29T06:01:27.899+08:00",
                "lastModifiedTime": "2017-03-29T06:01:26.6282252+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/0508f316-1400-11e7-a943-000d3a6140c9",
                "reportId": "0508f316-1400-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T05:46:38.511+08:00",
                "endTime": "2017-03-29T05:46:39.511+08:00",
                "lastModifiedTime": "2017-03-29T05:46:40.577983+08:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/fd799a51-13ff-11e7-a943-000d3a6140c9",
                "reportId": "fd799a51-13ff-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T05:46:25.843+08:00",
                "endTime": "2017-03-29T05:46:37.843+08:00",
                "lastModifiedTime": "2017-03-29T05:46:28.4660077+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "reportId": "e504ae1b-13fd-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T05:31:25.818+08:00",
                "endTime": "2017-03-29T05:31:27.818+08:00",
                "lastModifiedTime": "2017-03-29T05:31:28.1503168+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed224-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T05:16:35.538+08:00",
                "endTime": "2017-03-29T05:16:59.538+08:00",
                "lastModifiedTime": "2017-03-29T05:16:37.1768158+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "reportId": "cd3ed223-13fb-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T05:16:26.956+08:00",
                "endTime": "2017-03-29T05:16:34.956+08:00",
                "lastModifiedTime": "2017-03-29T05:16:29.2370664+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/b6915efa-13f9-11e7-a943-000d3a6140c9",
                "reportId": "b6915efa-13f9-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T05:01:29.916+08:00",
                "endTime": "2017-03-29T05:02:02.916+08:00",
                "lastModifiedTime": "2017-03-29T05:01:31.875597+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/a3560dca-13f7-11e7-a943-000d3a6140c9",
                "reportId": "a3560dca-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T04:46:38.626+08:00",
                "endTime": "2017-03-29T04:46:44.626+08:00",
                "lastModifiedTime": "2017-03-29T04:46:39.749649+08:00",
                "status": "Failed",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "reportId": "9b9bb016-13f7-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T04:46:25.676+08:00",
                "endTime": "2017-03-29T04:46:37.676+08:00",
                "lastModifiedTime": "2017-03-29T04:46:27.2602881+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/833bd89b-13f5-11e7-a943-000d3a6140c9",
                "reportId": "833bd89b-13f5-11e7-a943-000d3a6140c9",
                "type": "Consistency",
                "startTime": "2017-03-29T04:31:25.805+08:00",
                "endTime": "2017-03-29T04:40:24.805+08:00",
                "lastModifiedTime": "2017-03-29T04:31:27.1356547+08:00",
                "status": "Compliant",
                "configurationVersion": "2.0.0",
                "rebootRequested": "False",
                "refreshMode": "Pull",
                "reportFormatVersion": "2.0"
              }
            ]
          }
        }
      }
    },
    "getDscNodeReport": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodes/nodeId/reports/903a5ead-140c-11e7-a943-000d3a6140c9",
            "reportId": "903a5ead-140c-11e7-a943-000d3a6140c9",
            "type": "Consistency",
            "startTime": "2017-03-29T07:16:27.587+08:00",
            "endTime": "2017-03-29T07:16:27.587+08:00",
            "lastModifiedTime": "2017-03-29T07:16:29.4440401+08:00",
            "status": "Compliant",
            "refreshMode": "Pull",
            "rebootRequested": "False",
            "reportFormatVersion": "2.0",
            "configurationVersion": "2.0.0",
            "errors": [],
            "resources": [
              {
                "resourceId": "[WindowsFeature]IIS",
                "sourceInfo": "::4::32::WindowsFeature",
                "dependsOn": [],
                "moduleName": "PsDesiredStateConfiguration",
                "moduleVersion": "1.1",
                "resourceName": "WindowsFeature",
                "error": null,
                "status": "Compliant",
                "durationInSeconds": 0.25,
                "startDate": "2017-03-29T07:16:28.181+08:00"
              }
            ],
            "metaConfiguration": {
              "configurationModeFrequencyMins": 15,
              "rebootNodeIfNeeded": false,
              "configurationMode": "ApplyAndMonitor",
              "actionAfterReboot": "ContinueConfiguration",
              "certificateId": "certId",
              "refreshFrequencyMins": 30,
              "allowModuleOverwrite": false
            },
            "hostName": "DSCCOMP",
            "iPV4Addresses": [
              "172.16.2.5",
              "127.0.0.1"
            ],
            "iPV6Addresses": [
              "fe80::4c51:9518:aa3c:256a%5",
              "::2000:0:0:0",
              "::1",
              "::2000:0:0:0",
              "2001:0:9d38:78cf:106b:130a:53ef:fdfa",
              "fe80::106b:130a:53ef:fdfa%7"
            ],
            "numberOfResources": 1,
            "rawErrors": null
          }
        }
      }
    },
    "getDscNodeReportContent": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "nodeId": "nodeId",
        "api-version": "2018-01-15",
        "reportId": "reportId"
      },
      "responses": {
        "200": {
          "headers": {
            "content-type": "text/plain"
          },
          "body": {
            "JobId": "eabe061f-2e1f-11e8-8d01-000d3a18dec4",
            "OperationType": "Consistency",
            "NodeName": "ANAGG-2008R2",
            "IpAddress": "10.13.49.8;127.0.0.1;fe80::2cc0:8062:a210:e1c6%11;::2000:0:0:0;::1;::2000:0:0:0",
            "LCMVersion": "2.0",
            "ReportFormatVersion": "2.0",
            "StartTime": "2018-03-23T06:25:26.214+08:00",
            "Errors": [],
            "StatusData": [
              "{\"IPV4Addresses\":[\"10.13.49.8\",\"127.0.0.1\"],\"MACAddresses\":[\"00-0D-3A-18-DE-C4\",\"00-00-00-00-00-00-00-E0\"],\"Type\":\"Consistency\",\"HostName\":\"ANAGG-2008R2\",\"Locale\":\"en-US\",\"StartDate\":\"2018-03-22T22:25:26.2140000+00:00\",\"JobID\":\"{EABE061F-2E1F-11E8-8D01-000D3A18DEC4}\",\"LCMVersion\":\"2.0\",\"IPV6Addresses\":[\"fe80::2cc0:8062:a210:e1c6%11\",\"::2000:0:0:0\",\"::1\",\"::2000:0:0:0\"]}"
            ],
            "AdditionalData": [
              {
                "Key": "OSVersion",
                "Value": "{\"VersionString\":\"Microsoft Windows NT 6.1.7601 Service Pack 1\",\"ServicePack\":\"Service Pack 1\",\"Platform\":\"Win32NT\"}"
              },
              {
                "Key": "PSVersion",
                "Value": "{\"CLRVersion\":\"4.0.30319.42000\",\"PSVersion\":\"5.1.14409.1012\",\"BuildVersion\":\"10.0.14409.1012\"}"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Dsc Node",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Delete"
}