{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/listKeys": {
      "post": {
        "tags": [
          "ListKeys"
        ],
        "operationId": "Keys_ListByAutomationAccount",
        "description": "Retrieve the automation keys for an account.",
        "x-ms-examples": {
          "Get usages of an automation account": {
            "$ref": "#/definitions/listAutomationAccountKeys"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/KeyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-internal-toc-name": "List By Automation Account"
      }
    }
  },
  "definitions": {
    "updateAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "sku": {
              "name": "Free"
            }
          },
          "name": "myAutomationAccount9",
          "location": "East US 2"
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "name": "myAutomationAccount9",
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9",
            "type": "Microsoft.Automation/AutomationAccounts",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "sku": {
                "name": "Free",
                "family": null,
                "capacity": null
              },
              "state": "Ok",
              "creationTime": "2017-03-26T09:13:43.267+08:00",
              "lastModifiedBy": "myEmailId@microsoft.com",
              "lastModifiedTime": "2017-03-26T09:13:43.267+08:00"
            }
          }
        }
      }
    },
    "createOrUpdateAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "sku": {
              "name": "Free"
            }
          },
          "name": "myAutomationAccount9",
          "location": "East US 2"
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "name": "myAutomationAccount9",
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9",
            "type": "Microsoft.Automation/AutomationAccounts",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "sku": {
                "name": "Free",
                "family": null,
                "capacity": null
              },
              "state": "Ok",
              "creationTime": "2017-03-26T09:13:43.267+08:00",
              "lastModifiedBy": "myEmailId@microsoft.com",
              "lastModifiedTime": "2017-03-26T09:13:43.267+08:00"
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "name": "ContoseAutomationAccount",
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9",
            "type": "Microsoft.Automation/AutomationAccounts",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "sku": {
                "name": "Free",
                "family": null,
                "capacity": null
              },
              "state": "Ok",
              "creationTime": "2017-03-29T02:21:15.187+08:00",
              "lastModifiedBy": "myEmaild@microsoft.com",
              "lastModifiedTime": "2017-03-29T02:21:15.187+08:00"
            }
          }
        }
      }
    },
    "deleteAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "getAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount9",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "name": "myAutomationAccount9",
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9",
            "type": "Microsoft.Automation/AutomationAccounts",
            "location": "East US 2",
            "tags": {},
            "etag": null,
            "properties": {
              "sku": {
                "name": "Free",
                "family": null,
                "capacity": null
              },
              "state": "Ok",
              "creationTime": "2017-03-26T09:13:43.267+08:00",
              "lastModifiedBy": "myEmailId@microsoft.com",
              "lastModifiedTime": "2017-03-26T09:13:43.267+08:00"
            }
          }
        }
      }
    },
    "listAutomationAccountsByResourceGroup": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myaccount",
                "location": "eastus2",
                "name": "myaccount",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T08:47:04.227+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123",
                "location": "eastus2",
                "name": "myAccount123",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-29T08:32:32.52+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads",
                "location": "East US 2",
                "name": "myAccountasfads",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T07:21:03.27+08:00",
                  "lastModifiedTime": "2017-03-25T07:21:03.27+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1",
                "location": "East US 2",
                "name": "myAutomationAccount1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T07:22:33.26+08:00",
                  "lastModifiedTime": "2017-03-25T07:22:33.26+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11",
                "location": "East US 2",
                "name": "myAutomationAccount11",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-26T10:10:24.523+08:00",
                  "lastModifiedTime": "2017-03-26T10:11:12.027+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2",
                "location": "East US 2",
                "name": "myAutomationAccount2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T07:24:20.31+08:00",
                  "lastModifiedTime": "2017-03-25T07:24:20.31+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3",
                "location": "East US 2",
                "name": "myAutomationAccount3",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T07:24:43.967+08:00",
                  "lastModifiedTime": "2017-03-25T07:24:43.967+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4",
                "location": "East US 2",
                "name": "myAutomationAccount4",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T10:04:56.9+08:00",
                  "lastModifiedTime": "2017-03-25T10:04:56.9+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6",
                "location": "East US 2",
                "name": "myAutomationAccount6",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T10:10:44.567+08:00",
                  "lastModifiedTime": "2017-03-25T10:10:44.567+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7",
                "location": "East US 2",
                "name": "myAutomationAccount7",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T10:19:17.943+08:00",
                  "lastModifiedTime": "2017-03-25T10:19:17.943+08:00",
                  "lastModifiedBy": "myEmailId@microsoft.com",
                  "state": "Ok"
                }
              }
            ]
          }
        }
      }
    },
    "listAutomationAccountsBySubscription": {
      "parameters": {
        "subscriptionId": "subid",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/JPEDeploy1/providers/Microsoft.Automation/automationAccounts/JPEDDeployDSC1",
                "location": "japaneast",
                "name": "JPEDDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-29T07:48:25.143+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.06+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/jpeDemo1/providers/Microsoft.Automation/automationAccounts/jpeDemoAutomation1",
                "location": "japaneast",
                "name": "jpeDemoAutomation1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-25T10:04:10.223+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.06+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/ASERG1/providers/Microsoft.Automation/automationAccounts/ASEAutomationAccount1",
                "location": "australiasoutheast",
                "name": "ASEAutomationAccount1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-04-12T13:19:19.48+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.64+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/AAEU2DSCDemo",
                "location": "East US 2",
                "name": "AAEU2DSCDemo",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-08-04T22:44:02.397+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/AAEU2DSCDemo2",
                "location": "East US 2",
                "name": "AAEU2DSCDemo2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-08-04T23:03:45.977+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/aadscdemo1/providers/Microsoft.Automation/automationAccounts/AAsnoverDemo1",
                "location": "East US 2",
                "name": "AAsnoverDemo1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-01-29T10:29:13.18+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/oaastest/providers/Microsoft.Automation/automationAccounts/automationaccdelete",
                "location": "eastus2",
                "name": "automationaccdelete",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-03-30T04:30:49.97+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/aadscdemo2/providers/Microsoft.Automation/automationAccounts/mytest1212",
                "location": "eastus2",
                "name": "mytest1212",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-12-13T04:25:36.34+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/CIDRG/providers/Microsoft.Automation/automationAccounts/deleteacc",
                "location": "eastus2",
                "name": "deleteacc",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-13T06:13:39.79+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/test/providers/Microsoft.Automation/automationAccounts/deleteme",
                "location": "eastus2",
                "name": "deleteme",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-13T05:56:10.267+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/tst/providers/Microsoft.Automation/automationAccounts/deleteme3",
                "location": "eastus2",
                "name": "deleteme3",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-13T06:00:51.333+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-East-US/providers/Microsoft.Automation/automationAccounts/Eus2Account1",
                "location": "East US 2",
                "name": "Eus2Account1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-05-20T03:07:43.2+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/EUS2Deploy1/providers/Microsoft.Automation/automationAccounts/EUS2DDeployDSC1",
                "location": "eastus2",
                "name": "EUS2DDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-29T07:50:56.16+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-East-US/providers/Microsoft.Automation/automationAccounts/eusAccount2",
                "location": "eastus2",
                "name": "eusAccount2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-05-20T03:12:19.853+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdAutomation1",
                "location": "eastus2",
                "name": "myProdAutomation1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-02-17T05:31:06.333+08:00",
                  "lastModifiedTime": "2017-02-17T05:31:06.333+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdDevAutomation",
                "location": "eastus2",
                "name": "myProdDevAutomation",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-10-28T05:11:16.71+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdPublicAutomation",
                "location": "eastus2",
                "name": "myProdPublicAutomation",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-19T03:49:08.893+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myTestaccount",
                "location": "eastus2",
                "name": "myTestaccount",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T08:47:04.227+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus",
                "location": "eastus2",
                "name": "kjohn-sandbox-eus",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-20T01:29:18.493+08:00",
                  "lastModifiedTime": "2017-03-20T01:29:18.493+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-proddev",
                "location": "eastus2",
                "name": "kjohn-sandbox-eus-proddev",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-06T10:33:10.29+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/kjohn-rg/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-prodtest",
                "location": "eastus2",
                "name": "kjohn-sandbox-eus-prodtest",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-11T07:40:13.103+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/kjohn-rg/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-prodtest2",
                "location": "eastus2",
                "name": "kjohn-sandbox-eus-prodtest2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-11T08:20:50.463+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/LinuxPatchingOpsEUS-AA2",
                "location": "eastus2",
                "name": "LinuxPatchingOpsEUS-AA2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T11:17:00.043+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/LinuxTestNewAA",
                "location": "eastus2",
                "name": "LinuxTestNewAA",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T02:50:54.887+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaasCSsubid-east-us/providers/Microsoft.Automation/automationAccounts/psrdfeAccount2",
                "location": "East US 2",
                "name": "psrdfeAccount2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-05-05T08:26:49.02+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/myrg/providers/Microsoft.Automation/automationAccounts/my-account-one",
                "location": "eastus2",
                "name": "my-account-one",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-10-28T01:54:31.007+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myku-no-vms",
                "location": "eastus2",
                "name": "myku-no-vms",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-30T09:12:00.853+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myku-win-vms",
                "location": "eastus2",
                "name": "myku-win-vms",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-30T09:17:07.613+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/aadscdemo2/providers/Microsoft.Automation/automationAccounts/SVCPrnAcctTest1",
                "location": "eastus2",
                "name": "SVCPrnAcctTest1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-03-29T04:12:48.163+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/tesdbgfvfhgjghjgh/providers/Microsoft.Automation/automationAccounts/testfgbhfghfgh",
                "location": "eastus2",
                "name": "testfgbhfghfgh",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-12-13T04:48:59.3+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/test-linux-linuxopsworkspace",
                "location": "eastus2",
                "name": "test-linux-linuxopsworkspace",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T02:59:56.99+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/my-dsc-test-1",
                "location": "eastus2",
                "name": "my-dsc-test-1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-10T08:21:05.133+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/my-test-automation-1",
                "location": "eastus2",
                "name": "my-test-automation-1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-10T03:57:50.043+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/myresourcegroupeus/providers/Microsoft.Automation/automationAccounts/myAccount",
                "location": "eastus2",
                "name": "myAccount",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-11T03:10:30.453+08:00",
                  "lastModifiedTime": "2017-03-11T03:10:30.453+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123",
                "location": "eastus2",
                "name": "myAccount123",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-29T08:32:32.52+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads",
                "location": "East US 2",
                "name": "myAccountasfads",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T07:21:03.27+08:00",
                  "lastModifiedTime": "2017-03-25T07:21:03.27+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/myResourceGroupEUS/providers/Microsoft.Automation/automationAccounts/myAccountEUS",
                "location": "eastus2",
                "name": "myAccountEUS",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-30T07:13:38.873+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1",
                "location": "East US 2",
                "name": "myAutomationAccount1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T07:22:33.26+08:00",
                  "lastModifiedTime": "2017-03-25T07:22:33.26+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11",
                "location": "East US 2",
                "name": "myAutomationAccount11",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-26T10:10:24.523+08:00",
                  "lastModifiedTime": "2017-03-26T10:11:12.027+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2",
                "location": "East US 2",
                "name": "myAutomationAccount2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T07:24:20.31+08:00",
                  "lastModifiedTime": "2017-03-25T07:24:20.31+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3",
                "location": "East US 2",
                "name": "myAutomationAccount3",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T07:24:43.967+08:00",
                  "lastModifiedTime": "2017-03-25T07:24:43.967+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4",
                "location": "East US 2",
                "name": "myAutomationAccount4",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T10:04:56.9+08:00",
                  "lastModifiedTime": "2017-03-25T10:04:56.9+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6",
                "location": "East US 2",
                "name": "myAutomationAccount6",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T10:10:44.567+08:00",
                  "lastModifiedTime": "2017-03-25T10:10:44.567+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7",
                "location": "East US 2",
                "name": "myAutomationAccount7",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-25T10:19:17.943+08:00",
                  "lastModifiedTime": "2017-03-25T10:19:17.943+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/WEURG1/providers/Microsoft.Automation/automationAccounts/CSSCase1",
                "location": "westeurope",
                "name": "CSSCase1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-08-18T13:53:58.91+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.373+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/deleteme",
                "location": "westeurope",
                "name": "deleteme",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-01-13T05:48:47.98+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.373+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/mms-weu/providers/Microsoft.Automation/automationAccounts/LinuxPatchingOpsWEU-AA2",
                "location": "westeurope",
                "name": "LinuxPatchingOpsWEU-AA2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-24T10:27:35.713+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.373+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/LinuxPatchJobs",
                "location": "westeurope",
                "name": "LinuxPatchJobs",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-15T06:02:28.223+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.373+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/IgnniteRG/providers/Microsoft.Automation/automationAccounts/MyCoolAAC1",
                "location": "westeurope",
                "name": "MyCoolAAC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-22T13:59:22.443+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.373+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/IgnniteRG/providers/Microsoft.Automation/automationAccounts/MyCoolACT1",
                "location": "westeurope",
                "name": "MyCoolACT1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-22T14:05:18.5+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.373+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-West-Europe/providers/Microsoft.Automation/automationAccounts/MyTestmyTest-WEU",
                "location": "West Europe",
                "name": "MyTestmyTest-WEU",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2014-11-12T10:48:51.473+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.373+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/WEDeploy1/providers/Microsoft.Automation/automationAccounts/WEDDeployDSC1",
                "location": "westeurope",
                "name": "WEDDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-29T07:20:01.73+08:00",
                  "lastModifiedTime": "2017-03-13T16:43:47.36+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/SEADeploy1/providers/Microsoft.Automation/automationAccounts/SEADDeployDSC1",
                "location": "southeamyia",
                "name": "SEADDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-29T03:06:39.1+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.683+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/seaDemo1/providers/Microsoft.Automation/automationAccounts/seaDemoAutomation1",
                "location": "southeamyia",
                "name": "seaDemoAutomation1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-04-25T09:31:32.15+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:16.683+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/aadscdemo1/providers/Microsoft.Automation/automationAccounts/AAsnoverDemo2",
                "location": "South Central US",
                "name": "AAsnoverDemo2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-01-29T10:30:05.84+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:17.107+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/SCUSDeploy1/providers/Microsoft.Automation/automationAccounts/SCUSDDeployDSC1",
                "location": "southcentralus",
                "name": "SCUSDDeployDSC1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-06-05T07:06:44.897+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:17.107+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/scusposthydtest1",
                "location": "South Central US",
                "name": "scusposthydtest1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-06-05T00:44:18.823+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:17.107+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-South-Central-US/providers/Microsoft.Automation/automationAccounts/scustestaccount1",
                "location": "South Central US",
                "name": "scustestaccount1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2015-05-30T09:54:57.313+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:17.107+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/UKSRG1/providers/Microsoft.Automation/automationAccounts/AAUKSmyTest1",
                "location": "uksouth",
                "name": "AAUKSmyTest1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-02-15T10:31:03.19+08:00",
                  "lastModifiedTime": "2017-02-15T10:31:03.19+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/Gaurav_machines/providers/Microsoft.Automation/automationAccounts/Tip-WCUS-AutomationAccount",
                "location": "westcentralus",
                "name": "Tip-WCUS-AutomationAccount",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-09T03:53:36.2933333+08:00",
                  "lastModifiedTime": "2017-03-09T03:53:36.2933333+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/myRG/providers/Microsoft.Automation/automationAccounts/aa-my",
                "location": "northeurope",
                "name": "aa-my",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-09-22T02:59:56.26+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:15.457+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/CIDRG/providers/Microsoft.Automation/automationAccounts/CIDAccout1",
                "location": "Central India",
                "name": "CIDAccout1",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-02-25T04:04:58.867+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:19.003+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/aaspntest",
                "location": "northcentralus",
                "name": "aaspntest",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-12-07T01:18:51.88+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:19.37+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/dsccomposite",
                "location": "northcentralus",
                "name": "dsccomposite",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-02-14T01:37:55.163+08:00",
                  "lastModifiedTime": "2017-03-07T01:19:15.09+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/dsclinux",
                "location": "northcentralus",
                "name": "dsclinux",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2017-03-07T05:50:05.493+08:00",
                  "lastModifiedTime": "2017-03-07T05:50:05.493+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/mydsc",
                "location": "northcentralus",
                "name": "mydsc",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-02T01:28:36.197+08:00",
                  "lastModifiedTime": "2017-02-10T05:35:19.37+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/mydsc2",
                "location": "northcentralus",
                "name": "mydsc2",
                "type": "Microsoft.Automation/AutomationAccounts",
                "properties": {
                  "creationTime": "2016-11-02T02:50:06.063+08:00",
                  "lastModifiedTime": "2017-03-11T09:33:13.113+08:00"
                }
              }
            ]
          }
        }
      }
    },
    "getStatisticsOfAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount11",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/New",
                "counterProperty": "New",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Activating",
                "counterProperty": "Activating",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Running",
                "counterProperty": "Running",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Completed",
                "counterProperty": "Completed",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Failed",
                "counterProperty": "Failed",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopped",
                "counterProperty": "Stopped",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Blocked",
                "counterProperty": "Blocked",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspended",
                "counterProperty": "Suspended",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Disconnected",
                "counterProperty": "Disconnected",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspending",
                "counterProperty": "Suspending",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopping",
                "counterProperty": "Stopping",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Resuming",
                "counterProperty": "Resuming",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Removing",
                "counterProperty": "Removing",
                "counterValue": 0,
                "startTime": "2017-03-19T10:11:49.9879197+08:00",
                "endTime": "2017-03-26T10:11:49.9879197+08:00"
              }
            ]
          }
        }
      }
    },
    "getUsagesOfAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount11",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "name": {
                  "value": "AccountUsage",
                  "localizedValue": "AccountUsage"
                },
                "unit": "Minute",
                "currentValue": 0.0,
                "limit": 500,
                "throttleStatus": "NotThrottled"
              },
              {
                "name": {
                  "value": "SubscriptionUsage",
                  "localizedValue": "SubscriptionUsage"
                },
                "unit": "Minute",
                "currentValue": 429.0,
                "limit": 500,
                "throttleStatus": "NotThrottled"
              },
              {
                "name": {
                  "value": "DscSubscriptionUsage",
                  "localizedValue": "DscSubscriptionUsage"
                },
                "unit": "Count",
                "currentValue": 8.0,
                "limit": 5,
                "throttleStatus": "ThrottledAtSubscriptionLevel"
              }
            ]
          }
        }
      }
    },
    "listAutomationAccountKeys": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "MyAutomationAccount",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "keys": [
              {
                "KeyName": "Primary",
                "Permissions": "Full",
                "Value": "**************************************************************"
              },
              {
                "KeyName": "Secondary",
                "Permissions": "Full",
                "Value": "**************************************************************"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Keys",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Automation Account"
}