{
  "swagger": "2.0",
  "info": {
    "version": "2017-05-01",
    "title": "TrafficManagerManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficmanagerprofiles/{profileName}": {
      "put": {
        "tags": [
          "Profiles"
        ],
        "operationId": "Profiles_CreateOrUpdate",
        "description": "Create or update a Traffic Manager profile.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group containing the Traffic Manager profile."
          },
          {
            "name": "profileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Traffic Manager profile."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            },
            "description": "The Traffic Manager profile parameters supplied to the CreateOrUpdate operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The created or updated Traffic Manager profile.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "201": {
            "description": "The created or updated Traffic Manager profile.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "Default response. It will be deserialized as per the Error definition.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Profile-PUT-NoEndpoints": {
            "parameters": {
              "subscriptionId": "e68d4145-c9ae-4667-925d-c51c8d88ad73",
              "resourceGroupName": "azuresdkfornetautoresttrafficmanager1421",
              "profileName": "azsmnet6386",
              "api-version": "2017-05-01",
              "parameters": {
                "properties": {
                  "profileStatus": "Enabled",
                  "trafficRoutingMethod": "Performance",
                  "dnsConfig": {
                    "relativeName": "azsmnet6386",
                    "ttl": 35
                  },
                  "monitorConfig": {
                    "protocol": "HTTP",
                    "port": 80,
                    "path": "/testpath.aspx"
                  }
                },
                "location": "global"
              }
            },
            "responses": {
              "201": {
                "body": {
                  "id": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386",
                  "name": "azsmnet6386",
                  "type": "Microsoft.Network/trafficManagerProfiles",
                  "location": "global",
                  "properties": {
                    "profileStatus": "Enabled",
                    "trafficRoutingMethod": "Performance",
                    "dnsConfig": {
                      "relativeName": "azsmnet6386",
                      "fqdn": "azsmnet6386.tmpreview.watmtest.azure-test.net",
                      "ttl": 35
                    },
                    "monitorConfig": {
                      "profileMonitorStatus": "Inactive",
                      "protocol": "HTTP",
                      "port": 80,
                      "path": "/testpath.aspx",
                      "intervalInSeconds": 30,
                      "toleratedNumberOfFailures": 3,
                      "timeoutInSeconds": 10
                    },
                    "endpoints": []
                  }
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386",
                  "name": "azsmnet6386",
                  "type": "Microsoft.Network/trafficManagerProfiles",
                  "location": "global",
                  "properties": {
                    "profileStatus": "Enabled",
                    "trafficRoutingMethod": "Performance",
                    "dnsConfig": {
                      "relativeName": "azsmnet6386",
                      "fqdn": "azsmnet6386.tmpreview.watmtest.azure-test.net",
                      "ttl": 35
                    },
                    "monitorConfig": {
                      "profileMonitorStatus": "Inactive",
                      "protocol": "HTTP",
                      "port": 80,
                      "path": "/testpath.aspx",
                      "intervalInSeconds": 30,
                      "toleratedNumberOfFailures": 3,
                      "timeoutInSeconds": 10
                    },
                    "endpoints": []
                  }
                }
              }
            }
          },
          "Profile-PUT-WithEndpoints": {
            "parameters": {
              "subscriptionId": "e68d4145-c9ae-4667-925d-c51c8d88ad73",
              "resourceGroupName": "azuresdkfornetautoresttrafficmanager2583",
              "profileName": "azuresdkfornetautoresttrafficmanager6192",
              "api-version": "2017-05-01",
              "parameters": {
                "properties": {
                  "profileStatus": "Enabled",
                  "trafficRoutingMethod": "Performance",
                  "dnsConfig": {
                    "relativeName": "azuresdkfornetautoresttrafficmanager6192",
                    "ttl": 35
                  },
                  "monitorConfig": {
                    "protocol": "HTTP",
                    "port": 80,
                    "path": "/testpath.aspx",
                    "intervalInSeconds": 10,
                    "timeoutInSeconds": 5,
                    "toleratedNumberOfFailures": 2
                  },
                  "endpoints": [
                    {
                      "name": "My external endpoint",
                      "type": "Microsoft.network/TrafficManagerProfiles/ExternalEndpoints",
                      "properties": {
                        "target": "foobar.contoso.com",
                        "endpointStatus": "Enabled",
                        "endpointLocation": "North Europe"
                      }
                    }
                  ]
                },
                "location": "global"
              }
            },
            "responses": {
              "201": {
                "body": {
                  "id": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192",
                  "name": "azuresdkfornetautoresttrafficmanager6192",
                  "type": "Microsoft.Network/trafficManagerProfiles",
                  "location": "global",
                  "properties": {
                    "profileStatus": "Enabled",
                    "trafficRoutingMethod": "Performance",
                    "dnsConfig": {
                      "relativeName": "azuresdkfornetautoresttrafficmanager6192",
                      "fqdn": "azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net",
                      "ttl": 35
                    },
                    "monitorConfig": {
                      "profileMonitorStatus": "CheckingEndpoints",
                      "protocol": "HTTP",
                      "port": 80,
                      "path": "/testpath.aspx",
                      "intervalInSeconds": 10,
                      "toleratedNumberOfFailures": 2,
                      "timeoutInSeconds": 5
                    },
                    "endpoints": [
                      {
                        "id": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My external endpoint",
                        "name": "My external endpoint",
                        "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
                        "properties": {
                          "endpointStatus": "Enabled",
                          "endpointMonitorStatus": "CheckingEndpoint",
                          "target": "foobar.contoso.com",
                          "weight": 1,
                          "priority": 1,
                          "endpointLocation": "North Europe"
                        }
                      }
                    ]
                  }
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192",
                  "name": "azuresdkfornetautoresttrafficmanager6192",
                  "type": "Microsoft.Network/trafficManagerProfiles",
                  "location": "global",
                  "properties": {
                    "profileStatus": "Enabled",
                    "trafficRoutingMethod": "Performance",
                    "dnsConfig": {
                      "relativeName": "azuresdkfornetautoresttrafficmanager6192",
                      "fqdn": "azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net",
                      "ttl": 35
                    },
                    "monitorConfig": {
                      "profileMonitorStatus": "CheckingEndpoints",
                      "protocol": "HTTP",
                      "port": 80,
                      "path": "/testpath.aspx",
                      "intervalInSeconds": 10,
                      "toleratedNumberOfFailures": 2,
                      "timeoutInSeconds": 5
                    },
                    "endpoints": [
                      {
                        "id": "/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My external endpoint",
                        "name": "My external endpoint",
                        "type": "Microsoft.Network/trafficManagerProfiles/externalEndpoints",
                        "properties": {
                          "endpointStatus": "Enabled",
                          "endpointMonitorStatus": "CheckingEndpoint",
                          "target": "foobar.contoso.com",
                          "weight": 1,
                          "priority": 1,
                          "endpointLocation": "North Europe"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "Profile-PUT-NoEndpoints": "Profile-PUT-NoEndpoints",
          "Profile-PUT-WithEndpoints": "Profile-PUT-WithEndpoints"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Profile-PUT-NoEndpoints": {
            "request": "PUT https://management.azure.com/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficmanagerprofiles/azsmnet6386?api-version=2017-05-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 221\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: cd88c99d-b37b-46ad-8d95-1d558b108589\nhost: management.azure.com\nConnection: close\n\n{\"properties\":{\"profileStatus\":\"Enabled\",\"trafficRoutingMethod\":\"Performance\",\"dnsConfig\":{\"relativeName\":\"azsmnet6386\",\"ttl\":35},\"monitorConfig\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/testpath.aspx\"}},\"location\":\"global\"}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficmanagerprofiles/azsmnet6386?api-version=2017-05-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 221' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: cd88c99d-b37b-46ad-8d95-1d558b108589' \\\n-d @- << EOF\n{\n  \"properties\": {\n    \"profileStatus\": \"Enabled\",\n    \"trafficRoutingMethod\": \"Performance\",\n    \"dnsConfig\": {\n      \"relativeName\": \"azsmnet6386\",\n      \"ttl\": 35\n    },\n    \"monitorConfig\": {\n      \"protocol\": \"HTTP\",\n      \"port\": 80,\n      \"path\": \"/testpath.aspx\"\n    }\n  },\n  \"location\": \"global\"\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 2394b023-072e-473d-9483-886d4a262f4a\nx-ms-correlation-request-id: 2394b023-072e-473d-9483-886d4a262f4a\nx-ms-routing-request-id: WESTUS2:20170904T093545285Z:2394b023-072e-473d-9483-886d4a262f4a\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 649\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:45 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager1421/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386\",\"name\":\"azsmnet6386\",\"type\":\"Microsoft.Network/trafficManagerProfiles\",\"location\":\"global\",\"properties\":{\"profileStatus\":\"Enabled\",\"trafficRoutingMethod\":\"Performance\",\"dnsConfig\":{\"relativeName\":\"azsmnet6386\",\"fqdn\":\"azsmnet6386.tmpreview.watmtest.azure-test.net\",\"ttl\":35},\"monitorConfig\":{\"profileMonitorStatus\":\"Inactive\",\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/testpath.aspx\",\"intervalInSeconds\":30,\"toleratedNumberOfFailures\":3,\"timeoutInSeconds\":10},\"endpoints\":[]}}\n"
            }
          },
          "Profile-PUT-WithEndpoints": {
            "request": "PUT https://management.azure.com/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficmanagerprofiles/azuresdkfornetautoresttrafficmanager6192?api-version=2017-05-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 544\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 042a3a6c-828b-47fa-a552-be3dbb6029a6\nhost: management.azure.com\nConnection: close\n\n{\"properties\":{\"profileStatus\":\"Enabled\",\"trafficRoutingMethod\":\"Performance\",\"dnsConfig\":{\"relativeName\":\"azuresdkfornetautoresttrafficmanager6192\",\"ttl\":35},\"monitorConfig\":{\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/testpath.aspx\",\"intervalInSeconds\":10,\"timeoutInSeconds\":5,\"toleratedNumberOfFailures\":2},\"endpoints\":[{\"name\":\"My external endpoint\",\"type\":\"Microsoft.network/TrafficManagerProfiles/ExternalEndpoints\",\"properties\":{\"target\":\"foobar.contoso.com\",\"endpointStatus\":\"Enabled\",\"endpointLocation\":\"North Europe\"}}]},\"location\":\"global\"}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficmanagerprofiles/azuresdkfornetautoresttrafficmanager6192?api-version=2017-05-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 544' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 042a3a6c-828b-47fa-a552-be3dbb6029a6' \\\n-d @- << EOF\n{\n  \"properties\": {\n    \"profileStatus\": \"Enabled\",\n    \"trafficRoutingMethod\": \"Performance\",\n    \"dnsConfig\": {\n      \"relativeName\": \"azuresdkfornetautoresttrafficmanager6192\",\n      \"ttl\": 35\n    },\n    \"monitorConfig\": {\n      \"protocol\": \"HTTP\",\n      \"port\": 80,\n      \"path\": \"/testpath.aspx\",\n      \"intervalInSeconds\": 10,\n      \"timeoutInSeconds\": 5,\n      \"toleratedNumberOfFailures\": 2\n    },\n    \"endpoints\": [\n      {\n        \"name\": \"My external endpoint\",\n        \"type\": \"Microsoft.network/TrafficManagerProfiles/ExternalEndpoints\",\n        \"properties\": {\n          \"target\": \"foobar.contoso.com\",\n          \"endpointStatus\": \"Enabled\",\n          \"endpointLocation\": \"North Europe\"\n        }\n      }\n    ]\n  },\n  \"location\": \"global\"\n}\nEOF\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: af4569a2-d98b-498f-b1f7-c2693720f494\nx-ms-correlation-request-id: af4569a2-d98b-498f-b1f7-c2693720f494\nx-ms-routing-request-id: WESTUS2:20170904T093545285Z:af4569a2-d98b-498f-b1f7-c2693720f494\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 1291\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:45 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192\",\"name\":\"azuresdkfornetautoresttrafficmanager6192\",\"type\":\"Microsoft.Network/trafficManagerProfiles\",\"location\":\"global\",\"properties\":{\"profileStatus\":\"Enabled\",\"trafficRoutingMethod\":\"Performance\",\"dnsConfig\":{\"relativeName\":\"azuresdkfornetautoresttrafficmanager6192\",\"fqdn\":\"azuresdkfornetautoresttrafficmanager6192.tmpreview.watmtest.azure-test.net\",\"ttl\":35},\"monitorConfig\":{\"profileMonitorStatus\":\"CheckingEndpoints\",\"protocol\":\"HTTP\",\"port\":80,\"path\":\"/testpath.aspx\",\"intervalInSeconds\":10,\"toleratedNumberOfFailures\":2,\"timeoutInSeconds\":5},\"endpoints\":[{\"id\":\"/subscriptions/e68d4145-c9ae-4667-925d-c51c8d88ad73/resourceGroups/azuresdkfornetautoresttrafficmanager2583/providers/Microsoft.Network/trafficManagerProfiles/azuresdkfornetautoresttrafficmanager6192/externalEndpoints/My external endpoint\",\"name\":\"My external endpoint\",\"type\":\"Microsoft.Network/trafficManagerProfiles/externalEndpoints\",\"properties\":{\"endpointStatus\":\"Enabled\",\"endpointMonitorStatus\":\"CheckingEndpoint\",\"target\":\"foobar.contoso.com\",\"weight\":1,\"priority\":1,\"endpointLocation\":\"North Europe\"}}]}}\n"
            }
          }
        },
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "DeleteOperationResult": {
      "properties": {
        "boolean": {
          "type": "boolean",
          "x-ms-client-name": "operationResult",
          "readOnly": true,
          "description": "The result of the operation or request."
        }
      },
      "description": "The result of the request or operation."
    },
    "EndpointProperties": {
      "properties": {
        "targetResourceId": {
          "type": "string",
          "description": "The Azure Resource URI of the of the endpoint. Not applicable to endpoints of type 'ExternalEndpoints'."
        },
        "target": {
          "type": "string",
          "description": "The fully-qualified DNS name of the endpoint. Traffic Manager returns this value in DNS responses to direct traffic to this endpoint."
        },
        "endpointStatus": {
          "type": "string",
          "description": "The status of the endpoint. If the endpoint is Enabled, it is probed for endpoint health and is included in the traffic routing method.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "EndpointStatus",
            "modelAsString": true
          }
        },
        "weight": {
          "type": "integer",
          "format": "int64",
          "description": "The weight of this endpoint when using the 'Weighted' traffic routing method. Possible values are from 1 to 1000."
        },
        "priority": {
          "type": "integer",
          "format": "int64",
          "description": "The priority of this endpoint when using the ‘Priority’ traffic routing method. Possible values are from 1 to 1000, lower values represent higher priority. This is an optional parameter.  If specified, it must be specified on all endpoints, and no two endpoints can share the same priority value."
        },
        "endpointLocation": {
          "type": "string",
          "description": "Specifies the location of the external or nested endpoints when using the ‘Performance’ traffic routing method."
        },
        "endpointMonitorStatus": {
          "type": "string",
          "description": "The monitoring status of the endpoint.",
          "enum": [
            "CheckingEndpoint",
            "Online",
            "Degraded",
            "Disabled",
            "Inactive",
            "Stopped"
          ],
          "x-ms-enum": {
            "name": "EndpointMonitorStatus",
            "modelAsString": true
          }
        },
        "minChildEndpoints": {
          "type": "integer",
          "format": "int64",
          "description": "The minimum number of endpoints that must be available in the child profile in order for the parent profile to be considered available. Only applicable to endpoint of type 'NestedEndpoints'."
        },
        "geoMapping": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of countries/regions mapped to this endpoint when using the ‘Geographic’ traffic routing method. Please consult Traffic Manager Geographic documentation for a full list of accepted values."
        }
      },
      "description": "Class representing a Traffic Manager endpoint properties."
    },
    "Endpoint": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EndpointProperties",
          "description": "The properties of the Traffic Manager endpoint."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Class representing a Traffic Manager endpoint."
    },
    "CheckTrafficManagerRelativeDnsNameAvailabilityParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource."
        },
        "type": {
          "type": "string",
          "description": "The type of the resource."
        }
      },
      "description": "Parameters supplied to check Traffic Manager name operation."
    },
    "DnsConfig": {
      "properties": {
        "relativeName": {
          "type": "string",
          "description": "The relative DNS name provided by this Traffic Manager profile. This value is combined with the DNS domain name used by Azure Traffic Manager to form the fully-qualified domain name (FQDN) of the profile."
        },
        "fqdn": {
          "type": "string",
          "readOnly": true,
          "description": "The fully-qualified domain name (FQDN) of the Traffic Manager profile. This is formed from the concatenation of the RelativeName with the DNS domain used by Azure Traffic Manager."
        },
        "ttl": {
          "type": "integer",
          "format": "int64",
          "description": "The DNS Time-To-Live (TTL), in seconds. This informs the local DNS resolvers and DNS clients how long to cache DNS responses provided by this Traffic Manager profile."
        }
      },
      "description": "Class containing DNS settings in a Traffic Manager profile."
    },
    "MonitorConfig": {
      "properties": {
        "profileMonitorStatus": {
          "type": "string",
          "description": "The profile-level monitoring status of the Traffic Manager profile.",
          "enum": [
            "CheckingEndpoints",
            "Online",
            "Degraded",
            "Disabled",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "ProfileMonitorStatus",
            "modelAsString": true
          }
        },
        "protocol": {
          "type": "string",
          "description": "The protocol (HTTP, HTTPS or TCP) used to probe for endpoint health.",
          "enum": [
            "HTTP",
            "HTTPS",
            "TCP"
          ],
          "x-ms-enum": {
            "name": "MonitorProtocol",
            "modelAsString": true
          }
        },
        "port": {
          "type": "integer",
          "format": "int64",
          "description": "The TCP port used to probe for endpoint health."
        },
        "path": {
          "type": "string",
          "description": "The path relative to the endpoint domain name used to probe for endpoint health."
        },
        "intervalInSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "The monitor interval for endpoints in this profile. This is the interval at which Traffic Manager will check the health of each endpoint in this profile."
        },
        "timeoutInSeconds": {
          "type": "integer",
          "format": "int64",
          "description": "The monitor timeout for endpoints in this profile. This is the time that Traffic Manager allows endpoints in this profile to response to the health check."
        },
        "toleratedNumberOfFailures": {
          "type": "integer",
          "format": "int64",
          "description": "The number of consecutive failed health check that Traffic Manager tolerates before declaring an endpoint in this profile Degraded after the next failed health check."
        }
      },
      "description": "Class containing endpoint monitoring settings in a Traffic Manager profile."
    },
    "ProfileProperties": {
      "properties": {
        "profileStatus": {
          "type": "string",
          "description": "The status of the Traffic Manager profile.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "ProfileStatus",
            "modelAsString": true
          }
        },
        "trafficRoutingMethod": {
          "type": "string",
          "description": "The traffic routing method of the Traffic Manager profile.",
          "enum": [
            "Performance",
            "Priority",
            "Weighted",
            "Geographic"
          ],
          "x-ms-enum": {
            "name": "TrafficRoutingMethod",
            "modelAsString": true
          }
        },
        "dnsConfig": {
          "$ref": "#/definitions/DnsConfig",
          "description": "The DNS settings of the Traffic Manager profile."
        },
        "monitorConfig": {
          "$ref": "#/definitions/MonitorConfig",
          "description": "The endpoint monitoring settings of the Traffic Manager profile."
        },
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Endpoint"
          },
          "description": "The list of endpoints in the Traffic Manager profile."
        }
      },
      "description": "Class representing the Traffic Manager profile properties."
    },
    "Profile": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProfileProperties",
          "description": "The properties of the Traffic Manager profile."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "description": "Class representing a Traffic Manager profile."
    },
    "ProfileListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Profile"
          },
          "description": "Gets the list of Traffic manager profiles."
        }
      },
      "description": "The list Traffic Manager profiles operation response."
    },
    "TrafficManagerNameAvailability": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative name."
        },
        "type": {
          "type": "string",
          "description": "Traffic Manager profile resource type."
        },
        "nameAvailable": {
          "type": "boolean",
          "description": "Describes whether the relative name is available or not."
        },
        "reason": {
          "type": "string",
          "description": "The reason why the name is not available, when applicable."
        },
        "message": {
          "type": "string",
          "description": "Descriptive message that explains why the name is not available, when applicable."
        }
      },
      "description": "Class representing a Traffic Manager Name Availability response."
    },
    "Region": {
      "properties": {
        "code": {
          "type": "string",
          "description": "The code of the region"
        },
        "name": {
          "type": "string",
          "description": "The name of the region"
        },
        "regions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Region"
          },
          "description": "The list of Regions grouped under this Region in the Geographic Hierarchy."
        }
      },
      "description": "Class representing a region in the Geographic hierarchy used with the Geographic traffic routing method."
    },
    "GeographicHierarchyProperties": {
      "properties": {
        "geographicHierarchy": {
          "$ref": "#/definitions/Region",
          "description": "The region at the root of the hierarchy from all the regions in the hierarchy can be retrieved."
        }
      },
      "description": "Class representing the properties of the Geographic hierarchy used with the Geographic traffic routing method."
    },
    "TrafficManagerGeographicHierarchy": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/GeographicHierarchyProperties",
          "description": "The properties of the Geographic Hierarchy resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Class representing the Geographic hierarchy used with the Geographic traffic routing method."
    },
    "Resource": {
      "description": "The core properties of ARM resources",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. Ex- Microsoft.Network/trafficmanagerProfiles."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The Azure Region where the resource lives"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "CloudError": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The content of the error."
        }
      },
      "description": "An error returned by the Azure Resource Manager",
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "target": {
          "type": "string",
          "description": "Error target"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "Error details"
        }
      },
      "description": "The content of an error returned by the Azure Resource Manager",
      "x-ms-external": true
    },
    "TrafficManagerUserMetricsKeyProperties": {
      "properties": {
        "key": {
          "type": "string",
          "description": "The key returned by the Realtime User Metrics operation."
        }
      },
      "description": "Class representing the properties of a Real User Metrics key operation response."
    },
    "TrafficManagerUserMetricsKeyModel": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TrafficManagerUserMetricsKeyProperties",
          "description": "The key property returned from a Realtime User Metrics GET operation."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Class representing a Traffic Manager Real User Metrics key response."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-name": "Traffic Manager",
  "x-internal-toc-name": "Profiles",
  "x-internal-split-type": "Operation"
}