{
  "swagger": "2.0",
  "info": {
    "version": "2016-04-01",
    "title": "RedisManagementClient",
    "description": "REST API for Azure Redis Cache Service."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{name}/patchSchedules/default": {
      "put": {
        "tags": [
          "Redis"
        ],
        "operationId": "PatchSchedules_CreateOrUpdate",
        "x-ms-examples": {
          "RedisCachePatchSchedulesCreateOrUpdate": {
            "parameters": {
              "name": "cache1",
              "resourceGroupName": "rg1",
              "api-version": "2016-04-01",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "scheduleEntries": [
                    {
                      "dayOfWeek": "Monday",
                      "startHourUtc": 12,
                      "maintenanceWindow": "PT3H"
                    },
                    {
                      "dayOfWeek": "Tuesday",
                      "startHourUtc": 12
                    }
                  ]
                }
              }
            },
            "responses": {
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/patchSchedules/default",
                  "location": "West US",
                  "name": "default",
                  "type": "Microsoft.Cache/Redis/patchSchedules",
                  "properties": {
                    "scheduleEntries": [
                      {
                        "dayOfWeek": "Monday",
                        "startHourUtc": 12,
                        "maintenanceWindow": "PT3H"
                      },
                      {
                        "dayOfWeek": "Tuesday",
                        "startHourUtc": 12
                      }
                    ]
                  }
                }
              },
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/patchSchedules/default",
                  "location": "West US",
                  "name": "default",
                  "type": "Microsoft.Cache/Redis/patchSchedules",
                  "properties": {
                    "scheduleEntries": [
                      {
                        "dayOfWeek": "Monday",
                        "startHourUtc": 12,
                        "maintenanceWindow": "PT3H"
                      },
                      {
                        "dayOfWeek": "Tuesday",
                        "startHourUtc": 12
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "Create or replace the patching schedule for Redis cache (requires Premium SKU).",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            },
            "description": "Parameters to set the patching schedule for Redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The patch schedule was successfully updated.",
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          },
          "201": {
            "description": "The patch schedule was successfully created.",
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Redis"
        ],
        "operationId": "PatchSchedules_Delete",
        "x-ms-examples": {
          "RedisCachePatchSchedulesDelete": {
            "parameters": {
              "name": "cache1",
              "resourceGroupName": "rg1",
              "api-version": "2016-04-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        },
        "description": "Deletes the patching schedule of a redis cache (requires Premium SKU).",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "204": {
            "description": "Success."
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Redis"
        ],
        "operationId": "PatchSchedules_Get",
        "x-ms-examples": {
          "RedisCachePatchSchedulesGet": {
            "parameters": {
              "name": "cache1",
              "resourceGroupName": "rg1",
              "api-version": "2016-04-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/patchSchedules/default",
                  "location": "West US",
                  "name": "default",
                  "type": "Microsoft.Cache/Redis/patchSchedules",
                  "properties": {
                    "scheduleEntries": [
                      {
                        "dayOfWeek": "Monday",
                        "startHourUtc": 12,
                        "maintenanceWindow": "PT3H"
                      },
                      {
                        "dayOfWeek": "Tuesday",
                        "startHourUtc": 12
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "Gets the patching schedule of a redis cache (requires Premium SKU).",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the redis cache."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Response of get patch schedules.",
            "schema": {
              "$ref": "#/definitions/RedisPatchSchedule"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": null,
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-toc-name": "Patch Schedules",
  "x-internal-split-type": "OperationGroup",
  "x-internal-split-members": [
    {
      "displayName": "Create",
      "relativePath": "Redis/Create"
    },
    {
      "displayName": "Delete",
      "relativePath": "Redis/Delete"
    },
    {
      "displayName": "Export Data",
      "relativePath": "Redis/ExportData"
    },
    {
      "displayName": "Force Reboot",
      "relativePath": "Redis/ForceReboot"
    },
    {
      "displayName": "Get",
      "relativePath": "Redis/Get"
    },
    {
      "displayName": "Import Data",
      "relativePath": "Redis/ImportData"
    },
    {
      "displayName": "List",
      "relativePath": "Redis/List"
    },
    {
      "displayName": "List By Resource Group",
      "relativePath": "Redis/ListByResourceGroup"
    },
    {
      "displayName": "List Keys",
      "relativePath": "Redis/ListKeys"
    },
    {
      "displayName": "Regenerate Key",
      "relativePath": "Redis/RegenerateKey"
    },
    {
      "displayName": "Update",
      "relativePath": "Redis/Update"
    }
  ]
}