{
  "swagger": "2.0",
  "info": {
    "version": "2016-04-01",
    "title": "RedisManagementClient",
    "description": "REST API for Azure Redis Cache Service."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/Redis/{cacheName}/firewallRules/{ruleName}": {
      "put": {
        "tags": [
          "Redis",
          "FirewallRules"
        ],
        "operationId": "RedisFirewallRule_CreateOrUpdate",
        "description": "Create or update a redis cache firewall rule",
        "x-ms-examples": {
          "RedisCacheFirewallRuleCreate": {
            "parameters": {
              "ruleName": "rule1",
              "cacheName": "cache1",
              "resourceGroupName": "rg1",
              "api-version": "2016-04-01",
              "subscriptionId": "subid",
              "parameters": {
                "properties": {
                  "startIP": "192.168.1.1",
                  "endIP": "192.168.1.4"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/firewallRules/rule1",
                  "name": "cache1/rule1",
                  "type": "Microsoft.Cache/Redis/firewallRules",
                  "properties": {
                    "startIP": "192.168.1.1",
                    "endIP": "192.168.1.4"
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/firewallRules/rule1",
                  "name": "cache1/rule1",
                  "type": "Microsoft.Cache/Redis/firewallRules",
                  "properties": {
                    "startIP": "192.168.1.1",
                    "endIP": "192.168.1.4"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "cacheName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "ruleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the firewall rule."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedisFirewallRule"
            },
            "description": "Parameters supplied to the create or update redis firewall rule operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource was successfully updated",
            "schema": {
              "$ref": "#/definitions/RedisFirewallRule"
            }
          },
          "201": {
            "description": "Resource was successfully created",
            "schema": {
              "$ref": "#/definitions/RedisFirewallRule"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Redis",
          "FirewallRules"
        ],
        "operationId": "RedisFirewallRule_Get",
        "description": "Gets a single firewall rule in a specified redis cache.",
        "x-ms-examples": {
          "RedisCacheFirewallRuleGet": {
            "parameters": {
              "ruleName": "rule1",
              "cacheName": "cache1",
              "resourceGroupName": "rg1",
              "api-version": "2016-04-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Cache/Redis/cache1/firewallRules/rule1",
                  "name": "cache1/rule1",
                  "type": "Microsoft.Cache/Redis/firewallRules",
                  "properties": {
                    "startIP": "192.168.1.1",
                    "endIP": "192.168.1.4"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "cacheName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "ruleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the firewall rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully found the rule",
            "schema": {
              "$ref": "#/definitions/RedisFirewallRule"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Redis",
          "FirewallRules"
        ],
        "operationId": "RedisFirewallRule_Delete",
        "description": "Deletes a single firewall rule in a specified redis cache.",
        "x-ms-examples": {
          "RedisCacheFirewallRuleDelete": {
            "parameters": {
              "ruleName": "rule1",
              "cacheName": "cache1",
              "resourceGroupName": "rg1",
              "api-version": "2016-04-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "cacheName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Redis cache."
          },
          {
            "name": "ruleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the firewall rule."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the rule"
          },
          "204": {
            "description": "Successfully deleted the rule"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": null,
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  },
  "x-internal-toc-name": "Redis Firewall Rule",
  "x-internal-split-type": "OperationGroup",
  "x-internal-split-members": [
    {
      "displayName": "Create",
      "relativePath": "Redis/Create"
    },
    {
      "displayName": "Delete",
      "relativePath": "Redis/Delete"
    },
    {
      "displayName": "Export Data",
      "relativePath": "Redis/ExportData"
    },
    {
      "displayName": "Force Reboot",
      "relativePath": "Redis/ForceReboot"
    },
    {
      "displayName": "Get",
      "relativePath": "Redis/Get"
    },
    {
      "displayName": "Import Data",
      "relativePath": "Redis/ImportData"
    },
    {
      "displayName": "List",
      "relativePath": "Redis/List"
    },
    {
      "displayName": "List By Resource Group",
      "relativePath": "Redis/ListByResourceGroup"
    },
    {
      "displayName": "List Keys",
      "relativePath": "Redis/ListKeys"
    },
    {
      "displayName": "Regenerate Key",
      "relativePath": "Redis/RegenerateKey"
    },
    {
      "displayName": "Update",
      "relativePath": "Redis/Update"
    }
  ]
}