{
  "swagger": "2.0",
  "info": {
    "title": "Update Management API",
    "description": "APIs for managing software update configurations.",
    "contact": {
      "name": "Mohamed Enein"
    },
    "version": "2017-05-15-preview",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "basePath": "/",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationMachineRuns": {
      "get": {
        "tags": [
          "Software Update Configuration Machine Run"
        ],
        "description": "Return list of software update configuration machine runs",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations"
        },
        "x-ms-examples": {
          "List software update configuration machine runs": {
            "$ref": "#/definitions/listSoftwareUpdateConfigurationMachineRuns"
          },
          "List software update configuration machine runs for a specific software update configuration run": {
            "$ref": "#/definitions/listSoftwareUpdateConfigurationMachineRunsByRun"
          }
        },
        "operationId": "SoftwareUpdateConfigurationMachineRuns_List",
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/clientRequestId"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation. You can use the following filters: 'properties/osType', 'properties/status', 'properties/startTime', and 'properties/softwareUpdateConfiguration/name'"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "number of entries you skip before returning results"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Maximum number of entries returned in the results collection"
          }
        ],
        "responses": {
          "200": {
            "description": "Return list of software update configuration machine runs.",
            "schema": {
              "$ref": "./definitions.json#/definitions/softwareUpdateConfigurationMachineRunListResult"
            }
          },
          "404": {
            "description": "Resource group, or account doesn't exist."
          }
        },
        "x-internal-toc-name": "List"
      }
    }
  },
  "definitions": {
    "getSoftwareUpdateConfigurationMachineRunById": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "myaccount",
        "softwareUpdateConfigurationMachineRunId": "ca440719-34a4-4234-a1a9-3f84faf7788f",
        "api-version": "2017-05-15-preview"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7788f",
            "name": "ca440719-34a4-4234-a1a9-3f84faf7788f",
            "properties": {
              "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm",
              "targetComputerType": "AzureVirtualMachines",
              "softwareUpdateConfiguration": {
                "name": "mypatch"
              },
              "status": "Succeeded",
              "osType": "Windows",
              "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
              "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
              "startTime": "2017-10-23T10:33:30.7484961+08:00",
              "endTime": "2017-10-23T10:33:36.4166667+08:00",
              "configuredDuration": "PT2H",
              "job": {},
              "creationTime": "2017-10-23T10:33:30.7484961+08:00",
              "lastModifiedBy": "",
              "lastModifiedTime": "2017-10-23T10:34:32.4366667+08:00"
            }
          }
        },
        "404": {
          "code": "NotFound",
          "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
        }
      }
    },
    "listSoftwareUpdateConfigurationMachineRuns": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "myaccount",
        "api-version": "2017-05-15-preview"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7788f",
                "name": "ca440719-34a4-4234-a1a9-3f84faf7788f",
                "properties": {
                  "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm",
                  "targetComputerType": "AzureVirtualMachines",
                  "softwareUpdateConfiguration": {
                    "name": "mypatch"
                  },
                  "status": "Succeeded",
                  "osType": "Windows",
                  "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
                  "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
                  "startTime": "2017-10-23T10:33:30.7484961+08:00",
                  "endTime": "2017-10-23T10:33:36.4166667+08:00",
                  "configuredDuration": "PT2H",
                  "job": {},
                  "creationTime": "2017-10-23T10:33:30.7484961+08:00",
                  "lastModifiedBy": "",
                  "lastModifiedTime": "2017-10-23T10:34:32.4366667+08:00"
                }
              },
              {
                "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7789f",
                "name": "ca440719-34a4-4234-a1a9-3f84faf7789f",
                "properties": {
                  "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm2",
                  "targetComputerType": "AzureVirtualMachines",
                  "softwareUpdateConfiguration": {
                    "name": "mypatch"
                  },
                  "status": "Succeeded",
                  "osType": "Windows",
                  "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
                  "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
                  "startTime": "2017-10-23T10:33:30.7484961+08:00",
                  "endTime": "2017-10-23T10:33:36.4166667+08:00",
                  "configuredDuration": "PT2H",
                  "job": {},
                  "creationTime": "2017-10-23T10:33:30.7484961+08:00",
                  "lastModifiedBy": "",
                  "lastModifiedTime": "2017-10-23T10:34:32.4366667+08:00"
                }
              }
            ],
            "nextLink": "https://management.azure.com:443/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100"
          }
        },
        "404": {
          "code": "NotFound",
          "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
        }
      }
    },
    "listSoftwareUpdateConfigurationMachineRunsByRun": {
      "parameters": {
        "subscriptionId": "51766542-3ed7-4a72-a187-0c8ab644ddab",
        "resourceGroupName": "mygroup",
        "automationAccountName": "myaccount",
        "$filter": "$filter=properties/correlationId%20eq%200b943e57-44d3-4f05-898c-6e92aa617e59",
        "api-version": "2017-05-15-preview"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7788f",
                "name": "ca440719-34a4-4234-a1a9-3f84faf7788f",
                "properties": {
                  "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm",
                  "targetComputerType": "AzureVirtualMachines",
                  "softwareUpdateConfiguration": {
                    "name": "mypatch"
                  },
                  "status": "Succeeded",
                  "osType": "Windows",
                  "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
                  "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
                  "startTime": "2017-10-23T10:33:30.7484961+08:00",
                  "endTime": "2017-10-23T10:33:36.4166667+08:00",
                  "configuredDuration": "PT2H",
                  "job": {},
                  "creationTime": "2017-10-23T10:33:30.7484961+08:00",
                  "lastModifiedBy": "",
                  "lastModifiedTime": "2017-10-23T10:34:32.4366667+08:00"
                }
              },
              {
                "id": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationMachineRuns/ca440719-34a4-4234-a1a9-3f84faf7789f",
                "name": "ca440719-34a4-4234-a1a9-3f84faf7789f",
                "properties": {
                  "targetComputer": "/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Compute/virtualMachines/myvm2",
                  "targetComputerType": "AzureVirtualMachines",
                  "softwareUpdateConfiguration": {
                    "name": "mypatch"
                  },
                  "status": "Succeeded",
                  "osType": "Windows",
                  "correlationId": "0b943e57-44d3-4f05-898c-6e92aa617e59",
                  "sourceComputerId": "3d3f24bf-7037-424e-bfba-aae3b9752f8e",
                  "startTime": "2017-10-23T10:33:30.7484961+08:00",
                  "endTime": "2017-10-23T10:33:36.4166667+08:00",
                  "configuredDuration": "PT2H",
                  "job": {},
                  "creationTime": "2017-10-23T10:33:30.7484961+08:00",
                  "lastModifiedBy": "",
                  "lastModifiedTime": "2017-10-23T10:34:32.4366667+08:00"
                }
              }
            ],
            "nextLink": "https://management.azure.com:443/subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100"
          }
        },
        "404": {
          "code": "NotFound",
          "message": "{\"Message\":\"Could not find the account. SubscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab AccountName: myaccount\"}"
        }
      }
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Software Update Configuration Machine Runs",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List"
}