{
  "swagger": "2.0",
  "info": {
    "version": "2016-09-01",
    "title": "AppServicePlans API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/serverfarms/{name}/usages": {
      "get": {
        "tags": [
          "AppServicePlans"
        ],
        "summary": "Gets server farm usage information",
        "description": "Gets server farm usage information",
        "operationId": "AppServicePlans_ListUsages",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of App Service Plan",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq 'Metric1' or name.value eq 'Metric2').",
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/CsmUsageQuotaCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-internal-toc-name": "List Usages"
      }
    }
  },
  "definitions": {
    "AppServicePlanPatchResource": {
      "description": "ARM resource for a app service plan.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "AppServicePlanPatchResource resource specific properties",
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "description": "Name for the App Service plan.",
              "type": "string"
            },
            "workerTierName": {
              "description": "Target worker tier assigned to the App Service plan.",
              "type": "string"
            },
            "status": {
              "description": "App Service plan status.",
              "enum": [
                "Ready",
                "Pending",
                "Creating"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "StatusOptions",
                "modelAsString": false
              }
            },
            "subscription": {
              "description": "App Service plan subscription.",
              "type": "string",
              "readOnly": true
            },
            "adminSiteName": {
              "description": "App Service plan administration site.",
              "type": "string"
            },
            "hostingEnvironmentProfile": {
              "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/HostingEnvironmentProfile",
              "description": "Specification for the App Service Environment to use for the App Service plan.",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "maximumNumberOfWorkers": {
              "format": "int32",
              "description": "Maximum number of instances that can be assigned to this App Service plan.",
              "type": "integer",
              "readOnly": true
            },
            "geoRegion": {
              "description": "Geographical location for the App Service plan.",
              "type": "string",
              "readOnly": true
            },
            "perSiteScaling": {
              "description": "If <code>true</code>, apps assigned to this App Service plan can be scaled independently.\nIf <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.",
              "default": false,
              "type": "boolean"
            },
            "numberOfSites": {
              "format": "int32",
              "description": "Number of apps assigned to this App Service plan.",
              "type": "integer",
              "readOnly": true
            },
            "isSpot": {
              "description": "If <code>true</code>, this App Service Plan owns spot instances.",
              "type": "boolean"
            },
            "spotExpirationTime": {
              "format": "date-time",
              "description": "The time when the server farm expires. Valid only if it is a spot server farm.",
              "type": "string"
            },
            "resourceGroup": {
              "description": "Resource group of the App Service plan.",
              "type": "string",
              "readOnly": true
            },
            "reserved": {
              "description": "If Linux app service plan <code>true</code>, <code>false</code> otherwise.",
              "default": false,
              "type": "boolean",
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "targetWorkerCount": {
              "format": "int32",
              "description": "Scaling worker count.",
              "type": "integer"
            },
            "targetWorkerSizeId": {
              "format": "int32",
              "description": "Scaling worker size ID.",
              "type": "integer"
            },
            "provisioningState": {
              "description": "Provisioning state of the App Service Environment.",
              "enum": [
                "Succeeded",
                "Failed",
                "Canceled",
                "InProgress",
                "Deleting"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": false
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "HybridConnectionCollection": {
      "description": "Collection of hostname bindings.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/HybridConnection"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "HybridConnectionLimits": {
      "description": "Hybrid Connection limits contract. This is used to return the plan limits of Hybrid Connections.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../2016-03-01/CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "HybridConnectionLimits resource specific properties",
          "properties": {
            "current": {
              "format": "int32",
              "description": "The current number of Hybrid Connections.",
              "type": "integer",
              "readOnly": true
            },
            "maximum": {
              "format": "int32",
              "description": "The maximum number of Hybrid Connections allowed.",
              "type": "integer",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "ResourceCollection": {
      "description": "Collection of resources.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListAppServicePlans": {
      "parameters": {
        "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
        "api-version": "2016-09-01"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
                "name": "testsf6141",
                "type": "Microsoft.Web/serverfarms",
                "kind": "app",
                "location": "East US",
                "properties": {
                  "name": "testsf6141",
                  "workerSize": "Default",
                  "numberOfWorkers": 1,
                  "currentWorkerSize": "Default",
                  "currentNumberOfWorkers": 1,
                  "status": "Ready",
                  "maximumNumberOfWorkers": 20,
                  "geoRegion": "East US",
                  "numberOfSites": 4,
                  "isSpot": false,
                  "kind": "app",
                  "reserved": false,
                  "mdmId": "waws-prod-blu-033_4740",
                  "targetWorkerCount": 0,
                  "targetWorkerSizeId": 0,
                  "provisioningState": "Succeeded"
                },
                "sku": {
                  "name": "P1",
                  "tier": "Premium",
                  "size": "P1",
                  "family": "P",
                  "capacity": 1
                }
              },
              {
                "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252",
                "name": "testsf7252",
                "type": "Microsoft.Web/serverfarms",
                "kind": "app",
                "location": "East US",
                "properties": {
                  "name": "testsf7252",
                  "workerSize": "Default",
                  "numberOfWorkers": 1,
                  "currentWorkerSize": "Default",
                  "currentNumberOfWorkers": 1,
                  "status": "Ready",
                  "maximumNumberOfWorkers": 20,
                  "geoRegion": "East US",
                  "numberOfSites": 4,
                  "isSpot": false,
                  "kind": "app",
                  "reserved": false,
                  "mdmId": "waws-prod-blu-033_5680",
                  "targetWorkerCount": 0,
                  "targetWorkerSizeId": 0,
                  "provisioningState": "Succeeded"
                },
                "sku": {
                  "name": "P1",
                  "tier": "Premium",
                  "size": "P1",
                  "family": "P",
                  "capacity": 1
                }
              }
            ]
          }
        }
      }
    },
    "ListAppServicePlansByResourceGroup": {
      "parameters": {
        "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
        "resourceGroupName": "testrg123",
        "api-version": "2016-09-01"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
                "name": "testsf6141",
                "type": "Microsoft.Web/serverfarms",
                "kind": "app",
                "location": "East US",
                "properties": {
                  "name": "testsf6141",
                  "workerSize": "Default",
                  "numberOfWorkers": 1,
                  "currentWorkerSize": "Default",
                  "currentNumberOfWorkers": 1,
                  "status": "Ready",
                  "maximumNumberOfWorkers": 20,
                  "geoRegion": "East US",
                  "numberOfSites": 4,
                  "isSpot": false,
                  "kind": "app",
                  "reserved": false,
                  "mdmId": "waws-prod-blu-033_4740",
                  "targetWorkerCount": 0,
                  "targetWorkerSizeId": 0,
                  "provisioningState": "Succeeded"
                },
                "sku": {
                  "name": "P1",
                  "tier": "Premium",
                  "size": "P1",
                  "family": "P",
                  "capacity": 1
                }
              },
              {
                "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf7252",
                "name": "testsf7252",
                "type": "Microsoft.Web/serverfarms",
                "kind": "app",
                "location": "East US",
                "properties": {
                  "name": "testsf7252",
                  "workerSize": "Default",
                  "numberOfWorkers": 1,
                  "currentWorkerSize": "Default",
                  "currentNumberOfWorkers": 1,
                  "status": "Ready",
                  "maximumNumberOfWorkers": 20,
                  "geoRegion": "East US",
                  "numberOfSites": 4,
                  "isSpot": false,
                  "kind": "app",
                  "reserved": false,
                  "mdmId": "waws-prod-blu-033_5680",
                  "targetWorkerCount": 0,
                  "targetWorkerSizeId": 0,
                  "provisioningState": "Succeeded"
                },
                "sku": {
                  "name": "P1",
                  "tier": "Premium",
                  "size": "P1",
                  "family": "P",
                  "capacity": 1
                }
              }
            ]
          }
        }
      }
    },
    "GetAppServicePlan": {
      "parameters": {
        "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
        "resourceGroupName": "testrg123",
        "name": "testsf6141",
        "api-version": "2016-09-01"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
            "name": "testsf6141",
            "type": "Microsoft.Web/serverfarms",
            "kind": "app",
            "location": "East US",
            "properties": {
              "name": "testsf6141",
              "workerSize": "Default",
              "numberOfWorkers": 1,
              "currentWorkerSize": "Default",
              "currentNumberOfWorkers": 1,
              "status": "Ready",
              "maximumNumberOfWorkers": 20,
              "geoRegion": "East US",
              "numberOfSites": 4,
              "isSpot": false,
              "kind": "app",
              "reserved": false,
              "mdmId": "waws-prod-blu-033_4740",
              "targetWorkerCount": 0,
              "targetWorkerSizeId": 0,
              "provisioningState": "Succeeded"
            },
            "sku": {
              "name": "P1",
              "tier": "Premium",
              "size": "P1",
              "family": "P",
              "capacity": 1
            }
          }
        },
        "404": {}
      }
    },
    "CreateOrUpdateAppServicePlan": {
      "parameters": {
        "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
        "resourceGroupName": "testrg123",
        "name": "testsf6141",
        "api-version": "2016-09-01",
        "appServicePlan": {
          "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
          "name": "testsf6141",
          "type": "Microsoft.Web/serverfarms",
          "kind": "app",
          "location": "East US",
          "properties": {
            "name": "testsf6141"
          },
          "sku": {
            "name": "P1",
            "tier": "Premium",
            "size": "P1",
            "family": "P",
            "capacity": 1
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
            "name": "testsf6141",
            "type": "Microsoft.Web/serverfarms",
            "kind": "app",
            "location": "East US",
            "properties": {
              "name": "testsf6141",
              "workerSize": "Default",
              "numberOfWorkers": 1,
              "currentWorkerSize": "Default",
              "currentNumberOfWorkers": 1,
              "status": "Ready",
              "maximumNumberOfWorkers": 20,
              "geoRegion": "East US",
              "numberOfSites": 4,
              "reserved": false,
              "mdmId": "waws-prod-blu-033_4740",
              "targetWorkerCount": 0,
              "targetWorkerSizeId": 0,
              "provisioningState": "Succeeded"
            },
            "sku": {
              "name": "P1",
              "tier": "Premium",
              "size": "P1",
              "family": "P",
              "capacity": 1
            }
          }
        },
        "202": {
          "headers": {
            "location": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0",
            "azure-asyncoperation": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0"
          },
          "body": {
            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
            "name": "testsf6141",
            "type": "Microsoft.Web/serverfarms",
            "kind": "app",
            "location": "East US",
            "properties": {
              "name": "testsf6141",
              "workerSize": "Default",
              "numberOfWorkers": 1,
              "currentWorkerSize": "Default",
              "currentNumberOfWorkers": 1,
              "status": "Ready",
              "maximumNumberOfWorkers": 20,
              "geoRegion": "East US",
              "numberOfSites": 4,
              "isSpot": false,
              "reserved": false,
              "mdmId": "waws-prod-blu-033_4740",
              "targetWorkerCount": 0,
              "targetWorkerSizeId": 0,
              "provisioningState": "Succeeded"
            },
            "sku": {
              "name": "P1",
              "tier": "Premium",
              "size": "P1",
              "family": "P",
              "capacity": 1
            }
          }
        }
      }
    },
    "DeleteAppServicePlan": {
      "parameters": {
        "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
        "resourceGroupName": "testrg123",
        "name": "testsf6141",
        "api-version": "2016-09-01"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "PatchAppServicePlan": {
      "parameters": {
        "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
        "resourceGroupName": "testrg123",
        "name": "testsf6141",
        "api-version": "2016-09-01",
        "appServicePlan": {
          "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
          "name": "testsf6141",
          "type": "Microsoft.Web/serverfarms",
          "kind": "app",
          "properties": {
            "name": "testsf6141"
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
            "name": "testsf6141",
            "type": "Microsoft.Web/serverfarms",
            "kind": "app",
            "location": "East US",
            "properties": {
              "name": "testsf6141",
              "workerSize": "Default",
              "numberOfWorkers": 1,
              "currentWorkerSize": "Default",
              "currentNumberOfWorkers": 1,
              "status": "Ready",
              "maximumNumberOfWorkers": 20,
              "geoRegion": "East US",
              "numberOfSites": 4,
              "reserved": false,
              "mdmId": "waws-prod-blu-033_4740",
              "targetWorkerCount": 0,
              "targetWorkerSizeId": 0,
              "provisioningState": "Succeeded"
            },
            "sku": {
              "name": "P1",
              "tier": "Premium",
              "size": "P1",
              "family": "P",
              "capacity": 1
            }
          }
        },
        "202": {
          "headers": {
            "location": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0",
            "azure-asyncoperation": "https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141/operationresults/F0C6B8EC-0D53-432C-913B-1CD9E8CDE3A0"
          },
          "body": {
            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.Web/serverfarms/testsf6141",
            "name": "testsf6141",
            "type": "Microsoft.Web/serverfarms",
            "kind": "app",
            "location": "East US",
            "properties": {
              "name": "testsf6141",
              "workerSize": "Default",
              "numberOfWorkers": 1,
              "currentWorkerSize": "Default",
              "currentNumberOfWorkers": 1,
              "status": "Ready",
              "maximumNumberOfWorkers": 20,
              "geoRegion": "East US",
              "numberOfSites": 4,
              "isSpot": false,
              "reserved": false,
              "mdmId": "waws-prod-blu-033_4740",
              "targetWorkerCount": 0,
              "targetWorkerSizeId": 0,
              "provisioningState": "Succeeded"
            },
            "sku": {
              "name": "P1",
              "tier": "Premium",
              "size": "P1",
              "family": "P",
              "capacity": 1
            }
          }
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-service-name": "App Service",
  "x-internal-toc-name": "App Service Plans",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List Usages"
}