{
  "swagger": "2.0",
  "info": {
    "version": "2016-08-01",
    "title": "WebApps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {},
  "definitions": null,
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "x-internal-toc-name": "Web Apps",
  "x-internal-split-type": "OperationGroup",
  "x-internal-split-members": [
    {
      "displayName": "Add Premier Add On",
      "relativePath": "WebApps/AddPremierAddOn"
    },
    {
      "displayName": "Add Premier Add On Slot",
      "relativePath": "WebApps/AddPremierAddOnSlot"
    },
    {
      "displayName": "Analyze Custom Hostname",
      "relativePath": "WebApps/AnalyzeCustomHostname"
    },
    {
      "displayName": "Analyze Custom Hostname Slot",
      "relativePath": "WebApps/AnalyzeCustomHostnameSlot"
    },
    {
      "displayName": "Apply Slot Config To Production",
      "relativePath": "WebApps/ApplySlotConfigToProduction"
    },
    {
      "displayName": "Apply Slot Configuration Slot",
      "relativePath": "WebApps/ApplySlotConfigurationSlot"
    },
    {
      "displayName": "Backup",
      "relativePath": "WebApps/Backup"
    },
    {
      "displayName": "Backup Slot",
      "relativePath": "WebApps/BackupSlot"
    },
    {
      "displayName": "Create Deployment",
      "relativePath": "WebApps/CreateDeployment"
    },
    {
      "displayName": "Create Deployment Slot",
      "relativePath": "WebApps/CreateDeploymentSlot"
    },
    {
      "displayName": "Create Instance Deployment",
      "relativePath": "WebApps/CreateInstanceDeployment"
    },
    {
      "displayName": "Create Instance Deployment Slot",
      "relativePath": "WebApps/CreateInstanceDeploymentSlot"
    },
    {
      "displayName": "Create Or Update",
      "relativePath": "WebApps/CreateOrUpdate"
    },
    {
      "displayName": "Create Or Update Configuration",
      "relativePath": "WebApps/CreateOrUpdateConfiguration"
    },
    {
      "displayName": "Create Or Update Configuration Slot",
      "relativePath": "WebApps/CreateOrUpdateConfigurationSlot"
    },
    {
      "displayName": "Create Or Update Domain Ownership Identifier",
      "relativePath": "WebApps/CreateOrUpdateDomainOwnershipIdentifier"
    },
    {
      "displayName": "Create Or Update Domain Ownership Identifier Slot",
      "relativePath": "WebApps/CreateOrUpdateDomainOwnershipIdentifierSlot"
    },
    {
      "displayName": "Create Or Update Host Name Binding",
      "relativePath": "WebApps/CreateOrUpdateHostNameBinding"
    },
    {
      "displayName": "Create Or Update Host Name Binding Slot",
      "relativePath": "WebApps/CreateOrUpdateHostNameBindingSlot"
    },
    {
      "displayName": "Create Or Update Hybrid Connection",
      "relativePath": "WebApps/CreateOrUpdateHybridConnection"
    },
    {
      "displayName": "Create Or Update Hybrid Connection Slot",
      "relativePath": "WebApps/CreateOrUpdateHybridConnectionSlot"
    },
    {
      "displayName": "Create Or Update Relay Service Connection",
      "relativePath": "WebApps/CreateOrUpdateRelayServiceConnection"
    },
    {
      "displayName": "Create Or Update Relay Service Connection Slot",
      "relativePath": "WebApps/CreateOrUpdateRelayServiceConnectionSlot"
    },
    {
      "displayName": "Create Or Update Slot",
      "relativePath": "WebApps/CreateOrUpdateSlot"
    },
    {
      "displayName": "Create Or Update Source Control",
      "relativePath": "WebApps/CreateOrUpdateSourceControl"
    },
    {
      "displayName": "Create Or Update Source Control Slot",
      "relativePath": "WebApps/CreateOrUpdateSourceControlSlot"
    },
    {
      "displayName": "Create Or Update Vnet Connection",
      "relativePath": "WebApps/CreateOrUpdateVnetConnection"
    },
    {
      "displayName": "Create Or Update Vnet Connection Gateway",
      "relativePath": "WebApps/CreateOrUpdateVnetConnectionGateway"
    },
    {
      "displayName": "Create Or Update Vnet Connection Gateway Slot",
      "relativePath": "WebApps/CreateOrUpdateVnetConnectionGatewaySlot"
    },
    {
      "displayName": "Create Or Update Vnet Connection Slot",
      "relativePath": "WebApps/CreateOrUpdateVnetConnectionSlot"
    },
    {
      "displayName": "Delete",
      "relativePath": "WebApps/Delete"
    },
    {
      "displayName": "Delete Backup",
      "relativePath": "WebApps/DeleteBackup"
    },
    {
      "displayName": "Delete Backup Configuration",
      "relativePath": "WebApps/DeleteBackupConfiguration"
    },
    {
      "displayName": "Delete Backup Configuration Slot",
      "relativePath": "WebApps/DeleteBackupConfigurationSlot"
    },
    {
      "displayName": "Delete Backup Slot",
      "relativePath": "WebApps/DeleteBackupSlot"
    },
    {
      "displayName": "Delete Deployment",
      "relativePath": "WebApps/DeleteDeployment"
    },
    {
      "displayName": "Delete Deployment Slot",
      "relativePath": "WebApps/DeleteDeploymentSlot"
    },
    {
      "displayName": "Delete Domain Ownership Identifier",
      "relativePath": "WebApps/DeleteDomainOwnershipIdentifier"
    },
    {
      "displayName": "Delete Domain Ownership Identifier Slot",
      "relativePath": "WebApps/DeleteDomainOwnershipIdentifierSlot"
    },
    {
      "displayName": "Delete Host Name Binding",
      "relativePath": "WebApps/DeleteHostNameBinding"
    },
    {
      "displayName": "Delete Host Name Binding Slot",
      "relativePath": "WebApps/DeleteHostNameBindingSlot"
    },
    {
      "displayName": "Delete Hybrid Connection",
      "relativePath": "WebApps/DeleteHybridConnection"
    },
    {
      "displayName": "Delete Hybrid Connection Slot",
      "relativePath": "WebApps/DeleteHybridConnectionSlot"
    },
    {
      "displayName": "Delete Instance Deployment",
      "relativePath": "WebApps/DeleteInstanceDeployment"
    },
    {
      "displayName": "Delete Instance Deployment Slot",
      "relativePath": "WebApps/DeleteInstanceDeploymentSlot"
    },
    {
      "displayName": "Delete Premier Add On",
      "relativePath": "WebApps/DeletePremierAddOn"
    },
    {
      "displayName": "Delete Premier Add On Slot",
      "relativePath": "WebApps/DeletePremierAddOnSlot"
    },
    {
      "displayName": "Delete Relay Service Connection",
      "relativePath": "WebApps/DeleteRelayServiceConnection"
    },
    {
      "displayName": "Delete Relay Service Connection Slot",
      "relativePath": "WebApps/DeleteRelayServiceConnectionSlot"
    },
    {
      "displayName": "Delete Slot",
      "relativePath": "WebApps/DeleteSlot"
    },
    {
      "displayName": "Delete Source Control",
      "relativePath": "WebApps/DeleteSourceControl"
    },
    {
      "displayName": "Delete Source Control Slot",
      "relativePath": "WebApps/DeleteSourceControlSlot"
    },
    {
      "displayName": "Delete Vnet Connection",
      "relativePath": "WebApps/DeleteVnetConnection"
    },
    {
      "displayName": "Delete Vnet Connection Slot",
      "relativePath": "WebApps/DeleteVnetConnectionSlot"
    },
    {
      "displayName": "Discover Restore",
      "relativePath": "WebApps/DiscoverRestore"
    },
    {
      "displayName": "Discover Restore Slot",
      "relativePath": "WebApps/DiscoverRestoreSlot"
    },
    {
      "displayName": "Generate New Site Publishing Password",
      "relativePath": "WebApps/GenerateNewSitePublishingPassword"
    },
    {
      "displayName": "Generate New Site Publishing Password Slot",
      "relativePath": "WebApps/GenerateNewSitePublishingPasswordSlot"
    },
    {
      "displayName": "Get",
      "relativePath": "WebApps/Get"
    },
    {
      "displayName": "Get Auth Settings",
      "relativePath": "WebApps/GetAuthSettings"
    },
    {
      "displayName": "Get Auth Settings Slot",
      "relativePath": "WebApps/GetAuthSettingsSlot"
    },
    {
      "displayName": "Get Backup Configuration",
      "relativePath": "WebApps/GetBackupConfiguration"
    },
    {
      "displayName": "Get Backup Configuration Slot",
      "relativePath": "WebApps/GetBackupConfigurationSlot"
    },
    {
      "displayName": "Get Backup Status",
      "relativePath": "WebApps/GetBackupStatus"
    },
    {
      "displayName": "Get Backup Status Slot",
      "relativePath": "WebApps/GetBackupStatusSlot"
    },
    {
      "displayName": "Get Configuration",
      "relativePath": "WebApps/GetConfiguration"
    },
    {
      "displayName": "Get Configuration Slot",
      "relativePath": "WebApps/GetConfigurationSlot"
    },
    {
      "displayName": "Get Configuration Snapshot",
      "relativePath": "WebApps/GetConfigurationSnapshot"
    },
    {
      "displayName": "Get Configuration Snapshot Slot",
      "relativePath": "WebApps/GetConfigurationSnapshotSlot"
    },
    {
      "displayName": "Get Deployment",
      "relativePath": "WebApps/GetDeployment"
    },
    {
      "displayName": "Get Deployment Slot",
      "relativePath": "WebApps/GetDeploymentSlot"
    },
    {
      "displayName": "Get Diagnostic Logs Configuration",
      "relativePath": "WebApps/GetDiagnosticLogsConfiguration"
    },
    {
      "displayName": "Get Diagnostic Logs Configuration Slot",
      "relativePath": "WebApps/GetDiagnosticLogsConfigurationSlot"
    },
    {
      "displayName": "Get Domain Ownership Identifier",
      "relativePath": "WebApps/GetDomainOwnershipIdentifier"
    },
    {
      "displayName": "Get Domain Ownership Identifier Slot",
      "relativePath": "WebApps/GetDomainOwnershipIdentifierSlot"
    },
    {
      "displayName": "Get Host Name Binding",
      "relativePath": "WebApps/GetHostNameBinding"
    },
    {
      "displayName": "Get Host Name Binding Slot",
      "relativePath": "WebApps/GetHostNameBindingSlot"
    },
    {
      "displayName": "Get Hybrid Connection",
      "relativePath": "WebApps/GetHybridConnection"
    },
    {
      "displayName": "Get Hybrid Connection Slot",
      "relativePath": "WebApps/GetHybridConnectionSlot"
    },
    {
      "displayName": "Get Instance Deployment",
      "relativePath": "WebApps/GetInstanceDeployment"
    },
    {
      "displayName": "Get Instance Deployment Slot",
      "relativePath": "WebApps/GetInstanceDeploymentSlot"
    },
    {
      "displayName": "Get Migrate My Sql Status",
      "relativePath": "WebApps/GetMigrateMySqlStatus"
    },
    {
      "displayName": "Get Migrate My Sql Status Slot",
      "relativePath": "WebApps/GetMigrateMySqlStatusSlot"
    },
    {
      "displayName": "Get Premier Add On",
      "relativePath": "WebApps/GetPremierAddOn"
    },
    {
      "displayName": "Get Premier Add On Slot",
      "relativePath": "WebApps/GetPremierAddOnSlot"
    },
    {
      "displayName": "Get Relay Service Connection",
      "relativePath": "WebApps/GetRelayServiceConnection"
    },
    {
      "displayName": "Get Relay Service Connection Slot",
      "relativePath": "WebApps/GetRelayServiceConnectionSlot"
    },
    {
      "displayName": "Get Resource Health Metadata",
      "relativePath": "WebApps/GetResourceHealthMetadata"
    },
    {
      "displayName": "Get Resource Health Metadata Slot",
      "relativePath": "WebApps/GetResourceHealthMetadataSlot"
    },
    {
      "displayName": "Get Site Php Error Log Flag",
      "relativePath": "WebApps/GetSitePhpErrorLogFlag"
    },
    {
      "displayName": "Get Site Php Error Log Flag Slot",
      "relativePath": "WebApps/GetSitePhpErrorLogFlagSlot"
    },
    {
      "displayName": "Get Slot",
      "relativePath": "WebApps/GetSlot"
    },
    {
      "displayName": "Get Source Control",
      "relativePath": "WebApps/GetSourceControl"
    },
    {
      "displayName": "Get Source Control Slot",
      "relativePath": "WebApps/GetSourceControlSlot"
    },
    {
      "displayName": "Get Vnet Connection",
      "relativePath": "WebApps/GetVnetConnection"
    },
    {
      "displayName": "Get Vnet Connection Gateway",
      "relativePath": "WebApps/GetVnetConnectionGateway"
    },
    {
      "displayName": "Get Vnet Connection Gateway Slot",
      "relativePath": "WebApps/GetVnetConnectionGatewaySlot"
    },
    {
      "displayName": "Get Vnet Connection Slot",
      "relativePath": "WebApps/GetVnetConnectionSlot"
    },
    {
      "displayName": "Is Cloneable",
      "relativePath": "WebApps/IsCloneable"
    },
    {
      "displayName": "Is Cloneable Slot",
      "relativePath": "WebApps/IsCloneableSlot"
    },
    {
      "displayName": "List",
      "relativePath": "WebApps/List"
    },
    {
      "displayName": "List Application Settings",
      "relativePath": "WebApps/ListApplicationSettings"
    },
    {
      "displayName": "List Application Settings Slot",
      "relativePath": "WebApps/ListApplicationSettingsSlot"
    },
    {
      "displayName": "List Backup Status Secrets",
      "relativePath": "WebApps/ListBackupStatusSecrets"
    },
    {
      "displayName": "List Backup Status Secrets Slot",
      "relativePath": "WebApps/ListBackupStatusSecretsSlot"
    },
    {
      "displayName": "List Backups",
      "relativePath": "WebApps/ListBackups"
    },
    {
      "displayName": "List Backups Slot",
      "relativePath": "WebApps/ListBackupsSlot"
    },
    {
      "displayName": "List By Resource Group",
      "relativePath": "WebApps/ListByResourceGroup"
    },
    {
      "displayName": "List Configuration Snapshot Info",
      "relativePath": "WebApps/ListConfigurationSnapshotInfo"
    },
    {
      "displayName": "List Configuration Snapshot Info Slot",
      "relativePath": "WebApps/ListConfigurationSnapshotInfoSlot"
    },
    {
      "displayName": "List Configurations",
      "relativePath": "WebApps/ListConfigurations"
    },
    {
      "displayName": "List Configurations Slot",
      "relativePath": "WebApps/ListConfigurationsSlot"
    },
    {
      "displayName": "List Connection Strings",
      "relativePath": "WebApps/ListConnectionStrings"
    },
    {
      "displayName": "List Connection Strings Slot",
      "relativePath": "WebApps/ListConnectionStringsSlot"
    },
    {
      "displayName": "List Deployments",
      "relativePath": "WebApps/ListDeployments"
    },
    {
      "displayName": "List Deployments Slot",
      "relativePath": "WebApps/ListDeploymentsSlot"
    },
    {
      "displayName": "List Domain Ownership Identifiers",
      "relativePath": "WebApps/ListDomainOwnershipIdentifiers"
    },
    {
      "displayName": "List Domain Ownership Identifiers Slot",
      "relativePath": "WebApps/ListDomainOwnershipIdentifiersSlot"
    },
    {
      "displayName": "List Host Name Bindings",
      "relativePath": "WebApps/ListHostNameBindings"
    },
    {
      "displayName": "List Host Name Bindings Slot",
      "relativePath": "WebApps/ListHostNameBindingsSlot"
    },
    {
      "displayName": "List Hybrid Connection Keys",
      "relativePath": "WebApps/ListHybridConnectionKeys"
    },
    {
      "displayName": "List Hybrid Connection Keys Slot",
      "relativePath": "WebApps/ListHybridConnectionKeysSlot"
    },
    {
      "displayName": "List Hybrid Connections",
      "relativePath": "WebApps/ListHybridConnections"
    },
    {
      "displayName": "List Hybrid Connections Slot",
      "relativePath": "WebApps/ListHybridConnectionsSlot"
    },
    {
      "displayName": "List Instance Deployments",
      "relativePath": "WebApps/ListInstanceDeployments"
    },
    {
      "displayName": "List Instance Deployments Slot",
      "relativePath": "WebApps/ListInstanceDeploymentsSlot"
    },
    {
      "displayName": "List Instance Identifiers",
      "relativePath": "WebApps/ListInstanceIdentifiers"
    },
    {
      "displayName": "List Instance Identifiers Slot",
      "relativePath": "WebApps/ListInstanceIdentifiersSlot"
    },
    {
      "displayName": "List Metadata",
      "relativePath": "WebApps/ListMetadata"
    },
    {
      "displayName": "List Metadata Slot",
      "relativePath": "WebApps/ListMetadataSlot"
    },
    {
      "displayName": "List Metric Definitions",
      "relativePath": "WebApps/ListMetricDefinitions"
    },
    {
      "displayName": "List Metric Definitions Slot",
      "relativePath": "WebApps/ListMetricDefinitionsSlot"
    },
    {
      "displayName": "List Metrics",
      "relativePath": "WebApps/ListMetrics"
    },
    {
      "displayName": "List Metrics Slot",
      "relativePath": "WebApps/ListMetricsSlot"
    },
    {
      "displayName": "List Network Features",
      "relativePath": "WebApps/ListNetworkFeatures"
    },
    {
      "displayName": "List Network Features Slot",
      "relativePath": "WebApps/ListNetworkFeaturesSlot"
    },
    {
      "displayName": "List Perf Mon Counters",
      "relativePath": "WebApps/ListPerfMonCounters"
    },
    {
      "displayName": "List Perf Mon Counters Slot",
      "relativePath": "WebApps/ListPerfMonCountersSlot"
    },
    {
      "displayName": "List Premier Add Ons",
      "relativePath": "WebApps/ListPremierAddOns"
    },
    {
      "displayName": "List Premier Add Ons Slot",
      "relativePath": "WebApps/ListPremierAddOnsSlot"
    },
    {
      "displayName": "List Publishing Credentials",
      "relativePath": "WebApps/ListPublishingCredentials"
    },
    {
      "displayName": "List Publishing Credentials Slot",
      "relativePath": "WebApps/ListPublishingCredentialsSlot"
    },
    {
      "displayName": "List Publishing Profile Xml With Secrets",
      "relativePath": "WebApps/ListPublishingProfileXmlWithSecrets"
    },
    {
      "displayName": "List Publishing Profile Xml With Secrets Slot",
      "relativePath": "WebApps/ListPublishingProfileXmlWithSecretsSlot"
    },
    {
      "displayName": "List Relay Service Connections",
      "relativePath": "WebApps/ListRelayServiceConnections"
    },
    {
      "displayName": "List Relay Service Connections Slot",
      "relativePath": "WebApps/ListRelayServiceConnectionsSlot"
    },
    {
      "displayName": "List Site Push Settings",
      "relativePath": "WebApps/ListSitePushSettings"
    },
    {
      "displayName": "List Site Push Settings Slot",
      "relativePath": "WebApps/ListSitePushSettingsSlot"
    },
    {
      "displayName": "List Slot Configuration Names",
      "relativePath": "WebApps/ListSlotConfigurationNames"
    },
    {
      "displayName": "List Slot Differences From Production",
      "relativePath": "WebApps/ListSlotDifferencesFromProduction"
    },
    {
      "displayName": "List Slot Differences Slot",
      "relativePath": "WebApps/ListSlotDifferencesSlot"
    },
    {
      "displayName": "List Slots",
      "relativePath": "WebApps/ListSlots"
    },
    {
      "displayName": "List Snapshots",
      "relativePath": "WebApps/ListSnapshots"
    },
    {
      "displayName": "List Snapshots Slot",
      "relativePath": "WebApps/ListSnapshotsSlot"
    },
    {
      "displayName": "List Usages",
      "relativePath": "WebApps/ListUsages"
    },
    {
      "displayName": "List Usages Slot",
      "relativePath": "WebApps/ListUsagesSlot"
    },
    {
      "displayName": "List Vnet Connections",
      "relativePath": "WebApps/ListVnetConnections"
    },
    {
      "displayName": "List Vnet Connections Slot",
      "relativePath": "WebApps/ListVnetConnectionsSlot"
    },
    {
      "displayName": "Migrate My Sql",
      "relativePath": "WebApps/MigrateMySql"
    },
    {
      "displayName": "Migrate Storage",
      "relativePath": "WebApps/MigrateStorage"
    },
    {
      "displayName": "Recover",
      "relativePath": "WebApps/Recover"
    },
    {
      "displayName": "Recover Site Configuration Snapshot",
      "relativePath": "WebApps/RecoverSiteConfigurationSnapshot"
    },
    {
      "displayName": "Recover Site Configuration Snapshot Slot",
      "relativePath": "WebApps/RecoverSiteConfigurationSnapshotSlot"
    },
    {
      "displayName": "Recover Slot",
      "relativePath": "WebApps/RecoverSlot"
    },
    {
      "displayName": "Reset Production Slot Config",
      "relativePath": "WebApps/ResetProductionSlotConfig"
    },
    {
      "displayName": "Reset Slot Configuration Slot",
      "relativePath": "WebApps/ResetSlotConfigurationSlot"
    },
    {
      "displayName": "Restart",
      "relativePath": "WebApps/Restart"
    },
    {
      "displayName": "Restart Slot",
      "relativePath": "WebApps/RestartSlot"
    },
    {
      "displayName": "Restore",
      "relativePath": "WebApps/Restore"
    },
    {
      "displayName": "Restore Slot",
      "relativePath": "WebApps/RestoreSlot"
    },
    {
      "displayName": "Start",
      "relativePath": "WebApps/Start"
    },
    {
      "displayName": "Start Slot",
      "relativePath": "WebApps/StartSlot"
    },
    {
      "displayName": "Start Web Site Network Trace",
      "relativePath": "WebApps/StartWebSiteNetworkTrace"
    },
    {
      "displayName": "Start Web Site Network Trace Slot",
      "relativePath": "WebApps/StartWebSiteNetworkTraceSlot"
    },
    {
      "displayName": "Stop",
      "relativePath": "WebApps/Stop"
    },
    {
      "displayName": "Stop Slot",
      "relativePath": "WebApps/StopSlot"
    },
    {
      "displayName": "Stop Web Site Network Trace",
      "relativePath": "WebApps/StopWebSiteNetworkTrace"
    },
    {
      "displayName": "Stop Web Site Network Trace Slot",
      "relativePath": "WebApps/StopWebSiteNetworkTraceSlot"
    },
    {
      "displayName": "Swap Slot Slot",
      "relativePath": "WebApps/SwapSlotSlot"
    },
    {
      "displayName": "Swap Slot With Production",
      "relativePath": "WebApps/SwapSlotWithProduction"
    },
    {
      "displayName": "Sync Function Triggers",
      "relativePath": "WebApps/SyncFunctionTriggers"
    },
    {
      "displayName": "Sync Function Triggers Slot",
      "relativePath": "WebApps/SyncFunctionTriggersSlot"
    },
    {
      "displayName": "Sync Repository",
      "relativePath": "WebApps/SyncRepository"
    },
    {
      "displayName": "Sync Repository Slot",
      "relativePath": "WebApps/SyncRepositorySlot"
    },
    {
      "displayName": "Update Application Settings",
      "relativePath": "WebApps/UpdateApplicationSettings"
    },
    {
      "displayName": "Update Application Settings Slot",
      "relativePath": "WebApps/UpdateApplicationSettingsSlot"
    },
    {
      "displayName": "Update Auth Settings",
      "relativePath": "WebApps/UpdateAuthSettings"
    },
    {
      "displayName": "Update Auth Settings Slot",
      "relativePath": "WebApps/UpdateAuthSettingsSlot"
    },
    {
      "displayName": "Update Backup Configuration",
      "relativePath": "WebApps/UpdateBackupConfiguration"
    },
    {
      "displayName": "Update Backup Configuration Slot",
      "relativePath": "WebApps/UpdateBackupConfigurationSlot"
    },
    {
      "displayName": "Update Configuration",
      "relativePath": "WebApps/UpdateConfiguration"
    },
    {
      "displayName": "Update Configuration Slot",
      "relativePath": "WebApps/UpdateConfigurationSlot"
    },
    {
      "displayName": "Update Connection Strings",
      "relativePath": "WebApps/UpdateConnectionStrings"
    },
    {
      "displayName": "Update Connection Strings Slot",
      "relativePath": "WebApps/UpdateConnectionStringsSlot"
    },
    {
      "displayName": "Update Diagnostic Logs Config",
      "relativePath": "WebApps/UpdateDiagnosticLogsConfig"
    },
    {
      "displayName": "Update Diagnostic Logs Config Slot",
      "relativePath": "WebApps/UpdateDiagnosticLogsConfigSlot"
    },
    {
      "displayName": "Update Domain Ownership Identifier",
      "relativePath": "WebApps/UpdateDomainOwnershipIdentifier"
    },
    {
      "displayName": "Update Domain Ownership Identifier Slot",
      "relativePath": "WebApps/UpdateDomainOwnershipIdentifierSlot"
    },
    {
      "displayName": "Update Hybrid Connection",
      "relativePath": "WebApps/UpdateHybridConnection"
    },
    {
      "displayName": "Update Hybrid Connection Slot",
      "relativePath": "WebApps/UpdateHybridConnectionSlot"
    },
    {
      "displayName": "Update Metadata",
      "relativePath": "WebApps/UpdateMetadata"
    },
    {
      "displayName": "Update Metadata Slot",
      "relativePath": "WebApps/UpdateMetadataSlot"
    },
    {
      "displayName": "Update Relay Service Connection",
      "relativePath": "WebApps/UpdateRelayServiceConnection"
    },
    {
      "displayName": "Update Relay Service Connection Slot",
      "relativePath": "WebApps/UpdateRelayServiceConnectionSlot"
    },
    {
      "displayName": "Update Site Push Settings",
      "relativePath": "WebApps/UpdateSitePushSettings"
    },
    {
      "displayName": "Update Site Push Settings Slot",
      "relativePath": "WebApps/UpdateSitePushSettingsSlot"
    },
    {
      "displayName": "Update Slot Configuration Names",
      "relativePath": "WebApps/UpdateSlotConfigurationNames"
    },
    {
      "displayName": "Update Vnet Connection",
      "relativePath": "WebApps/UpdateVnetConnection"
    },
    {
      "displayName": "Update Vnet Connection Gateway",
      "relativePath": "WebApps/UpdateVnetConnectionGateway"
    },
    {
      "displayName": "Update Vnet Connection Gateway Slot",
      "relativePath": "WebApps/UpdateVnetConnectionGatewaySlot"
    },
    {
      "displayName": "Update Vnet Connection Slot",
      "relativePath": "WebApps/UpdateVnetConnectionSlot"
    }
  ]
}