{
  "swagger": "2.0",
  "info": {
    "version": "2015-10-31",
    "title": "AutomationManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules/{scheduleName}": {
      "put": {
        "tags": [
          "Schedule"
        ],
        "operationId": "Schedule_CreateOrUpdate",
        "description": "Create a schedule.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/scheduleoperations"
        },
        "x-ms-examples": {
          "Create or update a schedule": {
            "parameters": {
              "subscriptionId": "subid",
              "resourceGroupName": "rg",
              "automationAccountName": "myAutomationAccount33",
              "scheduleName": "mySchedule",
              "api-version": "2015-10-31",
              "parameters": {
                "name": "mySchedule",
                "properties": {
                  "description": "my description of schedule goes here",
                  "startTime": "2017-03-27T17:28:57.2494819Z",
                  "expiryTime": "2017-04-01T17:28:57.2494819Z",
                  "interval": 1,
                  "frequency": "Hour",
                  "advancedSchedule": {}
                }
              }
            },
            "responses": {
              "201": {
                "headers": {},
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule",
                  "name": "mySchedule",
                  "properties": {
                    "description": "my description of schedule goes here",
                    "startTime": "2017-03-27T17:28:00+00:00",
                    "startTimeOffsetMinutes": 0,
                    "expiryTime": "2017-04-01T17:28:00+00:00",
                    "expiryTimeOffsetMinutes": 0,
                    "isEnabled": true,
                    "nextRun": "2017-03-27T17:28:00+00:00",
                    "nextRunOffsetMinutes": 0,
                    "interval": 1,
                    "frequency": "Hour",
                    "creationTime": "2017-03-27T16:59:22.697+00:00",
                    "lastModifiedTime": "2017-03-27T16:59:22.697+00:00",
                    "timeZone": "UTC",
                    "advancedSchedule": null
                  }
                }
              },
              "409": {}
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "scheduleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The schedule name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduleCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update schedule operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Schedule"
            }
          },
          "409": {
            "description": "Conflict"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-ms-examples-mapping": {
          "Create or update a schedule": "createOrUpdateSchedule"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Create or update a schedule": {
            "request": "PUT https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule?api-version=2015-10-31 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Length: 230\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 962cd769-1ab0-4a32-a6c9-456fbbdd88ff\nhost: management.azure.com\nConnection: close\n\n{\"name\":\"mySchedule\",\"properties\":{\"description\":\"my description of schedule goes here\",\"startTime\":\"2017-03-27T17:28:57.2494819Z\",\"expiryTime\":\"2017-04-01T17:28:57.2494819Z\",\"interval\":1,\"frequency\":\"Hour\",\"advancedSchedule\":{}}}\n",
            "curl": "curl -X PUT 'https://management.azure.com/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule?api-version=2015-10-31' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Length: 230' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 962cd769-1ab0-4a32-a6c9-456fbbdd88ff' \\\n-d @- << EOF\n{\n  \"name\": \"mySchedule\",\n  \"properties\": {\n    \"description\": \"my description of schedule goes here\",\n    \"startTime\": \"2017-03-27T17:28:57.2494819Z\",\n    \"expiryTime\": \"2017-04-01T17:28:57.2494819Z\",\n    \"interval\": 1,\n    \"frequency\": \"Hour\",\n    \"advancedSchedule\": {}\n  }\n}\nEOF\n",
            "response": {
              "201": "HTTP 1.1 201\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: ea373cb6-1236-4718-9472-3d8888a68194\nx-ms-correlation-request-id: ea373cb6-1236-4718-9472-3d8888a68194\nx-ms-routing-request-id: WESTUS2:20170904T092947417Z:ea373cb6-1236-4718-9472-3d8888a68194\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 615\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:29:47 GMT\nConnection: close\n\n{\"id\":\"/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule\",\"name\":\"mySchedule\",\"properties\":{\"description\":\"my description of schedule goes here\",\"startTime\":\"2017-03-27T17:28:00+00:00\",\"startTimeOffsetMinutes\":0,\"expiryTime\":\"2017-04-01T17:28:00+00:00\",\"expiryTimeOffsetMinutes\":0,\"isEnabled\":true,\"nextRun\":\"2017-03-27T17:28:00+00:00\",\"nextRunOffsetMinutes\":0,\"interval\":1,\"frequency\":\"Hour\",\"creationTime\":\"2017-03-27T16:59:22.697+00:00\",\"lastModifiedTime\":\"2017-03-27T16:59:22.697+00:00\",\"timeZone\":\"UTC\",\"advancedSchedule\":null}}\n"
            }
          }
        },
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "description": "Error response of an operation failure"
    },
    "AdvancedScheduleMonthlyOccurrence": {
      "properties": {
        "occurrence": {
          "type": "integer",
          "format": "int32",
          "description": "Occurrence of the week within the month. Must be between 1 and 5"
        },
        "day": {
          "type": "string",
          "description": "Day of the occurrence. Must be one of monday, tuesday, wednesday,thursday, friday, saturday, sunday.",
          "enum": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "x-ms-enum": {
            "name": "ScheduleDay",
            "modelAsString": true
          }
        }
      },
      "description": "The properties of the create advanced schedule monthly occurrence."
    },
    "AdvancedSchedule": {
      "properties": {
        "weekDays": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Days of the week that the job should execute on."
        },
        "monthDays": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Days of the month that the job should execute on. Must be between 1 and 31."
        },
        "monthlyOccurrences": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdvancedScheduleMonthlyOccurrence"
          },
          "description": "Occurrences of days within a month."
        }
      },
      "description": "The properties of the create Advanced Schedule."
    },
    "ScheduleProperties": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the schedule."
        },
        "startTimeOffsetMinutes": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets the start time's offset in minutes."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the schedule."
        },
        "expiryTimeOffsetMinutes": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the expiry time's offset in minutes."
        },
        "isEnabled": {
          "type": "boolean",
          "default": false,
          "description": "Gets or sets a value indicating whether this schedule is enabled."
        },
        "nextRun": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the next run time of the schedule."
        },
        "nextRunOffsetMinutes": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets the next run time's offset in minutes."
        },
        "interval": {
          "description": "Gets or sets the interval of the schedule."
        },
        "frequency": {
          "type": "string",
          "description": "Gets or sets the frequency of the schedule.",
          "enum": [
            "OneTime",
            "Day",
            "Hour",
            "Week",
            "Month"
          ],
          "x-ms-enum": {
            "name": "ScheduleFrequency",
            "modelAsString": true
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Gets or sets the time zone of the schedule."
        },
        "advancedSchedule": {
          "$ref": "#/definitions/AdvancedSchedule",
          "description": "Gets or sets the advanced schedule."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Definition of schedule parameters."
    },
    "Schedule": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        },
        "properties": {
          "$ref": "#/definitions/ScheduleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the schedule."
        }
      },
      "description": "Definition of the schedule."
    },
    "ScheduleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Schedule"
          },
          "description": "Gets or sets a list of schedules."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list schedule operation."
    },
    "ScheduleUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the schedule."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Gets or sets a value indicating whether this schedule is enabled."
        }
      },
      "description": "The parameters supplied to the update schedule operation."
    },
    "ScheduleUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        },
        "properties": {
          "$ref": "#/definitions/ScheduleUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of schedule properties."
        }
      },
      "required": [
        "name"
      ],
      "description": "The parameters supplied to the update schedule operation."
    },
    "ScheduleCreateOrUpdateProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the schedule."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the schedule."
        },
        "expiryTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the end time of the schedule."
        },
        "interval": {
          "description": "Gets or sets the interval of the schedule."
        },
        "frequency": {
          "type": "string",
          "description": "Gets or sets the frequency of the schedule.",
          "enum": [
            "OneTime",
            "Day",
            "Hour",
            "Week",
            "Month"
          ],
          "x-ms-enum": {
            "name": "ScheduleFrequency",
            "modelAsString": true
          }
        },
        "timeZone": {
          "type": "string",
          "description": "Gets or sets the time zone of the schedule."
        },
        "advancedSchedule": {
          "$ref": "#/definitions/AdvancedSchedule",
          "description": "Gets or sets the AdvancedSchedule."
        }
      },
      "required": [
        "startTime",
        "frequency"
      ],
      "description": "The parameters supplied to the create or update schedule operation."
    },
    "ScheduleCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the schedule."
        },
        "properties": {
          "$ref": "#/definitions/ScheduleCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of schedule properties."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update schedule operation."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "description": "The resource group name.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Schedule",
  "x-internal-split-type": "Operation"
}