{
  "swagger": "2.0",
  "info": {
    "version": "2015-08-01",
    "title": "ServiceBusManagementClient",
    "description": "Azure Service Bus client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}": {
      "put": {
        "tags": [
          "Queues"
        ],
        "operationId": "Queues_CreateOrUpdate",
        "x-ms-examples": {
          "QueueCreate": {
            "parameters": {
              "namespaceName": "sdk-Namespace3082",
              "resourceGroupName": "Default-ServiceBus-WestUS",
              "queueName": "sdk-Queues8544",
              "api-version": "2015-08-01",
              "subscriptionId": "e2f361f0-3b27-4503-a9cc-21cfba380093",
              "parameters": {
                "properties": {
                  "enableExpress": false,
                  "enablePartitioning": false
                },
                "location": "West US"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace3082/queues/sdk-Queues8544",
                  "name": "sdk-Queues8544",
                  "type": "Microsoft.ServiceBus/Queues",
                  "properties": {
                    "lockDuration": "00:01:00",
                    "maxSizeInMegabytes": 1024,
                    "requiresDuplicateDetection": false,
                    "requiresSession": false,
                    "defaultMessageTimeToLive": "10675199.02:48:05.4775807",
                    "deadLetteringOnMessageExpiration": false,
                    "duplicateDetectionHistoryTimeWindow": "00:10:00",
                    "maxDeliveryCount": 10,
                    "enableBatchedOperations": true,
                    "sizeInBytes": 0,
                    "messageCount": 0,
                    "status": "Active",
                    "createdAt": "2017-03-12T09:16:03.577Z",
                    "updatedAt": "2017-03-12T09:16:03.623Z",
                    "supportOrdering": true,
                    "autoDeleteOnIdle": "10675199.02:48:05.4775807",
                    "enablePartitioning": false,
                    "enableExpress": false
                  }
                }
              }
            }
          }
        },
        "description": "Creates or updates a Service Bus queue. This operation is idempotent.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639395.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/namespaceNameParameter"
          },
          {
            "$ref": "#/parameters/queueNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueueCreateOrUpdateParameters"
            },
            "description": "Parameters supplied to create or update a queue resource."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Queue successfully created.",
            "schema": {
              "$ref": "#/definitions/QueueResource"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": null,
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of the Resource group within the Azure subscription."
    },
    "namespaceNameParameter": {
      "name": "namespaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 6,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The namespace name"
    },
    "authorizationRuleNameParameter": {
      "name": "authorizationRuleName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The authorizationrule name."
    },
    "queueNameParameter": {
      "name": "queueName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The queue name."
    },
    "topicNameParameter": {
      "name": "topicName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The topic name."
    },
    "subscriptionNameParameter": {
      "name": "subscriptionName",
      "in": "path",
      "required": true,
      "type": "string",
      "minLength": 1,
      "maxLength": 50,
      "x-ms-parameter-location": "method",
      "description": "The subscription name."
    }
  },
  "x-internal-toc-name": "Queues",
  "x-internal-split-type": "Operation",
  "x-internal-split-members": [
    {
      "displayName": "Check Name Availability",
      "relativePath": "Namespaces/CheckNameAvailability"
    },
    {
      "displayName": "Create Or Update",
      "relativePath": "Namespaces/CreateOrUpdate"
    },
    {
      "displayName": "Create Or Update Authorization Rule",
      "relativePath": "Namespaces/CreateOrUpdateAuthorizationRule"
    },
    {
      "displayName": "Delete",
      "relativePath": "Namespaces/Delete"
    },
    {
      "displayName": "Delete Authorization Rule",
      "relativePath": "Namespaces/DeleteAuthorizationRule"
    },
    {
      "displayName": "Get",
      "relativePath": "Namespaces/Get"
    },
    {
      "displayName": "Get Authorization Rule",
      "relativePath": "Namespaces/GetAuthorizationRule"
    },
    {
      "displayName": "List Authorization Rules",
      "relativePath": "Namespaces/ListAuthorizationRules"
    },
    {
      "displayName": "List By Resource Group",
      "relativePath": "Namespaces/ListByResourceGroup"
    },
    {
      "displayName": "List By Subscription",
      "relativePath": "Namespaces/ListBySubscription"
    },
    {
      "displayName": "List Keys",
      "relativePath": "Namespaces/ListKeys"
    },
    {
      "displayName": "Regenerate Keys",
      "relativePath": "Namespaces/RegenerateKeys"
    },
    {
      "displayName": "Update",
      "relativePath": "Namespaces/Update"
    }
  ]
}