{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes/{connectionTypeName}": {
      "put": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_CreateOrUpdate",
        "description": "Create a connectiontype.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Create or update connection type": {
            "$ref": "#/definitions/createOrUpdateConnectionType"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/ConnectionTypeCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update connectiontype operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/ConnectionType"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "./definitions.json#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": {
    "deleteConnectionType": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount22",
        "connectionTypeName": "myCT",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "getConnectionType": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount22",
        "connectionTypeName": "myCT",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount22/connectionTypes/myCT",
            "name": "myCT",
            "properties": {
              "isGlobal": false,
              "fieldDefinitions": {
                "myStringField": {
                  "isEncrypted": false,
                  "isOptional": false,
                  "type": "string"
                },
                "myBoolField": {
                  "isEncrypted": false,
                  "isOptional": false,
                  "type": "bool"
                },
                "myStringFieldEncrypted": {
                  "isEncrypted": true,
                  "isOptional": false,
                  "type": "string"
                }
              },
              "creationTime": "2017-03-27T11:47:53.433+08:00",
              "lastModifiedTime": "2017-03-27T11:47:53.557+08:00"
            }
          }
        }
      }
    },
    "createOrUpdateConnectionType": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount22",
        "connectionTypeName": "myCT",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "myCT",
          "properties": {
            "isGlobal": false,
            "fieldDefinitions": {
              "myStringField": {
                "isEncrypted": false,
                "isOptional": false,
                "type": "string"
              },
              "myBoolField": {
                "isEncrypted": false,
                "isOptional": false,
                "type": "bool"
              },
              "myStringFieldEncrypted": {
                "isEncrypted": true,
                "isOptional": false,
                "type": "string"
              }
            }
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount22/connectionTypes/myCT",
            "name": "myCT",
            "properties": {
              "isGlobal": false,
              "fieldDefinitions": {
                "myStringField": {
                  "isEncrypted": false,
                  "isOptional": false,
                  "type": "string"
                },
                "myBoolField": {
                  "isEncrypted": false,
                  "isOptional": false,
                  "type": "bool"
                },
                "myStringFieldEncrypted": {
                  "isEncrypted": true,
                  "isOptional": false,
                  "type": "string"
                }
              },
              "creationTime": "2017-03-27T11:47:53.433+08:00",
              "lastModifiedTime": "2017-03-27T11:47:53.433+08:00"
            }
          }
        },
        "409": {}
      }
    },
    "getAllConnectionTypes_First100": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount25",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/Azure",
                "name": "Azure",
                "properties": {
                  "isGlobal": true,
                  "fieldDefinitions": {
                    "AutomationCertificateName": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    },
                    "SubscriptionID": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    }
                  },
                  "creationTime": "2014-03-19T07:02:40.613+08:00",
                  "lastModifiedTime": "2014-03-19T07:02:40.74+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/AzureClassicCertificate",
                "name": "AzureClassicCertificate",
                "properties": {
                  "isGlobal": true,
                  "fieldDefinitions": {
                    "SubscriptionName": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    },
                    "SubscriptionId": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    },
                    "CertificateAssetName": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    }
                  },
                  "creationTime": "2016-04-26T07:54:02.65+08:00",
                  "lastModifiedTime": "2016-04-26T07:54:03.167+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/AzureServicePrincipal",
                "name": "AzureServicePrincipal",
                "properties": {
                  "isGlobal": true,
                  "fieldDefinitions": {
                    "ApplicationId": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    },
                    "TenantId": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    },
                    "CertificateThumbprint": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    },
                    "SubscriptionId": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "System.String"
                    }
                  },
                  "creationTime": "2016-03-17T07:08:41.853+08:00",
                  "lastModifiedTime": "2016-03-17T07:08:42.407+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT",
                "name": "myCT",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:14.43+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:14.51+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT0",
                "name": "myCT0",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:14.837+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:14.853+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT1",
                "name": "myCT1",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:15.04+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:15.057+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT10",
                "name": "myCT10",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:17.12+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:17.15+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT100",
                "name": "myCT100",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:36.73+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:36.76+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT101",
                "name": "myCT101",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:36.963+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:36.993+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT102",
                "name": "myCT102",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:37.197+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:37.213+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT103",
                "name": "myCT103",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:37.417+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:37.43+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT104",
                "name": "myCT104",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:37.633+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:37.65+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT105",
                "name": "myCT105",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:37.837+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:37.883+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT106",
                "name": "myCT106",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:38.073+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:38.087+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT107",
                "name": "myCT107",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:38.277+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:38.29+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT108",
                "name": "myCT108",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:38.493+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:38.51+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT109",
                "name": "myCT109",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:38.697+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:38.713+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT11",
                "name": "myCT11",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:17.337+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:17.383+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT110",
                "name": "myCT110",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:38.93+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:38.947+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT111",
                "name": "myCT111",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:39.15+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:39.167+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT112",
                "name": "myCT112",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:39.353+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:39.37+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT113",
                "name": "myCT113",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:39.557+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:39.573+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT114",
                "name": "myCT114",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:39.777+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:39.79+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT115",
                "name": "myCT115",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:39.98+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:39.993+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT116",
                "name": "myCT116",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:40.18+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:40.197+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT117",
                "name": "myCT117",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:40.417+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:40.43+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT118",
                "name": "myCT118",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:40.633+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:40.65+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT119",
                "name": "myCT119",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:40.837+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:40.853+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT12",
                "name": "myCT12",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:17.587+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:17.603+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT120",
                "name": "myCT120",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:41.04+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:41.057+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT121",
                "name": "myCT121",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:41.26+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:41.277+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT122",
                "name": "myCT122",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:41.48+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:41.557+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT123",
                "name": "myCT123",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:41.743+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:41.76+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT124",
                "name": "myCT124",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:41.947+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:41.963+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT125",
                "name": "myCT125",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:42.18+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:42.197+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT126",
                "name": "myCT126",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:42.383+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:42.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT127",
                "name": "myCT127",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:42.603+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:42.62+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT128",
                "name": "myCT128",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:42.823+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:42.837+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT129",
                "name": "myCT129",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:43.027+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:43.04+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT13",
                "name": "myCT13",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:17.79+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:17.807+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT130",
                "name": "myCT130",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:43.243+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:43.26+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT131",
                "name": "myCT131",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:43.447+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:43.463+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT132",
                "name": "myCT132",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:43.65+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:43.667+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT133",
                "name": "myCT133",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:43.87+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:43.887+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT134",
                "name": "myCT134",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:44.073+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:44.087+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT135",
                "name": "myCT135",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:44.29+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:44.307+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT136",
                "name": "myCT136",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:44.493+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:44.51+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT137",
                "name": "myCT137",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:44.76+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:44.807+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT138",
                "name": "myCT138",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:45.01+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:45.027+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT139",
                "name": "myCT139",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:45.213+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:45.23+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT14",
                "name": "myCT14",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:17.993+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:18.01+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT140",
                "name": "myCT140",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:45.433+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:45.463+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT141",
                "name": "myCT141",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:45.65+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:45.667+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT142",
                "name": "myCT142",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:45.883+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:45.917+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT143",
                "name": "myCT143",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:46.103+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:46.133+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT144",
                "name": "myCT144",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:46.34+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:46.353+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT145",
                "name": "myCT145",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:46.54+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:46.557+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT146",
                "name": "myCT146",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:46.76+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:46.777+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT147",
                "name": "myCT147",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:46.963+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:46.98+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT148",
                "name": "myCT148",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:47.197+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:47.213+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT149",
                "name": "myCT149",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:47.417+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:47.43+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT15",
                "name": "myCT15",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:18.213+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:18.227+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT150",
                "name": "myCT150",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:47.637+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:47.65+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT151",
                "name": "myCT151",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:47.853+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:47.87+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT152",
                "name": "myCT152",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:48.103+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:48.167+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT153",
                "name": "myCT153",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:48.37+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:48.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT154",
                "name": "myCT154",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:48.59+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:48.667+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT155",
                "name": "myCT155",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:48.887+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:48.93+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT156",
                "name": "myCT156",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:49.12+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:49.167+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT157",
                "name": "myCT157",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:49.37+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:49.4+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT158",
                "name": "myCT158",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:49.603+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:49.637+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT159",
                "name": "myCT159",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:49.84+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:49.87+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT16",
                "name": "myCT16",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:18.417+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:18.43+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT160",
                "name": "myCT160",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:50.09+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:50.103+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT161",
                "name": "myCT161",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:50.29+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:50.307+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT162",
                "name": "myCT162",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:50.493+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:50.51+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT163",
                "name": "myCT163",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:50.697+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:50.713+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT164",
                "name": "myCT164",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:50.917+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:50.933+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT165",
                "name": "myCT165",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:51.12+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:51.137+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT166",
                "name": "myCT166",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:51.34+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:51.353+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT167",
                "name": "myCT167",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:51.54+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:51.557+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT168",
                "name": "myCT168",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:51.743+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:51.76+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT169",
                "name": "myCT169",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:51.98+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:51.98+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT17",
                "name": "myCT17",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:18.62+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:18.633+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT170",
                "name": "myCT170",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
                      "type": "string"
                    }
                  },
                  "creationTime": "2017-03-27T14:25:52.213+08:00",
                  "lastModifiedTime": "2017-03-27T14:25:52.23+08:00"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT171",
                "name": "myCT171",
                "properties": {
                  "isGlobal": false,
                  "fieldDefinitions": {
                    "myStringField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "string"
                    },
                    "myBoolField": {
                      "isEncrypted": false,
                      "isOptional": false,
                      "type": "bool"
                    },
                    "myStringFieldEncrypted": {
                      "isEncrypted": true,
                      "isOptional": false,
[...]
