{
  "swagger": "2.0",
  "info": {
    "version": "2014-04-01",
    "title": "Azure SQL Database API spec",
    "description": "The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your external server administrators."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/administrators/{administratorName}": {
      "delete": {
        "tags": [
          "ServerAdministrators"
        ],
        "operationId": "ServerAzureADAdministrators_Delete",
        "description": "Deletes an existing server Active Directory Administrator.",
        "x-ms-examples": {
          "Delete a server administrator": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-4799",
              "serverName": "sqlcrudtest-6440",
              "administratorName": "activeDirectory",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": "OK"
              },
              "202": {
                "body": "Accepted"
              },
              "204": {
                "body": "No Content"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/AdministratorNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/ServerAzureADAdministrator"
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/ServerAzureADAdministrator"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerAzureADAdministrator"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-internal-ms-examples-mapping": {
          "Delete a server administrator": "ServerAdminDelete"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Delete a server administrator": {
            "request": "DELETE https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/administrators/activeDirectory?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 11fc9d78-faa3-429a-a1c4-610042ec0a85\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X DELETE 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-4799/providers/Microsoft.Sql/servers/sqlcrudtest-6440/administrators/activeDirectory?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 11fc9d78-faa3-429a-a1c4-610042ec0a85' \\\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: c7dcddcc-d60b-473e-8e33-894e0cd6edee\nx-ms-correlation-request-id: c7dcddcc-d60b-473e-8e33-894e0cd6edee\nx-ms-routing-request-id: WESTUS2:20170904T093513031Z:c7dcddcc-d60b-473e-8e33-894e0cd6edee\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 4\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:35:13 GMT\nConnection: close\n\n\"OK\"\n"
            }
          }
        },
        "x-internal-toc-name": "Delete"
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "ARM resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ServerAdministratorProperties": {
      "properties": {
        "administratorType": {
          "type": "string",
          "description": "The type of administrator.",
          "enum": [
            "ActiveDirectory"
          ],
          "x-ms-enum": {
            "name": "AdministratorType"
          }
        },
        "login": {
          "type": "string",
          "description": "The server administrator login value."
        },
        "sid": {
          "type": "string",
          "description": "The server administrator Sid (Secure ID).",
          "format": "uuid"
        },
        "tenantId": {
          "type": "string",
          "description": "The server Active Directory Administrator tenant id.",
          "format": "uuid"
        }
      },
      "required": [
        "tenantId",
        "administratorType",
        "login",
        "sid"
      ],
      "description": "The properties of an server Administrator."
    },
    "ServerAzureADAdministrator": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServerAdministratorProperties",
          "description": "The properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "An server Active Directory Administrator."
    },
    "ServerAdministratorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerAzureADAdministrator"
          },
          "description": "The list of server Active Directory Administrators for the server."
        }
      },
      "description": "The response to a list Active Directory Administrators request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseExpandParameter": {
      "name": "$expand",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
      "x-ms-parameter-location": "method"
    },
    "AdministratorNameParameter": {
      "name": "administratorName",
      "in": "path",
      "description": "Name of the server administrator resource.",
      "required": true,
      "type": "string",
      "enum": [
        "activeDirectory"
      ],
      "x-ms-enum": {
        "name": "ServerAdministratorName"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-name": "SQL Database",
  "x-internal-toc-name": "Server Azure AD Administrators",
  "x-internal-split-type": "Operation"
}