{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Image Search API",
    "description": "The Image Search API lets you send a search query to Bing and get back a list of relevant images. This section provides technical details about the query parameters and headers that you use to request images and the JSON response objects that contain them. For examples that show how to make requests, see [Searching the Web for Images](https://docs.microsoft.com/azure/cognitive-services/bing-image-search/search-the-web)."
  },
  "parameters": {
    "x-bingapis-sdk": {
      "name": "X-BingApis-SDK",
      "description": "Activate swagger compliance",
      "x-ms-parameter-location": "method",
      "required": true,
      "type": "string",
      "in": "header",
      "x-ms-enum": {
        "name": "XBingApisSDK",
        "modelAsString": true
      },
      "enum": [
        "true"
      ]
    }
  },
  "host": "api.cognitive.microsoft.com",
  "schemes": [
    "https"
  ],
  "basePath": "/bing/v7.0",
  "securityDefinitions": {
    "apiKeyHeader": {
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {},
  "definitions": {
    "Images": {
      "description": "Defines an image answer",
      "allOf": [
        {
          "$ref": "#/definitions/SearchResultsAnswer"
        }
      ],
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "nextOffset": {
          "description": "Used as part of deduping. Tells client the next offset that client should use in the next pagination request",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "description": "A list of image objects that are relevant to the query. If there are no results, the List is empty.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageObject"
          }
        },
        "queryExpansions": {
          "description": "A list of expanded queries that narrows the original query. For example, if the query was Microsoft Surface, the expanded queries might be: Microsoft Surface Pro 3, Microsoft Surface RT, Microsoft Surface Phone, and Microsoft Surface Hub.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        },
        "pivotSuggestions": {
          "description": "A list of segments in the original query. For example, if the query was Red Flowers, Bing might segment the query into Red and Flowers. The Flowers pivot may contain query suggestions such as Red Peonies and Red Daisies, and the Red pivot may contain query suggestions such as Green Flowers and Yellow Flowers.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/PivotSuggestions"
          }
        },
        "similarTerms": {
          "description": "A list of terms that are similar in meaning to the user's query term.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "SearchResultsAnswer": {
      "description": "Defines a search result answer.",
      "allOf": [
        {
          "$ref": "#/definitions/Answer"
        }
      ],
      "type": "object",
      "properties": {
        "totalEstimatedMatches": {
          "description": "The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.",
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ImageObject": {
      "description": "Defines an image",
      "allOf": [
        {
          "$ref": "#/definitions/MediaObject"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "The URL to a thumbnail of the image",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        },
        "imageInsightsToken": {
          "description": "The token that you use in a subsequent call to the Image Search API to get additional information about the image. For information about using this token, see the insightsToken query parameter.",
          "readOnly": true,
          "type": "string"
        },
        "insightsMetadata": {
          "description": "A count of the number of websites where you can shop or perform other actions related to the image. For example, if the image is of an apple pie, this object includes a count of the number of websites where you can buy an apple pie. To indicate the number of offers in your UX, include badging such as a shopping cart icon that contains the count. When the user clicks on the icon, use imageInisghtsToken to get the list of websites.",
          "$ref": "#/definitions/ImagesImageMetadata",
          "readOnly": true
        },
        "imageId": {
          "description": "Unique Id for the image",
          "readOnly": true,
          "type": "string"
        },
        "accentColor": {
          "description": "A three-byte hexadecimal number that represents the color that dominates the image. Use the color as the temporary background in your client until the image is loaded.",
          "readOnly": true,
          "type": "string"
        },
        "visualWords": {
          "description": "Visual representation of the image. Used for getting more sizes",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Query": {
      "description": "Defines a search query.",
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "description": "The query string. Use this string as the query term in a new search request.",
          "type": "string"
        },
        "displayText": {
          "description": "The display version of the query term. This version of the query term may contain special characters that highlight the search term found in the query string. The string contains the highlighting characters only if the query enabled hit highlighting",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL that takes the user to the Bing search results page for the query.Only related search results include this field.",
          "readOnly": true,
          "type": "string"
        },
        "searchLink": {
          "description": "The URL that you use to get the results of the related search. Before using the URL, you must append query parameters as appropriate and include the Ocp-Apim-Subscription-Key header. Use this URL if you're displaying the results in your own user interface. Otherwise, use the webSearchUrl URL.",
          "readOnly": true,
          "type": "string"
        },
        "thumbnail": {
          "description": "The URL to a thumbnail of a related image.",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        }
      }
    },
    "PivotSuggestions": {
      "description": "Defines the pivot segment.",
      "type": "object",
      "required": [
        "pivot",
        "suggestions"
      ],
      "properties": {
        "pivot": {
          "description": "The segment from the original query to pivot on.",
          "type": "string"
        },
        "suggestions": {
          "description": "A list of suggested queries for the pivot.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "Answer": {
      "description": "Defines an answer.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {}
    },
    "MediaObject": {
      "description": "Defines a media object.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "contentUrl": {
          "description": "Original URL to retrieve the source (file) for the media object (e.g the source URL for the image).",
          "readOnly": true,
          "type": "string"
        },
        "hostPageUrl": {
          "description": "URL of the page that hosts the media object.",
          "readOnly": true,
          "type": "string"
        },
        "contentSize": {
          "description": "Size of the media object content (use format \"value unit\" e.g \"1024 B\").",
          "readOnly": true,
          "type": "string"
        },
        "encodingFormat": {
          "description": "Encoding format (e.g mp3, mp4, jpeg, etc).",
          "readOnly": true,
          "type": "string"
        },
        "hostPageDisplayUrl": {
          "description": "Display URL of the page that hosts the media object.",
          "readOnly": true,
          "type": "string"
        },
        "width": {
          "description": "The width of the source media object, in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "The height of the source media object, in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ImagesImageMetadata": {
      "description": "Defines a count of the number of websites where you can shop or perform other actions related to the image.",
      "x-ms-discriminator-value": "Images/ImageMetadata",
      "type": "object",
      "properties": {
        "shoppingSourcesCount": {
          "description": "The number of websites that offer goods of the products seen in the image.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "recipeSourcesCount": {
          "description": "The number of websites that offer recipes of the food seen in the image.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "aggregateOffer": {
          "description": "A summary of the online offers of products found in the image. For example, if the image is of a dress, the offer might identify the lowest price and the number of offers found. Only visually similar products insights include this field. The offer includes the following fields: Name, AggregateRating, OfferCount, and LowPrice.",
          "$ref": "#/definitions/AggregateOffer",
          "readOnly": true
        }
      }
    },
    "Response": {
      "description": "Defines a response. All schemas that could be returned at the root of a response should inherit from this",
      "allOf": [
        {
          "$ref": "#/definitions/Identifiable"
        }
      ],
      "type": "object",
      "properties": {
        "readLink": {
          "description": "The URL that returns this resource.",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL To Bing's search result for this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreativeWork": {
      "description": "The most generic kind of creative work, including books, movies, photographs, software programs, etc.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "description": "The URL to a thumbnail of the item.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "The source of the creative work.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thing"
          }
        },
        "datePublished": {
          "description": "The date on which the CreativeWork was published.",
          "readOnly": true,
          "type": "string"
        },
        "text": {
          "description": "Text content of this creative work",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AggregateOffer": {
      "description": "Defines a list of offers from merchants that are related to the image.",
      "allOf": [
        {
          "$ref": "#/definitions/Offer"
        }
      ],
      "type": "object",
      "properties": {
        "offers": {
          "description": "A list of offers from merchants that have offerings related to the image.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Offer"
          }
        }
      }
    },
    "Identifiable": {
      "description": "Defines the identity of a resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ResponseBase"
        }
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "A String identifier.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "The top-level response that represents a failed request.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "description": "A list of errors that describe the reasons why the request failed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Thing": {
      "description": "Defines a thing.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "description": "The URL to get more information about the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "image": {
          "description": "An image of the item.",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        },
        "description": {
          "description": "A short description of the item.",
          "readOnly": true,
          "type": "string"
        },
        "alternateName": {
          "description": "An alias for the item",
          "readOnly": true,
          "type": "string"
        },
        "bingId": {
          "description": "An ID that uniquely identifies this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ImageInsights": {
      "description": "The top-level object that the response includes when an image insights request succeeds. For information about requesting image insights, see the [insightsToken](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#insightstoken) query parameter. The modules query parameter affects the fields that Bing includes in the response. If you set [modules](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#modulesrequested) to only Caption, then this object includes only the imageCaption field.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "imageInsightsToken": {
          "description": "A token that you use in a subsequent call to the Image Search API to get more information about the image. For information about using this token, see the insightsToken query parameter. This token has the same usage as the token in the Image object.",
          "readOnly": true,
          "type": "string"
        },
        "bestRepresentativeQuery": {
          "description": "The query term that best represents the image. Clicking the link in the Query object, takes the user to a webpage with more pictures of the image.",
          "$ref": "#/definitions/Query",
          "readOnly": true
        },
        "imageCaption": {
          "description": "The caption to use for the image.",
          "$ref": "#/definitions/ImageInsightsImageCaption",
          "readOnly": true
        },
        "relatedCollections": {
          "description": "A list of links to webpages that contain related images.",
          "$ref": "#/definitions/RelatedCollectionsModule",
          "readOnly": true
        },
        "pagesIncluding": {
          "description": "A list of webpages that contain the image. To access the webpage, use the URL in the image's hostPageUrl field.",
          "$ref": "#/definitions/ImagesModule",
          "readOnly": true
        },
        "shoppingSources": {
          "description": "A list of merchants that offer items related to the image. For example, if the image is of an apple pie, the list contains merchants that are selling apple pies.",
          "$ref": "#/definitions/AggregateOffer",
          "readOnly": true
        },
        "relatedSearches": {
          "description": "A list of related queries made by others.",
          "$ref": "#/definitions/RelatedSearchesModule",
          "readOnly": true
        },
        "recipes": {
          "description": "A list of recipes related to the image. For example, if the image is of an apple pie, the list contains recipes for making an apple pie.",
          "$ref": "#/definitions/RecipesModule",
          "readOnly": true
        },
        "visuallySimilarImages": {
          "description": "A list of images that are visually similar to the original image. For example, if the specified image is of a sunset over a body of water, the list of similar images are of a sunset over a body of water. If the specified image is of a person, similar images might be of the same person or they might be of persons dressed similarly or in a similar setting. The criteria for similarity continues to evolve.",
          "$ref": "#/definitions/ImagesModule",
          "readOnly": true
        },
        "visuallySimilarProducts": {
          "description": "A list of images that contain products that are visually similar to products found in the original image. For example, if the specified image contains a dress, the list of similar images contain a dress. The image provides summary information about offers that Bing found online for the product.",
          "$ref": "#/definitions/ImagesModule",
          "readOnly": true
        },
        "recognizedEntityGroups": {
          "description": "A list of groups that contain images of entities that match the entity found in the specified image. For example, the response might include images from the general celebrity group if the entity was recognized in that group.",
          "$ref": "#/definitions/RecognizedEntitiesModule",
          "readOnly": true
        },
        "imageTags": {
          "description": "A list of characteristics of the content found in the image. For example, if the image is of a person, the tags might indicate the person's gender and the type of clothes they're wearing.",
          "$ref": "#/definitions/ImageTagsModule",
          "readOnly": true
        }
      }
    },
    "RecognizedEntityRegion": {
      "description": "Defines a region of the image where an entity was found and a list of entities that might match it.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "region": {
          "description": "A region of the image that contains an entity. The values of the rectangle are relative to the width and height of the original image and are in the range 0.0 through 1.0. For example, if the image is 300x200 and the region's top, left corner is at point (10, 20) and the bottom, right corner is at point (290, 150), then the normalized rectangle is: Left = 0.0333333333333333, Top = 0.1, Right = 0.9666666666666667, Bottom = 0.75. For people, the region represents the person's face.",
          "$ref": "#/definitions/NormalizedRectangle",
          "readOnly": true
        },
        "matchingEntities": {
          "description": "A list of entities that Bing believes match the entity found in the region. The entities are in descending order of confidence (see the matchConfidence field of RecognizedEntity).",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecognizedEntity"
          }
        }
      }
    },
    "RecognizedEntity": {
      "description": "Defines a recognized entity.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "entity": {
          "description": "The entity that was recognized. The following are the possible entity objects: Person",
          "$ref": "#/definitions/Thing",
          "readOnly": true
        },
        "matchConfidence": {
          "description": "The confidence that Bing has that the entity in the image matches this entity. The confidence ranges from 0.0 through 1.0 with 1.0 being very confident.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      }
    },
    "TrendingImages": {
      "description": "The top-level object that the response includes when a trending images request succeeds.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "required": [
        "categories"
      ],
      "properties": {
        "categories": {
          "description": "A list that identifies categories of images and a list of trending images in that category.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrendingImagesCategory"
          }
        }
      }
    },
    "Organization": {
      "description": "Defines an organization.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {}
    },
    "PropertiesItem": {
      "description": "Defines an item.",
      "x-ms-discriminator-value": "Properties/Item",
      "discriminator": "_type",
      "type": "object",
      "required": [
        "_type"
      ],
      "properties": {
        "text": {
          "description": "Text representation of an item.",
          "readOnly": true,
          "type": "string"
        },
        "_type": {
          "type": "string"
        }
      }
    },
    "Recipe": {
      "description": "Defines a cooking recipe.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "cookTime": {
          "description": "The amount of time the food takes to cook. For example, PT25M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        },
        "prepTime": {
          "description": "The amount of time required to prepare the ingredients. For example, PT15M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        },
        "totalTime": {
          "description": "The total amount of time it takes to prepare and cook the recipe. For example, PT45M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WebPage": {
      "description": "Defines a webpage that is relevant to the query.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {}
    },
    "AggregateRating": {
      "description": "Defines the metrics that indicate how well an item was rated by others.",
      "allOf": [
        {
          "$ref": "#/definitions/Rating"
        }
      ],
      "type": "object",
      "properties": {
        "reviewCount": {
          "description": "The number of times the recipe has been rated or reviewed.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Offer": {
      "description": "Defines a merchant's offer.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "seller": {
          "description": "Seller for this offer",
          "$ref": "#/definitions/Organization",
          "readOnly": true
        },
        "price": {
          "description": "The item's price.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "priceCurrency": {
          "description": "The monetary currency. For example, USD.",
          "readOnly": true,
          "type": "string",
          "default": "USD",
          "enum": [
            "USD",
            "CAD",
            "GBP",
            "EUR",
            "COP",
            "JPY",
            "CNY",
            "AUD",
            "INR",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYR",
            "BZD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "FJD",
            "FKP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XCD",
            "XOF",
            "XPF",
            "YER",
            "ZAR",
            "ZMW"
          ],
          "x-ms-enum": {
            "name": "Currency",
            "modelAsString": true
          }
        },
        "availability": {
          "description": "The item's availability. The following are the possible values: Discontinued, InStock, InStoreOnly, LimitedAvailability, OnlineOnly, OutOfStock, PreOrder, SoldOut",
          "readOnly": true,
          "type": "string",
          "enum": [
            "Discontinued",
            "InStock",
            "InStoreOnly",
            "LimitedAvailability",
            "OnlineOnly",
            "OutOfStock",
            "PreOrder",
            "SoldOut"
          ],
          "x-ms-enum": {
            "name": "ItemAvailability",
            "modelAsString": true
          }
        },
        "aggregateRating": {
          "description": "An aggregated rating that indicates how well the product has been rated by others.",
          "$ref": "#/definitions/AggregateRating",
          "readOnly": true
        },
        "lastUpdated": {
          "description": "The last date that the offer was updated. The date is in the form YYYY-MM-DD.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ResponseBase": {
      "description": "Response base",
      "discriminator": "_type",
      "type": "object",
      "required": [
        "_type"
      ],
      "properties": {
        "_type": {
          "type": "string"
        }
      }
    },
    "Error": {
      "description": "Defines the error that occurred.",
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "The error code that identifies the category of error.",
          "type": "string",
          "default": "None",
          "enum": [
            "None",
            "ServerError",
            "InvalidRequest",
            "RateLimitExceeded",
            "InvalidAuthorization",
            "InsufficientAuthorization"
          ],
          "x-ms-enum": {
            "name": "ErrorCode",
            "modelAsString": true
          }
        },
        "subCode": {
          "description": "The error code that further helps to identify the error.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UnexpectedError",
            "ResourceError",
            "NotImplemented",
            "ParameterMissing",
            "ParameterInvalidValue",
            "HttpNotAllowed",
            "Blocked",
            "AuthorizationMissing",
            "AuthorizationRedundancy",
            "AuthorizationDisabled",
            "AuthorizationExpired"
          ],
          "x-ms-enum": {
            "name": "ErrorSubCode",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        },
        "moreDetails": {
          "description": "A description that provides additional information about the error.",
          "readOnly": true,
          "type": "string"
        },
        "parameter": {
          "description": "The parameter in the request that caused the error.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The parameter's value in the request that was not valid.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Person": {
      "description": "Defines a person.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "jobTitle": {
          "description": "The person's job title.",
          "readOnly": true,
          "type": "string"
        },
        "twitterProfile": {
          "description": "The URL of the person's twitter profile.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Intangible": {
      "description": "A utility class that serves as the umbrella for a number of 'intangible' things such as quantities, structured values, etc.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object"
    },
    "ImageInsightsImageCaption": {
      "description": "Defines an image's caption.",
      "x-ms-discriminator-value": "ImageInsights/ImageCaption",
      "type": "object",
      "required": [
        "caption",
        "dataSourceUrl",
        "relatedSearches"
      ],
      "properties": {
        "caption": {
          "description": "A caption about the image.",
          "type": "string"
        },
        "dataSourceUrl": {
          "description": "The URL to the website where the caption was found. You must attribute the caption to the source. For example, by displaying the domain name from the URL next to the caption and using the URL to link to the source website.",
          "type": "string"
        },
        "relatedSearches": {
          "description": "A list of entities found in the caption. Use the contents of the Query object to find the entity in the caption and create a link. The link takes the user to images of the entity.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "RelatedCollectionsModule": {
      "description": "Defines a list of webpages that contain related images.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of webpages that contain related images.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageGallery"
          }
        }
      }
    },
    "ImagesModule": {
      "description": "Defines a list of images.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of images.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageObject"
          }
        }
      }
    },
    "RelatedSearchesModule": {
      "description": "Defines a list of related searches.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of related searches.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "RecipesModule": {
      "description": "Defines a list of recipes.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of recipes.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Recipe"
          }
        }
      }
    },
    "RecognizedEntitiesModule": {
      "description": "Defines a list of previously recognized entities.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of recognized entities.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecognizedEntityGroup"
          }
        }
      }
    },
    "ImageTagsModule": {
      "description": "Defines the characteristics of content found in an image.",
      "type": "object",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "description": "A list of tags that describe the characteristics of the content found in the image. For example, if the image is of a musical artist, the list might include Female, Dress, and Music to indicate the person is female music artist that's wearing a dress.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InsightsTag"
          }
        }
      }
    },
    "NormalizedRectangle": {
      "description": "Defines a region of an image. The region is defined by the coordinates of the top, left corner and bottom, right corner of the region. The coordinates are fractional values of the original image's width and height in the range 0.0 through 1.0.",
      "allOf": [
        {
          "$ref": "#/definitions/StructuredValue"
        }
      ],
      "type": "object",
      "required": [
        "left",
        "top",
        "right",
        "bottom"
      ],
      "properties": {
        "left": {
          "description": "The left coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "description": "The top coordinate",
          "type": "number",
          "format": "float"
        },
        "right": {
          "description": "The right coordinate",
          "type": "number",
          "format": "float"
        },
        "bottom": {
          "description": "The bottom coordinate",
          "type": "number",
          "format": "float"
        }
      }
    },
    "TrendingImagesCategory": {
      "description": "Defines the category of trending images.",
      "x-ms-discriminator-value": "TrendingImages/Category",
      "type": "object",
      "required": [
        "title",
        "tiles"
      ],
      "properties": {
        "title": {
          "description": "The name of the image category. For example, Popular People Searches.",
          "type": "string"
        },
        "tiles": {
          "description": "A list of images that are trending in the category. Each tile contains an image and a URL that returns more images of the subject. For example, if the category is Popular People Searches, the image is of a popular person and the URL would return more images of that person.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TrendingImagesTile"
          }
        }
      }
    },
    "Rating": {
      "description": "Defines a rating.",
      "allOf": [
        {
          "$ref": "#/definitions/PropertiesItem"
        }
      ],
      "type": "object",
      "required": [
        "ratingValue"
      ],
      "properties": {
        "ratingValue": {
          "description": "The mean (average) rating. The possible values are 1.0 through 5.0.",
          "type": "number",
          "format": "float"
        },
        "bestRating": {
          "description": "The highest rated review. The possible values are 1.0 through 5.0.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      }
    },
    "CollectionPage": {
      "description": "Defines a link to a webpage that contains a collection.",
      "allOf": [
        {
          "$ref": "#/definitions/WebPage"
        }
      ],
      "type": "object"
    },
    "StructuredValue": {
      "allOf": [
        {
          "$ref": "#/definitions/Intangible"
        }
      ],
      "type": "object"
    },
    "ImageGallery": {
      "description": "Defines a link to a webpage that contains a collection of related images.",
      "allOf": [
        {
          "$ref": "#/definitions/CollectionPage"
        }
      ],
      "type": "object",
      "properties": {
        "source": {
          "description": "The publisher or social network where the images were found. You must attribute the publisher as the source where the collection was found.",
          "readOnly": true,
          "type": "string"
        },
        "imagesCount": {
          "description": "The number of related images found in the collection.",
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        },
        "followersCount": {
          "description": "The number of users on the social network that follow the creator.",
          "readOnly": true,
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "RecognizedEntityGroup": {
      "description": "Defines a group of previously recognized entities.",
      "type": "object",
      "required": [
        "recognizedEntityRegions",
        "name"
      ],
      "properties": {
        "recognizedEntityRegions": {
          "description": "The regions of the image that contain entities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecognizedEntityRegion"
          }
        },
        "name": {
          "description": "The name of the group where images of the entity were also found. The following are possible groups. CelebRecognitionAnnotations: Similar to CelebrityAnnotations but provides a higher probability of an accurate match. CelebrityAnnotations: Contains celebrities such as actors, politicians, athletes, and historical figures.",
          "type": "string"
        }
      }
    },
    "InsightsTag": {
      "description": "Defines a characteristic of the content found in the image.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the characteristic. For example, cat, kitty, calico cat.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "TrendingImagesTile": {
      "description": "Defines an image tile.",
      "x-ms-discriminator-value": "TrendingImages/Tile",
      "type": "object",
      "required": [
        "query",
        "image"
      ],
      "properties": {
        "query": {
          "description": "A query that returns a Bing search results page with more images of the subject. For example, if the category is Popular People Searches, then the thumbnail is of a popular person. The query would return a Bing search results page with more images of that person.",
          "$ref": "#/definitions/Query"
        },
        "image": {
          "description": "The image's thumbnail.",
          "$ref": "#/definitions/ImageObject"
        }
      }
    }
  },
  "x-internal-service-name": "Cognitive Services",
  "x-internal-toc-name": "Images",
  "x-internal-split-members": [
    {
      "displayName": "Details",
      "relativePath": "Images/Details"
    },
    {
      "displayName": "Search",
      "relativePath": "Images/Search"
    },
    {
      "displayName": "Trending",
      "relativePath": "Images/Trending"
    }
  ],
  "x-internal-split-type": "OperationGroup"
}