{
  "swagger": "2.0",
  "info": {
    "title": "AuthorizationManagementClient",
    "version": "2015-07-01",
    "description": "Role based access control provides you a way to apply granular level policy administration down to individual resources or resource groups. These operations enable you to manage role definitions and role assignments. A role definition describes the set of actions that can be performed on resources. A role assignment grants access to Azure Active Directory users."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionId}": {
      "delete": {
        "tags": [
          "RoleDefinitions"
        ],
        "operationId": "RoleDefinitions_Delete",
        "description": "Deletes a role definition.",
        "parameters": [
          {
            "name": "scope",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The scope of the role definition.",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "roleDefinitionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the role definition to delete."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the role definition.",
            "schema": {
              "$ref": "#/definitions/RoleDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetConfigurations": {
            "$ref": "#/definitions/DeleteRoleDefinition"
          }
        },
        "x-internal-toc-name": "Delete"
      }
    }
  },
  "x-ms-paths": {
    "/{roleDefinitionId}?disambiguation_dummy": {
      "get": {
        "tags": [
          "RoleDefinitions"
        ],
        "operationId": "RoleDefinitions_GetById",
        "description": "Gets a role definition by ID.",
        "parameters": [
          {
            "name": "roleDefinitionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The fully qualified role definition ID. Use the format, /subscriptions/{guid}/providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionId} for subscription level role definitions, or /providers/Microsoft.Authorization/roleDefinitions/{roleDefinitionId} for tenant level role definitions.",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the role definition.",
            "schema": {
              "$ref": "#/definitions/RoleDefinition"
            }
          }
        },
        "x-ms-examples": {
          "GetConfigurations": {
            "$ref": "#/definitions/GetRoleDefinitionById"
          }
        }
      }
    }
  },
  "definitions": {
    "RoleAssignmentFilter": {
      "properties": {
        "principalId": {
          "type": "string",
          "description": "Returns role assignment of the specific principal."
        }
      },
      "description": "Role Assignments filter"
    },
    "RoleDefinitionFilter": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "Returns role definition with the specific name."
        }
      },
      "description": "Role Definitions filter"
    },
    "ClassicAdministratorProperties": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "The email address of the administrator."
        },
        "role": {
          "type": "string",
          "description": "The role of the administrator."
        }
      },
      "description": "Classic Administrator properties."
    },
    "ClassicAdministrator": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the administrator."
        },
        "name": {
          "type": "string",
          "description": "The name of the administrator."
        },
        "type": {
          "type": "string",
          "description": "The type of the administrator."
        },
        "properties": {
          "$ref": "#/definitions/ClassicAdministratorProperties",
          "description": "Properties for the classic administrator."
        }
      },
      "description": "Classic Administrators"
    },
    "ClassicAdministratorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClassicAdministrator"
          },
          "description": "An array of administrators."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "ClassicAdministrator list result information."
    },
    "Permission": {
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allowed actions."
        },
        "notActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Denied actions."
        }
      },
      "description": "Role definition permissions."
    },
    "PermissionGetResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Permission"
          },
          "description": "An array of permissions."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Permissions information."
    },
    "ProviderOperation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "displayName": {
          "type": "string",
          "description": "The operation display name."
        },
        "description": {
          "type": "string",
          "description": "The operation description."
        },
        "origin": {
          "type": "string",
          "description": "The operation origin."
        },
        "properties": {
          "type": "object",
          "description": "The operation properties."
        }
      },
      "description": "Operation"
    },
    "ResourceType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource type name."
        },
        "displayName": {
          "type": "string",
          "description": "The resource type display name."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderOperation"
          },
          "description": "The resource type operations."
        }
      },
      "description": "Resource Type"
    },
    "ProviderOperationsMetadata": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The provider id."
        },
        "name": {
          "type": "string",
          "description": "The provider name."
        },
        "type": {
          "type": "string",
          "description": "The provider type."
        },
        "displayName": {
          "type": "string",
          "description": "The provider display name."
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceType"
          },
          "description": "The provider resource types"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderOperation"
          },
          "description": "The provider operations."
        }
      },
      "description": "Provider Operations metadata"
    },
    "ProviderOperationsMetadataListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderOperationsMetadata"
          },
          "description": "The list of providers."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Provider operations metadata list"
    },
    "RoleAssignmentPropertiesWithScope": {
      "properties": {
        "scope": {
          "type": "string",
          "description": "The role assignment scope."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID."
        }
      },
      "description": "Role assignment properties with scope."
    },
    "RoleAssignment": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The role assignment ID."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The role assignment name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The role assignment type."
        },
        "properties": {
          "$ref": "#/definitions/RoleAssignmentPropertiesWithScope",
          "description": "Role assignment properties."
        }
      },
      "description": "Role Assignments"
    },
    "RoleAssignmentListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoleAssignment"
          },
          "description": "Role assignment list."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Role assignment list operation result."
    },
    "RoleAssignmentProperties": {
      "properties": {
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition ID used in the role assignment."
        },
        "principalId": {
          "type": "string",
          "description": "The principal ID assigned to the role. This maps to the ID inside the Active Directory. It can point to a user, service principal, or security group."
        }
      },
      "description": "Role assignment properties."
    },
    "RoleAssignmentCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RoleAssignmentProperties",
          "description": "Role assignment properties."
        }
      },
      "description": "Role assignment create parameters."
    },
    "RoleDefinitionProperties": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "The role name."
        },
        "description": {
          "type": "string",
          "description": "The role definition description."
        },
        "type": {
          "type": "string",
          "description": "The role type."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Permission"
          },
          "description": "Role definition permissions."
        },
        "assignableScopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Role definition assignable scopes."
        }
      },
      "description": "Role definition properties."
    },
    "RoleDefinition": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The role definition ID."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The role definition name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The role definition type."
        },
        "properties": {
          "$ref": "#/definitions/RoleDefinitionProperties",
          "description": "Role definition properties."
        }
      },
      "description": "Role definition."
    },
    "RoleDefinitionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoleDefinition"
          },
          "description": "Role definition list."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "Role definition list operation result."
    },
    "GetClassicAdministrators": {
      "parameters": {
        "subscriptionId": "subId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "properties": {
                  "emailAddress": "test@test.com",
                  "role": "ServiceAdministrator;AccountAdministrator"
                },
                "id": "/subscriptions/subId/providers/Microsoft.Authorization/classicAdministrators/classicadminid",
                "type": "Microsoft.Authorization/classicAdministrators",
                "name": "classicadminid"
              },
              {
                "properties": {
                  "emailAddress": "coadmin@test.com",
                  "role": "CoAdministrator"
                },
                "id": "/subscriptions/subId/providers/Microsoft.Authorization/classicAdministrators/classicadminid2",
                "type": "Microsoft.Authorization/classicAdministrators",
                "name": "classicadminid2"
              }
            ]
          }
        }
      }
    },
    "GetPermissions": {
      "parameters": {
        "resourceGroupName": "rgname",
        "subscriptionId": "subID",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "actions": [],
                "notActions": []
              }
            ],
            "nextLink": "nextlink"
          }
        }
      }
    },
    "GetResourcePermissions": {
      "parameters": {
        "subscriptionId": "subId",
        "resourceGroupName": "rgname",
        "resourceProviderNamespace": "rpnamespace",
        "parentResourcePath": "parentResourcePath",
        "resourceType": "resourceType",
        "resourceName": "resourceName",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "actions": [],
                "notActions": []
              }
            ]
          }
        }
      }
    },
    "GetProviderOperationsRP": {
      "parameters": {
        "resourceProviderNamespace": "resourceProviderNamespace",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "id": "id",
            "name": "name",
            "type": "type",
            "displayName": "displayName",
            "resourceTypes": [
              {
                "name": "name",
                "displayName": "name",
                "operations": []
              }
            ],
            "operations": []
          }
        }
      }
    },
    "GetAllProviderOperations": {
      "parameters": {
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "id",
                "name": "name",
                "type": "type",
                "displayName": "displayName",
                "resourceTypes": [
                  {
                    "name": "name",
                    "displayName": "name",
                    "operations": []
                  }
                ],
                "operations": []
              }
            ]
          }
        }
      }
    },
    "GetRoleAssignmentsForResource": {
      "parameters": {
        "resourceGroupName": "rgname",
        "resourceProviderNamespace": "resourceProviderNamespace",
        "parentResourcePath": "parentResourcePath",
        "resourceType": "resourceType",
        "resourceName": "resourceName",
        "subscriptionId": "subId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "properties": {
                  "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
                  "principalId": "Pid",
                  "scope": "/subscriptions/subId/resourcegroups/rgname"
                },
                "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
                "type": "Microsoft.Authorization/roleAssignments",
                "name": "raId"
              }
            ]
          }
        }
      }
    },
    "GetRoleAssignmentsForResourceGroup": {
      "parameters": {
        "resourceGroupName": "rgname",
        "subscriptionId": "subId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "properties": {
                  "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
                  "principalId": "Pid",
                  "scope": "/subscriptions/subId/resourcegroups/rgname"
                },
                "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
                "type": "Microsoft.Authorization/roleAssignments",
                "name": "raId"
              }
            ]
          }
        }
      }
    },
    "DeleteRoleAssignmentByName": {
      "parameters": {
        "scope": "scope",
        "roleAssignmentName": "roleAssignmentName",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "properties": {
              "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
              "principalId": "Pid",
              "scope": "/subscriptions/subId/resourcegroups/rgname"
            },
            "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
            "type": "Microsoft.Authorization/roleAssignments",
            "name": "roleassignmentId"
          }
        }
      }
    },
    "PutRoleAssignment": {
      "parameters": {
        "scope": "scope",
        "roleAssignmentName": "roleAssignmentName",
        "parameters": {
          "properties": {
            "roleDefinitionId": "/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/roleDefinitions/de139f84-1756-47ae-9be6-808fbbe84772",
            "principalId": "d93a38bc-d029-4160-bfb0-fbda779ac214"
          }
        },
        "api-version": "2015-07-01"
      },
      "responses": {
        "201": {
          "body": {
            "properties": {
              "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
              "principalId": "Pid",
              "scope": "/subscriptions/subId/resourcegroups/rgname"
            },
            "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
            "type": "Microsoft.Authorization/roleAssignments",
            "name": "roleassignmentId"
          }
        }
      }
    },
    "GetRoleAssignmentByName": {
      "parameters": {
        "scope": "scope",
        "roleAssignmentName": "roleAssignmentName",
        "subscriptionId": "subId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "properties": {
              "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
              "principalId": "Pid",
              "scope": "/subscriptions/subId/resourcegroups/rgname"
            },
            "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
            "type": "Microsoft.Authorization/roleAssignments",
            "name": "raId"
          }
        }
      }
    },
    "DeleteRoleAssignmentById": {
      "parameters": {
        "scope": "scope",
        "roleAssignmentId": "roleAssignmentId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "properties": {
              "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
              "principalId": "Pid",
              "scope": "/subscriptions/subId/resourcegroups/rgname"
            },
            "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
            "type": "Microsoft.Authorization/roleAssignments",
            "name": "roleassignmentId"
          }
        }
      }
    },
    "PutRoleAssignmentById": {
      "parameters": {
        "scope": "scope",
        "roleAssignmentId": "roleAssignmentId",
        "parameters": {
          "properties": {
            "roleDefinitionId": "/subscriptions/4004a9fd-d58e-48dc-aeb2-4a4aec58606f/providers/Microsoft.Authorization/roleDefinitions/de139f84-1756-47ae-9be6-808fbbe84772",
            "principalId": "d93a38bc-d029-4160-bfb0-fbda779ac214"
          }
        },
        "api-version": "2015-07-01"
      },
      "responses": {
        "201": {
          "body": {
            "properties": {
              "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
              "principalId": "Pid",
              "scope": "/subscriptions/subId/resourcegroups/rgname"
            },
            "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
            "type": "Microsoft.Authorization/roleAssignments",
            "name": "roleassignmentId"
          }
        }
      }
    },
    "GetRoleAssignmentById": {
      "parameters": {
        "roleAssignmentId": "roleassignmentId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "properties": {
              "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
              "principalId": "Pid",
              "scope": "/subscriptions/subId/resourcegroups/rgname"
            },
            "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
            "type": "Microsoft.Authorization/roleAssignments",
            "name": "roleassignmentId"
          }
        }
      }
    },
    "GetAllRoleAssignments": {
      "parameters": {
        "subscriptionId": "subId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "properties": {
                  "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
                  "principalId": "Pid",
                  "scope": "/subscriptions/subId/resourcegroups/rgname"
                },
                "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
                "type": "Microsoft.Authorization/roleAssignments",
                "name": "raId"
              }
            ]
          }
        }
      }
    },
    "GetRoleAssignmentByScope": {
      "parameters": {
        "scope": "scope",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "properties": {
                  "roleDefinitionId": "/subscriptions/subId/providers/Microsoft.Authorization/roleDefinitions/roledefinitionId",
                  "principalId": "Pid",
                  "scope": "/subscriptions/subId/resourcegroups/rgname"
                },
                "id": "/subscriptions/subId/resourcegroups/rgname/providers/Microsoft.Authorization/roleAssignments/roleassignmentId",
                "type": "Microsoft.Authorization/roleAssignments",
                "name": "raId"
              }
            ]
          }
        }
      }
    },
    "DeleteRoleDefinition": {
      "parameters": {
        "scope": "scope",
        "roleDefinitionId": "roleDefinitionId",
        "api-version": "2017-04-19"
      },
      "responses": {
        "200": {
          "body": {
            "properties": {
              "roleName": "Role name",
              "type": "roletype",
              "description": "Role description",
              "assignableScopes": [
                "/subscriptions/subId"
              ],
              "permissions": [
                {
                  "actions": [
                    "action"
                  ],
                  "notActions": []
                }
              ]
            },
            "id": "/subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId",
            "type": "Microsoft.Authorization/roleDefinitions",
            "name": "roleDefinitionId"
          }
        }
      }
    },
    "GetRoleDefinitionByName": {
      "parameters": {
        "scope": "scope",
        "roleDefinitionId": "roleDefinitionId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "properties": {
              "roleName": "Role name",
              "type": "roletype",
              "description": "Role description",
              "assignableScopes": [
                "/subscriptions/subId"
              ],
              "permissions": [
                {
                  "actions": [
                    "action"
                  ],
                  "notActions": []
                }
              ]
            },
            "id": "/subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId",
            "type": "Microsoft.Authorization/roleDefinitions",
            "name": "roleDefinitionId"
          }
        }
      }
    },
    "PutRoleDefinition": {
      "parameters": {
        "scope": "scope",
        "roleDefinitionId": "roleDefinitionId",
        "roleDefinition": {},
        "body": {
          "roleDefinition": {
            "roleName": "Role name",
            "description": "Role description",
            "assignableScopes": [
              "/subscriptions/subId"
            ],
            "permissions": [
              {
                "actions": [
                  "action"
                ],
                "notActions": []
              }
            ],
            "id": "/subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId",
            "type": "Microsoft.Authorization/roleDefinitions",
            "name": "roleDefinitionId"
          }
        },
        "api-version": "2015-07-01"
      },
      "responses": {
        "201": {
          "body": {
            "properties": {
              "roleName": "Role name",
              "type": "roletype",
              "description": "Role description",
              "assignableScopes": [
                "/subscriptions/subId"
              ],
              "permissions": [
                {
                  "actions": [
                    "action"
                  ],
                  "notActions": []
                }
              ]
            },
            "id": "/subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId",
            "type": "Microsoft.Authorization/roleDefinitions",
            "name": "roleDefinitionId"
          }
        }
      }
    },
    "GetRoleDefinitionAtScope": {
      "parameters": {
        "scope": "scope",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "properties": {
                  "roleName": "Role name",
                  "type": "roletype",
                  "description": "Role description",
                  "assignableScopes": [
                    "/subscriptions/subId"
                  ],
                  "permissions": [
                    {
                      "actions": [
                        "action"
                      ],
                      "notActions": []
                    }
                  ]
                },
                "id": "/subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId",
                "type": "Microsoft.Authorization/roleDefinitions",
                "name": "roleDefinitionId"
              }
            ]
          }
        }
      }
    },
    "GetRoleDefinitionById": {
      "parameters": {
        "roleDefinitionId": "roleDefinitionId",
        "api-version": "2015-07-01"
      },
      "responses": {
        "200": {
          "body": {
            "properties": {
              "roleName": "Role name",
              "type": "roletype",
              "description": "Role description",
              "assignableScopes": [
                "/subscriptions/subId"
              ],
              "permissions": [
                {
                  "actions": [
                    "action"
                  ],
                  "notActions": []
                }
              ]
            },
            "id": "/subscriptions/subID/providers/Microsoft.Authorization/roleDefinitions/roleDefinitionId",
            "type": "Microsoft.Authorization/roleDefinitions",
            "name": "roleDefinitionId"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation."
    }
  },
  "x-internal-service-name": "Authorization",
  "x-internal-toc-name": "Role Definitions",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Delete"
}