{
  "swagger": "2.0",
  "info": {
    "version": "2014-04-01",
    "title": "Azure SQL Database Backup",
    "description": "Provides read functionality for Azure SQL Database Backups"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/restorePoints": {
      "get": {
        "tags": [
          "DatabaseBackup"
        ],
        "operationId": "RestorePoints_ListByDatabase",
        "description": "Gets a list of database restore points.",
        "x-ms-examples": {
          "Get a database's restore points": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-6730",
              "serverName": "sqlcrudtest-9007",
              "databaseName": "3481",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/sqlcrudtest-9007/databases/3481/restorepoints/ContinuousRestorePoint",
                      "name": "ContinuousRestorePoint",
                      "location": "West US",
                      "type": "Microsoft.Sql/servers/databases/restorePoints",
                      "properties": {
                        "restorePointType": "CONTINUOUS",
                        "earliestRestoreDate": "2017-06-12T00:00:00Z",
                        "restorePointCreationDate": null
                      }
                    }
                  ]
                }
              }
            }
          },
          "Get a data warehouse's restore points": {
            "parameters": {
              "subscriptionId": "00000000-1111-2222-3333-444444444444",
              "resourceGroupName": "sqlcrudtest-6730",
              "serverName": "sqlcrudtest-9007",
              "databaseName": "3481",
              "api-version": "2014-04-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448209670000000",
                      "name": "131448209670000000",
                      "location": "West US",
                      "type": "Microsoft.Sql/servers/databases/restorePoints",
                      "properties": {
                        "restorePointType": "DISCRETE",
                        "earliestRestoreDate": null,
                        "restorePointCreationDate": "2017-07-18T03:09:27Z"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448353660000000",
                      "name": "131448353660000000",
                      "location": "West US",
                      "type": "Microsoft.Sql/servers/databases/restorePoints",
                      "properties": {
                        "restorePointType": "DISCRETE",
                        "earliestRestoreDate": null,
                        "restorePointCreationDate": "2017-07-18T07:09:26Z"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448497660000000",
                      "name": "131448497660000000",
                      "location": "West US",
                      "type": "Microsoft.Sql/servers/databases/restorePoints",
                      "properties": {
                        "restorePointType": "DISCRETE",
                        "earliestRestoreDate": null,
                        "restorePointCreationDate": "2017-07-18T11:09:26Z"
                      }
                    },
                    {
                      "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448641650000000",
                      "name": "131448641650000000",
                      "location": "West US",
                      "type": "Microsoft.Sql/servers/databases/restorePoints",
                      "properties": {
                        "restorePointType": "DISCRETE",
                        "earliestRestoreDate": null,
                        "restorePointCreationDate": "2017-07-18T15:09:25Z"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database to get available restore points."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorePointListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-internal-ms-examples-mapping": {
          "Get a database's restore points": "DatabaseRestorePointsList",
          "Get a data warehouse's restore points": "DataWarehouseRestorePointsList"
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-ms-examples": {
          "Get a database's restore points": {
            "request": "GET https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/sqlcrudtest-9007/databases/3481/restorePoints?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: b41d4a35-9c9d-4195-b6e6-61001ca9f024\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X GET 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/sqlcrudtest-9007/databases/3481/restorePoints?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: b41d4a35-9c9d-4195-b6e6-61001ca9f024' \\\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: cfdcc2a6-0653-414c-939e-d235d2a85b39\nx-ms-correlation-request-id: cfdcc2a6-0653-414c-939e-d235d2a85b39\nx-ms-routing-request-id: WESTUS2:20170904T093442561Z:cfdcc2a6-0653-414c-939e-d235d2a85b39\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 437\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:34:42 GMT\nConnection: close\n\n{\"value\":[{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/sqlcrudtest-9007/databases/3481/restorepoints/ContinuousRestorePoint\",\"name\":\"ContinuousRestorePoint\",\"location\":\"West US\",\"type\":\"Microsoft.Sql/servers/databases/restorePoints\",\"properties\":{\"restorePointType\":\"CONTINUOUS\",\"earliestRestoreDate\":\"2017-06-12T00:00:00Z\",\"restorePointCreationDate\":null}}]}\n"
            }
          },
          "Get a data warehouse's restore points": {
            "request": "GET https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/sqlcrudtest-9007/databases/3481/restorePoints?api-version=2014-04-01 HTTP/1.1\nAuthorization: Bearer <token>\nContent-Type: application/json\naccept-language: en-US\nx-ms-client-request-id: 0a41c6b0-28d4-4cad-97d2-fa2f715c9b7a\nhost: management.azure.com\nConnection: close\n",
            "curl": "curl -X GET 'https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/sqlcrudtest-9007/databases/3481/restorePoints?api-version=2014-04-01' \\\n-H 'authorization: bearer <token>' \\\n-H 'Content-Type: application/json' \\\n-H 'accept-language: en-US' \\\n-H 'x-ms-client-request-id: 0a41c6b0-28d4-4cad-97d2-fa2f715c9b7a' \\\n",
            "response": {
              "200": "HTTP 1.1 200\nCache-Control: no-cache\nPragma: no-cache\nExpires: -1\nx-ms-ratelimit-remaining-subscription-writes: 1199\nx-ms-request-id: 9f5a1428-6525-43b0-ac6c-e172fbfa614f\nx-ms-correlation-request-id: 9f5a1428-6525-43b0-ac6c-e172fbfa614f\nx-ms-routing-request-id: WESTUS2:20170904T093442561Z:9f5a1428-6525-43b0-ac6c-e172fbfa614f\nStrict-Transport-Security: max-age=31536000; includeSubDomains\nContent-Length: 1627\ncontent-type: application/json\nDate: Mon, 04 Sep 2017 09:34:42 GMT\nConnection: close\n\n{\"value\":[{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448209670000000\",\"name\":\"131448209670000000\",\"location\":\"West US\",\"type\":\"Microsoft.Sql/servers/databases/restorePoints\",\"properties\":{\"restorePointType\":\"DISCRETE\",\"earliestRestoreDate\":null,\"restorePointCreationDate\":\"2017-07-18T03:09:27Z\"}},{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448353660000000\",\"name\":\"131448353660000000\",\"location\":\"West US\",\"type\":\"Microsoft.Sql/servers/databases/restorePoints\",\"properties\":{\"restorePointType\":\"DISCRETE\",\"earliestRestoreDate\":null,\"restorePointCreationDate\":\"2017-07-18T07:09:26Z\"}},{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448497660000000\",\"name\":\"131448497660000000\",\"location\":\"West US\",\"type\":\"Microsoft.Sql/servers/databases/restorePoints\",\"properties\":{\"restorePointType\":\"DISCRETE\",\"earliestRestoreDate\":null,\"restorePointCreationDate\":\"2017-07-18T11:09:26Z\"}},{\"id\":\"/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6730/providers/Microsoft.Sql/servers/9007/databases/3481/restorepoints/131448641650000000\",\"name\":\"131448641650000000\",\"location\":\"West US\",\"type\":\"Microsoft.Sql/servers/databases/restorePoints\",\"properties\":{\"restorePointType\":\"DISCRETE\",\"earliestRestoreDate\":null,\"restorePointCreationDate\":\"2017-07-18T15:09:25Z\"}}]}\n"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "ARM resource.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "ARM tracked top level resource.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "Resource location."
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "RestorePointProperties": {
      "properties": {
        "restorePointType": {
          "readOnly": true,
          "type": "string",
          "description": "The restore point type of the database restore point.",
          "enum": [
            "DISCRETE",
            "CONTINUOUS"
          ],
          "x-ms-enum": {
            "name": "RestorePointType"
          }
        },
        "restorePointCreationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time (ISO8601 format). Populated when restorePointType = CONTINUOUS. Null otherwise."
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "Earliest restore time (ISO8601 format). Populated when restorePointType = DISCRETE. Null otherwise."
        }
      },
      "description": "Represents the properties of a database restore point."
    },
    "RestorePoint": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RestorePointProperties",
          "description": "The properties of the restore point.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "A database restore point."
    },
    "RestorePointListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorePoint"
          },
          "description": "The list of database restore points."
        }
      },
      "required": [
        "value"
      ],
      "description": "The response to a list database restore points request."
    },
    "RecoverableDatabaseProperties": {
      "properties": {
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the database"
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The service level objective name of the database"
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The elastic pool name of the database"
        },
        "lastAvailableBackupDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The last available backup date of the database (ISO8601 format)"
        }
      },
      "description": "The properties of a recoverable database"
    },
    "RecoverableDatabase": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecoverableDatabaseProperties",
          "description": "The properties of a recoverable database",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "A recoverable database"
    },
    "RecoverableDatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecoverableDatabase"
          },
          "description": "A list of recoverable databases"
        }
      },
      "required": [
        "value"
      ],
      "description": "The response to a list recoverable databases request"
    },
    "RestorableDroppedDatabaseProperties": {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the database"
        },
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the database"
        },
        "maxSizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "The max size in bytes of the database"
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The service level objective name of the database"
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The elastic pool name of the database"
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the database (ISO8601 format)"
        },
        "deletionDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The deletion date of the database (ISO8601 format)"
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The earliest restore date of the database (ISO8601 format)"
        }
      },
      "description": "The properties of a restorable dropped database"
    },
    "RestorableDroppedDatabase": {
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "$ref": "#/definitions/RestorableDroppedDatabaseProperties",
          "description": "The properties of a restorable dropped database",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "A restorable dropped database"
    },
    "RestorableDroppedDatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableDroppedDatabase"
          },
          "description": "A list of restorable dropped databases"
        }
      },
      "required": [
        "value"
      ],
      "description": "The response to a list restorable dropped databases request"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID that identifies an Azure subscription."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseExpandParameter": {
      "name": "$expand",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "x-internal-service-name": "SQL Database",
  "x-internal-toc-name": "Restore Points"
}