{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-01",
    "title": "LogicManagementClient",
    "description": "REST API for Azure Logic Apps."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}": {
      "put": {
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "operationId": "Agreements_CreateOrUpdate",
        "description": "Creates or updates an integration account agreement.",
        "x-ms-examples": {
          "Create or update an agreement": {
            "parameters": {
              "api-version": "2016-06-01",
              "resourceGroupName": "testResourceGroup",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "integrationAccountName": "testIntegrationAccount",
              "agreementName": "testAgreement",
              "agreement": {
                "properties": {
                  "metadata": {},
                  "agreementType": "AS2",
                  "hostPartner": "HostPartner",
                  "guestPartner": "GuestPartner",
                  "hostIdentity": {
                    "qualifier": "ZZ",
                    "value": "ZZ"
                  },
                  "guestIdentity": {
                    "qualifier": "AA",
                    "value": "AA"
                  },
                  "content": {
                    "aS2": {
                      "receiveAgreement": {
                        "protocolSettings": {
                          "messageConnectionSettings": {
                            "ignoreCertificateNameMismatch": true,
                            "supportHttpStatusCodeContinue": true,
                            "keepHttpConnectionAlive": true,
                            "unfoldHttpHeaders": true
                          },
                          "acknowledgementConnectionSettings": {
                            "ignoreCertificateNameMismatch": true,
                            "supportHttpStatusCodeContinue": true,
                            "keepHttpConnectionAlive": true,
                            "unfoldHttpHeaders": true
                          },
                          "mdnSettings": {
                            "needMdn": true,
                            "signMdn": true,
                            "sendMdnAsynchronously": true,
                            "receiptDeliveryUrl": "http://tempuri.org",
                            "dispositionNotificationTo": "http://tempuri.org",
                            "signOutboundMdnIfOptional": true,
                            "mdnText": "Sample",
                            "sendInboundMdnToMessageBox": true,
                            "micHashingAlgorithm": "SHA1"
                          },
                          "securitySettings": {
                            "overrideGroupSigningCertificate": false,
                            "enableNrrForInboundEncodedMessages": true,
                            "enableNrrForInboundDecodedMessages": true,
                            "enableNrrForOutboundMdn": true,
                            "enableNrrForOutboundEncodedMessages": true,
                            "enableNrrForOutboundDecodedMessages": true,
                            "enableNrrForInboundMdn": true
                          },
                          "validationSettings": {
                            "overrideMessageProperties": true,
                            "encryptMessage": false,
                            "signMessage": false,
                            "compressMessage": true,
                            "checkDuplicateMessage": true,
                            "interchangeDuplicatesValidityDays": 100,
                            "checkCertificateRevocationListOnSend": true,
                            "checkCertificateRevocationListOnReceive": true,
                            "encryptionAlgorithm": "AES128"
                          },
                          "envelopeSettings": {
                            "messageContentType": "text/plain",
                            "transmitFileNameInMimeHeader": true,
                            "fileNameTemplate": "Test",
                            "suspendMessageOnFileNameGenerationError": true,
                            "autogenerateFileName": true
                          },
                          "errorSettings": {
                            "suspendDuplicateMessage": true,
                            "resendIfMdnNotReceived": true
                          }
                        },
                        "senderBusinessIdentity": {
                          "qualifier": "AA",
                          "value": "AA"
                        },
                        "receiverBusinessIdentity": {
                          "qualifier": "ZZ",
                          "value": "ZZ"
                        }
                      },
                      "sendAgreement": {
                        "protocolSettings": {
                          "messageConnectionSettings": {
                            "ignoreCertificateNameMismatch": true,
                            "supportHttpStatusCodeContinue": true,
                            "keepHttpConnectionAlive": true,
                            "unfoldHttpHeaders": true
                          },
                          "acknowledgementConnectionSettings": {
                            "ignoreCertificateNameMismatch": true,
                            "supportHttpStatusCodeContinue": true,
                            "keepHttpConnectionAlive": true,
                            "unfoldHttpHeaders": true
                          },
                          "mdnSettings": {
                            "needMdn": true,
                            "signMdn": true,
                            "sendMdnAsynchronously": true,
                            "receiptDeliveryUrl": "http://tempuri.org",
                            "dispositionNotificationTo": "http://tempuri.org",
                            "signOutboundMdnIfOptional": true,
                            "mdnText": "Sample",
                            "sendInboundMdnToMessageBox": true,
                            "micHashingAlgorithm": "SHA1"
                          },
                          "securitySettings": {
                            "overrideGroupSigningCertificate": false,
                            "enableNrrForInboundEncodedMessages": true,
                            "enableNrrForInboundDecodedMessages": true,
                            "enableNrrForOutboundMdn": true,
                            "enableNrrForOutboundEncodedMessages": true,
                            "enableNrrForOutboundDecodedMessages": true,
                            "enableNrrForInboundMdn": true
                          },
                          "validationSettings": {
                            "overrideMessageProperties": true,
                            "encryptMessage": false,
                            "signMessage": false,
                            "compressMessage": true,
                            "checkDuplicateMessage": true,
                            "interchangeDuplicatesValidityDays": 100,
                            "checkCertificateRevocationListOnSend": true,
                            "checkCertificateRevocationListOnReceive": true,
                            "encryptionAlgorithm": "AES128"
                          },
                          "envelopeSettings": {
                            "messageContentType": "text/plain",
                            "transmitFileNameInMimeHeader": true,
                            "fileNameTemplate": "Test",
                            "suspendMessageOnFileNameGenerationError": true,
                            "autogenerateFileName": true
                          },
                          "errorSettings": {
                            "suspendDuplicateMessage": true,
                            "resendIfMdnNotReceived": true
                          }
                        },
                        "senderBusinessIdentity": {
                          "qualifier": "ZZ",
                          "value": "ZZ"
                        },
                        "receiverBusinessIdentity": {
                          "qualifier": "AA",
                          "value": "AA"
                        }
                      }
                    }
                  }
                },
                "location": "westus",
                "tags": {
                  "IntegrationAccountAgreement": "<IntegrationAccountAgreementName>"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "properties": {
                    "hostPartner": "HostPartner",
                    "guestPartner": "GuestPartner",
                    "hostIdentity": {
                      "qualifier": "ZZ",
                      "value": "ZZ"
                    },
                    "guestIdentity": {
                      "qualifier": "AA",
                      "value": "AA"
                    },
                    "agreementType": "AS2",
                    "content": {
                      "aS2": {
                        "receiveAgreement": {
                          "protocolSettings": {
                            "messageConnectionSettings": {
                              "ignoreCertificateNameMismatch": true,
                              "supportHttpStatusCodeContinue": true,
                              "keepHttpConnectionAlive": true,
                              "unfoldHttpHeaders": true
                            },
                            "acknowledgementConnectionSettings": {
                              "ignoreCertificateNameMismatch": true,
                              "supportHttpStatusCodeContinue": true,
                              "keepHttpConnectionAlive": true,
                              "unfoldHttpHeaders": true
                            },
                            "mdnSettings": {
                              "needMdn": true,
                              "signMdn": true,
                              "sendMdnAsynchronously": true,
                              "receiptDeliveryUrl": "http://tempuri.org",
                              "dispositionNotificationTo": "http://tempuri.org",
                              "signOutboundMdnIfOptional": true,
                              "mdnText": "Sample",
                              "sendInboundMdnToMessageBox": true,
                              "micHashingAlgorithm": "SHA1"
                            },
                            "securitySettings": {
                              "overrideGroupSigningCertificate": false,
                              "enableNrrForInboundEncodedMessages": true,
                              "enableNrrForInboundDecodedMessages": true,
                              "enableNrrForOutboundMdn": true,
                              "enableNrrForOutboundEncodedMessages": true,
                              "enableNrrForOutboundDecodedMessages": true,
                              "enableNrrForInboundMdn": true
                            },
                            "validationSettings": {
                              "overrideMessageProperties": true,
                              "encryptMessage": false,
                              "signMessage": false,
                              "compressMessage": true,
                              "checkDuplicateMessage": true,
                              "interchangeDuplicatesValidityDays": 100,
                              "checkCertificateRevocationListOnSend": true,
                              "checkCertificateRevocationListOnReceive": true,
                              "encryptionAlgorithm": "AES128"
                            },
                            "envelopeSettings": {
                              "messageContentType": "text/plain",
                              "transmitFileNameInMimeHeader": true,
                              "fileNameTemplate": "Test",
                              "suspendMessageOnFileNameGenerationError": true,
                              "autogenerateFileName": true
                            },
                            "errorSettings": {
                              "suspendDuplicateMessage": true,
                              "resendIfMdnNotReceived": true
                            }
                          },
                          "senderBusinessIdentity": {
                            "qualifier": "AA",
                            "value": "AA"
                          },
                          "receiverBusinessIdentity": {
                            "qualifier": "ZZ",
                            "value": "ZZ"
                          }
                        },
                        "sendAgreement": {
                          "protocolSettings": {
                            "messageConnectionSettings": {
                              "ignoreCertificateNameMismatch": true,
                              "supportHttpStatusCodeContinue": true,
                              "keepHttpConnectionAlive": true,
                              "unfoldHttpHeaders": true
                            },
                            "acknowledgementConnectionSettings": {
                              "ignoreCertificateNameMismatch": true,
                              "supportHttpStatusCodeContinue": true,
                              "keepHttpConnectionAlive": true,
                              "unfoldHttpHeaders": true
                            },
                            "mdnSettings": {
                              "needMdn": true,
                              "signMdn": true,
                              "sendMdnAsynchronously": true,
                              "receiptDeliveryUrl": "http://tempuri.org",
                              "dispositionNotificationTo": "http://tempuri.org",
                              "signOutboundMdnIfOptional": true,
                              "mdnText": "Sample",
                              "sendInboundMdnToMessageBox": true,
                              "micHashingAlgorithm": "SHA1"
                            },
                            "securitySettings": {
                              "overrideGroupSigningCertificate": false,
                              "enableNrrForInboundEncodedMessages": true,
                              "enableNrrForInboundDecodedMessages": true,
                              "enableNrrForOutboundMdn": true,
                              "enableNrrForOutboundEncodedMessages": true,
                              "enableNrrForOutboundDecodedMessages": true,
                              "enableNrrForInboundMdn": true
                            },
                            "validationSettings": {
                              "overrideMessageProperties": true,
                              "encryptMessage": false,
                              "signMessage": false,
                              "compressMessage": true,
                              "checkDuplicateMessage": true,
                              "interchangeDuplicatesValidityDays": 100,
                              "checkCertificateRevocationListOnSend": true,
                              "checkCertificateRevocationListOnReceive": true,
                              "encryptionAlgorithm": "AES128"
                            },
                            "envelopeSettings": {
                              "messageContentType": "text/plain",
                              "transmitFileNameInMimeHeader": true,
                              "fileNameTemplate": "Test",
                              "suspendMessageOnFileNameGenerationError": true,
                              "autogenerateFileName": true
                            },
                            "errorSettings": {
                              "suspendDuplicateMessage": true,
                              "resendIfMdnNotReceived": true
                            }
                          },
                          "senderBusinessIdentity": {
                            "qualifier": "ZZ",
                            "value": "ZZ"
                          },
                          "receiverBusinessIdentity": {
                            "qualifier": "AA",
                            "value": "AA"
                          }
                        }
                      }
                    },
                    "createdTime": "2017-03-06T22:32:54.2938748Z",
                    "changedTime": "2017-03-06T22:32:54.2945291Z",
                    "metadata": {}
                  },
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount4533/agreements/<IntegrationAccountAgreementName>",
                  "name": "<IntegrationAccountAgreementName>",
                  "type": "Microsoft.Logic/integrationAccounts/agreements"
                }
              },
              "201": {
                "body": {
                  "properties": {
                    "hostPartner": "HostPartner",
                    "guestPartner": "GuestPartner",
                    "hostIdentity": {
                      "qualifier": "ZZ",
                      "value": "ZZ"
                    },
                    "guestIdentity": {
                      "qualifier": "AA",
                      "value": "AA"
                    },
                    "agreementType": "AS2",
                    "content": {
                      "aS2": {
                        "receiveAgreement": {
                          "protocolSettings": {
                            "messageConnectionSettings": {
                              "ignoreCertificateNameMismatch": true,
                              "supportHttpStatusCodeContinue": true,
                              "keepHttpConnectionAlive": true,
                              "unfoldHttpHeaders": true
                            },
                            "acknowledgementConnectionSettings": {
                              "ignoreCertificateNameMismatch": true,
                              "supportHttpStatusCodeContinue": true,
                              "keepHttpConnectionAlive": true,
                              "unfoldHttpHeaders": true
                            },
                            "mdnSettings": {
                              "needMdn": true,
                              "signMdn": true,
                              "sendMdnAsynchronously": true,
                              "receiptDeliveryUrl": "http://tempuri.org",
                              "dispositionNotificationTo": "http://tempuri.org",
                              "signOutboundMdnIfOptional": true,
                              "mdnText": "Sample",
                              "sendInboundMdnToMessageBox": true,
                              "micHashingAlgorithm": "SHA1"
                            },
                            "securitySettings": {
                              "overrideGroupSigningCertificate": false,
                              "enableNrrForInboundEncodedMessages": true,
                              "enableNrrForInboundDecodedMessages": true,
                              "enableNrrForOutboundMdn": true,
                              "enableNrrForOutboundEncodedMessages": true,
                              "enableNrrForOutboundDecodedMessages": true,
                              "enableNrrForInboundMdn": true
                            },
                            "validationSettings": {
                              "overrideMessageProperties": true,
                              "encryptMessage": false,
                              "signMessage": false,
                              "compressMessage": true,
                              "checkDuplicateMessage": true,
                              "interchangeDuplicatesValidityDays": 100,
                              "checkCertificateRevocationListOnSend": true,
                              "checkCertificateRevocationListOnReceive": true,
                              "encryptionAlgorithm": "AES128"
                            },
                            "envelopeSettings": {
                              "messageContentType": "text/plain",
                              "transmitFileNameInMimeHeader": true,
                              "fileNameTemplate": "Test",
                              "suspendMessageOnFileNameGenerationError": true,
                              "autogenerateFileName": true
                            },
                            "errorSettings": {
                              "suspendDuplicateMessage": true,
                              "resendIfMdnNotReceived": true
                            }
                          },
                          "senderBusinessIdentity": {
                            "qualifier": "AA",
                            "value": "AA"
                          },
                          "receiverBusinessIdentity": {
                            "qualifier": "ZZ",
                            "value": "ZZ"
                          }
                        },
                        "sendAgreement": {
                          "protocolSettings": {
                            "messageConnectionSettings": {
                              "ignoreCertificateNameMismatch": true,
                              "supportHttpStatusCodeContinue": true,
                              "keepHttpConnectionAlive": true,
                              "unfoldHttpHeaders": true
                            },
                            "acknowledgementConnectionSettings": {
                              "ignoreCertificateNameMismatch": true,
                              "supportHttpStatusCodeContinue": true,
                              "keepHttpConnectionAlive": true,
                              "unfoldHttpHeaders": true
                            },
                            "mdnSettings": {
                              "needMdn": true,
                              "signMdn": true,
                              "sendMdnAsynchronously": true,
                              "receiptDeliveryUrl": "http://tempuri.org",
                              "dispositionNotificationTo": "http://tempuri.org",
                              "signOutboundMdnIfOptional": true,
                              "mdnText": "Sample",
                              "sendInboundMdnToMessageBox": true,
                              "micHashingAlgorithm": "SHA1"
                            },
                            "securitySettings": {
                              "overrideGroupSigningCertificate": false,
                              "enableNrrForInboundEncodedMessages": true,
                              "enableNrrForInboundDecodedMessages": true,
                              "enableNrrForOutboundMdn": true,
                              "enableNrrForOutboundEncodedMessages": true,
                              "enableNrrForOutboundDecodedMessages": true,
                              "enableNrrForInboundMdn": true
                            },
                            "validationSettings": {
                              "overrideMessageProperties": true,
                              "encryptMessage": false,
                              "signMessage": false,
                              "compressMessage": true,
                              "checkDuplicateMessage": true,
                              "interchangeDuplicatesValidityDays": 100,
                              "checkCertificateRevocationListOnSend": true,
                              "checkCertificateRevocationListOnReceive": true,
                              "encryptionAlgorithm": "AES128"
                            },
                            "envelopeSettings": {
                              "messageContentType": "text/plain",
                              "transmitFileNameInMimeHeader": true,
                              "fileNameTemplate": "Test",
                              "suspendMessageOnFileNameGenerationError": true,
                              "autogenerateFileName": true
                            },
                            "errorSettings": {
                              "suspendDuplicateMessage": true,
                              "resendIfMdnNotReceived": true
                            }
                          },
                          "senderBusinessIdentity": {
                            "qualifier": "ZZ",
                            "value": "ZZ"
                          },
                          "receiverBusinessIdentity": {
                            "qualifier": "AA",
                            "value": "AA"
                          }
                        }
                      }
                    },
                    "createdTime": "2017-03-06T22:32:54.2938748Z",
                    "changedTime": "2017-03-06T22:32:54.2945291Z",
                    "metadata": {}
                  },
                  "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/IntegrationAccount4533/agreements/<IntegrationAccountAgreementName>",
                  "name": "<IntegrationAccountAgreementName>",
                  "type": "Microsoft.Logic/integrationAccounts/agreements"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "integrationAccountName",
            "description": "The integration account name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "agreementName",
            "description": "The integration account agreement name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "agreement",
            "description": "The integration account agreement.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreement"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreement"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "Create Or Update"
      }
    }
  },
  "definitions": null,
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "The subscription id.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "api-version": {
      "name": "api-version",
      "description": "The API version.",
      "in": "query",
      "required": true,
      "type": "string"
    }
  },
  "x-internal-toc-name": "Agreements",
  "x-internal-split-type": "Operation",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "Partners/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "Partners/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "Partners/Get"
    },
    {
      "displayName": "List By Integration Accounts",
      "relativePath": "Partners/ListByIntegrationAccounts"
    }
  ]
}