{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-01",
    "title": "LogicManagementClient",
    "description": "REST API for Azure Logic Apps."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements": {
      "get": {
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "operationId": "Agreements_ListByIntegrationAccounts",
        "description": "Gets a list of integration account agreements.",
        "x-ms-examples": {
          "Get agreements by integrationaccount name": {
            "parameters": {
              "api-version": "2016-06-01",
              "resourceGroupName": "testResourceGroup",
              "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
              "integrationAccountName": "testIntegrationAccount"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "properties": {
                        "hostPartner": "HostPartner",
                        "guestPartner": "GuestPartner",
                        "hostIdentity": {
                          "qualifier": "ZZ",
                          "value": "ZZ"
                        },
                        "guestIdentity": {
                          "qualifier": "AA",
                          "value": "AA"
                        },
                        "agreementType": "X12",
                        "content": {
                          "x12": {
                            "receiveAgreement": {
                              "protocolSettings": {
                                "validationSettings": {
                                  "validateCharacterSet": true,
                                  "checkDuplicateInterchangeControlNumber": false,
                                  "interchangeControlNumberValidityDays": 30,
                                  "checkDuplicateGroupControlNumber": false,
                                  "checkDuplicateTransactionSetControlNumber": false,
                                  "validateEdiTypes": true,
                                  "validateXsdTypes": false,
                                  "allowLeadingAndTrailingSpacesAndZeroes": false,
                                  "trimLeadingAndTrailingSpacesAndZeroes": false,
                                  "trailingSeparatorPolicy": "NotAllowed"
                                },
                                "framingSettings": {
                                  "dataElementSeparator": 42,
                                  "componentSeparator": 58,
                                  "replaceSeparatorsInPayload": false,
                                  "replaceCharacter": 36,
                                  "segmentTerminator": 126,
                                  "characterSet": "UTF8",
                                  "segmentTerminatorSuffix": "None"
                                },
                                "envelopeSettings": {
                                  "controlStandardsId": 85,
                                  "useControlStandardsIdAsRepetitionCharacter": false,
                                  "senderApplicationId": "BTS-SENDER",
                                  "receiverApplicationId": "RECEIVE-APP",
                                  "controlVersionNumber": "00401",
                                  "interchangeControlNumberLowerBound": 1,
                                  "interchangeControlNumberUpperBound": 999999999,
                                  "rolloverInterchangeControlNumber": true,
                                  "enableDefaultGroupHeaders": true,
                                  "groupControlNumberLowerBound": 1,
                                  "groupControlNumberUpperBound": 999999999,
                                  "rolloverGroupControlNumber": true,
                                  "groupHeaderAgencyCode": "T",
                                  "groupHeaderVersion": "00401",
                                  "transactionSetControlNumberLowerBound": 1,
                                  "transactionSetControlNumberUpperBound": 999999999,
                                  "rolloverTransactionSetControlNumber": true,
                                  "overwriteExistingTransactionSetControlNumber": true,
                                  "groupHeaderDateFormat": "CCYYMMDD",
                                  "groupHeaderTimeFormat": "HHMM",
                                  "usageIndicator": "Test"
                                },
                                "acknowledgementSettings": {
                                  "needTechnicalAcknowledgement": false,
                                  "batchTechnicalAcknowledgements": true,
                                  "needFunctionalAcknowledgement": false,
                                  "batchFunctionalAcknowledgements": true,
                                  "needImplementationAcknowledgement": false,
                                  "batchImplementationAcknowledgements": false,
                                  "needLoopForValidMessages": false,
                                  "sendSynchronousAcknowledgement": true,
                                  "acknowledgementControlNumberLowerBound": 1,
                                  "acknowledgementControlNumberUpperBound": 999999999,
                                  "rolloverAcknowledgementControlNumber": true
                                },
                                "messageFilter": {
                                  "messageFilterType": "Exclude"
                                },
                                "securitySettings": {
                                  "authorizationQualifier": "00",
                                  "securityQualifier": "00"
                                },
                                "processingSettings": {
                                  "maskSecurityInfo": true,
                                  "convertImpliedDecimal": true,
                                  "preserveInterchange": true,
                                  "suspendInterchangeOnError": true,
                                  "createEmptyXmlTagsForTrailingSeparators": true,
                                  "useDotAsDecimalSeparator": true
                                },
                                "schemaReferences": []
                              },
                              "senderBusinessIdentity": {
                                "qualifier": "AA",
                                "value": "AA"
                              },
                              "receiverBusinessIdentity": {
                                "qualifier": "ZZ",
                                "value": "ZZ"
                              }
                            },
                            "sendAgreement": {
                              "protocolSettings": {
                                "validationSettings": {
                                  "validateCharacterSet": true,
                                  "checkDuplicateInterchangeControlNumber": false,
                                  "interchangeControlNumberValidityDays": 30,
                                  "checkDuplicateGroupControlNumber": false,
                                  "checkDuplicateTransactionSetControlNumber": false,
                                  "validateEdiTypes": true,
                                  "validateXsdTypes": false,
                                  "allowLeadingAndTrailingSpacesAndZeroes": false,
                                  "trimLeadingAndTrailingSpacesAndZeroes": false,
                                  "trailingSeparatorPolicy": "NotAllowed"
                                },
                                "framingSettings": {
                                  "dataElementSeparator": 42,
                                  "componentSeparator": 58,
                                  "replaceSeparatorsInPayload": false,
                                  "replaceCharacter": 36,
                                  "segmentTerminator": 126,
                                  "characterSet": "UTF8",
                                  "segmentTerminatorSuffix": "None"
                                },
                                "envelopeSettings": {
                                  "controlStandardsId": 100,
                                  "useControlStandardsIdAsRepetitionCharacter": true,
                                  "senderApplicationId": "100",
                                  "receiverApplicationId": "100",
                                  "controlVersionNumber": "0.0",
                                  "interchangeControlNumberLowerBound": 1,
                                  "interchangeControlNumberUpperBound": 999999999,
                                  "rolloverInterchangeControlNumber": true,
                                  "enableDefaultGroupHeaders": true,
                                  "functionalGroupId": "1",
                                  "groupControlNumberLowerBound": 1,
                                  "groupControlNumberUpperBound": 999999999,
                                  "rolloverGroupControlNumber": true,
                                  "groupHeaderAgencyCode": "T",
                                  "groupHeaderVersion": "0.0",
                                  "transactionSetControlNumberLowerBound": 1,
                                  "transactionSetControlNumberUpperBound": 999999999,
                                  "rolloverTransactionSetControlNumber": true,
                                  "transactionSetControlNumberPrefix": "",
                                  "transactionSetControlNumberSuffix": "",
                                  "overwriteExistingTransactionSetControlNumber": true,
                                  "groupHeaderDateFormat": "CCYYMMDD",
                                  "groupHeaderTimeFormat": "HHMM",
                                  "usageIndicator": "Information"
                                },
                                "acknowledgementSettings": {
                                  "needTechnicalAcknowledgement": false,
                                  "batchTechnicalAcknowledgements": true,
                                  "needFunctionalAcknowledgement": false,
                                  "batchFunctionalAcknowledgements": true,
                                  "needImplementationAcknowledgement": false,
                                  "batchImplementationAcknowledgements": false,
                                  "needLoopForValidMessages": false,
                                  "sendSynchronousAcknowledgement": true,
                                  "acknowledgementControlNumberLowerBound": 1,
                                  "acknowledgementControlNumberUpperBound": 999999999,
                                  "rolloverAcknowledgementControlNumber": true
                                },
                                "messageFilter": {
                                  "messageFilterType": "Exclude"
                                },
                                "securitySettings": {
                                  "authorizationQualifier": "00",
                                  "securityQualifier": "00"
                                },
                                "processingSettings": {
                                  "maskSecurityInfo": true,
                                  "convertImpliedDecimal": true,
                                  "preserveInterchange": true,
                                  "suspendInterchangeOnError": true,
                                  "createEmptyXmlTagsForTrailingSeparators": true,
                                  "useDotAsDecimalSeparator": true
                                },
                                "schemaReferences": []
                              },
                              "senderBusinessIdentity": {
                                "qualifier": "ZZ",
                                "value": "ZZ"
                              },
                              "receiverBusinessIdentity": {
                                "qualifier": "AA",
                                "value": "AA"
                              }
                            }
                          }
                        },
                        "createdTime": "2017-03-06T22:00:54.1516558Z",
                        "changedTime": "2017-03-06T22:00:54.1520445Z",
                        "metadata": {}
                      },
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>",
                      "name": "<IntegrationAccountAgreementName>",
                      "type": "Microsoft.Logic/integrationAccounts/agreements"
                    },
                    {
                      "properties": {
                        "hostPartner": "HostPartner",
                        "guestPartner": "GuestPartner",
                        "hostIdentity": {
                          "qualifier": "ZZ",
                          "value": "ZZ"
                        },
                        "guestIdentity": {
                          "qualifier": "AA",
                          "value": "AA"
                        },
                        "agreementType": "AS2",
                        "content": {
                          "aS2": {
                            "receiveAgreement": {
                              "protocolSettings": {
                                "messageConnectionSettings": {
                                  "ignoreCertificateNameMismatch": true,
                                  "supportHttpStatusCodeContinue": true,
                                  "keepHttpConnectionAlive": true,
                                  "unfoldHttpHeaders": true
                                },
                                "acknowledgementConnectionSettings": {
                                  "ignoreCertificateNameMismatch": true,
                                  "supportHttpStatusCodeContinue": true,
                                  "keepHttpConnectionAlive": true,
                                  "unfoldHttpHeaders": true
                                },
                                "mdnSettings": {
                                  "needMdn": true,
                                  "signMdn": true,
                                  "sendMdnAsynchronously": true,
                                  "receiptDeliveryUrl": "http://tempuri.org",
                                  "dispositionNotificationTo": "http://tempuri.org",
                                  "signOutboundMdnIfOptional": true,
                                  "mdnText": "Sample",
                                  "sendInboundMdnToMessageBox": true,
                                  "micHashingAlgorithm": "None"
                                },
                                "securitySettings": {
                                  "overrideGroupSigningCertificate": false,
                                  "enableNrrForInboundEncodedMessages": true,
                                  "enableNrrForInboundDecodedMessages": true,
                                  "enableNrrForOutboundMdn": true,
                                  "enableNrrForOutboundEncodedMessages": true,
                                  "enableNrrForOutboundDecodedMessages": true,
                                  "enableNrrForInboundMdn": true
                                },
                                "validationSettings": {
                                  "overrideMessageProperties": true,
                                  "encryptMessage": false,
                                  "signMessage": false,
                                  "compressMessage": true,
                                  "checkDuplicateMessage": true,
                                  "interchangeDuplicatesValidityDays": 100,
                                  "checkCertificateRevocationListOnSend": true,
                                  "checkCertificateRevocationListOnReceive": true,
                                  "encryptionAlgorithm": "AES128"
                                },
                                "envelopeSettings": {
                                  "messageContentType": "text/plain",
                                  "transmitFileNameInMimeHeader": true,
                                  "fileNameTemplate": "Test",
                                  "suspendMessageOnFileNameGenerationError": true,
                                  "autogenerateFileName": true
                                },
                                "errorSettings": {
                                  "suspendDuplicateMessage": true,
                                  "resendIfMdnNotReceived": true
                                }
                              },
                              "senderBusinessIdentity": {
                                "qualifier": "AA",
                                "value": "AA"
                              },
                              "receiverBusinessIdentity": {
                                "qualifier": "ZZ",
                                "value": "ZZ"
                              }
                            },
                            "sendAgreement": {
                              "protocolSettings": {
                                "messageConnectionSettings": {
                                  "ignoreCertificateNameMismatch": true,
                                  "supportHttpStatusCodeContinue": true,
                                  "keepHttpConnectionAlive": true,
                                  "unfoldHttpHeaders": true
                                },
                                "acknowledgementConnectionSettings": {
                                  "ignoreCertificateNameMismatch": true,
                                  "supportHttpStatusCodeContinue": true,
                                  "keepHttpConnectionAlive": true,
                                  "unfoldHttpHeaders": true
                                },
                                "mdnSettings": {
                                  "needMdn": true,
                                  "signMdn": true,
                                  "sendMdnAsynchronously": true,
                                  "receiptDeliveryUrl": "http://tempuri.org",
                                  "dispositionNotificationTo": "http://tempuri.org",
                                  "signOutboundMdnIfOptional": true,
                                  "mdnText": "Sample",
                                  "sendInboundMdnToMessageBox": true,
                                  "micHashingAlgorithm": "None"
                                },
                                "securitySettings": {
                                  "overrideGroupSigningCertificate": false,
                                  "enableNrrForInboundEncodedMessages": true,
                                  "enableNrrForInboundDecodedMessages": true,
                                  "enableNrrForOutboundMdn": true,
                                  "enableNrrForOutboundEncodedMessages": true,
                                  "enableNrrForOutboundDecodedMessages": true,
                                  "enableNrrForInboundMdn": true
                                },
                                "validationSettings": {
                                  "overrideMessageProperties": true,
                                  "encryptMessage": false,
                                  "signMessage": false,
                                  "compressMessage": true,
                                  "checkDuplicateMessage": true,
                                  "interchangeDuplicatesValidityDays": 100,
                                  "checkCertificateRevocationListOnSend": true,
                                  "checkCertificateRevocationListOnReceive": true,
                                  "encryptionAlgorithm": "AES128"
                                },
                                "envelopeSettings": {
                                  "messageContentType": "text/plain",
                                  "transmitFileNameInMimeHeader": true,
                                  "fileNameTemplate": "Test",
                                  "suspendMessageOnFileNameGenerationError": true,
                                  "autogenerateFileName": true
                                },
                                "errorSettings": {
                                  "suspendDuplicateMessage": true,
                                  "resendIfMdnNotReceived": true
                                }
                              },
                              "senderBusinessIdentity": {
                                "qualifier": "ZZ",
                                "value": "ZZ"
                              },
                              "receiverBusinessIdentity": {
                                "qualifier": "AA",
                                "value": "AA"
                              }
                            }
                          }
                        },
                        "createdTime": "2017-03-06T22:00:53.4134038Z",
                        "changedTime": "2017-03-06T22:00:53.4140804Z",
                        "metadata": {}
                      },
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>",
                      "name": "<IntegrationAccountAgreementName>",
                      "type": "Microsoft.Logic/integrationAccounts/agreements"
                    },
                    {
                      "properties": {
                        "hostPartner": "HostPartner",
                        "guestPartner": "GuestPartner",
                        "hostIdentity": {
                          "qualifier": "ZZ",
                          "value": "ZZ"
                        },
                        "guestIdentity": {
                          "qualifier": "AA",
                          "value": "AA"
                        },
                        "agreementType": "Edifact",
                        "content": {
                          "edifact": {
                            "receiveAgreement": {
                              "protocolSettings": {
                                "validationSettings": {
                                  "validateCharacterSet": true,
                                  "checkDuplicateInterchangeControlNumber": true,
                                  "interchangeControlNumberValidityDays": 30,
                                  "checkDuplicateGroupControlNumber": true,
                                  "checkDuplicateTransactionSetControlNumber": true,
                                  "validateEdiTypes": true,
                                  "validateXsdTypes": true,
                                  "trimLeadingAndTrailingSpacesAndZeroes": true,
                                  "allowLeadingAndTrailingSpacesAndZeroes": true,
                                  "trailingSeparatorPolicy": "Optional"
                                },
                                "framingSettings": {
                                  "characterEncoding": "UTF",
                                  "protocolVersion": 4,
                                  "dataElementSeparator": 53,
                                  "componentSeparator": 58,
                                  "segmentTerminator": 39,
                                  "releaseIndicator": 63,
                                  "repetitionSeparator": 42,
                                  "characterSet": "UNOC",
                                  "decimalPointIndicator": "Comma",
                                  "segmentTerminatorSuffix": "None"
                                },
                                "envelopeSettings": {
                                  "groupAssociationAssignedCode": "0",
                                  "communicationAgreementId": "0",
                                  "applyDelimiterStringAdvice": true,
                                  "createGroupingSegments": true,
                                  "enableDefaultGroupHeaders": true,
                                  "recipientReferencePasswordValue": "AA",
                                  "recipientReferencePasswordQualifier": "ZZ",
                                  "applicationReferenceId": "0",
                                  "processingPriorityCode": "0",
                                  "interchangeControlNumberLowerBound": 1,
                                  "interchangeControlNumberUpperBound": 99999999,
                                  "rolloverInterchangeControlNumber": true,
                                  "interchangeControlNumberPrefix": "CU",
                                  "interchangeControlNumberSuffix": "NUM",
                                  "functionalGroupId": "0",
                                  "groupControllingAgencyCode": "0",
                                  "groupMessageVersion": "0.0",
                                  "groupMessageRelease": "0.0",
                                  "groupControlNumberLowerBound": 1,
                                  "groupControlNumberUpperBound": 99999999,
                                  "rolloverGroupControlNumber": true,
                                  "groupControlNumberPrefix": "CU",
                                  "groupControlNumberSuffix": "NUM",
                                  "groupApplicationReceiverQualifier": "ZZZ",
                                  "groupApplicationReceiverId": "0",
                                  "groupApplicationSenderQualifier": "ZZZ",
                                  "groupApplicationSenderId": "AAA",
                                  "groupApplicationPassword": "0",
                                  "overwriteExistingTransactionSetControlNumber": true,
                                  "transactionSetControlNumberPrefix": "",
                                  "transactionSetControlNumberSuffix": "",
                                  "transactionSetControlNumberLowerBound": 1,
                                  "transactionSetControlNumberUpperBound": 99999999,
                                  "rolloverTransactionSetControlNumber": true,
                                  "isTestInterchange": true,
                                  "senderInternalIdentification": "AA",
                                  "senderInternalSubIdentification": "AA",
                                  "receiverInternalIdentification": "0",
                                  "receiverInternalSubIdentification": "0"
                                },
                                "acknowledgementSettings": {
                                  "needTechnicalAcknowledgement": true,
                                  "batchTechnicalAcknowledgements": true,
                                  "needFunctionalAcknowledgement": false,
                                  "batchFunctionalAcknowledgements": true,
                                  "needLoopForValidMessages": false,
                                  "sendSynchronousAcknowledgement": true,
                                  "acknowledgementControlNumberPrefix": "",
                                  "acknowledgementControlNumberSuffix": "",
                                  "acknowledgementControlNumberLowerBound": 1,
                                  "acknowledgementControlNumberUpperBound": 99999999,
                                  "rolloverAcknowledgementControlNumber": true
                                },
                                "messageFilter": {
                                  "messageFilterType": "Exclude"
                                },
                                "processingSettings": {
                                  "maskSecurityInfo": true,
                                  "preserveInterchange": true,
                                  "suspendInterchangeOnError": true,
                                  "createEmptyXmlTagsForTrailingSeparators": true,
                                  "useDotAsDecimalSeparator": true
                                },
                                "schemaReferences": []
                              },
                              "senderBusinessIdentity": {
                                "qualifier": "AA",
                                "value": "AA"
                              },
                              "receiverBusinessIdentity": {
                                "qualifier": "ZZ",
                                "value": "ZZ"
                              }
                            },
                            "sendAgreement": {
                              "protocolSettings": {
                                "validationSettings": {
                                  "validateCharacterSet": true,
                                  "checkDuplicateInterchangeControlNumber": true,
                                  "interchangeControlNumberValidityDays": 30,
                                  "checkDuplicateGroupControlNumber": true,
                                  "checkDuplicateTransactionSetControlNumber": true,
                                  "validateEdiTypes": true,
                                  "validateXsdTypes": true,
                                  "trimLeadingAndTrailingSpacesAndZeroes": true,
                                  "allowLeadingAndTrailingSpacesAndZeroes": true,
                                  "trailingSeparatorPolicy": "Optional"
                                },
                                "framingSettings": {
                                  "characterEncoding": "UTF",
                                  "protocolVersion": 4,
                                  "dataElementSeparator": 53,
                                  "componentSeparator": 58,
                                  "segmentTerminator": 39,
                                  "releaseIndicator": 63,
                                  "repetitionSeparator": 42,
                                  "characterSet": "UNOC",
                                  "decimalPointIndicator": "Comma",
                                  "segmentTerminatorSuffix": "None"
                                },
                                "envelopeSettings": {
                                  "groupAssociationAssignedCode": "0",
                                  "communicationAgreementId": "0",
                                  "applyDelimiterStringAdvice": true,
                                  "createGroupingSegments": true,
                                  "enableDefaultGroupHeaders": true,
                                  "recipientReferencePasswordValue": "AA",
                                  "recipientReferencePasswordQualifier": "ZZ",
                                  "applicationReferenceId": "0",
                                  "processingPriorityCode": "0",
                                  "interchangeControlNumberLowerBound": 1,
                                  "interchangeControlNumberUpperBound": 999999999,
                                  "rolloverInterchangeControlNumber": true,
                                  "interchangeControlNumberPrefix": "CU",
                                  "interchangeControlNumberSuffix": "NUM",
                                  "functionalGroupId": "0",
                                  "groupControllingAgencyCode": "0",
                                  "groupMessageVersion": "0.0",
                                  "groupMessageRelease": "0.0",
                                  "groupControlNumberLowerBound": 1,
                                  "groupControlNumberUpperBound": 999999999,
                                  "rolloverGroupControlNumber": true,
                                  "groupControlNumberPrefix": "",
                                  "groupControlNumberSuffix": "",
                                  "groupApplicationReceiverQualifier": "ZZ",
                                  "groupApplicationReceiverId": "0",
                                  "groupApplicationSenderQualifier": "ZZ",
                                  "groupApplicationSenderId": "AA",
                                  "groupApplicationPassword": "0",
                                  "overwriteExistingTransactionSetControlNumber": true,
                                  "transactionSetControlNumberPrefix": "",
                                  "transactionSetControlNumberSuffix": "",
                                  "transactionSetControlNumberLowerBound": 1,
                                  "transactionSetControlNumberUpperBound": 999999999,
                                  "rolloverTransactionSetControlNumber": true,
                                  "isTestInterchange": true,
                                  "senderInternalIdentification": "AA",
                                  "senderInternalSubIdentification": "AA",
                                  "receiverInternalIdentification": "0",
                                  "receiverInternalSubIdentification": "0"
                                },
                                "acknowledgementSettings": {
                                  "needTechnicalAcknowledgement": true,
                                  "batchTechnicalAcknowledgements": true,
                                  "needFunctionalAcknowledgement": true,
                                  "batchFunctionalAcknowledgements": true,
                                  "needLoopForValidMessages": true,
                                  "sendSynchronousAcknowledgement": true,
                                  "acknowledgementControlNumberPrefix": "CN",
                                  "acknowledgementControlNumberSuffix": "NUM",
                                  "acknowledgementControlNumberLowerBound": 1,
                                  "acknowledgementControlNumberUpperBound": 999999999,
                                  "rolloverAcknowledgementControlNumber": true
                                },
                                "messageFilter": {
                                  "messageFilterType": "Exclude"
                                },
                                "processingSettings": {
                                  "maskSecurityInfo": true,
                                  "preserveInterchange": true,
                                  "suspendInterchangeOnError": true,
                                  "createEmptyXmlTagsForTrailingSeparators": true,
                                  "useDotAsDecimalSeparator": true
                                },
                                "schemaReferences": []
                              },
                              "senderBusinessIdentity": {
                                "qualifier": "AA",
                                "value": "AA"
                              },
                              "receiverBusinessIdentity": {
                                "qualifier": "ZZ",
                                "value": "ZZ"
                              }
                            }
                          }
                        },
                        "createdTime": "2017-03-06T22:00:53.8205121Z",
                        "changedTime": "2017-03-06T22:00:53.8212345Z",
                        "metadata": {}
                      },
                      "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testResourceGroup/providers/Microsoft.Logic/integrationAccounts/<IntegrationAccountName>/agreements/<IntegrationAccountAgreementName>",
                      "name": "<IntegrationAccountAgreementName>",
                      "type": "Microsoft.Logic/integrationAccounts/agreements"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "name": "resourceGroupName",
            "description": "The resource group name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "integrationAccountName",
            "description": "The integration account name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "description": "The filter to apply on the operation.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreementListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/IntegrationAccountAgreementFilter",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "x-internal-toc-name": "List By Integration Accounts"
      }
    }
  },
  "definitions": null,
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "The subscription id.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "api-version": {
      "name": "api-version",
      "description": "The API version.",
      "in": "query",
      "required": true,
      "type": "string"
    }
  },
  "x-internal-toc-name": "Agreements",
  "x-internal-split-type": "Operation",
  "x-internal-split-members": [
    {
      "displayName": "Create Or Update",
      "relativePath": "Partners/CreateOrUpdate"
    },
    {
      "displayName": "Delete",
      "relativePath": "Partners/Delete"
    },
    {
      "displayName": "Get",
      "relativePath": "Partners/Get"
    },
    {
      "displayName": "List By Integration Accounts",
      "relativePath": "Partners/ListByIntegrationAccounts"
    }
  ]
}