{
  "swagger": "2.0",
  "info": {
    "title": "ApiManagementClient",
    "description": "Use these REST APIs for performing operations on who is going to receive notifications associated with your Azure API Management deployment.",
    "version": "2018-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/notifications": {
      "get": {
        "tags": [
          "Notification"
        ],
        "operationId": "Notification_ListByService",
        "description": "Lists a collection of properties defined within a service instance.",
        "x-ms-examples": {
          "ApiManagementListNotification": {
            "$ref": "#/definitions/ApiManagementListNotifications"
          }
        },
        "parameters": [
          {
            "$ref": "./apimanagement.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/TopQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/SkipQueryParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./apimanagement.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A Collection of the Notification for the specified API Management service instance.",
            "schema": {
              "$ref": "#/definitions/NotificationCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-internal-toc-name": "List By Service"
      }
    }
  },
  "definitions": {
    "NotificationCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged Notification list representation."
    },
    "NotificationContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NotificationContractProperties",
          "description": "Notification entity contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Notification details."
    },
    "NotificationContractProperties": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the Notification.",
          "minLength": 1,
          "maxLength": 1000
        },
        "description": {
          "type": "string",
          "description": "Description of the Notification."
        },
        "recipients": {
          "$ref": "#/definitions/RecipientsContractProperties",
          "description": "Recipient Parameter values."
        }
      },
      "required": [
        "title"
      ],
      "description": "Notification Contract properties."
    },
    "RecipientsContractProperties": {
      "properties": {
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of Emails subscribed for the notification."
        },
        "users": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of Users subscribed for the notification."
        }
      },
      "description": "Notification Parameter contract."
    },
    "RecipientUserCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecipientUserContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged Recipient User list representation."
    },
    "RecipientUserContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecipientUsersContractProperties",
          "description": "Recipient User entity contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Recipient User details."
    },
    "RecipientUsersContractProperties": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "API Management UserId subscribed to notification."
        }
      },
      "description": "Recipient User Contract Properties."
    },
    "RecipientEmailCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecipientEmailContract"
          },
          "description": "Page values."
        },
        "nextLink": {
          "type": "string",
          "description": "Next page link if any."
        }
      },
      "description": "Paged Recipient User list representation."
    },
    "RecipientEmailContract": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RecipientEmailContractProperties",
          "description": "Recipient Email contract properties."
        }
      },
      "allOf": [
        {
          "$ref": "./apimanagement.json#/definitions/Resource"
        }
      ],
      "description": "Recipient Email details."
    },
    "RecipientEmailContractProperties": {
      "properties": {
        "email": {
          "type": "string",
          "description": "User Email subscribed to notification."
        }
      },
      "description": "Recipient Email Contract Properties."
    },
    "ApiManagementListNotifications": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage",
                "type": "Microsoft.ApiManagement/service/notifications",
                "name": "RequestPublisherNotificationMessage",
                "properties": {
                  "title": "Subscription requests (requiring approval)",
                  "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
                  "recipients": {
                    "emails": [
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com",
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar!live",
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com"
                    ],
                    "users": [
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
                    ]
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/PurchasePublisherNotificationMessage",
                "type": "Microsoft.ApiManagement/service/notifications",
                "name": "PurchasePublisherNotificationMessage",
                "properties": {
                  "title": "New subscriptions",
                  "description": "The following email recipients and users will receive email notifications about new API product subscriptions.",
                  "recipients": {
                    "emails": [
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com"
                    ],
                    "users": [
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1"
                    ]
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/NewApplicationNotificationMessage",
                "type": "Microsoft.ApiManagement/service/notifications",
                "name": "NewApplicationNotificationMessage",
                "properties": {
                  "title": "Application gallery requests",
                  "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery.",
                  "recipients": {
                    "emails": [
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com"
                    ],
                    "users": []
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/BCC",
                "type": "Microsoft.ApiManagement/service/notifications",
                "name": "BCC",
                "properties": {
                  "title": "BCC",
                  "description": "The following recipients will receive blind carbon copies of all emails sent to developers.",
                  "recipients": {
                    "emails": [],
                    "users": []
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/NewIssuePublisherNotificationMessage",
                "type": "Microsoft.ApiManagement/service/notifications",
                "name": "NewIssuePublisherNotificationMessage",
                "properties": {
                  "title": "New issue or comment",
                  "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal.",
                  "recipients": {
                    "emails": [],
                    "users": [
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1"
                    ]
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/AccountClosedPublisher",
                "type": "Microsoft.ApiManagement/service/notifications",
                "name": "AccountClosedPublisher",
                "properties": {
                  "title": "Close account message",
                  "description": "The following email recipients and users will receive email notifications when developer closes his account",
                  "recipients": {
                    "emails": [
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com"
                    ],
                    "users": []
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/QuotaLimitApproachingPublisherNotificationMessage",
                "type": "Microsoft.ApiManagement/service/notifications",
                "name": "QuotaLimitApproachingPublisherNotificationMessage",
                "properties": {
                  "title": "Approaching subscription quota limit",
                  "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota.",
                  "recipients": {
                    "emails": [],
                    "users": [
                      "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/1"
                    ]
                  }
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementGetNotification": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "RequestPublisherNotificationMessage",
            "properties": {
              "title": "Subscription requests (requiring approval)",
              "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
              "recipients": {
                "emails": [
                  "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/contoso@live.com",
                  "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar!live",
                  "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar@live.com"
                ],
                "users": [
                  "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
                ]
              }
            }
          }
        }
      }
    },
    "ApiManagementGetNotification-1": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage"
      },
      "responses": {
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage",
            "type": "Microsoft.ApiManagement/service/notifications",
            "name": "RequestPublisherNotificationMessage",
            "properties": {
              "title": "Subscription requests (requiring approval)",
              "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval.",
              "recipients": {
                "emails": [
                  "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/contoso@live.com",
                  "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar!live",
                  "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/recipientEmails/foobar@live.com"
                ],
                "users": [
                  "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
                ]
              }
            }
          }
        }
      }
    },
    "ApiManagementListNotificationRecipientUser": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientUsers/576823d0a40f7e74ec07d642",
                "type": "Microsoft.ApiManagement/service/notifications/recipientUsers",
                "name": "576823d0a40f7e74ec07d642",
                "properties": {
                  "userId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadNotificationRecipientUser": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage",
        "uid": "576823d0a40f7e74ec07d642"
      },
      "responses": {
        "204": {},
        "404": {}
      }
    },
    "ApiManagementCreateRecipientUser": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage",
        "uid": "576823d0a40f7e74ec07d642"
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientUsers/576823d0a40f7e74ec07d642",
            "type": "Microsoft.ApiManagement/service/notifications/recipientUsers",
            "name": "576823d0a40f7e74ec07d642",
            "properties": {
              "userId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientUsers/576823d0a40f7e74ec07d642",
            "type": "Microsoft.ApiManagement/service/notifications/recipientUsers",
            "name": "576823d0a40f7e74ec07d642",
            "properties": {
              "userId": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/users/576823d0a40f7e74ec07d642"
            }
          }
        }
      }
    },
    "ApiManagementDeleteNotificationRecipientUser": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage",
        "uid": "576823d0a40f7e74ec07d642"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "ApiManagementListNotificationRecipientEmail": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage"
      },
      "responses": {
        "200": {
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/contoso@live.com",
                "type": "Microsoft.ApiManagement/service/notifications/recipientEmails",
                "name": "contoso@live.com",
                "properties": {
                  "email": "contoso@live.com"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar!live",
                "type": "Microsoft.ApiManagement/service/notifications/recipientEmails",
                "name": "foobar!live",
                "properties": {
                  "email": "foobar!live"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com",
                "type": "Microsoft.ApiManagement/service/notifications/recipientEmails",
                "name": "foobar@live.com",
                "properties": {
                  "email": "foobar@live.com"
                }
              }
            ],
            "nextLink": ""
          }
        }
      }
    },
    "ApiManagementHeadNotificationRecipientEmail": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage",
        "email": "contoso@live.com"
      },
      "responses": {
        "204": {},
        "404": {}
      }
    },
    "ApiManagementCreateRecipientEmail": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage",
        "email": "foobar@live.com"
      },
      "responses": {
        "201": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com",
            "type": "Microsoft.ApiManagement/service/notifications/recipientEmails",
            "name": "foobar@live.com",
            "properties": {
              "email": "foobar@live.com"
            }
          }
        },
        "200": {
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/notifications/RequestPublisherNotificationMessage/recipientEmails/foobar@live.com",
            "type": "Microsoft.ApiManagement/service/notifications/recipientEmails",
            "name": "foobar@live.com",
            "properties": {
              "email": "foobar@live.com"
            }
          }
        }
      }
    },
    "ApiManagementDeleteNotificationRecipientEmail": {
      "parameters": {
        "serviceName": "apimService1",
        "resourceGroupName": "rg1",
        "api-version": "2018-01-01",
        "subscriptionId": "subid",
        "notificationName": "RequestPublisherNotificationMessage",
        "email": "contoso@live.com"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    }
  },
  "parameters": {
    "NotificationNameParameter": {
      "name": "notificationName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "RequestPublisherNotificationMessage",
        "PurchasePublisherNotificationMessage",
        "NewApplicationNotificationMessage",
        "BCC",
        "NewIssuePublisherNotificationMessage",
        "AccountClosedPublisher",
        "QuotaLimitApproachingPublisherNotificationMessage"
      ],
      "x-ms-enum": {
        "name": "NotificationName",
        "modelAsString": true,
        "values": [
          {
            "value": "RequestPublisherNotificationMessage",
            "description": "The following email recipients and users will receive email notifications about subscription requests for API products requiring approval."
          },
          {
            "value": "PurchasePublisherNotificationMessage",
            "description": "The following email recipients and users will receive email notifications about new API product subscriptions."
          },
          {
            "value": "NewApplicationNotificationMessage",
            "description": "The following email recipients and users will receive email notifications when new applications are submitted to the application gallery."
          },
          {
            "value": "BCC",
            "description": "The following recipients will receive blind carbon copies of all emails sent to developers."
          },
          {
            "value": "NewIssuePublisherNotificationMessage",
            "description": "The following email recipients and users will receive email notifications when a new issue or comment is submitted on the developer portal."
          },
          {
            "value": "AccountClosedPublisher",
            "description": "The following email recipients and users will receive email notifications when developer closes his account."
          },
          {
            "value": "QuotaLimitApproachingPublisherNotificationMessage",
            "description": "The following email recipients and users will receive email notifications when subscription usage gets close to usage quota."
          }
        ]
      },
      "description": "Notification Name Identifier.",
      "x-ms-parameter-location": "method"
    },
    "EmailParameter": {
      "name": "email",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Email identifier.",
      "x-ms-parameter-location": "method"
    }
  },
  "x-internal-service-name": "API Management",
  "x-internal-toc-name": "Notification",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Service"
}