{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connections/{connectionName}": {
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Get",
        "description": "Retrieve the connection identified by connection name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectionoperations"
        },
        "x-ms-examples": {
          "Get a connection": {
            "$ref": "#/definitions/getConnection"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connection."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Connection"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Get"
      }
    }
  },
  "definitions": {
    "deleteConnection": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount28",
        "connectionName": "myConnection",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {},
        "204": {}
      }
    },
    "getConnection": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount28",
        "connectionName": "myConnection",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection",
            "name": "myConnection",
            "properties": {
              "creationTime": "2017-03-27T15:52:29.29+08:00",
              "lastModifiedTime": "2017-03-27T15:52:33.617+08:00",
              "description": "my description goes here",
              "fieldDefinitionValues": {
                "AutomationCertificateName": "myCertificateName",
                "SubscriptionID": "b5e4748c-f69a-467c-8749-e2f9c8cd3007"
              },
              "connectionType": {
                "name": "Azure"
              }
            }
          }
        }
      }
    },
    "createOrUpdateConnection": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount28",
        "connectionName": "mysConnection",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "mysConnection",
          "properties": {
            "description": "my description goes here",
            "connectionType": {
              "name": "Azure"
            },
            "fieldDefinitionValues": {
              "AutomationCertificateName": "mysCertificateName",
              "SubscriptionID": "subid"
            }
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/mysConnection",
            "name": "mysConnection",
            "properties": {
              "creationTime": "2017-03-27T15:52:29.29+08:00",
              "lastModifiedTime": "2017-03-27T15:52:29.29+08:00",
              "description": "my description goes here",
              "fieldDefinitionValues": {
                "AutomationCertificateName": "mysCertificateName",
                "SubscriptionID": "subid"
              },
              "connectionType": {
                "name": "Azure"
              }
            }
          }
        },
        "200": {
          "headers": {},
          "body": {
            "id": null,
            "name": "mysConnection",
            "properties": {
              "creationTime": "2017-03-27T15:52:29.29+08:00",
              "lastModifiedTime": "2017-03-27T15:52:29.29+08:00",
              "description": "my description goes here",
              "fieldDefinitionValues": {
                "AutomationCertificateName": "mysCertificateName",
                "SubscriptionID": "subid"
              },
              "connectionType": {
                "name": "Azure"
              }
            }
          }
        }
      }
    },
    "updateConnection": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount28",
        "connectionName": "myConnection",
        "api-version": "2015-10-31",
        "parameters": {
          "name": "myConnection",
          "properties": {
            "description": "my description goes here",
            "fieldDefinitionValues": {
              "AutomationCertificateName": "myCertificateName",
              "SubscriptionID": "b5e4748c-f69a-467c-8749-e2f9c8cd3009"
            }
          }
        }
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount29/connections/myConnection",
            "name": "myConnection",
            "properties": {
              "creationTime": "2017-03-27T16:21:29.313+08:00",
              "lastModifiedTime": "2017-03-27T16:21:30.093+08:00",
              "description": "my description goes here",
              "fieldDefinitionValues": {
                "AutomationCertificateName": "myCertificateName",
                "SubscriptionID": "b5e4748c-f69a-467c-8749-e2f9c8cd3009"
              },
              "connectionType": {
                "name": "Azure"
              }
            }
          }
        }
      }
    },
    "listConnectionsByAutomationAccount_First100": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount28",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection",
                "name": "myConnection",
                "properties": {
                  "creationTime": "2017-03-27T15:52:29.29+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:33.617+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection0",
                "name": "myConnection0",
                "properties": {
                  "creationTime": "2017-03-27T15:52:36.493+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:36.493+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection1",
                "name": "myConnection1",
                "properties": {
                  "creationTime": "2017-03-27T15:52:36.76+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:36.76+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection10",
                "name": "myConnection10",
                "properties": {
                  "creationTime": "2017-03-27T15:52:39.117+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:39.117+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection100",
                "name": "myConnection100",
                "properties": {
                  "creationTime": "2017-03-27T15:53:04.527+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:04.527+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection101",
                "name": "myConnection101",
                "properties": {
                  "creationTime": "2017-03-27T15:53:04.777+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:04.777+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection102",
                "name": "myConnection102",
                "properties": {
                  "creationTime": "2017-03-27T15:53:05.027+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:05.027+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection103",
                "name": "myConnection103",
                "properties": {
                  "creationTime": "2017-03-27T15:53:05.277+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:05.277+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection104",
                "name": "myConnection104",
                "properties": {
                  "creationTime": "2017-03-27T15:53:05.527+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:05.527+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection105",
                "name": "myConnection105",
                "properties": {
                  "creationTime": "2017-03-27T15:53:05.82+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:05.82+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection106",
                "name": "myConnection106",
                "properties": {
                  "creationTime": "2017-03-27T15:53:06.07+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:06.07+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection107",
                "name": "myConnection107",
                "properties": {
                  "creationTime": "2017-03-27T15:53:06.37+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:06.37+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection108",
                "name": "myConnection108",
                "properties": {
                  "creationTime": "2017-03-27T15:53:06.62+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:06.62+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection109",
                "name": "myConnection109",
                "properties": {
                  "creationTime": "2017-03-27T15:53:06.87+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:06.87+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection11",
                "name": "myConnection11",
                "properties": {
                  "creationTime": "2017-03-27T15:52:39.367+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:39.367+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection110",
                "name": "myConnection110",
                "properties": {
                  "creationTime": "2017-03-27T15:53:07.167+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:07.167+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection111",
                "name": "myConnection111",
                "properties": {
                  "creationTime": "2017-03-27T15:53:07.463+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:07.463+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection112",
                "name": "myConnection112",
                "properties": {
                  "creationTime": "2017-03-27T15:53:07.73+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:07.73+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection113",
                "name": "myConnection113",
                "properties": {
                  "creationTime": "2017-03-27T15:53:07.963+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:07.963+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection114",
                "name": "myConnection114",
                "properties": {
                  "creationTime": "2017-03-27T15:53:08.213+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:08.213+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection115",
                "name": "myConnection115",
                "properties": {
                  "creationTime": "2017-03-27T15:53:08.527+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:08.527+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection116",
                "name": "myConnection116",
                "properties": {
                  "creationTime": "2017-03-27T15:53:08.76+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:08.76+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection117",
                "name": "myConnection117",
                "properties": {
                  "creationTime": "2017-03-27T15:53:09.103+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:09.103+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection118",
                "name": "myConnection118",
                "properties": {
                  "creationTime": "2017-03-27T15:53:09.37+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:09.37+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection119",
                "name": "myConnection119",
                "properties": {
                  "creationTime": "2017-03-27T15:53:09.65+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:09.65+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection12",
                "name": "myConnection12",
                "properties": {
                  "creationTime": "2017-03-27T15:52:39.617+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:39.617+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection120",
                "name": "myConnection120",
                "properties": {
                  "creationTime": "2017-03-27T15:53:09.883+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:09.883+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection121",
                "name": "myConnection121",
                "properties": {
                  "creationTime": "2017-03-27T15:53:10.167+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:10.167+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection122",
                "name": "myConnection122",
                "properties": {
                  "creationTime": "2017-03-27T15:53:10.43+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:10.43+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection123",
                "name": "myConnection123",
                "properties": {
                  "creationTime": "2017-03-27T15:53:10.68+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:10.68+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection124",
                "name": "myConnection124",
                "properties": {
                  "creationTime": "2017-03-27T15:53:10.93+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:10.93+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection125",
                "name": "myConnection125",
                "properties": {
                  "creationTime": "2017-03-27T15:53:11.18+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:11.18+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection126",
                "name": "myConnection126",
                "properties": {
                  "creationTime": "2017-03-27T15:53:11.43+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:11.43+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection127",
                "name": "myConnection127",
                "properties": {
                  "creationTime": "2017-03-27T15:53:11.667+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:11.667+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection128",
                "name": "myConnection128",
                "properties": {
                  "creationTime": "2017-03-27T15:53:11.917+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:11.917+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection129",
                "name": "myConnection129",
                "properties": {
                  "creationTime": "2017-03-27T15:53:12.18+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:12.18+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection13",
                "name": "myConnection13",
                "properties": {
                  "creationTime": "2017-03-27T15:52:39.883+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:39.883+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection130",
                "name": "myConnection130",
                "properties": {
                  "creationTime": "2017-03-27T15:53:12.43+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:12.43+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection131",
                "name": "myConnection131",
                "properties": {
                  "creationTime": "2017-03-27T15:53:12.667+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:12.667+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection132",
                "name": "myConnection132",
                "properties": {
                  "creationTime": "2017-03-27T15:53:12.917+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:12.917+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection133",
                "name": "myConnection133",
                "properties": {
                  "creationTime": "2017-03-27T15:53:13.213+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:13.213+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection134",
                "name": "myConnection134",
                "properties": {
                  "creationTime": "2017-03-27T15:53:13.463+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:13.463+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection135",
                "name": "myConnection135",
                "properties": {
                  "creationTime": "2017-03-27T15:53:13.73+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:13.73+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection136",
                "name": "myConnection136",
                "properties": {
                  "creationTime": "2017-03-27T15:53:14.01+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:14.01+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection137",
                "name": "myConnection137",
                "properties": {
                  "creationTime": "2017-03-27T15:53:14.29+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:14.29+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection138",
                "name": "myConnection138",
                "properties": {
                  "creationTime": "2017-03-27T15:53:14.54+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:14.54+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection139",
                "name": "myConnection139",
                "properties": {
                  "creationTime": "2017-03-27T15:53:14.807+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:14.807+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection14",
                "name": "myConnection14",
                "properties": {
                  "creationTime": "2017-03-27T15:52:40.133+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:40.133+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection140",
                "name": "myConnection140",
                "properties": {
                  "creationTime": "2017-03-27T15:53:15.057+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:15.057+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection141",
                "name": "myConnection141",
                "properties": {
                  "creationTime": "2017-03-27T15:53:15.307+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:15.307+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection142",
                "name": "myConnection142",
                "properties": {
                  "creationTime": "2017-03-27T15:53:15.603+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:15.603+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection143",
                "name": "myConnection143",
                "properties": {
                  "creationTime": "2017-03-27T15:53:15.853+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:15.853+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection144",
                "name": "myConnection144",
                "properties": {
                  "creationTime": "2017-03-27T15:53:16.12+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:16.12+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection145",
                "name": "myConnection145",
                "properties": {
                  "creationTime": "2017-03-27T15:53:16.37+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:16.37+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection146",
                "name": "myConnection146",
                "properties": {
                  "creationTime": "2017-03-27T15:53:16.633+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:16.633+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection147",
                "name": "myConnection147",
                "properties": {
                  "creationTime": "2017-03-27T15:53:16.9+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:16.9+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection148",
                "name": "myConnection148",
                "properties": {
                  "creationTime": "2017-03-27T15:53:17.167+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:17.167+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection149",
                "name": "myConnection149",
                "properties": {
                  "creationTime": "2017-03-27T15:53:17.43+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:17.43+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection15",
                "name": "myConnection15",
                "properties": {
                  "creationTime": "2017-03-27T15:52:40.37+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:40.37+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection150",
                "name": "myConnection150",
                "properties": {
                  "creationTime": "2017-03-27T15:53:17.68+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:17.68+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection151",
                "name": "myConnection151",
                "properties": {
                  "creationTime": "2017-03-27T15:53:17.963+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:17.963+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection152",
                "name": "myConnection152",
                "properties": {
                  "creationTime": "2017-03-27T15:53:18.527+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:18.527+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection153",
                "name": "myConnection153",
                "properties": {
                  "creationTime": "2017-03-27T15:53:18.79+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:18.79+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection154",
                "name": "myConnection154",
                "properties": {
                  "creationTime": "2017-03-27T15:53:19.073+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:19.073+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection155",
                "name": "myConnection155",
                "properties": {
                  "creationTime": "2017-03-27T15:53:19.353+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:19.353+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection156",
                "name": "myConnection156",
                "properties": {
                  "creationTime": "2017-03-27T15:53:19.68+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:19.68+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection157",
                "name": "myConnection157",
                "properties": {
                  "creationTime": "2017-03-27T15:53:19.93+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:19.93+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection158",
                "name": "myConnection158",
                "properties": {
                  "creationTime": "2017-03-27T15:53:20.243+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:20.243+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection159",
                "name": "myConnection159",
                "properties": {
                  "creationTime": "2017-03-27T15:53:20.557+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:20.557+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection16",
                "name": "myConnection16",
                "properties": {
                  "creationTime": "2017-03-27T15:52:40.62+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:40.62+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection160",
                "name": "myConnection160",
                "properties": {
                  "creationTime": "2017-03-27T15:53:20.823+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:20.823+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection161",
                "name": "myConnection161",
                "properties": {
                  "creationTime": "2017-03-27T15:53:21.15+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:21.15+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection162",
                "name": "myConnection162",
                "properties": {
                  "creationTime": "2017-03-27T15:53:21.417+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:21.417+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection163",
                "name": "myConnection163",
                "properties": {
                  "creationTime": "2017-03-27T15:53:21.65+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:21.65+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection164",
                "name": "myConnection164",
                "properties": {
                  "creationTime": "2017-03-27T15:53:21.993+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:21.993+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection165",
                "name": "myConnection165",
                "properties": {
                  "creationTime": "2017-03-27T15:53:22.323+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:22.323+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection166",
                "name": "myConnection166",
                "properties": {
                  "creationTime": "2017-03-27T15:53:22.68+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:22.68+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection167",
                "name": "myConnection167",
                "properties": {
                  "creationTime": "2017-03-27T15:53:23.057+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:23.057+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection168",
                "name": "myConnection168",
                "properties": {
                  "creationTime": "2017-03-27T15:53:23.417+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:23.417+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection169",
                "name": "myConnection169",
                "properties": {
                  "creationTime": "2017-03-27T15:53:23.697+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:23.697+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection17",
                "name": "myConnection17",
                "properties": {
                  "creationTime": "2017-03-27T15:52:40.87+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:40.87+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection170",
                "name": "myConnection170",
                "properties": {
                  "creationTime": "2017-03-27T15:53:23.963+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:23.963+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection171",
                "name": "myConnection171",
                "properties": {
                  "creationTime": "2017-03-27T15:53:24.243+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:24.243+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection172",
                "name": "myConnection172",
                "properties": {
                  "creationTime": "2017-03-27T15:53:24.51+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:24.51+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection173",
                "name": "myConnection173",
                "properties": {
                  "creationTime": "2017-03-27T15:53:24.777+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:24.777+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection174",
                "name": "myConnection174",
                "properties": {
                  "creationTime": "2017-03-27T15:53:25.057+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:25.057+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection175",
                "name": "myConnection175",
                "properties": {
                  "creationTime": "2017-03-27T15:53:25.34+08:00",
                  "lastModifiedTime": "2017-03-27T15:53:25.34+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection18",
                "name": "myConnection18",
                "properties": {
                  "creationTime": "2017-03-27T15:52:41.197+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:41.197+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection19",
                "name": "myConnection19",
                "properties": {
                  "creationTime": "2017-03-27T15:52:41.57+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:41.57+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection2",
                "name": "myConnection2",
                "properties": {
                  "creationTime": "2017-03-27T15:52:37.01+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:37.01+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection20",
                "name": "myConnection20",
                "properties": {
                  "creationTime": "2017-03-27T15:52:41.913+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:41.913+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection21",
                "name": "myConnection21",
                "properties": {
                  "creationTime": "2017-03-27T15:52:42.273+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:42.273+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection22",
                "name": "myConnection22",
                "properties": {
                  "creationTime": "2017-03-27T15:52:42.663+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:42.663+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection23",
                "name": "myConnection23",
                "properties": {
                  "creationTime": "2017-03-27T15:52:42.993+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:42.993+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection24",
                "name": "myConnection24",
                "properties": {
                  "creationTime": "2017-03-27T15:52:43.26+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:43.26+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection25",
                "name": "myConnection25",
                "properties": {
                  "creationTime": "2017-03-27T15:52:43.587+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:43.587+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection26",
                "name": "myConnection26",
                "properties": {
                  "creationTime": "2017-03-27T15:52:43.87+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:43.87+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection27",
                "name": "myConnection27",
                "properties": {
                  "creationTime": "2017-03-27T15:52:44.227+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:44.227+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection28",
                "name": "myConnection28",
                "properties": {
                  "creationTime": "2017-03-27T15:52:44.557+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:44.557+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection29",
                "name": "myConnection29",
                "properties": {
                  "creationTime": "2017-03-27T15:52:44.807+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:44.807+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              }
            ],
            "nextLink": "https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections?api-version=2015-10-31&$skip=100"
          }
        }
      }
    },
    "listConnectionsByAutomationAccount_Next100": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount28",
        "api-version": "2015-10-31",
        "skip": "100"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection3",
                "name": "myConnection3",
                "properties": {
                  "creationTime": "2017-03-27T15:52:37.29+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:37.29+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection30",
                "name": "myConnection30",
                "properties": {
                  "creationTime": "2017-03-27T15:52:45.04+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:45.04+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection31",
                "name": "myConnection31",
                "properties": {
                  "creationTime": "2017-03-27T15:52:45.307+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:45.307+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection32",
                "name": "myConnection32",
                "properties": {
                  "creationTime": "2017-03-27T15:52:45.557+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:45.557+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection33",
                "name": "myConnection33",
                "properties": {
                  "creationTime": "2017-03-27T15:52:45.853+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:45.853+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection34",
                "name": "myConnection34",
                "properties": {
                  "creationTime": "2017-03-27T15:52:46.087+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:46.087+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection35",
                "name": "myConnection35",
                "properties": {
                  "creationTime": "2017-03-27T15:52:46.353+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:46.353+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection36",
                "name": "myConnection36",
                "properties": {
                  "creationTime": "2017-03-27T15:52:46.603+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:46.603+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection37",
                "name": "myConnection37",
                "properties": {
                  "creationTime": "2017-03-27T15:52:46.853+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:46.853+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection38",
                "name": "myConnection38",
                "properties": {
                  "creationTime": "2017-03-27T15:52:47.103+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:47.103+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection39",
                "name": "myConnection39",
                "properties": {
                  "creationTime": "2017-03-27T15:52:47.353+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:47.353+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection4",
                "name": "myConnection4",
                "properties": {
                  "creationTime": "2017-03-27T15:52:37.54+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:37.54+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection40",
                "name": "myConnection40",
                "properties": {
                  "creationTime": "2017-03-27T15:52:47.62+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:47.62+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection41",
                "name": "myConnection41",
                "properties": {
                  "creationTime": "2017-03-27T15:52:47.883+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:47.883+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection42",
                "name": "myConnection42",
                "properties": {
                  "creationTime": "2017-03-27T15:52:48.167+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:48.167+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection43",
                "name": "myConnection43",
                "properties": {
                  "creationTime": "2017-03-27T15:52:48.43+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:48.43+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection44",
                "name": "myConnection44",
                "properties": {
                  "creationTime": "2017-03-27T15:52:48.82+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:48.82+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection45",
                "name": "myConnection45",
                "properties": {
                  "creationTime": "2017-03-27T15:52:49.18+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:49.18+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection46",
                "name": "myConnection46",
                "properties": {
                  "creationTime": "2017-03-27T15:52:49.477+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:49.477+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection47",
                "name": "myConnection47",
                "properties": {
                  "creationTime": "2017-03-27T15:52:49.773+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:49.773+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection48",
                "name": "myConnection48",
                "properties": {
                  "creationTime": "2017-03-27T15:52:50.197+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:50.197+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection49",
                "name": "myConnection49",
                "properties": {
                  "creationTime": "2017-03-27T15:52:50.603+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:50.603+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection5",
                "name": "myConnection5",
                "properties": {
                  "creationTime": "2017-03-27T15:52:37.79+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:37.79+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection50",
                "name": "myConnection50",
                "properties": {
                  "creationTime": "2017-03-27T15:52:50.837+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:50.837+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection51",
                "name": "myConnection51",
                "properties": {
                  "creationTime": "2017-03-27T15:52:51.087+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:51.087+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection52",
                "name": "myConnection52",
                "properties": {
                  "creationTime": "2017-03-27T15:52:51.337+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:51.337+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection53",
                "name": "myConnection53",
                "properties": {
                  "creationTime": "2017-03-27T15:52:51.587+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:51.587+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection54",
                "name": "myConnection54",
                "properties": {
                  "creationTime": "2017-03-27T15:52:51.87+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:51.87+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection55",
                "name": "myConnection55",
                "properties": {
                  "creationTime": "2017-03-27T15:52:52.15+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:52.15+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection56",
                "name": "myConnection56",
                "properties": {
                  "creationTime": "2017-03-27T15:52:52.4+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:52.4+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection57",
                "name": "myConnection57",
                "properties": {
                  "creationTime": "2017-03-27T15:52:52.667+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:52.667+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection58",
                "name": "myConnection58",
                "properties": {
                  "creationTime": "2017-03-27T15:52:52.917+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:52.917+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection59",
                "name": "myConnection59",
                "properties": {
                  "creationTime": "2017-03-27T15:52:53.167+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:53.167+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection6",
                "name": "myConnection6",
                "properties": {
                  "creationTime": "2017-03-27T15:52:38.103+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:38.103+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection60",
                "name": "myConnection60",
                "properties": {
                  "creationTime": "2017-03-27T15:52:53.463+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:53.463+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection61",
                "name": "myConnection61",
                "properties": {
                  "creationTime": "2017-03-27T15:52:53.727+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:53.727+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection62",
                "name": "myConnection62",
                "properties": {
                  "creationTime": "2017-03-27T15:52:54.01+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:54.01+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection63",
                "name": "myConnection63",
                "properties": {
                  "creationTime": "2017-03-27T15:52:54.273+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:54.273+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection64",
                "name": "myConnection64",
                "properties": {
                  "creationTime": "2017-03-27T15:52:54.523+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:54.523+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection65",
                "name": "myConnection65",
                "properties": {
                  "creationTime": "2017-03-27T15:52:54.807+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:54.807+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection66",
                "name": "myConnection66",
                "properties": {
                  "creationTime": "2017-03-27T15:52:55.103+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:55.103+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection67",
                "name": "myConnection67",
                "properties": {
                  "creationTime": "2017-03-27T15:52:55.37+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:55.37+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection68",
                "name": "myConnection68",
                "properties": {
                  "creationTime": "2017-03-27T15:52:55.62+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:55.62+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection69",
                "name": "myConnection69",
                "properties": {
                  "creationTime": "2017-03-27T15:52:55.883+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:55.883+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection7",
                "name": "myConnection7",
                "properties": {
                  "creationTime": "2017-03-27T15:52:38.353+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:38.353+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection70",
                "name": "myConnection70",
                "properties": {
                  "creationTime": "2017-03-27T15:52:56.133+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:56.133+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection71",
                "name": "myConnection71",
                "properties": {
                  "creationTime": "2017-03-27T15:52:56.383+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:56.383+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection72",
                "name": "myConnection72",
                "properties": {
                  "creationTime": "2017-03-27T15:52:56.633+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:56.633+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection73",
                "name": "myConnection73",
                "properties": {
                  "creationTime": "2017-03-27T15:52:56.87+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:56.87+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection74",
                "name": "myConnection74",
                "properties": {
                  "creationTime": "2017-03-27T15:52:57.12+08:00",
                  "lastModifiedTime": "2017-03-27T15:52:57.12+08:00",
                  "description": null,
                  "fieldDefinitionValues": null,
                  "connectionType": {
                    "name": "Azure"
                  }
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount28/connections/myConnection75",
[...]
