{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2018-01-15",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs": {
      "get": {
        "tags": [
          "DscCompilationJob"
        ],
        "operationId": "DscCompilationJob_ListByAutomationAccount",
        "description": "Retrieve a list of dsc compilation jobs.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/compilationjoboperations"
        },
        "x-ms-examples": {
          "List DSC Compilation job in Automation Account": {
            "$ref": "#/definitions/listCompilationJobsByAutomationAccount"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DscCompilationJobListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/DscCompilationJob",
        "x-internal-toc-name": "List By Automation Account"
      }
    }
  },
  "definitions": {
    "DscCompilationJob": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscCompilationJobProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the Dsc Compilation job."
        }
      },
      "allOf": [
        {
          "$ref": "./definitions.json#/definitions/ProxyResource"
        }
      ],
      "description": "Definition of the Dsc Compilation job."
    },
    "DscCompilationJobCreateProperties": {
      "properties": {
        "configuration": {
          "$ref": "#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        },
        "newNodeConfigurationBuildVersionRequired": {
          "type": "boolean",
          "description": "If a new build version of NodeConfiguration is required."
        }
      },
      "required": [
        "configuration"
      ],
      "description": "The parameters supplied to the create compilation job operation."
    },
    "DscCompilationJobProperties": {
      "properties": {
        "configuration": {
          "$ref": "#/definitions/DscConfigurationAssociationProperty",
          "description": "Gets or sets the configuration."
        },
        "startedBy": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the compilation job started by."
        },
        "jobId": {
          "type": "string",
          "format": "uuid",
          "readOnly": true,
          "description": "Gets the id of the job.",
          "x-nullable": false
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time of the job.",
          "x-nullable": false
        },
        "provisioningState": {
          "$ref": "#/definitions/JobProvisioningStateProperty",
          "description": "The current provisioning state of the job."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the runOn which specifies the group name where the job is to be executed."
        },
        "status": {
          "type": "string",
          "description": "Gets or sets the status of the job.",
          "enum": [
            "New",
            "Activating",
            "Running",
            "Completed",
            "Failed",
            "Stopped",
            "Blocked",
            "Suspended",
            "Disconnected",
            "Suspending",
            "Stopping",
            "Resuming",
            "Removing"
          ],
          "x-ms-enum": {
            "name": "JobStatus",
            "modelAsString": true
          }
        },
        "statusDetails": {
          "type": "string",
          "description": "Gets or sets the status details of the job."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time of the job.",
          "x-nullable": true
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time of the job.",
          "x-nullable": true
        },
        "exception": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the exception of the job."
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last modified time of the job.",
          "x-nullable": false
        },
        "lastStatusModifiedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last status modified time of the job.",
          "x-nullable": true
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job."
        }
      },
      "description": "Definition of Dsc Compilation job properties."
    },
    "DscCompilationJobListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DscCompilationJob"
          },
          "description": "Gets or sets a list of Dsc Compilation jobs."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job operation."
    },
    "DscCompilationJobCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/DscCompilationJobCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of compilation job properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets name of the resource."
        },
        "location": {
          "type": "string",
          "description": "Gets or sets the location of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create compilation job operation."
    },
    "DscConfigurationAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the Dsc configuration."
        }
      },
      "description": "The Dsc configuration property associated with the entity."
    },
    "JobStream": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "properties": {
          "$ref": "#/definitions/JobStreamProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the id of the job stream."
        }
      },
      "description": "Definition of the job stream."
    },
    "JobStreamListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStream"
          },
          "description": "A list of job streams."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job stream operation."
    },
    "JobStreamProperties": {
      "properties": {
        "jobStreamId": {
          "type": "string",
          "description": "Gets or sets the id of the job stream."
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time of the job.",
          "x-nullable": false
        },
        "streamType": {
          "type": "string",
          "description": "Gets or sets the stream type.",
          "enum": [
            "Progress",
            "Output",
            "Warning",
            "Error",
            "Debug",
            "Verbose",
            "Any"
          ],
          "x-ms-enum": {
            "name": "JobStreamType",
            "modelAsString": true
          }
        },
        "streamText": {
          "type": "string",
          "description": "Gets or sets the stream text."
        },
        "summary": {
          "type": "string",
          "description": "Gets or sets the summary."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "description": "Gets or sets the values of the job stream."
        }
      },
      "description": "Definition of the job stream."
    },
    "JobProvisioningStateProperty": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The provisioning state of the resource.",
          "enum": [
            "Failed",
            "Succeeded",
            "Suspended",
            "Processing"
          ],
          "x-ms-enum": {
            "name": "JobProvisioningState",
            "modelAsString": true
          }
        }
      },
      "description": "The provisioning state property."
    },
    "createCompilationJob": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "compilationJobName": "TestCompilationJob",
        "api-version": "2018-01-15",
        "parameters": {
          "properties": {
            "configuration": {
              "name": "SetupServer"
            }
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/TestCompilationJob",
            "name": "TestCompilationJob",
            "type": "Microsoft.Automation/AutomationAccounts/compilationjobs",
            "properties": {
              "jobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a",
              "creationTime": "2017-03-29T07:14:26.903+08:00",
              "provisioningState": "Processing",
              "status": "New",
              "statusDetails": "None",
              "startTime": null,
              "endTime": null,
              "lastModifiedTime": "2017-03-29T07:14:26.903+08:00",
              "lastStatusModifiedTime": "2017-03-29T07:14:26.903+08:00",
              "exception": null,
              "parameters": {},
              "configuration": {
                "name": "SetupServer"
              },
              "runOn": null
            }
          }
        }
      }
    },
    "getCompilationJob": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "compilationJobName": "TestCompilationJob",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/TestCompilationJob",
            "name": "TestCompilationJob",
            "type": "Microsoft.Automation/AutomationAccounts/compilationjobs",
            "properties": {
              "jobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a",
              "creationTime": "2017-03-29T07:14:26.903+08:00",
              "provisioningState": "Processing",
              "status": "New",
              "statusDetails": "None",
              "startTime": null,
              "endTime": null,
              "lastModifiedTime": "2017-03-29T07:14:26.903+08:00",
              "lastStatusModifiedTime": "2017-03-29T07:14:26.903+08:00",
              "exception": null,
              "parameters": null,
              "configuration": {
                "name": "SetupServer"
              },
              "runOn": null
            }
          }
        }
      }
    },
    "listCompilationJobsByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2018-01-15"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/",
                "name": "CompilationConfiguration1",
                "type": "Microsoft.Automation/AutomationAccounts/compilationjobs",
                "properties": {
                  "jobId": "e6e7fbab-183c-405a-afe6-9eb5db97921a",
                  "configuration": {
                    "name": "TestDscConfiguration"
                  },
                  "status": "Suspended",
                  "creationTime": "2017-11-18T03:45:24.59+08:00",
                  "startTime": "2017-11-18T03:45:52.9833333+08:00",
                  "lastModifiedTime": "2017-11-18T03:45:58.5933333+08:00",
                  "endTime": null
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/",
                "name": "CompilationConfiguration2",
                "type": "Microsoft.Automation/AutomationAccounts/compilationjobs",
                "properties": {
                  "jobId": "111d4e06-2d88-46b4-8500-7febd4906838",
                  "configuration": {
                    "name": "NewDscConfiguration"
                  },
                  "status": "Completed",
                  "creationTime": "2017-12-06T05:29:07.74+08:00",
                  "startTime": "2017-12-06T05:30:26.48+08:00",
                  "lastModifiedTime": "2017-12-06T05:30:42.6+08:00",
                  "endTime": "2017-12-06T05:30:42.6+08:00"
                }
              }
            ]
          }
        }
      }
    },
    "compilationJobStreamList": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2018-01-15",
        "jobId": "836d4e06-2d88-46b4-8500-7febd4906838"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062355996678_00000000000000000001",
                "properties": {
                  "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062355996678_00000000000000000001",
                  "summary": "836d4e06-2d88-46b4-8500-7febd4906838:[localhost]:The 'Microsoft.PowerShell.Management' module was not imported because the 'Microsoft.PowerShell.Management' snap-in was already imported.",
                  "time": "2017-12-06T05:30:35.5996678+08:00",
                  "streamType": "Warning"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062380840740_00000000000000000002",
                "properties": {
                  "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062380840740_00000000000000000002",
                  "summary": "836d4e06-2d88-46b4-8500-7febd4906838:[localhost]:The configuration 'NewDscConfiguration' is loading one or more built-in resources without explicitly importing associated modules. Add Import-DscResource –ModuleName 'PSDesiredStateConfiguration' to your configuration to avoid this message.",
                  "time": "2017-12-06T05:30:38.084074+08:00",
                  "streamType": "Warning"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062384590127_00000000000000000003",
                "properties": {
                  "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062384590127_00000000000000000003",
                  "summary": "836d4e06-2d88-46b4-8500-7febd4906838:[localhost]:The 'Microsoft.PowerShell.Management' module was not imported because the 'Microsoft.PowerShell.Management' snap-in was already imported.",
                  "time": "2017-12-06T05:30:38.4590127+08:00",
                  "streamType": "Warning"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062387245395_00000000000000000004",
                "properties": {
                  "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062387245395_00000000000000000004",
                  "summary": "836d4e06-2d88-46b4-8500-7febd4906838:[localhost]:The configuration 'NewDscConfiguration' is loading one or more built-in resources without explicitly importing associated modules. Add Import-DscResource –ModuleName 'PSDesiredStateConfiguration' to your configuration to avoid this message.",
                  "time": "2017-12-06T05:30:38.7245395+08:00",
                  "streamType": "Warning"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062417091181_00000000000000000005",
                "properties": {
                  "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062417091181_00000000000000000005",
                  "summary": "",
                  "time": "2017-12-06T05:30:41.7091181+08:00",
                  "streamType": "Output"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062418809632_00000000000000000006",
                "properties": {
                  "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062418809632_00000000000000000006",
                  "summary": "",
                  "time": "2017-12-06T05:30:41.8809632+08:00",
                  "streamType": "Output"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062420371712_00000000000000000007",
                "properties": {
                  "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062420371712_00000000000000000007",
                  "summary": "",
                  "time": "2017-12-06T05:30:42.0371712+08:00",
                  "streamType": "Output"
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062421684835_00000000000000000008",
                "properties": {
                  "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062421684835_00000000000000000008",
                  "summary": "",
                  "time": "2017-12-06T05:30:42.1684835+08:00",
                  "streamType": "Output"
                }
              }
            ]
          }
        }
      }
    },
    "compilationJobStreamByJobStreamId": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "myAutomationAccount33",
        "api-version": "2018-01-15",
        "jobId": "836d4e06-2d88-46b4-8500-7febd4906838",
        "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838_00636481062421684835_00000000000000000008"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062421684835_00000000000000000008",
            "properties": {
              "jobStreamId": "836d4e06-2d88-46b4-8500-7febd4906838:00636481062421684835:00000000000000000001",
              "summary": "",
              "time": "2017-12-06T05:30:42.1684835+08:00",
              "streamType": "Output",
              "streamText": "",
              "value": {
                "value": "",
                "PSComputerName": "localhost",
                "PSShowComputerName": true,
                "PSSourceJobInstanceId": "836d4e06-2d88-46b4-8500-7febd4906838"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Dsc Compilation Job",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "List By Automation Account"
}