{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}": {
      "put": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Create",
        "description": "Create a job schedule.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Create a job schedule": {
            "$ref": "#/definitions/createJobSchedule"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/JobScheduleCreateParameters"
            },
            "description": "The parameters supplied to the create job schedule operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/JobSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-internal-toc-name": "Create"
      }
    }
  },
  "definitions": {
    "deleteJobSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {}
      }
    },
    "getJobSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
            "properties": {
              "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
              "runbook": {
                "name": "TestRunbook"
              },
              "schedule": {
                "name": "ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2"
              },
              "runOn": null,
              "parameters": {
                "jobscheduletag01": "jobschedulevalue01",
                "jobscheduletag02": "jobschedulevalue02"
              }
            }
          }
        }
      }
    },
    "createJobSchedule": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
        "api-version": "2015-10-31",
        "parameters": {
          "properties": {
            "schedule": {
              "name": "ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2"
            },
            "runbook": {
              "name": "TestRunbook"
            },
            "parameters": {
              "jobscheduletag01": "jobschedulevalue01",
              "jobscheduletag02": "jobschedulevalue02"
            }
          }
        }
      },
      "responses": {
        "201": {
          "headers": {},
          "body": {
            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
            "properties": {
              "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
              "runbook": {
                "name": "TestRunbook"
              },
              "schedule": {
                "name": "ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2"
              },
              "runOn": null,
              "parameters": {
                "jobscheduletag01": "jobschedulevalue01",
                "jobscheduletag02": "jobschedulevalue02"
              }
            }
          }
        }
      }
    },
    "listAllJobSchedulesByAutomationAccount": {
      "parameters": {
        "subscriptionId": "subid",
        "resourceGroupName": "rg",
        "automationAccountName": "ContoseAutomationAccount",
        "api-version": "2015-10-31"
      },
      "responses": {
        "200": {
          "headers": {},
          "body": {
            "value": [
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/2f4d8f35-ecd5-44ee-a019-2382fec58fb7",
                "properties": {
                  "jobScheduleId": "2f4d8f35-ecd5-44ee-a019-2382fec58fb7",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": {
                    "name": "JobScheduleforTestRunbook"
                  },
                  "runOn": null,
                  "parameters": null
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/446f7a33-86ff-45a1-b71c-f998f701b443",
                "properties": {
                  "jobScheduleId": "446f7a33-86ff-45a1-b71c-f998f701b443",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": {
                    "name": "TestSchedule"
                  },
                  "runOn": null,
                  "parameters": null
                }
              },
              {
                "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobSchedules/0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
                "properties": {
                  "jobScheduleId": "0fa462ba-3aa2-4138-83ca-9ebc3bc55cdc",
                  "runbook": {
                    "name": "TestRunbook"
                  },
                  "schedule": {
                    "name": "ScheduleNameGoesHere332204b5-debe-4348-a5c7-6357457189f2"
                  },
                  "runOn": null,
                  "parameters": null
                }
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {},
  "x-internal-service-name": "Automation",
  "x-internal-toc-name": "Job Schedule",
  "x-internal-split-type": "Operation",
  "x-internal-operation-name": "Create"
}